@use "@progress/kendo-theme-core/scss/components/floating-label/_layout.scss" as *;


@mixin kendo-floating-label--layout() {

    @include kendo-floating-label--layout-base();

    // Floating label
    .k-floating-label-container {
        > .k-floating-label {
            transform-origin: left bottom;
        }
    }

    .k-label-position-border,
    .k-label-position-inside {
        > .k-floating-label {
            transform-origin: left center;
        }
    }

    [dir="rtl"] .k-floating-label-container,
    .k-rtl .k-floating-label-container,
    .k-floating-label-container[dir="rtl"] {
        > .k-floating-label {
            transform-origin: right bottom;
        }

    }

    [dir="rtl"] .k-label-position-border,
    .k-rtl .k-label-position-border,
    .k-label-position-border[dir="rtl"]
    [dir="rtl"] .k-label-position-inside,
    .k-rtl .k-label-position-inside,
    .k-label-position-inside[dir="rtl"] {
        > .k-floating-label {
            transform-origin: right center;
        }
    }

}
