// Chip

$kendo-chip-border-width: null !default;
$kendo-chip-spacing: null !default;

$kendo-chip-sm-padding-x: null !default;
$kendo-chip-md-padding-x: null !default;
$kendo-chip-lg-padding-x: null !default;

$kendo-chip-sm-padding-y: null !default;
$kendo-chip-md-padding-y: null !default;
$kendo-chip-lg-padding-y: null !default;

$kendo-chip-font-weight: null !default;

$kendo-chip-font-size: null !default;
$kendo-chip-sm-font-size: null !default;
$kendo-chip-md-font-size: null !default;
$kendo-chip-lg-font-size: null !default;

$kendo-chip-line-height: null !default;
$kendo-chip-sm-line-height: null !default;
$kendo-chip-md-line-height: null !default;
$kendo-chip-lg-line-height: null !default;

$kendo-chip-calc-size: null !default;
$kendo-chip-sm-calc-size: null !default;

$kendo-chip-sizes: null !default;

$kendo-chip-base-bg: null !default;

$kendo-chip-theme-colors: null !default;

$kendo-chip-solid-bg: null !default;
$kendo-chip-solid-text: null !default;
$kendo-chip-solid-border: null !default;
$kendo-chip-solid-shadow: null !default;
$kendo-chip-solid-gradient: null !default;

$kendo-chip-solid-focus-bg: null !default;

$kendo-chip-solid-hover-bg: null !default;

$kendo-chip-solid-selected-bg: null !default;

$kendo-chip-outline-text: null !default;
$kendo-chip-outline-border: null !default;
$kendo-chip-outline-shadow: null !default;

$kendo-chip-outline-hover-bg: null !default;
$kendo-chip-outline-hover-text: null !default;

$kendo-chip-outline-selected-bg: null !default;
$kendo-chip-outline-selected-text: null !default;

$kendo-chip-disabled-bg: null !default;
$kendo-chip-disabled-text: null !default;
$kendo-chip-disabled-border: null !default;

// Chip List

$kendo-chip-list-sizes: null !default;
