// Switch

/// Font family of the switch.
/// @group switch
$kendo-switch-font-family: $font-family !default;
/// Line height of the switch.
/// @group switch
$kendo-switch-line-height: $line-height !default;

/// Border width of the switch track.
/// @group switch
$kendo-switch-track-border-width: 0px !default;

/// Border width of the switch thumb.
/// @group switch
$kendo-switch-thumb-border-width: 1px !default;

/// Text transform of the switch label.
/// @group switch
$kendo-switch-label-text-transform: uppercase !default;
/// Display of the switch label.
/// @group switch
$kendo-switch-label-display: inline !default;

/// Map with the different switch sizes.
/// @group switch
$kendo-switch-sizes: (
    sm: 40px,
    md: 60px,
    lg: 80px
) !default;

/// Map with the font sizes for the different switch sizes.
/// @group switch
$kendo-switch-font-sizes: (
    sm: 8px,
    md: $font-size-xs,
    lg: $font-size-sm
) !default;

/// Map with the horizontal padding of the switch track for the different switch sizes.
/// @group switch
$kendo-switch-track-padding-x-sizes: (
    sm: 0px,
    md: 0px,
    lg: 0px
) !default;

/// Map with the vertical padding of the switch track for the different switch sizes.
/// @group switch
$kendo-switch-track-padding-y-sizes: (
    sm: 0px,
    md: 0px,
    lg: 0px
) !default;

/// Map with the height difference of the switch track for the different switch sizes.
/// @group switch
$kendo-switch-track-diff-sizes: (
    sm: 0px,
    md: 0px,
    lg: 0px
) !default;

/// Map with the different switch thumb sizes.
/// @group switch
$kendo-switch-thumb-sizes: (
    sm: 20px,
    md: 30px,
    lg: 40px
) !default;

/// Map with the offset of the switch thumb for the different switch sizes.
/// @group switch
$kendo-switch-thumb-offset-sizes: (
    sm: 0px,
    md: 0px,
    lg: 0px
) !default;

/// Map with the offset of the switch label for the different switch sizes.
/// @group switch
$kendo-switch-label-offset-sizes: (
    sm: 6px,
    md: 8px,
    lg: 10px
) !default;

/// Map with the width of the switch label for the different switch sizes.
/// @group switch
$kendo-switch-label-width-sizes: (
    sm: calc( 100% - (#{map-get( $kendo-switch-thumb-sizes, "sm" )} + #{map-get( $kendo-switch-label-offset-sizes, "sm" )} + #{map-get( $kendo-switch-track-padding-x-sizes, "sm" )} ) ),
    md: calc( 100% - (#{map-get( $kendo-switch-thumb-sizes, "md" )} + #{map-get( $kendo-switch-label-offset-sizes, "md" )} + #{map-get( $kendo-switch-track-padding-x-sizes, "md" )} ) ),
    lg: calc( 100% - (#{map-get( $kendo-switch-thumb-sizes, "lg" )} + #{map-get( $kendo-switch-label-offset-sizes, "lg" )} + #{map-get( $kendo-switch-track-padding-x-sizes, "lg" )} ) )
) !default;

/// The shadow of the switch track.
/// @group switch
$kendo-switch-track-shadow: inset 0 0 0 1px $base-border !default;
/// The shadow of the switch track when the switch is hovered.
/// @group switch
$kendo-switch-track-hover-shadow: inset 0 0 0 1px $hovered-border !default;
/// The shadow of the switch track when the switch is focused.
/// @group switch
$kendo-switch-track-focus-shadow: inset 0 0 0 3px rgba( black, .06) !default;

/// The background of the switch when checked.
/// @group switch
$kendo-switch-on-bg: $primary !default;
/// The text color of the switch when checked.
/// @group switch
$kendo-switch-on-text: contrast-wcag( $kendo-switch-on-bg ) !default;
/// The border color of the switch when checked.
/// @group switch
$kendo-switch-on-border: null !default;
/// The background gradient of the switch when checked.
/// @group switch
$kendo-switch-on-gradient: null !default;
/// The shadow of the switch when checked.
/// @group switch
$kendo-switch-on-shadow: null !default;

/// The background of the hovered switch when checked.
/// @group switch
$kendo-switch-on-hover-bg: shade( $kendo-switch-on-bg ) !default;
/// The text color of the hovered switch when checked.
/// @group switch
$kendo-switch-on-hover-text: $kendo-switch-on-text !default;
/// The border color of the hovered switch when checked.
/// @group switch
$kendo-switch-on-hover-border: null !default;
/// The background gradient of the hovered switch when checked.
/// @group switch
$kendo-switch-on-hover-gradient: null !default;

/// The background of the focused switch when checked.
/// @group switch
$kendo-switch-on-focus-bg: null !default;
/// The text color of the focused switch when checked.
/// @group switch
$kendo-switch-on-focus-text: null !default;
/// The border color of the focused switch when checked.
/// @group switch
$kendo-switch-on-focus-border: null !default;
/// The background gradient of the focused switch when checked.
/// @group switch
$kendo-switch-on-focus-gradient: null !default;
/// The shadow of the focused switch when checked.
/// @group switch
$kendo-switch-on-focus-shadow: null !default;

/// The background of the thumb when the switch is checked.
/// @group switch
$kendo-switch-on-thumb-bg: darken( white, 5 ) !default;
/// The text color of the thumb when the switch is checked.
/// @group switch
$kendo-switch-on-thumb-text: $kendo-switch-on-text !default;
/// The border color of the thumb when the switch is checked.
/// @group switch
$kendo-switch-on-thumb-border: $base-border !default;
/// The background gradient of the thumb when the switch is checked.
/// @group switch
$kendo-switch-on-thumb-gradient: null !default;
/// The shadow of the thumb when the switch is checked.
/// @group switch
$kendo-switch-on-thumb-shadow: null !default;

/// The background of the thumb when the hovered switch is checked.
/// @group switch
$kendo-switch-on-thumb-hover-bg: darken( white, 7 ) !default;
/// The text color of the thumb when the hovered switch is checked.
/// @group switch
$kendo-switch-on-thumb-hover-text: $kendo-switch-on-text !default;
/// The border color of the thumb when the hovered switch is checked.
/// @group switch
$kendo-switch-on-thumb-hover-border: $hovered-border !default;
/// The background gradient of the thumb when the hovered switch is checked.
/// @group switch
$kendo-switch-on-thumb-hover-gradient: null !default;

/// The background of the switch when not checked.
/// @group switch
$kendo-switch-off-bg: $component-bg !default;
/// The text color of the switch when not checked.
/// @group switch
$kendo-switch-off-text: $component-text !default;
/// The border color of the switch when not checked.
/// @group switch
$kendo-switch-off-border: null !default;
/// The background gradient of the switch when not checked.
/// @group switch
$kendo-switch-off-gradient: null !default;
/// The shadow of the switch when not checked.
/// @group switch
$kendo-switch-off-shadow: null !default;

/// The background of the hovered switch when not checked.
/// @group switch
$kendo-switch-off-hover-bg: $kendo-switch-off-bg !default;
/// The text color of the hovered switch when not checked.
/// @group switch
$kendo-switch-off-hover-text: $kendo-switch-off-text !default;
/// The border color of the hovered switch when not checked.
/// @group switch
$kendo-switch-off-hover-border: null !default;
/// The background gradient of the hovered switch when not checked.
/// @group switch
$kendo-switch-off-hover-gradient: null !default;

/// The background of the focused switch when not checked.
/// @group switch
$kendo-switch-off-focus-bg: null !default;
/// The text color of the focused switch when not checked.
/// @group switch
$kendo-switch-off-focus-text: null !default;
/// The border color of the focused switch when not checked.
/// @group switch
$kendo-switch-off-focus-border: null !default;
/// The background gradient of the focused switch when not checked.
/// @group switch
$kendo-switch-off-focus-gradient: null !default;
/// The shadow of the focused switch when not checked.
/// @group switch
$kendo-switch-off-focus-shadow: null !default;

/// The background of the thumb when the switch is not checked.
/// @group switch
$kendo-switch-off-thumb-bg: $kendo-switch-on-thumb-bg !default;
/// The text color of the thumb when the switch is not checked.
/// @group switch
$kendo-switch-off-thumb-text: $kendo-switch-off-text !default;
/// The border color of the thumb when the switch is not checked.
/// @group switch
$kendo-switch-off-thumb-border: $kendo-switch-on-thumb-border !default;
/// The background gradient of the thumb when the switch is not checked.
/// @group switch
$kendo-switch-off-thumb-gradient: null !default;
/// The shadow of the thumb when the switch is not checked.
/// @group switch
$kendo-switch-off-thumb-shadow: null !default;

/// The background of the thumb when the hovered switch is not checked.
/// @group switch
$kendo-switch-off-thumb-hover-bg: $kendo-switch-on-thumb-hover-bg !default;
/// The text color of the thumb when the hovered switch is not checked.
/// @group switch
$kendo-switch-off-thumb-hover-text: $kendo-switch-off-text !default;
/// The border color of the thumb when the hovered switch is not checked.
/// @group switch
$kendo-switch-off-thumb-hover-border: $kendo-switch-on-thumb-hover-border !default;
/// The background gradient of the thumb when the hovered switch is not checked.
/// @group switch
$kendo-switch-off-thumb-hover-gradient: null !default;
