@include exports("menu/layout") {

    // Base
    .k-menu {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        position: relative;
        cursor: default;

        // Item
        .k-item {
            border-width: 0;
            border-style: solid;
            border-color: inherit;
            display: flex;
            align-items: stretch;
            position: relative;
            user-select: none;
        }

        // Link
        .k-link {
            padding: $nav-item-padding-y $nav-item-padding-x;
            color: inherit;
            display: flex;
            flex-direction: row;
            align-items: center;
            position: relative;

            .k-i-arrow-60-down {
                margin-left: $icon-spacing;
                margin-right: -$icon-spacing;
            }

            .k-i-arrow-60-right {
                margin: (-$icon-size / 2) 0 0;
                position: absolute;
                top: 50%;
                right: $icon-spacing;
            }
        }

        // Images
        .k-icon,
        .k-image,
        .k-sprite {
            margin-right: $icon-spacing;
        }

        .k-separator {
            border-width: 1px 0 0;
            border-style: solid;
            line-height: 0;
            overflow: hidden;
        }

        // Compact
        @include compact {

            .k-link {
                padding: $padding-y-sm $padding-x-sm;
            }

            .k-menu-group .k-item > .k-link {
                padding: ($padding-y-sm / 2) $padding-x-sm;
            }
        }

    }


    // Sub
    .k-menu-group {
        margin: 0;
        padding: $popup-padding-y $popup-padding-x;
        white-space: nowrap;
        list-style: none;
        display: none;
        position: absolute;
    }
    .k-menu-group .k-menu-group {
        padding: 0;
    }


    // Context menu
    .k-menu.k-context-menu {
        margin: 0;
        padding: $popup-padding-y $popup-padding-x;
        border-width: 1px;
        border-style: solid;
        box-sizing: content-box;
    }
    .k-animation-container .k-context-menu.k-menu-horizontal {
        display: flex !important; // sass-lint:disable-line no-important
    }


    // Orientation
    .k-menu-horizontal {

        > .k-item {}

        > .k-separator {
            width: 0;
            border-width: 0 1px 0 0;
            line-height: inherit;
        }
    }
    .k-menu-group,
    .k-menu-vertical {
        flex-direction: column;

        .k-item {
            display: block;
        }

        .k-link {
            padding: $list-item-padding-y $list-item-padding-x;
            padding-right: addTwo( (2 * $list-item-padding-x), $icon-size);
        }
    }

}