@include exports("menu/theme") {

    // Theme
    .k-menu {
        border-width: 0;
        color: inherit;
        background: none;
        background-clip: padding-box;

        .k-ie11 &,
        .k-edge12 &,
        .k-edge13 & {
            background-clip: border-box;
        }

        .k-item {
            color: $link-text;

            &.k-state-hover {
                color: $link-hover-text;
            }

            &.k-state-active {
                color: inherit;
            }

            &.k-state-selected {
                color: $list-item-selected-text;
            }
        }
    }
    .k-menu.k-context-menu {
        @include appearance( popup );
    }

    .k-menu-group,
    .k-menu.k-context-menu {
        .k-item {
            color: inherit;

            &.k-state-hover {
                @include appearance( hovered-list-item );
            }

            &.k-state-active,
            &.k-state-selected {
                @include appearance( selected-list-item );
            }
        }
    }


    // Scrolling
    .k-menu-scroll-button {
        border-color: $widget-border;
        color: $link-text;
        background: $bg-color;

        &:hover {
            border-color: $widget-border;
            color: $link-hover-text;
            background: $bg-color;
        }

        &.k-scroll-left {
            width: 16px;
            border-right-width: 1px;
        }
        &.k-scroll-right {
            width: 16px;
            border-left-width: 1px;
        }
        &.k-scroll-up {
            height: 16px;
            border-bottom-width: 1px;
        }
        &.k-scroll-down {
            height: 16px;
            border-top-width: 1px;
        }
    }
}
