@include exports("menu/theme") {

    // Theme
    .k-menu {

        .k-item {
            color: $link-text;
        }
        .k-item.k-state-hover {
            color: $link-hover-text;
        }
        .k-item.k-state-active {
            color: inherit;
        }
    }
    .k-menu-group {

        .k-item {
            color: inherit;
        }
        .k-item.k-state-hover {
            @include appearance( hovered-list-item );
        }
        .k-item.k-state-active {
            @include appearance( selected-list-item );
        }

    }

}