// Module meta
$_kendo-module-meta: (
    name: "date-picker",
    dependencies: (
        "button",
        "calendar",
        "floating-label",
        "icon",
        "input",
        "popup"
    )
 );

// Component
@forward "./_variables.scss";
@use "./_layout.scss" as *;
@use "./_theme.scss" as *;

// Register
@use "../core/module-system/" as module;
@include module.register( $_kendo-module-meta... );

// Expose
@mixin date-picker-styles() {
    @include module.render( "date-picker" ) {
        @include kendo-date-picker--layout();
        @include kendo-date-picker--theme();
    }
}
