<!doctype html>
<html lang="en" class="k-no-animations" style="--kendo-scrollbar-width: 15px;">
<head>
    <title>Document</title>
    <meta charset="utf-8">
    <link rel="stylesheet" data-role="kendo-theme" href="/packages/default/dist/all.css">
    <link rel="stylesheet" href="/packages/html/assets/styles.css">
    <script src="/packages/html/assets/scripts.js"></script>
</head>
<body id="app" class="k-body">
    <div class="k-calendar k-calendar-infinite k-calendar-md">
        <div class="k-calendar-navigation">
            <span class="k-calendar-navigation-highlight"></span>
            <div class="k-content k-scrollable">
                <ul class="k-reset">
                    <li>
                        <span>1900</span>
                    </li>
                    <li>
                        <span class="k-calendar-navigation-marker">2000</span>
                    </li>
                </ul>
                <div class="k-scrollable-placeholder" style="height: 1000px;"></div>
            </div>
        </div>
        <div class="k-calendar-view k-calendar-centuryview k-vstack">
            <div class="k-calendar-header">
                <button class="k-calendar-title k-button k-button-md k-button-flat k-button-flat-primary k-rounded-md">
                    <span class="k-button-text">2000 - 2099</span>
                </button>
                <span class="k-spacer"></span>
                <span class="k-calendar-nav">
                    <button class="k-calendar-nav-today k-button k-button-md k-button-flat k-button-flat-base k-rounded-md">
                        <span class="k-button-text">Today</span>
                    </button>
                </span>
            </div>
            <div class="k-content k-scrollable">
                <table class="k-calendar-table">
                    <colgroup>
                        <col>
                        <col>
                        <col>
                        <col>
                    </colgroup>
                    <tbody class="k-calendar-tbody">
                        <tr class="k-calendar-tr">
                            <th scope="col" colspan="4" class="k-calendar-caption">2000 - 2099</th>
                        </tr>
                        <tr class="k-calendar-tr">
                            <td class="k-calendar-td">
                                <span class="k-link">1900 - 1999</span>
                            </td>
                            <td class="k-calendar-td">
                                <span class="k-link">2000 - 2009</span>
                            </td>
                            <td class="k-calendar-td">
                                <span class="k-link">2010 - 2019</span>
                            </td>
                            <td class="k-calendar-td">
                                <span class="k-link">2020 - 2029</span>
                            </td>
                        </tr>
                        <tr class="k-calendar-tr">
                            <td class="k-calendar-td">
                                <span class="k-link">2030 - 2039</span>
                            </td>
                            <td class="k-calendar-td">
                                <span class="k-link">2040 - 2049</span>
                            </td>
                            <td class="k-calendar-td">
                                <span class="k-link">2050 - 2059</span>
                            </td>
                            <td class="k-calendar-td">
                                <span class="k-link">2060 - 2069</span>
                            </td>
                        </tr>
                        <tr class="k-calendar-tr">
                            <td class="k-calendar-td">
                                <span class="k-link">2070 - 2079</span>
                            </td>
                            <td class="k-calendar-td">
                                <span class="k-link">2080 - 2089</span>
                            </td>
                            <td class="k-calendar-td">
                                <span class="k-link">2090 - 2099</span>
                            </td>
                            <td class="k-calendar-td k-empty">&nbsp;</td>
                        </tr>
                    </tbody>
                </table>
                <div class="k-scrollable-placeholder" style="height: 1000px;"></div>
            </div>
        </div>
    </div>
</body>
</html>
