// PDFViewer

$kendo-pdf-viewer-border-width: null !default;
$kendo-pdf-viewer-font-family: null !default;
$kendo-pdf-viewer-font-size: null !default;
$kendo-pdf-viewer-line-height: null !default;

$kendo-pdf-viewer-bg: null !default;
$kendo-pdf-viewer-text: null !default;
$kendo-pdf-viewer-border: null !default;

$kendo-pdf-viewer-toolbar-bg: null !default;
$kendo-pdf-viewer-toolbar-text: null !default;
$kendo-pdf-viewer-toolbar-border: null !default;
$kendo-pdf-viewer-toolbar-gradient: null !default;

$kendo-pdf-viewer-canvas-bg: null !default;
$kendo-pdf-viewer-canvas-text: null !default;
$kendo-pdf-viewer-canvas-border: null !default;

$kendo-pdf-viewer-page-spacing: null !default;

$kendo-pdf-viewer-page-bg: null !default;
$kendo-pdf-viewer-page-text: null !default;
$kendo-pdf-viewer-page-border: null !default;
$kendo-pdf-viewer-page-shadow: null !default;

$kendo-pdf-viewer-search-panel-padding-x: null !default;
$kendo-pdf-viewer-search-panel-padding-y: null !default;
$kendo-pdf-viewer-search-panel-spacing: null !default;
$kendo-pdf-viewer-search-panel-border-width: null !default;
$kendo-pdf-viewer-search-panel-border-radius: null !default;
$kendo-pdf-viewer-search-panel-bg: null !default;
$kendo-pdf-viewer-search-panel-text: null !default;
$kendo-pdf-viewer-search-panel-border: null !default;
$kendo-pdf-viewer-search-panel-shadow: null !default;
$kendo-pdf-viewer-search-panel-matches-spacing: null !default;

$kendo-pdf-viewer-selection-line-height: null !default;

$kendo-pdf-viewer-search-highlight-bg: null !default;
$kendo-pdf-viewer-search-highlight-mark-bg: null !default;

$kendo-pdf-viewer-icon-text: null !default;

$kendo-pdf-viewer-popup-padding-x: null !default;
$kendo-pdf-viewer-popup-padding-y: null !default;

$kendo-pdf-viewer-highlight-annotation-border: null !default;
$kendo-pdf-viewer-highlight-annotation-hover-border: null !default;
$kendo-pdf-viewer-free-text-annotation-border: null !default;
$kendo-pdf-viewer-free-text-annotation-placeholder-text: null !default;
$kendo-pdf-viewer-free-text-annotation-text: null !default;
$kendo-pdf-viewer-free-text-annotation-text: null !default;
