// Button

/// Width of the border around the button.
/// @group button
$kendo-button-border-width: 1px !default;

/// Border radius of the button.
/// @group button
$kendo-button-border-radius: ( map-get( $spacing, 1 ) / 2 ) !default;
$kendo-button-border-radius-sm: ( map-get( $spacing, 1 ) / 4 ) !default;
$kendo-button-border-radius-md: ( map-get( $spacing, 1 ) / 2 ) !default;
$kendo-button-border-radius-lg: map-get( $spacing, 1 ) !default;

/// Horizontal padding of the button.
/// @group button
$kendo-button-padding-x: map-get( $spacing, 2 ) !default;
$kendo-button-padding-x-sm: map-get( $spacing, 1 ) !default;
$kendo-button-padding-x-md: map-get( $spacing, 2 ) !default;
$kendo-button-padding-x-lg: map-get( $spacing, 3 ) !default;

/// Vertical padding of the button.
/// @group button
$kendo-button-padding-y: $kendo-button-padding-x / 2 !default;
$kendo-button-padding-y-sm: $kendo-button-padding-x-sm / 2 !default;
$kendo-button-padding-y-md: $kendo-button-padding-x-md / 2 !default;
$kendo-button-padding-y-lg: $kendo-button-padding-x-lg / 2 !default;

/// Font family of the button.
/// @group button
$kendo-button-font-family: $font-family !default;

/// Font sizes of the button.
/// @group button
$kendo-button-font-size: $font-size !default;
$kendo-button-font-size-sm: $font-size-sm !default;
$kendo-button-font-size-md: $font-size !default;
$kendo-button-font-size-lg: $font-size-lg !default;

/// Line heights used along with $font-size.
/// @group button
$kendo-button-line-height: $line-height !default;
$kendo-button-line-height-sm: $line-height-lg !default;
$kendo-button-line-height-md: $line-height !default;
$kendo-button-line-height-lg: $line-height-lg !default;

/// Calculated height of the button.
/// @group button
$kendo-button-calc-size: calc( #{$kendo-button-line-height * 1em} + #{$kendo-button-padding-y * 2} + #{$kendo-button-border-width * 2} ) !default;

/// Calculated inner height of the button. Without the border width.
/// @group button
$kendo-button-inner-calc-size: calc( #{$kendo-button-line-height * 1em} + #{$kendo-button-padding-y * 2} ) !default;

/// Theme colors map for the button.
/// @group button
$kendo-button-theme-colors: map-merge((base: #f5f5f5), $theme-colors ) !default;

/// The base background of the button.
/// @group button
$kendo-button-bg: #f5f5f5 !default;
/// The base text color of the button.
/// @group button
$kendo-button-text: #424242 !default;
/// The base border color of the button.
/// @group button
$kendo-button-border: rgba( black, .08 ) !default;
/// The base background gradient of the button.
/// @group button
$kendo-button-gradient: rgba( black, 0 ), rgba( black, .02 ) !default;
/// The base shadow of the button.
/// @group button
$kendo-button-shadow: null !default;

/// The base background of hovered button.
/// @group button
$kendo-button-hover-bg: try-shade( $kendo-button-bg, .5 ) !default;
/// The base text color of hovered button.
/// @group button
$kendo-button-hover-text: null !default;
/// The base border color of hovered button.
/// @group button
$kendo-button-hover-border: null !default;
/// The base background gradient of hovered button.
/// @group button
$kendo-button-hover-gradient: null !default;
/// The base shadow of hovered button.
/// @group button
$kendo-button-hover-shadow: null !default;

/// The base background color of active button.
/// @group button
$kendo-button-active-bg: try-shade( $kendo-button-bg, 1.5 ) !default;
/// The base text color of active button.
/// @group button
$kendo-button-active-text: null !default;
/// The base border color of active button.
/// @group button
$kendo-button-active-border: null !default;
/// The base background gradient of active button.
/// @group button
$kendo-button-active-gradient: null !default;
/// The base shadow of active button.
/// @group button
$kendo-button-active-shadow: null !default;

/// The base background color of selected button.
/// @group button
$kendo-button-selected-bg: $primary !default;
/// The base text color of selected button.
/// @group button
$kendo-button-selected-text: contrast-wcag( $kendo-button-selected-bg ) !default;
/// The base border color of selected button.
/// @group button
$kendo-button-selected-border: $kendo-button-selected-bg !default;
/// The base background gradient of selected button.
/// @group button
$kendo-button-selected-gradient: null !default;
/// The base shadow of selected button.
/// @group button
$kendo-button-selected-shadow: null !default;

/// The base background of focused button.
/// @group button
$kendo-button-focus-bg: null !default;
/// The base text color of focused button.
/// @group button
$kendo-button-focus-text: null !default;
/// The base border color of focused button.
/// @group button
$kendo-button-focus-border: null !default;
/// The base background gradient of focused button.
/// @group button
$kendo-button-focus-gradient: null !default;
/// The base shadow of focused button.
/// @group button
$kendo-button-focus-shadow: 0 0 0 2px rgba( $kendo-button-border, .08 ) !default;

/// The base background of disabled button.
/// @group button
$kendo-button-disabled-bg: null !default;
/// The base text color of disabled button.
/// @group button
$kendo-button-disabled-text: null !default;
/// The base border color of disabled buttons.
/// @group button
$kendo-button-disabled-border: null !default;
/// The base background gradient of disabled button.
/// @group button
$kendo-button-disabled-gradient: null !default;
/// The base shadow of disabled button.
/// @group button
$kendo-button-disabled-shadow: null !default;

/// The overlay opacity of hovered flat button. Used to create background for the flat button.
/// @group button
$kendo-flat-button-hover-opacity: .04 !default;
/// The overlay opacity of focused flat button. Used to create background for the flat button.
/// @group button
$kendo-flat-button-focus-opacity: null !default;
/// The overlay opacity of active flat button. Used to create background for the flat button.
/// @group button
$kendo-flat-button-active-opacity: .16 !default;
/// The overlay opacity of selected flat button. Used to create background for the flat button.
/// @group button
$kendo-flat-button-selected-opacity: .2 !default;

/// The color transition of the flat button.
/// @group button
$kendo-button-color-transition: color .2s ease-in-out !default;

/// The base shadow of focused button group.
/// @group button
$kendo-button-group-focus-shadow: inset 0 0 0 2px rgba( $kendo-button-border, opacity( $kendo-button-border ) * 2 ) !default;

