@import "../core/_index.scss";
@import "../utils/_index.scss";


// Module meta
$_kendo-module-meta: (
    name: "dialog",
    dependencies: (
        "button",
        "icon",
        "window",
    )
);


// Dependencies
@import "../common/_index.scss";
@import "../window/_index.scss";


// Component
@import "./_variables.scss";
@import "./_layout.scss";
@import "./_theme.scss";
