@include exports("dialog/theme") {

    .k-dialog {}

    // Titlebar
    .k-dialog-titlebar {
        @include fill(
            $dialog-titlebar-text,
            $dialog-titlebar-bg,
            $dialog-titlebar-border
        );
    }

    // Content scroll border
    .k-dialog-content.k-scroll {
        border-color: $component-border;
    }


    // Button group
    .k-dialog-buttongroup {
        .k-button,
        .k-button-secondary {
            background-color: try-shade( $button-bg );
        }

        .k-button-primary,
        .k-button.k-primary {
            background-color: $primary-button-bg;
        }
    }

}
