@include exports( "input/layout" ) {

    // Generic input
    .k-input {
        margin: 0;
        padding: $input-padding-y $input-padding-x;
        width: 100%;
        min-width: 0;
        height: $input-inner-calc-height;
        border: 0;
        outline: 0;
        box-sizing: border-box;
        // Targets https://github.com/telerik/kendo-react/issues/638.
        box-shadow: none;
        color: inherit;
        background: none;
        font: inherit;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        flex: 0 1 auto;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-appearance: none;

        // Hide clear icon
        &::-ms-clear { display: none; }

        // Placeholder text
        &::placeholder {
            color: $input-placeholder-text;
            opacity: $input-placeholder-opacity;
            user-select: none;
        }
        &:-ms-input-placeholder {
            color: $input-placeholder-text;
        }

        // Invalid
        &:invalid {
            box-shadow: none;
        }
    }


    // TODO: Deprecate
    // Input spacing
    .k-space-left {
        padding-left: 1.9em;

        > .k-icon {
            margin: -8px 0 0;
            position: absolute;
            top: 50%;
            left: 3px;
        }
    }

    .k-space-right {
        padding-right: 1.9em;

        > .k-icon {
            margin: -8px 0 0;
            position: absolute;
            top: 50%;
            right: 3px;
        }
    }


    // Input prefix and suffix
    .k-input-prefix,
    .k-input-suffix {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        height: $button-inner-calc-size;

        > * {
            flex-shrink: 0;
        }

        > .k-icon {
            width: $button-inner-calc-size;
            height: $button-inner-calc-size;
            display: inline-flex;
            align-items: center;
            justify-content: center;
        }
    }


    // Input with icon styles
    .k-input-icon {
        width: $input-icon-width;
        height: $input-icon-height;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;

        .k-ie9 & {
            position: absolute;
            height: 100%;
            right: 0;
            top: 0;
        }

        .k-rtl &,
        [dir="rtl"] & {
            .k-ie9 & {
                left: 0;
                right: auto;
            }
        }
    }


    // TODO: remove
    // Clear value
    .k-clear-value {
        cursor: pointer;
    }


    // Searchbar
    .k-searchbar {
        flex: 1 1 auto;
        display: flex;
        flex-flow: row nowrap;
    }


    // Fieldset
    .k-fieldset {
        margin: $fieldset-margin;
        border-width: 1px 0 0;
        border-style: solid;
        padding: 25px 0 0;

        > legend {
            margin-left: 0;
            padding: 0 $padding-x 0 0;
            text-transform: uppercase;
        }
    }


    // Label
    kendo-label > .k-label {
        margin: 0;
    }

    .k-label-optional {
        margin-left: $label-optional-margin-x;
        font-size: $label-optional-font-size;
        font-style: $label-optional-font-style;
        align-self: center;
    }

    .k-label-empty {
        &::before {
            content: "";
            display: inline-block;
        }
    }

    .k-text-disabled {
        @include disabled( $disabled-styling );
    }

}




@include exports("input/layout/jQuery-label") {

    .k-input-label {
        margin-right: $horizontal-form-label-margin-x;
        z-index: 1;

        &:dir(rtl),
        .k-rtl &,
        &.k-rtl,
        [dir="rtl"] &,
        &[dir="rtl"] {
            margin-right: 0;
            margin-left: $horizontal-form-label-margin-x;
        }
    }

}




@include exports("input/layout/autofill-fix") {

    // This is needed for the textbox container to capture browser autofill
    @keyframes autoFillStart {
        from {}
        to {}
    }
    @keyframes autoFillEnd {
        from {}
        to {}
    }

    // Generic class for autofill animations
    .k-autofill:-webkit-autofill {
        animation-name: autoFillStart;
    }
    .k-autofill:not(:-webkit-autofill) {
        animation-name: autoFillEnd;
    }


    .k-textbox:-webkit-autofill {
        animation-name: autoFillStart;
    }
    .k-textbox:not(:-webkit-autofill) {
        animation-name: autoFillEnd;
    }

}
