@use "sass:map";
@use "@progress/kendo-theme-core/scss/components/input/_layout.scss" as *;
@use "../core/functions/index.scss" as *;
@use "../input/_variables.scss" as *;

@mixin kendo-input--layout() {
    @include kendo-input--layout-base();

    .k-input {
        // Sizing
        @each $size, $size-props in $kendo-input-sizes {
            $_padding-x: map.get( $size-props, padding-x );
            $_padding-y: map.get( $size-props, padding-y );

            #{k-when-default($kendo-input-default-size, $size)}
            &.k-input-#{$size} {
                .k-input-icon,
                .k-input-validation-icon,
                .k-input-loading-icon,
                .k-input-prefix > .k-icon,
                .k-input-prefix > .k-icon-wrapper-host .k-icon,
                .k-input-prefix > .k-input-prefix-text,
                .k-input-suffix > .k-icon,
                .k-input-suffix > .k-icon-wrapper-host .k-icon,
                .k-input-suffix > .k-input-suffix-text {
                    padding-block: calc( (#{$_padding-x} + #{$_padding-y}) / 2) ;
                    padding-inline: calc( (#{$_padding-x} + #{$_padding-y}) / 2) ;
                }

                .k-clear-value {
                    padding-block: calc( (#{$_padding-x} + #{$_padding-y}) / 2) ;
                    padding-inline: 0 $_padding-x;
                }

                .k-input-inner + .k-input-validation-icon {
                    padding-inline-start: 0;
                }
            }
        }

        
    }
}
