@mixin kendo-input--theme-base() {
    .k-input,
    .k-picker {
        color: $kendo-color-base-text;
        border-color: $kendo-color-border;

        // Hover
        &:hover,
        &.k-hover {
            border-color: $kendo-color-border-hover;
        }

        // Focus
        &:focus,
        &.k-focus,
        &:focus-within {
            box-shadow: 0px 0px 0px 2px rgba($kendo-color-base-focus, 0.08);
        }

        // Invalid
        &.k-invalid,
        &.ng-invalid.ng-touched,
        &.ng-invalid.ng-dirty {
            border-color: $kendo-color-error;
        }
    }

    .k-picker {
        background-color: $kendo-color-base;
    }

    // Outline input
    .k-input-outline,
    .k-picker-outline {
        background: none;

        & > .k-input-button {
            border-color: inherit;
        }

        & > .k-input-spinner {
            border-color: inherit;

            & > .k-spinner-increase,
            & > .k-spinner-decrease {
                border-color: inherit;
            }
        }
    }

    .k-picker-outline {
        // Hover
        &:hover,
        &.k-hover {
            color: $kendo-color-base;
            background-color: $kendo-color-base-text;
            border-color: $kendo-color-base-text;
        }
    }

    // Flat input
    .k-input-flat,
    .k-picker-flat {
        background-color: transparent;
        border-width: 0 0 $kendo-input-border-width 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .k-picker-flat {
        // Focus
        &:hover,
        &.k-hover {
            background-color: rgba($kendo-color-base-text, 0.04);
        }
    }
}

@mixin kendo-input--theme() {
    @include kendo-input--theme-base();
}
