@use "../core/_index.scss" as *;
@use "./_variables.scss" as *;
@use "@progress/kendo-theme-core/scss/components/editor/_theme.scss" as *;

@mixin kendo-editor--theme() {
    @include kendo-editor--theme-base();

    .k-editor {
        @include fill( $kendo-editor-text, $kendo-editor-bg, $kendo-editor-border );
    }

    kendo-editor {
        &.k-readonly {
            .k-editor-content:focus,
            .k-editor-content.k-focus {
                outline-color: $kendo-editor-content-outline-color;
            }
        }
    }

    .k-editor-inline {
        .k-table {
            &,
            & td {
                border-color: $kendo-editor-inline-td-border;
            }
        }

        .k-element-resize-handle-wrapper {
            background-color: $kendo-editor-resize-handle-bg;
            border-color: $kendo-editor-resize-handle-border;
        }

        &:hover,
        &.k-active {
            border-color: $kendo-editor-inline-hover-border;
        }
    }

    .k-ct-popup {
        .k-selected {
            @include fill(
                $kendo-editor-ct-popup-text,
                $kendo-editor-ct-popup-bg,
                $kendo-editor-ct-popup-border
            );
        }
        .k-disabled:not(.k-selected) {
            @include fill( $bg: k-color(base-subtle), $border: transparent );
        }
    }
}
