@import "~@progress/kendo-theme-default/scss/common/forms";

@include exports('common/forms/material') {
    .k-textbox-container {
        @include input-ripple();
    }

    .k-picker-wrap .k-dateinput-wrap {
        border: none;
    }

    .k-dateinput-wrap,
    .k-dropdown-wrap,
    .k-picker-wrap,
    .k-multiselect-wrap,
    .k-numeric-wrap {
        border-radius: 0;
        border-width: 0 0 $input-border-width;
        border-style: solid;
        border-color: $border-color;
        background-color: transparent;

        .k-select {
            border-width: 0;
        }
    }

    .k-picker-wrap .k-dateinput-wrap {
        box-shadow: none;
    }
}
