@import "~@progress/kendo-theme-default/scss/common/forms";

@include exports('common/forms/material') {
    .k-textbox-container {
        @include input-ripple();
    }

    .k-picker-wrap .k-dateinput-wrap {
        border: 0;
    }

    .k-autocomplete,
    .k-dateinput-wrap,
    .k-dropdown-wrap,
    .k-picker-wrap,
    .k-multiselect-wrap,
    .k-numeric-wrap {
        border-radius: 0;
        border-width: 0 0 $input-border-width;
        border-color: $input-border;
        background-color: transparent;
        font-size: $font-size-lg;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            width: 100%;
            left: 0;
            right: 0;
            bottom: 0;
            opacity: 0;
            transform: scaleX(0);
            transition: transform 180ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 180ms cubic-bezier(0.4, 0, 0.2, 1);
            border-bottom-width: $input-border-width;
            border-bottom-style: solid;
            border-bottom-color: inherit;
        }

        .k-input {
            // matches button-inner-height, due to font-size-lg
            height: add-two( 2 * $button-padding-y, 1.75em );
            color: $input-text;
        }

        .k-select {
            color: $icon-color;
            border-width: 0;
            font-size: $font-size;
        }

        // Hover
        &:hover,
        &.k-state-hover {
            border-color: $input-hovered-border;

            .k-select {
                color: $icon-hovered-color;
            }

            &::after {
                transform: scale(1);
                opacity: 1;
            }
        }

        // Focused
        &.k-state-focused,
        .k-state-focused > & {
            border-color: $input-focused-border;

            .k-select {
                color: $icon-focused-color;
            }

            &::after {
                transform: scale(1);
                opacity: 1;
            }
        }

        // Disabled
        &.k-state-disabled {
            border-bottom-style: dashed;
        }
    }

    .k-autocomplete .k-input {
        height: 1.5em;
    }

    .k-autocomplete,
    .k-dropdown-wrap {
        .k-clear-value,
        .k-i-loading {
            width: $padding-x-lg;
        }
    }

    .k-picker-wrap > .k-dateinput {
        width: 100%;
    }

    .k-picker-wrap .k-dateinput-wrap {
        box-shadow: none;
    }

    .k-state-border-down .k-i-arrow-60-down::before {
        content: "\E004";
    }

    .k-state-invalid,
    .ng-invalid.ng-touched,
    .ng-invalid.ng-dirty {
        &.k-autocomplete,
        &.k-maskedtextbox > .k-textbox {
            color: $error;
            border-color: $invalid-border;
        }

        > .k-picker-wrap .k-dateinput-wrap,
        > .k-dateinput-wrap,
        > .k-dropdown-wrap,
        > .k-numeric-wrap,
        > .k-picker-wrap {

            &,
            &.k-state-hover,
            &:hover,
            &.k-state-focused,
            &:focus {
                color: $error;
                border-color: $invalid-border;

                .k-select {
                    color: inherit;
                }
            }
        }


        &.k-autocomplete,
        > .k-dateinput-wrap,
        > .k-dropdown-wrap,
        > .k-picker-wrap,
        > .k-multiselect-wrap,
        > .k-numeric-wrap {

            &::after {
                transform: scale(1);
                opacity: 1;
            }
        }
    }
}
