/// This is equivalent to `grid-column-start: 1;`.
/// @example grid-column-start: 1;
/// @name .k-col-start-1
/// @group grid-column-start
/// @contextType css

/// This is equivalent to `grid-column-start: -1;`.
/// @example grid-column-start: -1;
/// @name .k-col-start--1
/// @group grid-column-start
/// @contextType css

/// This is equivalent to `grid-column-start: auto;`.
/// @example grid-column-start: auto;
/// @name .k-col-start-auto
/// @group grid-column-start
/// @contextType css

@use "sass:map";
@use "../_globals.scss" as *;

// Register
@use "@progress/kendo-theme-core/scss/mixins/import-once.scss" as *;

@mixin kendo-utils--flex-grid--grid-column-start-end() {
    @include import-once("utils-flex-grid-grid-column-start-end") {

    // Grid column span utility classes
    $kendo-utils-grid-column-span: map.get( $kendo-utils, "grid-column-span" ) !default;
    @include generate-utils( col-span, grid-column, $kendo-utils-grid-column-span );

    // Grid column start utility classes
    $kendo-utils-grid-column-start: map.get( $kendo-utils, "grid-column-start" ) !default;
    @include generate-utils( col-start, grid-column-start, $kendo-utils-grid-column-start );

    // Grid column end utility classes
    $kendo-utils-grid-column-end: map.get( $kendo-utils, "grid-column-end" ) !default;
    @include generate-utils( col-end, grid-column-end, $kendo-utils-grid-column-end );


    // Legacy aliases
    @include generate-utils( colspan, grid-column, $kendo-utils-grid-column-span );
    .#{$kendo-prefix}colspan-all { @extend .#{$kendo-prefix}colspan-full !optional; }
    .\!#{$kendo-prefix}colspan-all { @extend .\!#{$kendo-prefix}colspan-full !optional; }

    }
}

@mixin kendo-utils--flex-grid--grid-column-start-end--responsive($key) {

    // Grid column span responsive utility classes
    $kendo-utils-grid-column-span: map.get( $kendo-utils, "grid-column-span" ) !default;
    @include generate-utils( col-span-#{$key}, grid-column, $kendo-utils-grid-column-span, $important: false );

    // Grid column start responsive utility classes
    $kendo-utils-grid-column-start: map.get( $kendo-utils, "grid-column-start" ) !default;
    @include generate-utils( col-start-#{$key}, grid-column-start, $kendo-utils-grid-column-start, $important: false );

    // Grid column end responsive utility classes
    $kendo-utils-grid-column-end: map.get( $kendo-utils, "grid-column-end" ) !default;
    @include generate-utils( col-end-#{$key}, grid-column-end, $kendo-utils-grid-column-end, $important: false );

}
