@use "../core/_index.scss" as *;
@use "./_variables.scss" as *;
@use "@progress/kendo-theme-core/scss/components/expansion-panel/_theme.scss" as *;


@mixin kendo-expander--theme() {
    @include kendo-expander--theme-base();

    .k-expander:not(.k-expanded) {
        position: relative;
        background-color: k-translucency-bg(k-color(surface-alt));

        &::before {
            content: "";
            position: absolute;
            inset: 0;
            z-index: -1;
            backdrop-filter: k-translucency-blur(2);
            border-radius: inherit;
            pointer-events: none;
        }
    }

    .k-expander {
        &.k-focus {
            @include focus-indicator(
                $type: "outline",
                $indicator: $kendo-expander-focus-outline-color,
                $outline-width: $kendo-expander-focus-outline-width,
                $outline-offset: $kendo-expander-focus-outline-offset
            );
        }
    }
}
