// Breadcrumb

$kendo-breadcrumb-border-width: null !default;

$kendo-breadcrumb-margin-x: null !default;
$kendo-breadcrumb-margin-y: null !default;
$kendo-breadcrumb-padding-x: null !default;
$kendo-breadcrumb-padding-y: null !default;

$kendo-breadcrumb-font-family: null !default;

$kendo-breadcrumb-font-size: null !default;
$kendo-breadcrumb-sm-font-size: null !default;
$kendo-breadcrumb-md-font-size: null !default;
$kendo-breadcrumb-lg-font-size: null !default;

$kendo-breadcrumb-line-height: null !default;
$kendo-breadcrumb-sm-line-height: null !default;
$kendo-breadcrumb-md-line-height: null !default;
$kendo-breadcrumb-lg-line-height: null !default;

$kendo-breadcrumb-bg: null !default;
$kendo-breadcrumb-text: null !default;
$kendo-breadcrumb-border: null !default;

$kendo-breadcrumb-focus-shadow: null !default;

$kendo-breadcrumb-sm-link-padding-x: null !default;
$kendo-breadcrumb-md-link-padding-x: null !default;
$kendo-breadcrumb-lg-link-padding-x: null !default;

$kendo-breadcrumb-sm-link-padding-y: null !default;
$kendo-breadcrumb-md-link-padding-y: null !default;
$kendo-breadcrumb-lg-link-padding-y: null !default;

$kendo-breadcrumb-link-border-radius: null !default;

$kendo-breadcrumb-sm-icon-link-padding-y: null !default;
$kendo-breadcrumb-md-icon-link-padding-y: null !default;
$kendo-breadcrumb-lg-icon-link-padding-y: null !default;

$kendo-breadcrumb-sm-icon-link-padding-x: null !default;
$kendo-breadcrumb-md-icon-link-padding-x: null !default;
$kendo-breadcrumb-lg-icon-link-padding-x: null !default;

$kendo-breadcrumb-link-initial-text: null !default;
$kendo-breadcrumb-link-icon-spacing: null !default;

$kendo-breadcrumb-link-bg: null !default;
$kendo-breadcrumb-link-text: null !default;
$kendo-breadcrumb-link-border: null !default;

$kendo-breadcrumb-link-hover-bg: null !default;
$kendo-breadcrumb-link-hover-text: null !default;
$kendo-breadcrumb-link-hover-border: null !default;

$kendo-breadcrumb-link-focus-bg: null !default;
$kendo-breadcrumb-link-focus-text: null !default;
$kendo-breadcrumb-link-focus-border: null !default;
$kendo-breadcrumb-link-focus-shadow: null !default;

$kendo-breadcrumb-root-link-bg: null !default;
$kendo-breadcrumb-root-link-text: null !default;
$kendo-breadcrumb-root-link-border: null !default;

$kendo-breadcrumb-root-link-hover-bg: null !default;
$kendo-breadcrumb-root-link-hover-text: null !default;
$kendo-breadcrumb-root-link-hover-border: null !default;

$kendo-breadcrumb-root-link-focus-bg: null !default;
$kendo-breadcrumb-root-link-focus-text: null !default;
$kendo-breadcrumb-root-link-focus-border: null !default;
$kendo-breadcrumb-root-link-focus-shadow: null !default;

$kendo-breadcrumb-current-item-bg: null !default;
$kendo-breadcrumb-current-item-text: null !default;
$kendo-breadcrumb-current-item-border: null !default;

$kendo-breadcrumb-sizes: null !default;
