$upload-padding: 14px !default;
$upload-button-margin: $upload-padding !default;
$upload-status-spacing: $padding-y $padding-x-sm $padding-y 0 !default;
$upload-dropzone-status-icon-spacing: $padding-y * 2 !default;
$upload-progress-thickness: 3px !default;
$upload-file-name-spacing: 0 !default;

@import "~@progress/kendo-theme-default/scss/upload/layout";

@include exports('upload/layout/material') {
    .k-upload {
        .k-upload-files {
            .k-file {
                padding: $upload-padding $padding-x-lg;
                line-height: 1.4;
            }

            .k-file-extension-wrapper,
            .k-file-invalid-extension-wrapper,
            .k-upload-status {
                top: $padding-x-lg / 2;
            }

            .k-upload-status {
                .k-icon {
                    font-size: ($icon-size * 1.5);
                }
            }
        }

        > .k-action-buttons {
            padding: $padding-x-sm $upload-padding;
        }
    }
}
