@import "~@progress/kendo-theme-default/scss/upload/theme";

@include exports('upload/theme/material') {
    .k-upload {
        .k-upload-button {
            box-shadow: none;
            background: $base-border;
        }
        .k-upload-status {
            color: lighten($text-color, 25%);
        }
        .k-dropzone-hint {
            color: $upload-disabled-text;
            font-style: normal;
            margin-left: 0;
        }

        .k-upload-files {
            .k-file-success {
                .k-file-name {
                    color: $text-color;
                }
            }

            .k-upload-action {
                &:hover {
                    &::before {
                        opacity: 0;
                    }
                }
            }

            .k-file-invalid-extension-wrapper,
            .k-file-name-invalid,
            .k-file-validation-message {
                color: $upload-error-text;
            }

            .k-file-invalid-extension-wrapper {
                .k-file-invalid-icon {
                    margin-left: $padding-y;
                }
            }

            .k-delete {
                &:hover,
                &.k-state-hover {
                    background: $base-border;
                }
            }
        }

        .k-clear-selected,
        .k-upload-selected {
            &.k-state-focused {
                box-shadow: none;
            }
        }

        .k-clear-selected {
            color: $upload-disabled-text;

            &:hover {
                background: white;
            }

            &.k-state-focused,
            &:active {
                color: $upload-disabled-text;
            }
        }

        .k-upload-selected {
            border-left-width: 0;

        }
    }
}

