// Floating Action Button

/// The default theme color of the FAB.
/// @group floating-action-button
/// @role default
$kendo-fab-default-theme-color: null !default;
/// The default fill mode of the FAB.
/// @group floating-action-button
/// @role default
$kendo-fab-default-fill-mode: null !default;
/// The default roundness of the FAB.
/// @group floating-action-button
/// @role default
$kendo-fab-default-roundness: null !default;
/// The default size of the FAB.
/// @group floating-action-button
/// @role default
$kendo-fab-default-size: null !default;

/// The width of the border around the FAB.
/// @group floating-action-button
$kendo-fab-border-width: null !default;

/// The font family of the FAB.
/// @group floating-action-button
$kendo-fab-font-family: null !default;
/// The font size of the FAB.
/// @group floating-action-button
$kendo-fab-font-size: null !default;
/// The line height of the FAB.
/// @group floating-action-button
$kendo-fab-line-height: null !default;

/// The horizontal padding of the small FAB.
/// @group floating-action-button
$kendo-fab-sm-padding-x: null !default;
/// The horizontal padding of the medium FAB.
/// @group floating-action-button
$kendo-fab-md-padding-x: null !default;
/// The horizontal padding of the large FAB.
/// @group floating-action-button
$kendo-fab-lg-padding-x: null !default;

/// The vertical padding of the small FAB.
/// @group floating-action-button
$kendo-fab-sm-padding-y: null !default;
/// The vertical padding of the medium FAB.
/// @group floating-action-button
$kendo-fab-md-padding-y: null !default;
/// The vertical padding of the large FAB.
/// @group floating-action-button
$kendo-fab-lg-padding-y: null !default;

/// The horizontal padding of the FAB icon.
/// @group floating-action-button
$kendo-fab-icon-padding-x: null !default;
/// The vertical padding of the FAB icon.
/// @group floating-action-button
$kendo-fab-icon-padding-y: null !default;
/// The spacing of the FAB icon.
/// @group floating-action-button
$kendo-fab-icon-spacing: null !default;

/// The horizontal padding of the FAB items.
/// @group floating-action-button
$kendo-fab-items-padding-x: null !default;
/// The vertical padding of the FAB items.
/// @group floating-action-button
$kendo-fab-items-padding-y: null !default;

/// The horizontal padding of the FAB item text.
/// @group floating-action-button
$kendo-fab-item-text-padding-x: null !default;
/// The vertical padding of the FAB item text.
/// @group floating-action-button
$kendo-fab-item-text-padding-y: null !default;
/// The width of the FAB item text border.
/// @group floating-action-button
$kendo-fab-item-text-border-width: null !default;
/// The border radius of the FAB item text.
/// @group floating-action-button
$kendo-fab-item-text-border-radius: null !default;
/// The font size of the FAB item text.
/// @group floating-action-button
$kendo-fab-item-text-font-size: null !default;
/// The line height of the FAB item text.
/// @group floating-action-button
$kendo-fab-item-text-line-height: null !default;

/// The horizontal padding of the FAB item icon.
/// @group floating-action-button
$kendo-fab-item-icon-padding-x: null !default;
/// The vertical padding of the FAB item icon.
/// @group floating-action-button
$kendo-fab-item-icon-padding-y: null !default;
/// The width of the FAB item icon border.
/// @group floating-action-button
$kendo-fab-item-icon-border-width: null !default;
/// The border radius of the FAB item icon.
/// @group floating-action-button
$kendo-fab-item-icon-border-radius: null !default;

/// The base shadow of the FAB.
/// @group floating-action-button
$kendo-fab-shadow: null !default;
/// The shadow of the disabled FAB.
/// @group floating-action-button
$kendo-fab-disabled-shadow: null !default;
/// The shadow of the active FAB.
/// @group floating-action-button
$kendo-fab-active-shadow: null !default;
/// The outline style of the FAB.
/// @group floating-action-button
$kendo-fab-outline-style: null !default;
/// The outline width of the FAB.
/// @group floating-action-button
$kendo-fab-outline-width: null !default;

/// The base text color of the FAB item.
/// @group floating-action-button
$kendo-fab-item-text: null !default;
/// The base background color of the FAB item.
/// @group floating-action-button
$kendo-fab-item-bg: null !default;
/// The base border color of the FAB item.
/// @group floating-action-button
$kendo-fab-item-border: null !default;

/// The base text color of the FAB item icon.
/// @group floating-action-button
$kendo-fab-item-icon-text: null !default;
/// The base background color of the FAB item icon.
/// @group floating-action-button
$kendo-fab-item-icon-bg: null !default;
/// The base border color of the FAB item icon.
/// @group floating-action-button
$kendo-fab-item-icon-border: null !default;

/// The base shadow of the FAB item.
/// @group floating-action-button
$kendo-fab-item-shadow: null !default;
/// The shadow of the disabled FAB item.
/// @group floating-action-button
$kendo-fab-item-disabled-shadow: null !default;
/// The shadow of the active FAB item.
/// @group floating-action-button
$kendo-fab-item-active-shadow: null !default;
/// The outline style of the FAB item.
/// @group floating-action-button
$kendo-fab-item-outline-style: null !default;
/// The outline width of the FAB item.
/// @group floating-action-button
$kendo-fab-item-outline-width: null !default;
/// The outline color of the FAB item.
/// @group floating-action-button
$kendo-fab-item-outline-color: null !default;

/// Тhe opacity of the generating FAB.
/// @group floating-action-button
$kendo-fab-generating-opacity: null !default;

$kendo-fab-roundness: ( "none", "sm", "md", "lg", "full" ) !default;

/// The theme colors map of the FloatingActionButton.
/// @group floating-action-button
$kendo-fab-theme-colors: ("base", "primary", "secondary", "tertiary") !default;

/// The sizes map of the FloatingActionButton.
/// @group floating-action-button
$kendo-fab-sizes: (
    sm: (
        padding-x: $kendo-fab-sm-padding-x,
        padding-y: $kendo-fab-sm-padding-y
    ),
    md: (
        padding-x: $kendo-fab-md-padding-x,
        padding-y: $kendo-fab-md-padding-y
    ),
    lg: (
        padding-x: $kendo-fab-lg-padding-x,
        padding-y: $kendo-fab-lg-padding-y
    )
) !default;

