@mixin kendo-switch--theme() {

    // Switch
    .k-switch {}


    // Switch OFF
    .k-switch-off {

        // Normal state
        .k-switch-track {
            background-color: var( --kendo-switch-off-track-bg );
            color: var( --kendo-switch-off-track-text );
            border-color: var( --kendo-switch-off-track-border );
        }
        .k-switch-thumb {
            background-color: var( --kendo-switch-off-thumb-bg );
            color: var( --kendo-switch-off-thumb-text );
            border-color: var( --kendo-switch-off-thumb-border );
        }

        // Hover
        &:hover,
        &.k-hover {
            .k-switch-track {
                background-color: var( --kendo-switch-off-track-hover-bg );
                color: var( --kendo-switch-off-track-hover-text );
                border-color: var( --kendo-switch-off-track-hover-border );
            }

            .k-switch-thumb {
                background-color: var( --kendo-switch-off-thumb-hover-bg );
                color: var( --kendo-switch-off-thumb-hover-text );
                border-color: var( --kendo-switch-off-thumb-hover-border );
            }
        }

        // Focus
        &:focus,
        &.k-focus {
            .k-switch-track {
                background-color: var( --kendo-switch-off-track-focus-bg );
                color: var( --kendo-switch-off-track-focus-text );
                border-color: var( --kendo-switch-off-track-focus-border );
            }
        }

        // Disabled
        &:disabled,
        &.k-disabled {
            .k-switch-track {
                background-color: var( --kendo-switch-off-track-disabled-bg );
                color: var( --kendo-switch-off-track-disabled-text );
                border-color: var( --kendo-switch-off-track-disabled-border );
            }

            .k-switch-thumb {
                background-color: var( --kendo-switch-off-thumb-disabled-bg );
                color: var( --kendo-switch-off-thumb-disabled-text );
                border-color: var( --kendo-switch-off-thumb-disabled-border );
            }
        }

        .k-switch-label-on {
            color: transparent;
        }
    }


    // Switch ON
    .k-switch-on {

        // Normal state
        .k-switch-track {
            background-color: var( --kendo-switch-on-track-bg );
            color: var( --kendo-switch-on-track-text );
            border-color: var( --kendo-switch-on-track-border );
        }
        .k-switch-thumb {
            background-color: var( --kendo-switch-on-thumb-bg );
            color: var( --kendo-switch-on-thumb-text );
            border-color: var( --kendo-switch-on-thumb-border );
        }

        // Hover
        &:hover,
        &.k-hover {
            .k-switch-track {
                background-color: var( --kendo-switch-on-track-hover-bg );
                color: var( --kendo-switch-on-track-hover-text );
                border-color: var( --kendo-switch-on-track-hover-border );
            }

            .k-switch-thumb {
                background-color: var( --kendo-switch-on-thumb-hover-bg );
                color: var( --kendo-switch-on-thumb-hover-text );
                border-color: var( --kendo-switch-on-thumb-hover-border );
            }
        }

        // Focus
        &:focus,
        &.k-focus {
            .k-switch-track {
                background-color: var( --kendo-switch-on-track-focus-bg );
                color: var( --kendo-switch-on-track-focus-text );
                border-color: var( --kendo-switch-on-track-focus-border );
            }
        }

        // Disabled
        &:disabled,
        &.k-disabled {
            .k-switch-track {
                background-color: var( --kendo-switch-on-track-disabled-bg );
                color: var( --kendo-switch-on-track-disabled-text );
                border-color: var( --kendo-switch-on-track-disabled-border );
            }

            .k-switch-thumb {
                background-color: var( --kendo-switch-on-thumb-disabled-bg );
                color: var( --kendo-switch-on-thumb-disabled-text );
                border-color: var( --kendo-switch-on-thumb-disabled-border );
            }
        }

        .k-switch-label-off {
            color: transparent;
        }
    }

    @each $variant, $theme-props in $kendo-switch-theme {
        $suffix: if( $variant == DEFAULT, "", "-#{$variant}" );

        $_off-track-bg: map-get( $theme-props, off-track-bg );
        $_off-track-text: map-get( $theme-props, off-track-text );
        $_off-track-border: map-get( $theme-props, off-track-border );

        $_off-track-hover-bg: map-get( $theme-props, off-track-hover-bg );
        $_off-track-hover-text: map-get( $theme-props, off-track-hover-text );
        $_off-track-hover-border: map-get( $theme-props, off-track-hover-border );

        $_off-track-focus-bg: map-get( $theme-props, off-track-focus-bg );
        $_off-track-focus-text: map-get( $theme-props, off-track-focus-text );
        $_off-track-focus-border: map-get( $theme-props, off-track-focus-border );

        $_off-track-disabled-bg: map-get( $theme-props, off-track-disabled-bg );
        $_off-track-disabled-text: map-get( $theme-props, off-track-disabled-text );
        $_off-track-disabled-border: map-get( $theme-props, off-track-disabled-border );

        $_off-thumb-bg: map-get( $theme-props, off-thumb-bg );
        $_off-thumb-text: map-get( $theme-props, off-thumb-text );
        $_off-thumb-border: map-get( $theme-props, off-thumb-border );

        $_off-thumb-hover-bg: map-get( $theme-props, off-thumb-hover-bg );
        $_off-thumb-hover-text: map-get( $theme-props, off-thumb-hover-text );
        $_off-thumb-hover-border: map-get( $theme-props, off-thumb-hover-border );

        $_off-thumb-focus-bg: map-get( $theme-props, off-thumb-focus-bg );
        $_off-thumb-focus-text: map-get( $theme-props, off-thumb-focus-text );
        $_off-thumb-focus-border: map-get( $theme-props, off-thumb-focus-border );

        $_off-thumb-disabled-bg: map-get( $theme-props, off-thumb-disabled-bg );
        $_off-thumb-disabled-text: map-get( $theme-props, off-thumb-disabled-text );
        $_off-thumb-disabled-border: map-get( $theme-props, off-thumb-disabled-border );

        $_on-track-bg: map-get( $theme-props, on-track-bg );
        $_on-track-text: map-get( $theme-props, on-track-text );
        $_on-track-border: map-get( $theme-props, on-track-border );

        $_on-track-hover-bg: map-get( $theme-props, on-track-hover-bg );
        $_on-track-hover-text: map-get( $theme-props, on-track-hover-text );
        $_on-track-hover-border: map-get( $theme-props, on-track-hover-border );

        $_on-track-focus-bg: map-get( $theme-props, on-track-focus-bg );
        $_on-track-focus-text: map-get( $theme-props, on-track-focus-text );
        $_on-track-focus-border: map-get( $theme-props, on-track-focus-border );

        $_on-track-disabled-bg: map-get( $theme-props, on-track-disabled-bg );
        $_on-track-disabled-text: map-get( $theme-props, on-track-disabled-text );
        $_on-track-disabled-border: map-get( $theme-props, on-track-disabled-border );

        $_on-thumb-bg: map-get( $theme-props, on-thumb-bg );
        $_on-thumb-text: map-get( $theme-props, on-thumb-text );
        $_on-thumb-border: map-get( $theme-props, on-thumb-border );

        $_on-thumb-hover-bg: map-get( $theme-props, on-thumb-hover-bg );
        $_on-thumb-hover-text: map-get( $theme-props, on-thumb-hover-text );
        $_on-thumb-hover-border: map-get( $theme-props, on-thumb-hover-border );

        $_on-thumb-focus-bg: map-get( $theme-props, on-thumb-focus-bg );
        $_on-thumb-focus-text: map-get( $theme-props, on-thumb-focus-text );
        $_on-thumb-focus-border: map-get( $theme-props, on-thumb-focus-border );

        $_on-thumb-disabled-bg: map-get( $theme-props, on-thumb-disabled-bg );
        $_on-thumb-disabled-text: map-get( $theme-props, on-thumb-disabled-text );
        $_on-thumb-disabled-border: map-get( $theme-props, on-thumb-disabled-border );

        .k-switch#{$suffix} {
            --kendo-switch-off-track-bg: #{k-var( --kendo-switch-#{$variant}-off-track-bg, $_off-track-bg )};
            --kendo-switch-off-track-text: #{k-var( --kendo-switch-#{$variant}-off-track-text, $_off-track-text )};
            --kendo-switch-off-track-border: #{k-var( --kendo-switch-#{$variant}-off-track-border, $_off-track-border )};

            --kendo-switch-off-track-hover-bg: #{k-var( --kendo-switch-#{$variant}-off-track-hover-bg, $_off-track-hover-bg )};
            --kendo-switch-off-track-hover-text: #{k-var( --kendo-switch-#{$variant}-off-track-hover-text, $_off-track-hover-text )};
            --kendo-switch-off-track-hover-border: #{k-var( --kendo-switch-#{$variant}-off-track-hover-border, $_off-track-hover-border )};

            --kendo-switch-off-track-focus-bg: #{k-var( --kendo-switch-#{$variant}-off-track-focus-bg, $_off-track-focus-bg )};
            --kendo-switch-off-track-focus-text: #{k-var( --kendo-switch-#{$variant}-off-track-focus-text, $_off-track-focus-text )};
            --kendo-switch-off-track-focus-border: #{k-var( --kendo-switch-#{$variant}-off-track-focus-border, $_off-track-focus-border )};

            --kendo-switch-off-track-disabled-bg: #{k-var( --kendo-switch-#{$variant}-off-track-disabled-bg, $_off-track-disabled-bg )};
            --kendo-switch-off-track-disabled-text: #{k-var( --kendo-switch-#{$variant}-off-track-disabled-text, $_off-track-disabled-text )};
            --kendo-switch-off-track-disabled-border: #{k-var( --kendo-switch-#{$variant}-off-track-disabled-border, $_off-track-disabled-border )};

            --kendo-switch-off-thumb-bg: #{k-var( --kendo-switch-#{$variant}-off-thumb-bg, $_off-thumb-bg )};
            --kendo-switch-off-thumb-text: #{k-var( --kendo-switch-#{$variant}-off-thumb-text, $_off-thumb-text )};
            --kendo-switch-off-thumb-border: #{k-var( --kendo-switch-#{$variant}-off-thumb-border, $_off-thumb-border )};

            --kendo-switch-off-thumb-hover-bg: #{k-var( --kendo-switch-#{$variant}-off-thumb-hover-bg, $_off-thumb-hover-bg )};
            --kendo-switch-off-thumb-hover-text: #{k-var( --kendo-switch-#{$variant}-off-thumb-hover-text, $_off-thumb-hover-text )};
            --kendo-switch-off-thumb-hover-border: #{k-var( --kendo-switch-#{$variant}-off-thumb-hover-border, $_off-thumb-hover-border )};

            --kendo-switch-off-thumb-focus-bg: #{k-var( --kendo-switch-#{$variant}-off-thumb-focus-bg, $_off-thumb-focus-bg )};
            --kendo-switch-off-thumb-focus-text: #{k-var( --kendo-switch-#{$variant}-off-thumb-focus-text, $_off-thumb-focus-text )};
            --kendo-switch-off-thumb-focus-border: #{k-var( --kendo-switch-#{$variant}-off-thumb-focus-border, $_off-thumb-focus-border )};

            --kendo-switch-off-thumb-disabled-bg: #{k-var( --kendo-switch-#{$variant}-off-thumb-disabled-bg, $_off-thumb-disabled-bg )};
            --kendo-switch-off-thumb-disabled-text: #{k-var( --kendo-switch-#{$variant}-off-thumb-disabled-text, $_off-thumb-disabled-text )};
            --kendo-switch-off-thumb-disabled-border: #{k-var( --kendo-switch-#{$variant}-off-thumb-disabled-border, $_off-thumb-disabled-border )};

            --kendo-switch-on-track-bg: #{k-var( --kendo-switch-#{$variant}-on-track-bg, $_on-track-bg )};
            --kendo-switch-on-track-text: #{k-var( --kendo-switch-#{$variant}-on-track-text, $_on-track-text )};
            --kendo-switch-on-track-border: #{k-var( --kendo-switch-#{$variant}-on-track-border, $_on-track-border )};

            --kendo-switch-on-track-hover-bg: #{k-var( --kendo-switch-#{$variant}-on-track-hover-bg, $_on-track-hover-bg )};
            --kendo-switch-on-track-hover-text: #{k-var( --kendo-switch-#{$variant}-on-track-hover-text, $_on-track-hover-text )};
            --kendo-switch-on-track-hover-border: #{k-var( --kendo-switch-#{$variant}-on-track-hover-border, $_on-track-hover-border )};

            --kendo-switch-on-track-focus-bg: #{k-var( --kendo-switch-#{$variant}-on-track-focus-bg, $_on-track-focus-bg )};
            --kendo-switch-on-track-focus-text: #{k-var( --kendo-switch-#{$variant}-on-track-focus-text, $_on-track-focus-text )};
            --kendo-switch-on-track-focus-border: #{k-var( --kendo-switch-#{$variant}-on-track-focus-border, $_on-track-focus-border )};

            --kendo-switch-on-track-disabled-bg: #{k-var( --kendo-switch-#{$variant}-on-track-disabled-bg, $_on-track-disabled-bg )};
            --kendo-switch-on-track-disabled-text: #{k-var( --kendo-switch-#{$variant}-on-track-disabled-text, $_on-track-disabled-text )};
            --kendo-switch-on-track-disabled-border: #{k-var( --kendo-switch-#{$variant}-on-track-disabled-border, $_on-track-disabled-border )};

            --kendo-switch-on-thumb-bg: #{k-var( --kendo-switch-#{$variant}-on-thumb-bg, $_on-thumb-bg )};
            --kendo-switch-on-thumb-text: #{k-var( --kendo-switch-#{$variant}-on-thumb-text, $_on-thumb-text )};
            --kendo-switch-on-thumb-border: #{k-var( --kendo-switch-#{$variant}-on-thumb-border, $_on-thumb-border )};

            --kendo-switch-on-thumb-hover-bg: #{k-var( --kendo-switch-#{$variant}-on-thumb-hover-bg, $_on-thumb-hover-bg )};
            --kendo-switch-on-thumb-hover-text: #{k-var( --kendo-switch-#{$variant}-on-thumb-hover-text, $_on-thumb-hover-text )};
            --kendo-switch-on-thumb-hover-border: #{k-var( --kendo-switch-#{$variant}-on-thumb-hover-border, $_on-thumb-hover-border )};

            --kendo-switch-on-thumb-focus-bg: #{k-var( --kendo-switch-#{$variant}-on-thumb-focus-bg, $_on-thumb-focus-bg )};
            --kendo-switch-on-thumb-focus-text: #{k-var( --kendo-switch-#{$variant}-on-thumb-focus-text, $_on-thumb-focus-text )};
            --kendo-switch-on-thumb-focus-border: #{k-var( --kendo-switch-#{$variant}-on-thumb-focus-border, $_on-thumb-focus-border )};

            --kendo-switch-on-thumb-disabled-bg: #{k-var( --kendo-switch-#{$variant}-on-thumb-disabled-bg, $_on-thumb-disabled-bg )};
            --kendo-switch-on-thumb-disabled-text: #{k-var( --kendo-switch-#{$variant}-on-thumb-disabled-text, $_on-thumb-disabled-text )};
            --kendo-switch-on-thumb-disabled-border: #{k-var( --kendo-switch-#{$variant}-on-thumb-disabled-border, $_on-thumb-disabled-border )};
        }
    }

}




@mixin kendo-switch--extended-theme() {}
