@use "../core/_index.scss" as *;
@use "./_variables.scss" as *;
@use "@progress/kendo-theme-core/scss/components/timeline/_layout.scss" as *;

@mixin kendo-timeline--layout() {
    @include kendo-timeline--layout-base();

    .k-timeline {
        .k-timeline-flag {
            border-radius: $kendo-timeline-flag-border-radius;
        }
    }

    .k-timeline-arrow {
        inset-block-end: $kendo-timeline-arrow-inset-block-end;
    }

    .k-timeline-vertical {

        &::after {
            border-radius: $kendo-timeline-vertical-border-radius;
        }
    }

    .k-timeline-horizontal .k-timeline-card {
        padding-inline: .5em;
    }
}
