@use "../../color-system/_constants.scss" as *;
@use "../../spacing/index.scss" as *;
@use "../../border-radii/index.scss" as *;
@use "../../z-index/index.scss" as *;
@use "../../motion/index.scss" as *;
@use "./variables.scss" as *;
@use "../toolbar/_variables.scss" as *;
@use "../bubble/_variables.scss" as *;
@use "../button/_variables.scss" as *;

@mixin kendo-chat--layout-base() {

    // Chat
    .k-chat {
        min-width: $kendo-chat-width;
        min-height: $kendo-chat-height;
        max-height: 100%;
        border-width: $kendo-chat-border-width;
        border-style: solid;
        box-sizing: border-box;
        outline: 0;
        font-family: $kendo-chat-font-family;
        font-size: $kendo-chat-font-size;
        line-height: $kendo-chat-line-height;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        -webkit-touch-callout: none;
        -webkit-tap-highlight-color: $kendo-color-rgba-transparent;

        .k-chat-file {
            width: 100%;
            min-width: $kendo-chat-file-min-width;
            max-width: $kendo-chat-file-max-width;
            flex-shrink: 0;
        }
    }

    // Chat header
    .k-chat-header {
        flex-shrink: 0;
    }

    // Message list
    .k-message-list {
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
        align-items: flex-start;
        overflow-x: hidden;
        overflow-y: auto;
        scroll-behavior: smooth;
    }

    .k-message-list-content {
        padding-block: $kendo-chat-message-list-padding-y calc(#{$kendo-chat-message-list-padding-y} / 2);
        padding-inline: $kendo-chat-message-list-padding-x;
        width: 100%;
        box-sizing: border-box;
        position: relative;
        flex: 0 0 auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        overflow: hidden;

        > * + * {
            margin-block-start: $kendo-chat-message-list-spacing;
        }

        &.k-message-list-content-empty {
            flex: 1;
            flex-flow: column wrap;
            align-content: center;
            justify-content: center;
        }
    }

    // Message group
    .k-message-group {
        max-width: $kendo-chat-message-max-width;
        background: none;
        box-sizing: border-box;
        display: flex;
        column-gap: $kendo-chat-message-gap;
        flex-shrink: 0;
        position: relative;

        .k-message + .k-message {
            margin-block-start: $kendo-chat-bubble-spacing;
        }

        .k-avatar {
            align-self: flex-end;
        }

        // Add margin to the avatar and user status when the last message is selected
        // so that the avatar is aligned to the bubble and not to the status
        &:has(.k-message-group-content .k-message:last-child .k-chat-bubble.k-selected + .k-message-status) .k-avatar {
            &,
            + .k-chat-user-status {
                margin-block-end: calc($kendo-chat-message-meta-line-height * $kendo-chat-message-meta-font-size + $kendo-chat-bubble-spacing);
                transition: margin k-transition(fade-out);
            }
        }

        .k-chat-file-wrapper {
            padding: 0;
            overflow: hidden;
        }

        > .k-chat-user-status-wrapper {
            position: relative;
            align-self: flex-end;
            overflow: hidden;
        }

        .k-chat-user-status {
            display: flex;
            width: auto;
            min-width: $kendo-chat-status-min-size;
            max-width: $kendo-chat-status-max-size;
            height: auto;
            min-height: $kendo-chat-status-min-size;
            max-height: $kendo-chat-status-max-size;
            overflow: hidden;
            position: absolute;
            bottom: 0;
            inset-inline-end: 0;
            border-radius: k-border-radius(full);
        }
    }

    .k-message-group-content {
        display: flex;
        flex-direction: column;
        flex: 1;
        max-width: 100%;
        min-width: 0;
        overflow-wrap: break-word;
    }

    .k-chat-message-toolbar {
        border: 0;
        padding: k-spacing(1px);
        place-self: start;
    }

    .k-chat-download-button-wrapper {
        width: 100%;
        box-sizing: border-box;
        border-radius: 0 0 $kendo-chat-file-border-radius $kendo-chat-file-border-radius;
        text-align: start;
    }

    .k-message-group-sender {
        align-self: flex-end;
        flex-direction: row-reverse;

        .k-chat-bubble {
            place-self: flex-end;
        }

        .k-message-group-content {
            align-items: flex-end;
        }

        .k-message-status {
            align-self: flex-end;
        }

        .k-message:has(+.k-message) .k-chat-bubble {
            border-end-end-radius: 0;
            border-end-start-radius: $kendo-bubble-border-radius;
        }

        .k-message + .k-message .k-chat-bubble {
            border-start-end-radius: 0;
            border-start-start-radius: $kendo-bubble-border-radius;
            border-end-start-radius: $kendo-bubble-border-radius;
        }

        .k-message:last-of-type .k-chat-bubble {
            border-end-start-radius: $kendo-bubble-border-radius;
            border-end-end-radius: $kendo-bubble-border-radius-sm;
            border-start-start-radius: $kendo-bubble-border-radius;
        }
    }

    // Message
    .k-message {
        max-width: 100%;
        display: flex;
        flex-direction: column;
        position: relative;
        transition: margin k-transition(fade-out);
        outline: none;
        overflow-wrap: break-word;

        .k-chat-message-link {
            font-weight: bold;
            text-decoration: underline;
        }

        .k-chat-bubble {
            border-end-start-radius: $kendo-bubble-border-radius;
        }

        &:has(+.k-message) .k-chat-bubble {
            border-end-start-radius: 0;
        }

        & + .k-message .k-chat-bubble {
            border-start-start-radius: 0;
            border-end-start-radius: 0;
        }

        &:last-of-type .k-chat-bubble {
            border-end-start-radius: $kendo-bubble-border-radius-sm;
        }
    }

    .k-chat-bubble-text {
        text-overflow: ellipsis;
        overflow: hidden;
        flex-shrink: 0;

        overflow-wrap: break-word;
        white-space: pre-wrap;

        &:has(.k-skeleton-container) {
            white-space: normal;
        }
    }

    // Full-width message
    .k-message-group-full-width {
        width: 100%;
        max-width: 100%;

        &.k-message-group-sender .k-message:has(.k-skeleton) {
            align-self: stretch;
        }

        .k-chat-bubble:has(.k-skeleton) {
            width: 100%;
        }
    }

    // Expandable messages
    .k-chat-bubble.k-bubble-expandable {
        .k-bubble-content {
            height: auto;
            transition: height k-transition(shrink);
        }
    }

    .k-chat-bubble.k-bubble-expandable:not(.k-expanded) {
        .k-bubble-content {
            height: calc( $kendo-chat-line-height * $kendo-chat-font-size);
        }

        .k-chat-bubble-text {
            white-space: nowrap;
        }
    }

    .k-chat-bubble:has(.k-typing-indicator) {
        pointer-events: none;
    }

    // Message meta
    .k-message-time,
    .k-message-status {
        font-size: $kendo-chat-message-meta-font-size;
        line-height: $kendo-chat-message-meta-line-height;
        white-space: nowrap;
        pointer-events: none;
        transition: height k-transition(fade-out);
        height: 0;
        overflow: hidden;
    }

    .k-message-time {
        place-self: center;
    }

    .k-message-status {
        display: inline-flex;
        align-items: center;
        gap: $kendo-chat-message-status-gap;
    }

    // Bubble
    .k-chat-bubble {
        width: fit-content;
        max-width: 100%;
        overflow: hidden;
        overflow-wrap: break-word;
        text-align: start;

        .k-bubble-content {
            overflow: hidden;
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: $kendo-chat-message-gap;
            transition: height k-transition(fade-out);
        }

        a {
            color: inherit;
            text-decoration: underline;
            font-weight: bold;
        }
    }

    .k-bubble-content {
        .k-message-reference {
            border-radius: k-border-radius(md);
        }
    }

    // Message states
    .k-message:has(.k-selected) {
        .k-message-time,
        .k-message-status {
            height: calc($kendo-chat-message-meta-line-height * $kendo-chat-message-meta-font-size);
            transition: height k-transition(fade-in);
        }
    }

    .k-message:has(.k-selected + .k-message-status),
    .k-message:has(.k-message-time + .k-selected) {
        gap: $kendo-chat-bubble-spacing;
    }

    .k-message-error,
    .k-message-sending {
        margin-block-end: $kendo-chat-item-spacing-y;

        .k-message-status {
            height: calc($kendo-chat-message-meta-line-height * $kendo-chat-message-meta-font-size);
        }
    }

    // Message reference
    .k-message-reference {
        padding-inline: $kendo-chat-message-reference-padding-x;
        padding-block: $kendo-chat-message-reference-padding-y;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-shrink: 0;
        position: relative;
        white-space: nowrap;
        box-sizing: border-box;
        outline: 0;
        font-family: $kendo-chat-font-family;
        font-size: $kendo-chat-font-size;
        line-height: $kendo-chat-line-height;

        > .k-icon {
            flex-shrink: 0;
        }
    }

    .k-message-reference-content {
        padding-block: calc( #{$kendo-chat-message-reference-padding-y} / 2 );
        padding-inline-start: calc( 3 * $kendo-chat-message-reference-padding-x);
        padding-inline-end: calc( #{$kendo-chat-message-reference-padding-x} / 2 );
        box-sizing: border-box;
        position: relative;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;

        &::before {
            display: inline-block;
            content: "";
            position: absolute;
            inset-inline-start: $kendo-chat-message-reference-padding-x;
            height: calc( 100% - #{$kendo-chat-message-reference-padding-y} );
            width: 2px;
        }
    }

    .k-message-pinned {
        border-block-end-width: $kendo-chat-message-pinned-border-width;
        border-block-end-style: $kendo-chat-message-pinned-border-style;
        cursor: pointer;
    }

    .k-message-removed {
        font-style: italic;
    }

    // Author
    .k-message-author {
        margin-block-end: calc( #{$kendo-chat-bubble-spacing} / 2);
        font-size: $kendo-chat-author-font-size;
        line-height: $kendo-chat-author-line-height;
        font-weight: bold;
    }

    // Timestamp and event
    .k-timestamp,
    .k-chat-event {
        font-size: $kendo-chat-timestamp-font-size;
        line-height: $kendo-chat-timestamp-line-height;
        display: flex;
        align-items: center;
        gap: $kendo-chat-timestamp-separator-spacing;
    }

    // Timestamp
    .k-timestamp {
        text-transform: $kendo-chat-timestamp-transform;
        align-self: stretch;

        &::before,
        &::after {
            display: inline-flex;
            content: "";
            height: 1px;
            flex: 1;
        }
    }

    // Events
    .k-chat-event {
        width: 100%;
        justify-content: center;
    }

    .k-message-box-wrapper {
        padding-inline: $kendo-chat-padding-x;
        padding-block: calc( #{$kendo-chat-padding-y} / 2 ) $kendo-chat-padding-y;
        display: flex;
        flex-direction: column;
        gap: $kendo-chat-padding-y;

        .k-chat-file-wrapper {
            flex-flow: row nowrap;
            overflow-x: auto;
            scrollbar-width: none;
        }
    }

    // Message box
    .k-message-box {
        width: 100%;
        box-sizing: border-box;
        flex-shrink: 0;

        .k-input-prefix-horizontal {
            display: inline-block;
        }

        &:focus,
        &.k-focus,
        &:focus-within {
            outline: 0;
            box-shadow: none;
        }

        .k-input-prefix,
        .k-input-suffix {
            width: 100%;
            padding: k-spacing(1);
        }
    }

    .k-chat-bubble,
    .k-message-box {
        .k-message-reference {
            padding-inline: calc( #{$kendo-chat-message-reference-padding-x} / 2);
            padding-block: calc( #{$kendo-chat-message-reference-padding-y} / 2);
        }
    }

    .k-chat-file-wrapper {
        display: flex;
        flex-flow: column wrap;
        flex-shrink: 0;
        padding-inline: $kendo-chat-file-padding-x;
        padding-block: $kendo-chat-file-padding-y;
        margin: 0;
        gap: $kendo-chat-file-gap;
        box-sizing: border-box;
        min-width: 0;
        width: 100%;
        max-width: 100%;
        overflow: hidden;

        &.k-chat-files-horizontal {
            overflow-x: auto;
            scrollbar-width: none;
        }
    }

    .k-chat-files-horizontal,
    .k-chat-files-wrap {
        flex-direction: row;
    }

    .k-chat-files-horizontal {
        flex-wrap: nowrap;
    }

    .k-chat-file {
        display: flex;
        align-items: center;
        justify-content: space-between;
        overflow: hidden;
        box-sizing: border-box;
        gap: $kendo-chat-file-gap;
        border-width: $kendo-chat-file-border-width;
        border-style: $kendo-chat-file-border-style;
        padding-inline: $kendo-chat-file-padding-x;
        padding-block: $kendo-chat-file-padding-y;
        border-radius: $kendo-chat-file-border-radius;
        min-width: 0;

        >.k-icon {
            flex-shrink: 0;
        }

        .k-chat-file-info {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            text-align: start;
            flex: 1;
            overflow: hidden;
            min-width: 0;
            max-width: 100%;
            text-overflow: ellipsis;
        }

        .k-chat-file-name {
            font-weight: bold;
            font-size: $kendo-chat-file-name-font-size;
            line-height: $kendo-chat-file-name-line-height;
            width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .k-chat-file-size,
        .k-chat-file-status {
            font-size: $kendo-chat-file-size-font-size;
            line-height: $kendo-chat-file-size-line-height;
        }

        &.k-chat-file-deleted {
            min-height: calc( #{$kendo-button-md-calc-size} + 2 * #{$kendo-chat-file-padding-y} + 2 * #{$kendo-chat-file-border-width});
        }
    }

    .k-chat-file-download-wrapper {
        display: flex;
        flex-direction: column;
    }

    // Card list
    .k-chat .k-card-list {
        margin: $kendo-chat-bubble-spacing 0 0;
    }

    .k-message-group-sender + .k-card-list,
    .k-message-group-sender + .kendo-chat-message-attachments.k-card-list {
        align-self: flex-end;
    }

    .k-chat .k-card-deck {
        max-width: calc(100% + calc( #{$kendo-chat-message-list-padding-y} * 2 )); // prevent overflowing in the parent element
        box-sizing: border-box;
        margin-inline-start: calc( #{$kendo-chat-message-list-padding-y} * -1 );
        margin-inline-end: calc( #{$kendo-chat-message-list-padding-y} * -1 );
        padding: $kendo-chat-message-list-padding-y $kendo-chat-message-list-padding-y $kendo-chat-message-list-padding-x;
        overflow: hidden;
        overflow-x: auto;
        scroll-behavior: smooth;
    }
    .k-chat .k-card-deck .k-card {
        width: 200px;
    }

    .k-chat .k-card-deck-scrollwrap {
        margin-inline-end: calc( #{$kendo-chat-message-list-padding-y} * -1 );
        margin-inline-start: calc( #{$kendo-chat-message-list-padding-y} * -1 );
        padding-inline-start: $kendo-chat-message-list-padding-y;
        padding-inline-end: $kendo-chat-message-list-padding-y;
    }

    .k-chat .k-card-deck-scrollwrap > .k-card-deck {
        // hide scrollbar in chat
        $scrollbar-size: 20px;

        margin-block-end: -$scrollbar-size;
        padding-block-end: $scrollbar-size;
    }

    // Deck
    .k-chat .k-card-deck .k-card-wrap {
        display: flex;
        flex-flow: row nowrap;
        align-items: stretch;
        flex: 0 0 auto;
        padding-block-end: 5px; // accommodate for focused box shadow on OSX

        .k-card {
            flex: 0 0 auto;
        }

        &.k-selected {
            background: none;
        }
    }


     // Typing indicator
    .k-typing-indicator {
        display: inline-flex;
        gap: k-spacing(1);
        flex-flow: row nowrap;

        span {
            width: k-spacing(2);
            height: k-spacing(2);
            border-radius: 50%;
            flex: 0 0 k-spacing(2);
            background-color: currentColor;
            opacity: .25;
            @for $i from 1 through 3 {
                &:nth-of-type(#{$i}) {
                    animation: 1s k-animation-blink infinite ($i * .3333s);
                }
            }
        }

        @keyframes k-animation-blink {
            50% {
                opacity: .5;
            }
        }
    }

    // Upload
    .k-chat-upload {
        .k-external-dropzone {
            height: auto;
        }

        .k-upload {
            margin-block-start: k-spacing(6);
        }

        .k-upload-files {
            max-height: k-spacing(25);
        }
    }

    .k-rtl,
    [dir="rtl"] {
        .k-message-box {
            .k-button {
                transform: scaleX(-1);
            }
        }
    }
}
