// Module meta
$_kendo-module-meta: (
    name: "tilelayout",
    dependencies: ()
);


// Component
@import "./_variables.scss";
@import "./_layout.scss";
@import "./_theme.scss";


// Register
@include module-register( $_kendo-module-meta... );


// Expose
@mixin tilelayout-styles() {
    @include module-render( "tilelayout" ) {
        @include kendo-tile-layout--layout();
        @include kendo-tile-layout--extended-layout();
        @include kendo-tile-layout--theme();
        @include kendo-tile-layout--extended-theme();
    }
}
