// Module meta
$_kendo-module-meta: (
    name: "notification",
    dependencies: ()
);


// Component
@import "_variables.scss";
@import "_layout.scss";
@import "_theme.scss";


// Register
@include module-register( $_kendo-module-meta... );


// Expose
@mixin notification-styles() {
    @include module-render( "notification" ) {
        @include kendo-notification--layout();
        @include kendo-notification--extended-layout();
        @include kendo-notification--theme();
        @include kendo-notification--extended-theme();
    }
}
