@import "../core/_index.scss";
@import "../utils/_index.scss";


// Module meta
$_kendo-module-meta: (
    name: "icon",
    dependencies: ()
);


// Dependencies
@import "../common/_index.scss";


// Component
@import "./_layout.scss";
@import "./_theme.scss";
