// Breadcrumb
$breadcrumb-margin-x: null !default;
$breadcrumb-margin-y: null !default;
$breadcrumb-padding-x: null !default;
$breadcrumb-padding-y: null !default;
$breadcrumb-border-width: 0px !default;

$breadcrumb-font-family: $font-family !default;
$breadcrumb-font-size: $font-size !default;
$breadcrumb-line-height: $line-height !default;

$breadcrumb-bg: $kendo-component-bg !default;
$breadcrumb-text: $kendo-component-text !default;
$breadcrumb-border: $kendo-component-border !default;

$breadcrumb-delimiter-icon-font-size: $icon-size * .75 !default;

$breadcrumb-link-padding-x: k-map-get( $kendo-spacing, 2.5 ) !default;
$breadcrumb-link-padding-y: k-map-get( $kendo-spacing, 1 ) !default;
$breadcrumb-link-border-radius: $kendo-border-radius-md !default;

$breadcrumb-icon-link-padding-x: $breadcrumb-link-padding-x !default;
$breadcrumb-icon-link-padding-y: $breadcrumb-icon-link-padding-x !default;

$breadcrumb-root-link-spacing: $breadcrumb-link-padding-x !default;
$breadcrumb-link-icon-spacing: $icon-spacing !default;

$breadcrumb-link-initial-text: inherit !default;

$breadcrumb-link-bg: null !default;
$breadcrumb-link-text: $kendo-color-primary !default;
$breadcrumb-link-border: null !default;

$breadcrumb-link-hover-bg: $kendo-hover-bg !default;
$breadcrumb-link-hover-text: null !default;
$breadcrumb-link-hover-border: null !default;

$breadcrumb-link-focus-bg: k-map-get( $theme, focus-bg ) !default;
$breadcrumb-link-focus-text: null !default;
$breadcrumb-link-focus-border: null !default;
$breadcrumb-link-focus-shadow: null !default;

$breadcrumb-root-link-bg: null !default;
$breadcrumb-root-link-text: null !default;
$breadcrumb-root-link-border: null !default;

$breadcrumb-root-link-hover-bg: $kendo-hover-bg !default;
$breadcrumb-root-link-hover-text: null !default;
$breadcrumb-root-link-hover-border: null !default;

$breadcrumb-root-link-focus-bg: k-map-get( $theme, focus-bg ) !default;
$breadcrumb-root-link-focus-text: null !default;
$breadcrumb-root-link-focus-border: null !default;
$breadcrumb-root-link-focus-shadow: null !default;

$breadcrumb-focus-shadow: 0 0 2px 1px rgba( black, .06 ) !default;
