@include exports( "button/theme/material" ) {

    // Default button
    .k-button,
    .k-button-secondary {
        @include fill(
            $button-text,
            $button-bg,
            $button-border,
            $button-gradient
        );
        @include box-shadow( $button-shadow );

        &:hover,
        &.k-state-hover {
            @include box-shadow( $button-hovered-shadow );
        }

        &:active,
        &.k-state-active {
            @include box-shadow( $button-pressed-shadow );
        }

        &:disabled,
        &.k-state-disabled {
            @include fill(
                $button-disabled-text,
                $button-disabled-bg
            );
            @include box-shadow( none );
            opacity: 1;
        }

    }


    // Primary button
    .k-button-primary,
    .k-button.k-primary {
        @include fill(
            $primary-button-text,
            $primary-button-bg,
            $primary-button-border,
            $primary-button-gradient
        );

        &:disabled,
        &.k-state-disabled {
            @include fill(
                $button-disabled-text,
                $button-disabled-bg
            );
            @include box-shadow( none );
            opacity: 1;
        }
    }


    // Flat button
    .k-button-flat-primary,
    .k-button-flat.k-primary,
    .k-button.k-flat.k-primary {
        color: $primary-button-bg;

        &:disabled,
        &.k-state-disabled {
            color: $button-disabled-text;
        }
    }


    // Outline button
    .k-button-outline,
    .k-button.k-outline {
        @include box-shadow( none );
        background-color: transparent;

        &:disabled,
        &.k-state-disabled {
            color: $button-disabled-text;
        }
    }
    .k-button-outline-primary,
    .k-button-outline.k-primary,
    .k-button.k-outline.k-primary {
        border-color: currentColor;
        color: $primary-button-bg;
        background-color: transparent;

        &:disabled,
        &.k-state-disabled {
            color: $button-disabled-text;
        }
    }


    // Button group
    .k-button-group {
        @include box-shadow( $button-shadow );

        .k-button {
            @include box-shadow( none );
        }

        &:disabled,
        &.k-state-disabled {
            @include box-shadow( none );
            opacity: 1;
        }
    }


    // Split button
    .k-split-button {
        @include box-shadow( $button-shadow );

        .k-button {
            @include box-shadow( none );
        }

        > .k-button:last-child .k-icon,
        > .k-split-button-arrow .k-icon {
            opacity: $icon-opacity;
        }

        > .k-button:last-child:hover .k-icon,
        > .k-split-button-arrow:hover .k-icon {
            opacity: $icon-hovered-opacity;
        }

        &:disabled,
        &.k-state-disabled {
            @include box-shadow( none );
            opacity: 1;
        }
    }


    // Variant button group
    .k-button-group-flat,
    .k-button-group-bare,
    .k-button-group-outline {
        @include box-shadow( none );
    }

}

@include exports( "clear-button/theme" ) {
    .k-button.k-button-clear {
        border-color: transparent !important; // sass-lint:disable-line no-important
        color: $clear-button-text;
        background: none !important; // sass-lint:disable-line no-important
        box-shadow: none !important; // sass-lint:disable-line no-important

        &::after {
            display: block;
        }

        &:hover,
        &.k-state-hover,
        &:active,
        &.k-state-active,
        &:focus,
        &.k-state-focused {
            color: $clear-button-hover-text;
        }

        &:active,
        &.k-state-active {
            &::after {
                background: transparent;
            }
        }

        &.k-state-focused,
        &.k-state-focused:active {
            &::after {
                background-color: $clear-button-text;
                opacity: $clear-button-focused-opacity;
            }
        }

        &.k-state-disabled {
            color: $button-disabled-text;
        }
    }
}
