// Window

$kendo-window-border-width: null !default;
$kendo-window-border-radius: null !default;
$kendo-window-font-family: null !default;
$kendo-window-font-size: null !default;
$kendo-window-line-height: null !default;

$kendo-window-titlebar-padding-x: null !default;
$kendo-window-titlebar-padding-y: null !default;
$kendo-window-titlebar-border-width: null !default;
$kendo-window-titlebar-border-style: null !default;

$kendo-window-title-font-size: null !default;
$kendo-window-title-line-height: null !default;

$kendo-window-actions-gap: null !default;
$kendo-window-action-opacity: null !default;
$kendo-window-action-hover-opacity: null !default;

$kendo-window-inner-padding-x: null !default;
$kendo-window-inner-padding-y: null !default;

$kendo-window-buttongroup-padding-x: null !default;
$kendo-window-buttongroup-padding-y: null !default;
$kendo-window-buttongroup-border-width: null !default;

$kendo-window-bg: null !default;
$kendo-window-text: null !default;
$kendo-window-border: null !default;
$kendo-window-shadow: null !default;
$kendo-window-focus-shadow: null !default;

$kendo-window-titlebar-bg: null !default;
$kendo-window-titlebar-text: null !default;
$kendo-window-titlebar-border: null !default;
$kendo-window-titlebar-gradient: null !default;

$kendo-window-sizes: null !default;

$kendo-window-theme-colors: null !default;
