@use "sass:map";
@use "../core/_index.scss" as *;
@use "./_variables.scss" as *;
@use "@progress/kendo-theme-core/scss/components/table/_layout.scss" as *;

@mixin kendo-table--layout() {
    @include kendo-table--layout-base();

    .k-table-th {
        font-weight: $kendo-table-header-font-weight;
    }

    .k-table-list {

        .k-table-row:last-child .k-table-td {
            border-block-width: 0;
        }
        .k-table-row.k-first .k-table-td::before {
            content: "";
            display: inherit;
            border-width: 1px 0 0;
            border-style: solid;
            border-color: currentColor;
            position: absolute;
            inset-block-start: 0;
            inset-inline-start: 0;
            inset-inline-end: 0;
        }
        .k-table-group-row .k-table-th {
            border-block-end-width: 1px;
        }
    }

    .k-table-footer .k-table-td {
        border-block-width: 0;
    }

}
