@use "sass:map";
@use "../core/_index.scss" as *;


@function tooltip-theme( $colors ) {
    $_theme: ();

    @each $name, $color in $colors {
        $_theme: map.merge(( $name: (
            color: k-color(on-#{$name}),
            background-color: $color,
            border: $color,
        )), $_theme );
    }

    @return $_theme;
}
