plugins:
    - stylelint-scss

rules:
    # file settings
    unicode-bom: never
    linebreaks: unix


    # general formatting requirements
    # indentation: 4
    no-eol-whitespace: true
    no-missing-end-of-source-newline: true


    # misc
    string-quotes: double
    max-empty-lines: 4
    # max-nesting-depth: 4
    # no-descending-specificity: true
    # no-duplicate-at-import-rules: true
    # no-duplicate-selectors: true
    # no-empty-first-line: true
    # no-empty-source: true
    # no-extra-semicolons: true
    # no-invalid-position-at-import-rule: true
    # no-irregular-whitespace: true


    # no important
    # declaration-no-important: true


    # no unknown
    at-rule-no-unknown: null
    scss/at-rule-no-unknown: true
    media-feature-name-no-unknown: true
    selector-pseudo-class-no-unknown: true
    selector-pseudo-element-no-unknown: true
    selector-type-no-unknown:
        - true
        - ignore:
            - custom-elements
    property-no-unknown: true
    unit-no-unknown: true


    # media queries
    at-rule-name-case: lower
    media-feature-name-case: lower


    # declaration block
    # block-no-empty: true
    # declaration-block-no-duplicate-custom-properties: true
    # declaration-block-no-duplicate-properties: true
    # declaration-block-no-redundant-longhand-properties: true
    # declaration-block-no-shorthand-property-overrides: true
    # declaration-block-single-line-max-declarations: 4
    declaration-block-trailing-semicolon: always


    # selectors
    selector-attribute-quotes: always
    selector-max-empty-lines: 0
    selector-max-id:
        - 0
        - message: ID selectors not allowed
    selector-max-universal: 2
    # selector-no-qualifying-type: true
    # selector-no-vendor-prefix: false
    selector-type-case: lower
    selector-pseudo-class-case: lower
    selector-pseudo-element-case: lower
    selector-pseudo-element-colon-notation: double


    # properties
    property-case: lower
    # property-no-vendor-prefix: true
    shorthand-property-no-redundant-values: true


    # values
    color-function-notation: legacy
    color-hex-case: lower
    color-hex-length: long
    color-no-invalid-hex: true
    # font-family-name-quotes: always-unless-keyword
    # font-family-no-duplicate-names: true
    # font-family-no-missing-generic-family-keyword: true
    # font-weight-notation: named-where-possible
    # number-leading-zero: never
    # number-max-precision: 10
    # number-no-trailing-zeros: true
    # unit-case: lower
    # value-keyword-case: lower
    # value-list-max-empty-lines: 1


    # functions
    function-calc-no-invalid: true
    function-calc-no-unspaced-operator: true
    # function-max-empty-lines: 0
    # function-name-case: lower
    # function-parentheses-space-inside: always
    # function-url-quotes: always
    # function-whitespace-after: always


    # comments
    comment-no-empty: true
    # scss/comment-no-empty: true
    # scss/comment-no-loud:
    #     - true
    #     - message: "CSS comments should not be used"
    # scss/double-slash-comment-whitespace-inside: always


    # spacing
    # at-rule-name-space-after: always
    # at-rule-semicolon-space-before: never
    # media-query-list-comma-space-before: never
    # media-query-list-comma-space-after: always-single-line
    # media-feature-colon-space-before: never
    # media-feature-colon-space-after: always
    # media-feature-parentheses-space-inside: always
    # media-feature-range-operator-space-before: always
    # media-feature-range-operator-space-after: always
    # block-opening-brace-space-before: always
    # block-opening-brace-space-after: always-single-line
    # block-closing-brace-space-before: always-single-line
    # block-closing-brace-space-after: never
    # declaration-bang-space-before: always
    # declaration-bang-space-after: never
    # declaration-colon-space-before: never
    # declaration-colon-space-after: always-single-line
    # declaration-block-semicolon-space-before: never
    # declaration-block-semicolon-space-after: always-single-line
    # selector-combinator-space-before: always
    # selector-combinator-space-after: always
    # selector-list-comma-space-before: never
    # selector-list-comma-space-after: always-single-line
    # function-comma-space-before: never
    # function-comma-space-after: always-single-line
    # value-list-comma-space-before: never
    # value-list-comma-space-after: always-single-line


    # new lines
    # at-rule-semicolon-newline-after: always
    # media-query-list-comma-newline-before: never-multi-line
    # media-query-list-comma-newline-after: always-multi-line
    # block-opening-brace-newline-before: never-single-line
    # block-opening-brace-newline-after: always-multi-line
    # block-closing-brace-newline-before: always-multi-line
    # block-closing-brace-newline-after: always
    # selector-list-comma-newline-before: never-multi-line
    # selector-list-comma-newline-after: always-multi-line
    # declaration-block-semicolon-newline-before: never-multi-line
    # declaration-block-semicolon-newline-after: always-multi-line
    # declaration-colon-newline-after: always-multi-line
    # function-comma-newline-before: never-multi-line
    # function-comma-newline-after: always-multi-line
    # value-list-comma-newline-before: never-multi-line
    # value-list-comma-newline-after: always-multi-line
    # declaration-empty-line-before: never




    # SCSS settings
    # scss/at-import-partial-extension: always
    # scss/at-mixin-argumentless-call-parentheses: always
    # scss/at-if-no-null: true
    # scss/operator-no-unspaced: true
    # scss/declaration-nested-properties: never
    # scss/dimension-no-non-numeric-values: true
    scss/dollar-variable-default:
        - true
        - ignore: local
    # scss/no-duplicate-dollar-variables: true
    # scss/no-duplicate-mixins: true
    # scss/no-global-function-names: true
    # scss/function-color-relative: true

    # scss/at-function-parentheses-space-before: never
    # scss/at-mixin-parentheses-space-before: never
    # scss/dollar-variable-colon-space-before: never
    # scss/dollar-variable-colon-space-after: always-single-line



