// Radio button

/// Border radius of radio button.
/// @group radio
$kendo-radio-border-radius: 50% !default;

/// Border width of radio.
/// @group radio
$kendo-radio-border-width: 1px !default;

// Radio sizes
$kendo-radio-sizes: (
    sm: (
        size: k-spacing(3),
        glyph-size: k-map-get( $kendo-spacing, 2.5 ),
        indicator-size: k-spacing(1.5),
        ripple-size: 300%
    ),
    md: (
        size: k-spacing(4),
        glyph-size: k-map-get( $kendo-spacing, 3.5 ),
        indicator-size: k-spacing(2),
        ripple-size: 300%
    ),
    lg: (
        size: k-spacing(5),
        glyph-size: k-map-get( $kendo-spacing, 4.5 ),
        indicator-size: k-map-get( $kendo-spacing, 2.5 ),
        ripple-size: 300%
    )
) !default;

/// Background color of radio.
/// @group radio
$kendo-radio-bg: $kendo-component-bg !default;
/// Color of radio.
/// @group radio
$kendo-radio-text: null !default;
/// Border color of radio.
/// @group radio
$kendo-radio-border: $kendo-component-border !default;

/// Background color of hovered radio.
/// @group radio
$kendo-radio-hover-bg: null !default;
/// Color of hovered radio.
/// @group radio
$kendo-radio-hover-text: null !default;
/// Border color of hovered radio.
/// @group radio
$kendo-radio-hover-border: null !default;

/// Border color of focused radio.
/// @group radio
$kendo-radio-focus-border: null !default;
/// Box shadow of focused radio.
/// @group radio
$kendo-radio-focus-shadow: null !default;
/// The outline of a focused radio.
/// @group radio
$kendo-radio-focus-outline: null !default;
$kendo-radio-focus-outline-offset: null !default;

/// Background color of checked radio.
/// @group radio
$kendo-radio-checked-bg: $kendo-color-primary !default;
/// Color of checked radio.
/// @group radio
$kendo-radio-checked-text: k-contrast-color( $kendo-radio-checked-bg ) !default;
/// Border color of checked radio.
/// @group radio
$kendo-radio-checked-border: $kendo-radio-checked-bg !default;

/// Background of hovered and checked radio.
/// @group radio
$kendo-radio-hover-checked-bg: null !default;
/// Color of checked radio.
/// @group radio
$kendo-radio-hover-checked-text: null !default;
/// Border of hovered and checked radio.
/// @group radio
$kendo-radio-hover-checked-border: null !default;

/// Background color of disabled radio.
/// @group radio
$kendo-radio-disabled-bg: null !default;
/// Color of disabled radio.
/// @group radio
$kendo-radio-disabled-text: null !default;
/// Border color of disabled radio.
/// @group radio
$kendo-radio-disabled-border: null !default;

/// Background color of disabled and checked radio.
/// @group radio
$kendo-radio-disabled-checked-bg: null !default;
/// Color of disabled and checked radio.
/// @group radio
$kendo-radio-disabled-checked-text: null !default;
/// Border color of disabled and checked radio.
/// @group radio
$kendo-radio-disabled-checked-border: null !default;

/// Background color of invalid radio.
/// @group radio
$kendo-radio-invalid-bg: $kendo-radio-bg !default;
/// Color of invalid radio.
/// @group radio
$kendo-radio-invalid-text: $kendo-invalid-text !default;
/// Border color of invalid radio.
/// @group radio
$kendo-radio-invalid-border: $kendo-invalid-border !default;


// Radio indicator

/// Type of radio indicator.
/// @group radio
$kendo-radio-indicator-type: pseudo !default;

/// Border radius radio button indicator.
/// @group radio
$kendo-radio-indicator-border-radius: 50% !default;

/// Glyph font family of radio indicator.
/// @group radio
$kendo-radio-glyph-font-family: "WebComponentsIcons", monospace !default;
/// Glyph of radio indicator.
/// @group radio
$kendo-radio-checked-glyph: "\e308" !default;

/// Image of radio indicator.
/// @group radio
$kendo-radio-image: null !default;
/// Image of hovered radio indicator.
/// @group radio
$kendo-radio-hover-image: null !default;
/// Image of checked radio indicator.
/// @group radio
$kendo-radio-checked-image: null !default;
/// Image of hovered and checked radio indicator.
/// @group radio
$kendo-radio-hover-checked-image: null !default;
/// Image of checked radio indicator.
/// @group radio
$kendo-radio-disabled-checked-image: null !default;


// Radio list

/// Spacing between items of horizontal radio list.
/// @group radio
$kendo-radio-list-spacing: k-spacing(4) !default;
/// Horizontal padding of radio list items.
/// @group radio
$kendo-radio-list-item-padding-x: null !default;
/// Vertical padding of radio list items.
/// @group radio
$kendo-radio-list-item-padding-y: null !default;
/// Spacing between radio and text.
/// @group radio
$kendo-radio-list-item-spacing: null !default;


// Radio ripple

/// Background color of radio ripple.
/// @group radio
$kendo-radio-ripple-bg: $kendo-color-primary !default;
/// Opacity of radio ripple.
/// @group radio
$kendo-radio-ripple-opacity: .25 !default;
