<!doctype html>
<html lang="en" class="k-no-animations" style="--kendo-scrollbar-width: 15px;">
<head>
    <title>Document</title>
    <meta charset="utf-8">
    <link rel="stylesheet" data-role="kendo-theme" href="/packages/default/dist/all.css">
    <link rel="stylesheet" data-role="kendo-theme-utils" href="/packages/utils/dist/all.css">
    <link rel="stylesheet" href="/packages/html/assets/styles.css">
    <script src="/packages/html/assets/scripts.js"></script>
</head>
<body id="app" class="k-body">
    <style>
        .box {
            box-sizing: border-box;
            padding: 4px;
            border: 1px solid #cccccc;
            background: #fafafa;
        }

    </style>
    <div id="test-area" class="k-d-grid k-grid-cols-2">
        <section>
            <div class="k-vstack" style="height: 300px;">
                <div class="box">Header</div>
                <div class="k-flex k-hstack">
                    <div class="box">Sidebar</div>
                    <div class="box k-flex">Main</div>
                    <div class="box">Sidebar</div>
                </div>
                <div class="box">Footer</div>
            </div>
        </section>
    </div>
</body>
</html>
