<!doctype html>
<html lang="en" class="k-no-animations" style="--kendo-scrollbar-width: 15px;">
<head>
    <title>Document</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" data-role="kendo-theme" href="/packages/default/dist/all.css">
    <link rel="stylesheet" data-role="kendo-theme-utils" href="/packages/utils/dist/all.css">
    <link rel="stylesheet" href="/packages/html/assets/styles.css">
    <script src="/packages/html/assets/scripts.js"></script>
</head>
<body id="app" class="k-body">
    <style>
        .k-grid-layout {
            height: 100px;
            outline: 1px dotted;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
        }
        .box {
            box-sizing: border-box;
            padding: 4px;
            border: 1px solid #cccccc;
            background: #fafafa;
        }

    </style>
    <div id="test-area" class="k-d-grid k-grid-cols-5">
        <span></span>
        <span>horizontal align left</span>
        <span>horizontal align center</span>
        <span>horizontal align stretch</span>
        <span>horizontal align right</span>
        <span>vertical align top</span>
        <section>
            <div class="k-grid-layout k-align-items-start k-justify-items-start">
                <div class="box">Box</div>
                <div class="box">Box</div>
                <div class="box">Box</div>
                <div class="box">Box</div>
                <div class="box">Box</div>
                <div class="box">Box</div>
            </div>
        </section>
        <section>
            <div class="k-grid-layout k-align-items-start k-justify-items-center">
                <div class="box">Box</div>
                <div class="box">Box</div>
                <div class="box">Box</div>
                <div class="box">Box</div>
                <div class="box">Box</div>
                <div class="box">Box</div>
            </div>
        </section>
        <section>
            <div class="k-grid-layout k-align-items-start k-justify-items-stretch">
                <div class="box">Box</div>
                <div class="box">Box</div>
                <div class="box">Box</div>
                <div class="box">Box</div>
                <div class="box">Box</div>
                <div class="box">Box</div>
            </div>
        </section>
        <section>
            <div class="k-grid-layout k-align-items-start k-justify-items-end">
                <div class="box">Box</div>
                <div class="box">Box</div>
                <div class="box">Box</div>
                <div class="box">Box</div>
                <div class="box">Box</div>
                <div class="box">Box</div>
            </div>
        </section>
        <span>vertical align center</span>
        <section>
            <div class="k-grid-layout k-align-items-center k-justify-items-start">
                <div class="box">Box</div>
                <div class="box">Box</div>
                <div class="box">Box</div>
                <div class="box">Box</div>
                <div class="box">Box</div>
                <div class="box">Box</div>
            </div>
        </section>
        <section>
            <div class="k-grid-layout k-align-items-center k-justify-items-center">
                <div class="box">Box</div>
                <div class="box">Box</div>
                <div class="box">Box</div>
                <div class="box">Box</div>
                <div class="box">Box</div>
                <div class="box">Box</div>
            </div>
        </section>
        <section>
            <div class="k-grid-layout k-align-items-center k-justify-items-stretch">
                <div class="box">Box</div>
                <div class="box">Box</div>
                <div class="box">Box</div>
                <div class="box">Box</div>
                <div class="box">Box</div>
                <div class="box">Box</div>
            </div>
        </section>
        <section>
            <div class="k-grid-layout k-align-items-center k-justify-items-end">
                <div class="box">Box</div>
                <div class="box">Box</div>
                <div class="box">Box</div>
                <div class="box">Box</div>
                <div class="box">Box</div>
                <div class="box">Box</div>
            </div>
        </section>
        <span>vertical align stretch</span>
        <section>
            <div class="k-grid-layout k-align-items-stretch k-justify-items-start">
                <div class="box">Box</div>
                <div class="box">Box</div>
                <div class="box">Box</div>
                <div class="box">Box</div>
                <div class="box">Box</div>
                <div class="box">Box</div>
            </div>
        </section>
        <section>
            <div class="k-grid-layout k-align-items-stretch k-justify-items-center">
                <div class="box">Box</div>
                <div class="box">Box</div>
                <div class="box">Box</div>
                <div class="box">Box</div>
                <div class="box">Box</div>
                <div class="box">Box</div>
            </div>
        </section>
        <section>
            <div class="k-grid-layout k-align-items-stretch k-justify-items-stretch">
                <div class="box">Box</div>
                <div class="box">Box</div>
                <div class="box">Box</div>
                <div class="box">Box</div>
                <div class="box">Box</div>
                <div class="box">Box</div>
            </div>
        </section>
        <section>
            <div class="k-grid-layout k-align-items-stretch k-justify-items-end">
                <div class="box">Box</div>
                <div class="box">Box</div>
                <div class="box">Box</div>
                <div class="box">Box</div>
                <div class="box">Box</div>
                <div class="box">Box</div>
            </div>
        </section>
        <span>vertical align bottom</span>
        <section>
            <div class="k-grid-layout k-align-items-end k-justify-items-start">
                <div class="box">Box</div>
                <div class="box">Box</div>
                <div class="box">Box</div>
                <div class="box">Box</div>
                <div class="box">Box</div>
                <div class="box">Box</div>
            </div>
        </section>
        <section>
            <div class="k-grid-layout k-align-items-end k-justify-items-center">
                <div class="box">Box</div>
                <div class="box">Box</div>
                <div class="box">Box</div>
                <div class="box">Box</div>
                <div class="box">Box</div>
                <div class="box">Box</div>
            </div>
        </section>
        <section>
            <div class="k-grid-layout k-align-items-end k-justify-items-stretch">
                <div class="box">Box</div>
                <div class="box">Box</div>
                <div class="box">Box</div>
                <div class="box">Box</div>
                <div class="box">Box</div>
                <div class="box">Box</div>
            </div>
        </section>
        <section>
            <div class="k-grid-layout k-align-items-end k-justify-items-end">
                <div class="box">Box</div>
                <div class="box">Box</div>
                <div class="box">Box</div>
                <div class="box">Box</div>
                <div class="box">Box</div>
                <div class="box">Box</div>
            </div>
        </section>
    </div>
</body>
</html>
