@include exports("map/layout") {

    // Layout
    .k-map {
        height: 600px;

        // Scroll wrap
        .km-scroll-wrapper {
            width: 100%;
            height: 100%;
            user-select: none;
            position: absolute;
        }
        .k-touch-scrollbar { display: none; }

        // Layers
        .k-layer {
            position: absolute;
            left: 0;
            top: 0;
        }

        // Marker
        .k-marker {
            margin: -40px 0 0 -14px;
            width: 28px;
            height: 40px;
            cursor: pointer;
            position: absolute;
            background: url(map-get($data-uris, 'markers.png'));
        }


        // TODO: see attribuion
        // Attribution
        .k-attribution {
            padding: $padding-y-sm $padding-x-sm;
            font-size: $font-size-sm * .75;
            background-color: rgba( $panel-bg, .8);
            z-index: 1000;
        }

    }


    // Controls
    .k-map-controls {
        position: absolute;
        display: flex;
        align-items: center;
    }
    .k-pos-top { top: 0; }
    .k-pos-bottom { bottom: 0; }
    .k-pos-left { left: 0; }
    .k-pos-right { right: 0; }


    // Navigator
    .k-navigator {
        margin: $spacer-x;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        position: relative;

        .k-pdf-export & { display: none; }


        // Buttons
        .k-button {
            border-color: transparent;
            background: none;
            margin: 0;
            padding: 0;
            border-radius: 100%;
            line-height: 1;
            position: absolute;
        }
        .k-navigator-up {
            margin-left: calc( -#{$font-size/2} - 1px);
            top: 2px;
            left: 50%;
        }
        .k-navigator-right {
            margin-top: calc( -#{$font-size/2} - 1px);
            right: 2px;
            top: 50%;
        }
        .k-navigator-down  {
            margin-left: calc( -#{$font-size/2} - 1px);
            bottom: 2px;
            left: 50%;
        }
        .k-navigator-left {
            margin-top: calc( -#{$font-size/2} - 1px);
            left: 2px;
            top: 50%;
        }
    }


    // Zoom control
    .k-zoom-control {
        margin: $spacer-x;
        border: 0;
        background: none;
        display: flex;

        .k-pdf-export & { display: none; }


        // Buttons
        .k-button {
            padding: $button-padding-y;
        }
    }
    .k-buttons-horizontal {}
    .k-buttons-vertical {
        flex-direction: vertical;
    }

}



