@use "sass:map";
@use "./_variables.scss" as *;
@use "../input/_variables.scss" as *;

@mixin kendo-floating-label--layout-base() {


    // Floating label
    .k-floating-label-container {
        padding-top: $kendo-floating-label-height;
        box-sizing: border-box;
        display: inline-flex;
        vertical-align: middle;
        position: relative;
        flex-direction: column;
        justify-content: stretch;

        *,
        *::before,
        *::after {
            box-sizing: border-box;
        }

        > .k-floating-label {
            max-width: $kendo-floating-label-max-width;
            font-size: $kendo-floating-label-font-size;
            line-height: $kendo-floating-label-line-height;
            white-space: nowrap;
            text-overflow: ellipsis;
            position: absolute;
            top: var(--kendo-floating-label-offset-y, #{$kendo-floating-label-offset-y});
            left: var(--kendo-floating-label-offset-x, #{$kendo-floating-label-offset-x});
            overflow: hidden;
            cursor: text;
            transform-origin: left center;
            transition: transform $kendo-floating-label-transition, color $kendo-floating-label-transition, top $kendo-floating-label-transition, left $kendo-floating-label-transition;
        }


        &.k-empty {
            > .k-floating-label {
                top: var(--kendo-floating-label-offset-y, #{$kendo-floating-label-offset-y});
                left: var(--kendo-floating-label-offset-x, #{$kendo-floating-label-offset-x});
                transform: scale( $kendo-floating-label-scale );
                pointer-events: none;
            }
        }

        > .k-floating-label,
        &.k-focus > .k-floating-label {
            top: var(--kendo-floating-label-focus-offset-y, #{$kendo-floating-label-focus-offset-y});
            left: var(--kendo-floating-label-focus-offset-x, #{$kendo-floating-label-focus-offset-x});
            transform: scale( $kendo-floating-label-focus-scale );
        }
        &:focus-within > .k-floating-label {
            top: var(--kendo-floating-label-focus-offset-y, #{$kendo-floating-label-focus-offset-y});
            left: var(--kendo-floating-label-focus-offset-x, #{$kendo-floating-label-focus-offset-x});
            transform: scale( $kendo-floating-label-focus-scale );
        }

        &.k-empty:not(.k-focus):not(:focus-within) ::placeholder {
            color: transparent;
        }
    }

    .k-floating-label-border {
        --kendo-floating-label-focus-offset-x: #{$kendo-floating-label-border-offset-x};
        padding-top: calc( #{$kendo-floating-label-border-height} / 2 );

        &.k-focus,
        &:focus-within {
            .k-floating-label {
                transform: scale( $kendo-floating-label-border-scale );
                padding: $kendo-floating-label-border-padding;
            }
        }

        // Support for input sizes
        @each $size, $size-props in $kendo-input-sizes {
            $_padding-y: map.get( $size-props, padding-y );

            .k-input-#{$size} {
                & + .k-floating-label {
                    --kendo-floating-label-offset-y: calc( #{$kendo-floating-label-border-height} / 2 + #{$kendo-input-border-width} + #{$_padding-y});
                }
            }
        }
    }

    .k-floating-label-inside {
        --kendo-floating-label-offset-y: calc( 50% - #{$kendo-floating-label-height} / 2);
        padding-top: 0;

        &.k-focus,
        &:focus-within {
            .k-floating-label {
                transform: scale( $kendo-floating-label-inside-scale );
            }
        }

        // Support for input sizes
        @each $size, $size-props in $kendo-input-sizes {
            $_padding-y: map.get( $size-props, padding-y );
            $_padding-x: map.get( $size-props, padding-x );

            .k-input-#{$size} {
                .k-input-inner {
                    padding-top: calc( $_padding-y + $kendo-floating-label-inside-height );
                }

                & + .k-floating-label {
                    --kendo-floating-label-focus-offset-x: #{$_padding-x};
                }
            }
        }
    }

    [dir="rtl"] .k-floating-label-container,
    .k-rtl .k-floating-label-container,
    .k-floating-label-container[dir="rtl"] {
        > .k-floating-label {
            transform-origin: right center;
            transition: transform $kendo-floating-label-transition, color $kendo-floating-label-transition, top $kendo-floating-label-transition, right $kendo-floating-label-transition;
        }

        &.k-empty {
            > .k-floating-label {
                left: auto;
                right: var(--kendo-floating-label-offset-x, #{$kendo-floating-label-offset-x});
            }
        }

        > .k-floating-label,
        &.k-focus > .k-floating-label {
            left: auto;
            right: var(--kendo-floating-label-focus-offset-x, #{$kendo-floating-label-focus-offset-x});
        }
        &:focus-within > .k-floating-label {
            left: auto;
            right: var(--kendo-floating-label-focus-offset-x, #{$kendo-floating-label-focus-offset-x});
        }
    }

}


@mixin kendo-floating-label--layout() {
    @include kendo-floating-label--layout-base();
}
