// Floating label

$kendo-floating-label-scale: null !default;
$kendo-floating-label-font-size: null !default;
$kendo-floating-label-max-width: null !default;
$kendo-floating-label-line-height: null !default;
$kendo-floating-label-height: null !default;
$kendo-floating-label-offset-x: null !default;
$kendo-floating-label-offset-y: null !default;

$kendo-floating-label-focus-scale: null !default;
$kendo-floating-label-focus-offset-x: null !default;
$kendo-floating-label-focus-offset-y: null !default;

$kendo-floating-label-transition: null !default;

$kendo-floating-label-bg: null !default;
$kendo-floating-label-text: null !default;

$kendo-floating-label-focus-bg: null !default;
$kendo-floating-label-focus-text: null !default;
