$treeview-indent: 24px !default;
$treeview-item-space-y: 6px !default;
$treeview-item-space-x: 8px !default;

@import "~@progress/kendo-theme-default/scss/treeview/layout";

@include exports('treeview/layout/material') {
    .k-treeview {
        .k-checkbox-wrapper {
            padding-left: $icon-spacing;
        }
    }
}
