
@import "~@progress/kendo-theme-default/scss/treeview/theme";

@include exports('treeview/theme/material') {
    .k-treeview {
        .k-mid {
            &:focus,
            &:active {
                outline: 0;
                color: $accent;
            }
        }
        .k-in {
            &:hover,
            &.k-state-hover {
                cursor: pointer;
                background: $hovered-bg;
            }

            &.k-state-selected {
                color: $accent;
                background-color: transparent;

                &:hover,
                &.k-state-hover {
                    background-color: $hovered-bg;
                }
            }
        }

    }
}
