// Autocomplete
$autocomplete-bg: $kendo-input-bg !default;
$autocomplete-text: $kendo-input-text !default;
$autocomplete-border: $kendo-input-border !default;
$autocomplete-shadow: $kendo-input-shadow !default;

$autocomplete-hovered-bg: $kendo-input-hover-bg !default;
$autocomplete-hovered-text: $kendo-input-hover-text !default;
$autocomplete-hovered-border: $kendo-input-hover-border !default;
$autocomplete-hovered-shadow: $kendo-input-hover-shadow !default;

$autocomplete-focused-bg: $kendo-input-focus-bg !default;
$autocomplete-focused-text: $kendo-input-focus-text !default;
$autocomplete-focused-border: $kendo-input-focus-border !default;
$autocomplete-focused-shadow: $kendo-input-focus-shadow !default;

$autocomplete-disabled-bg: null !default;
$autocomplete-disabled-text: null !default;
$autocomplete-disabled-border: null !default;
$autocomplete-disabled-shadow: null !default;
