@import "~@progress/kendo-theme-default/scss/input/_layout.scss";

@include exports("input/layout/material") {

    // Fill mode
    .k-input-solid,
    .k-picker-solid {
        @include border-bottom-radius( 0 !important ); // sass-lint:disable-line no-important
        border-width: $kendo-input-border-width 0;
        border-top-color: transparent !important; // sass-lint:disable-line no-important

        .k-input-button,
        .k-input-spinner .k-spinner-increase,
        .k-input-spinner .k-spinner-decrease {
            background: none;
        }
    }

    .k-input-flat,
    .k-picker-flat {

        .k-input-button,
        .k-input-spinner .k-spinner-increase,
        .k-input-spinner .k-spinner-decrease {
            background: none;
        }

        &:disabled,
        &.k-disabled  {
            border-bottom-style: dashed;
        }
    }


    // Input ripple
    .k-floating-label-container {
        @include input-ripple();
    }

}
