@include exports("input/theme") {

    .k-textbox,
    .k-textarea {
        @include fill(
            $bg: transparent,
            $border: $input-border
        );
        border-width: 0 0 $input-border-width;
        border-radius: 0;
        @include box-shadow( none );
        font-size: $font-size-lg;

        // Hovered
        &:hover,
        &.k-state-hover {
            @include fill( $border: $input-hovered-border );
        }

        // Focused
        &:focus,
        &.k-state-focus  {
            @include fill( $border: $input-focused-border );
        }

        // Selection
        &::selection {
            @include fill(
                $color: $primary-contrast,
                $bg: $primary
            );
        }

        // Invalid
        &.k-invalid,
        &.k-state-invalid,
        &.ng-invalid.ng-touched,
        &.ng-invalid.ng-dirty {
            @include fill( $border: $error );
        }

        &:disabled {
            border-style: dashed;
        }
        &.k-state-disabled {
            border-bottom-style: dotted;
        }
    }

    // Textarea
    .k-textarea {
        border-width: $input-border-width;
        @include fill( $border: $border-color );
        border-radius: $border-radius;
    }

    // Floating label
    .k-textbox-container,
    .k-floating-label-container {
        vertical-align: baseline;

        > .k-label {
            @include fill( $color: $floating-label-text );
        }

        &.k-state-focused > .k-label {
            @include fill( $color: $floating-label-focused-text );
        }

        &.k-state-invalid + .k-label,
        .k-state-invalid + .k-label,
        .ng-invalid.ng-touched + .k-label,
        .ng-invalid.ng-dirty + .k-label {
            @include fill( $color: $error );
        }
    }

    .k-textarea-wrapper {
        &:not(.k-state-empty) {
            > .k-label {
                @include fill( $bg: $floating-label-focused-bg );
            }
        }

        .k-textarea {
            &:focus {
                @include fill( $border: $primary );
            }
        }
    }
}

@import "~@progress/kendo-theme-default/scss/input/_theme.scss";

