@use "../core/_index.scss" as *;
@use "./_variables.scss" as *;
@use "@progress/kendo-theme-core/scss/components/splitter/_layout.scss" as *;

@mixin kendo-splitter--layout() {
    @include kendo-splitter--layout-base();

    .k-splitbar-static-horizontal {
        width: $kendo-splitter-splitbar-static-size;
    }
    .k-splitbar-static-vertical {
        height: $kendo-splitter-splitbar-static-size;
    }

    .k-splitbar-horizontal .k-collapse-prev {
        margin-block-end: $kendo-splitter-drag-icon-margin;
    }

    .k-splitbar-horizontal .k-collapse-next {
        margin-block-start: $kendo-splitter-drag-icon-margin;
    }

    .k-splitbar-vertical .k-collapse-prev {
        margin-inline-end: $kendo-splitter-drag-icon-margin;
    }

    .k-splitbar-vertical .k-collapse-next {
        margin-inline-start: $kendo-splitter-drag-icon-margin;
    }
}
