<!doctype html>
<html lang="en" class="k-no-animations" style="--kendo-scrollbar-width: 15px;">
<head>
    <title>Document</title>
    <meta charset="utf-8">
    <link rel="stylesheet" data-role="kendo-theme" href="/packages/default/dist/all.css">
    <link rel="stylesheet" href="/packages/html/assets/styles.css">
    <script src="/packages/html/assets/scripts.js"></script>
</head>
<body id="app" class="k-body">
    <div class="k-notification k-notification-base">
        <span class="k-notification-status k-icon k-svg-icon k-svg-i-exclamation-circle">
            <svg aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                <path d="M224 128h64v160h-64zm0 256h64v-64h-64zm256-128c0 123.7-100.3 224-224 224S32 379.7 32 256 132.3 32 256 32s224 100.3 224 224m-32 0c0-106-86-192-192-192S64 150 64 256s86 192 192 192 192-86 192-192"></path>
            </svg>
        </span>
        <div class="k-notification-content">Notification</div>
    </div>
</body>
</html>
