@include exports("upload/layout") {

    .k-upload {
        border-width: $upload-border-width;
        border-style: solid;
        font-size: $upload-font-size;
        line-height: $upload-line-height;
        position: relative;

        .k-upload-button {
            min-width: 7em;
        }

        // Drop zone
        .k-dropzone {
            padding: $upload-dropzone-padding-y $upload-dropzone-padding-x;
            border-width: 0;
            display: flex;
            align-items: center;
            position: relative;
            background-color: transparent;

            > * + * {
                margin-left: $upload-dropzone-spacing;
            }

            .k-dropzone-hint {
                padding: 0 $button-padding-x;
                font-style: normal;
                font-weight: normal;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                position: relative;
                flex: 1;
                opacity: 0;
                visibility: hidden;
                display: none;
            }

            .k-upload-status {
                padding: 0 $button-padding-x;
                font-size: $font-size;
                line-height: $form-line-height;
                font-weight: normal;
                display: flex;
                align-items: center;
                position: relative;

                > .k-icon {
                    margin-right: $icon-spacing;
                }
            }
            .k-upload-status-total {}

            &.k-dropzone-active {
                .k-dropzone-hint {
                    display: block;
                    visibility: visible;
                    opacity: $disabled-opacity;
                }

                .k-upload-status {
                    display: none;
                }
            }
        }


        // Upload files list
        .k-upload-files {
            margin: 0;
            padding: 0;
            border-width: 1px 0 0;
            border-style: solid;
            border-color: inherit;
            list-style: none;

            .k-file-multiple,
            .k-file-single {
                display: block;
                width: 100%;
            }

            .k-file {
                padding: $upload-item-padding-y $upload-item-padding-x;
                border-width: 0 0 1px;
                border-style: solid;
                border-color: inherit;
                outline: none;
                display: flex;
                align-items: center;
                position: relative;
            }
            .k-file:last-child {
                border-width: 0;
            }

            .k-progress {
                position: absolute;
                bottom: 0;
                left: 0;
            }

            .k-filename {
                margin-left: $spacer-x;
                flex: 1;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                position: relative;
            }

            .k-upload-status {
                position: absolute;
                right: $upload-item-padding-x;
                top: $upload-item-padding-y;

                .k-button {
                    padding: 0;
                    border-radius: 50%;
                }

                .k-icon {
                    vertical-align: middle;
                }
            }

            .k-upload-pct {
                font-weight: normal;
                vertical-align: middle;
                opacity: $disabled-opacity;
            }

            ~ .k-clear-selected,
            ~ .k-upload-selected {
                margin-top: -$padding-y;
                border-width: 0;
            }

            ~ .k-upload-selected {
                border-left-width: 1px;
                border-left-style: solid;
                margin-left: -1px;
            }

            .k-file-name,
            .k-file-size,
            .k-file-validation-message,
            .k-file-information {
                display: block;
            }

            .k-file-name {
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                position: relative;
            }

            .k-file-size,
            .k-file-information,
            .k-file-validation-message {
                font-size: $font-size-sm * .786;
            }

            .k-file-information {
                text-indent: 1px;
            }

            .k-file-extension-wrapper,
            .k-multiple-files-extension-wrapper,
            .k-file-invalid-extension-wrapper,
            .k-multiple-files-invalid-extension-wrapper {
                margin: ($upload-item-image-border / 2) 0;
                width: $upload-item-image-width;
                height: $upload-item-image-height;
                border-width: $upload-item-image-border;
                border-style: solid;
                font-size: $font-size * .57;
                text-transform: uppercase;
                box-sizing: content-box;
                position: absolute;
                top: $upload-item-padding-y;
            }

            .k-file-group-wrapper,
            .k-file-invalid-group-wrapper,
            .k-multiple-files-group-wrapper,
            .k-multiple-files-invalid-group-wrapper {
                position: absolute;
                top: $upload-item-padding-y;

                .k-file-group {
                    font-size: $upload-group-icon-size;
                }

                .k-file-state {
                    position: absolute;
                }
            }

            .k-file-invalid-extension-wrapper,
            .k-multiple-files-invalid-extension-wrapper {
                font-size: 1.2em;
            }

            .k-multiple-files-extension-wrapper,
            .k-multiple-files-invalid-extension-wrapper {
                margin-top: $padding-y;
            }

            .k-file-state {
                visibility: hidden;
            }

            .k-file-name-size-wrapper {
                margin-left: calc( #{$upload-item-image-width} + #{$spacer-x} );
                margin-right: calc( #{$icon-size * 2} + 3.5em );
                min-height: $upload-item-image-height + ($upload-item-image-border * 2);
                display: block;
                overflow: hidden;
            }

            .k-file-extension-wrapper::before,
            .k-multiple-files-extension-wrapper::before,
            .k-multiple-files-extension-wrapper::after,
            .k-file-invalid-extension-wrapper::before,
            .k-multiple-files-invalid-extension-wrapper::before,
            .k-multiple-files-invalid-extension-wrapper::after {
                content: "";
                border-style: solid;
                display: inline-block;
                position: absolute;
            }

            .k-file-extension-wrapper::before,
            .k-multiple-files-extension-wrapper::before,
            .k-file-invalid-extension-wrapper::before,
            .k-multiple-files-invalid-extension-wrapper::before {
                top: -1px;
                right: -1px;
                width: 0;
                height: 0;
                border-width: 6px;
                margin-top: -1px;
                margin-right: -1px;
            }

            .k-multiple-files-extension-wrapper::after,
            .k-multiple-files-invalid-extension-wrapper::after {
                top: -6px;
                left: -6px;
                width: 15px;
                height: 35px;
                border-width: 2px 0 0 2px;
            }

            .k-file-extension,
            .k-file-invalid-icon {
                position: absolute;
                bottom: 0;
                line-height: normal;
            }

            .k-file-invalid-icon {
                margin-left: 4px;
            }

            .k-file-extension {
                margin-left: .2em;
                margin-bottom: .3em;
                overflow: hidden;
                text-overflow: ellipsis;
                max-width: 100%;
                left: 0;
            }

            .k-upload-action {
                margin-left: $upload-item-padding-x;
                border-width: 0;
                color: inherit;
                background: none;
                box-shadow: none;
                opacity: .6;

                &:hover {
                    opacity: 1;
                }
            }
        }

        .k-progress {
            height: $upload-progress-thickness;
            position: absolute;
            bottom: 0;
            left: 0;
        }

        .k-file-invalid > .k-progress {
            width: 100%;
        }

        // RTL styles
        &[dir = "rtl"],
        .k-rtl & {
            .k-dropzone .k-upload-status > .k-icon {
                margin-left: $padding-y-lg;
                margin-right: 0;
            }

            .k-upload-files {
                .k-upload-status {
                    right: auto;
                    left: $upload-item-padding-x;
                }

                ~.k-upload-selected {
                    border-left-width: 0;
                    border-right-width: 1px;
                    border-right-style: solid;
                    margin-left: 0;
                }

                .k-file-invalid-icon {
                    margin-left: 0;
                    left: $padding-x-sm;
                }
            }

            .k-file-name-size-wrapper {
                margin-right: calc( #{$upload-item-image-width} + #{$spacer-x} );
                margin-left: calc( #{$icon-size} + #{$upload-item-padding-x} );
            }

            .k-file-extension {
                right: 0;
                left: auto;
                margin-right: .4em;
                margin-left: 0;
            }

            .k-upload-action {
                margin-left: 0;
                margin-right: $upload-item-padding-x;
            }
        }
    }

    .k-upload-button {
        position: relative;
        overflow: hidden;
        direction: ltr;

        input {
            // font should not depend on outside styles, otherwise upload may break
            font: 170px monospace !important; // sass-lint:disable-block no-important
            margin: 0;
            padding: 0;
            filter: alpha(opacity=0);
            opacity: 0;
            cursor: pointer;
            position: absolute;
            bottom: 0;
            right: 0;
            z-index: 1;
        }
        input[disabled],
        input.k-state-disabled {
            visibility: hidden;
        }
    }

    .k-ie9 {
        .k-upload-status-total {
            top: 1.5em;

            > .k-icon {
                margin-top: -3px;
            }
        }
    }

}
