@use "../core/_index.scss" as *;
@use "../button/_variables.scss" as *;
@use "@progress/kendo-theme-core/scss/components/chat/_layout.scss" as *;


@mixin kendo-chat--layout() {
    @include kendo-chat--layout-base();

    .k-chat {
        .k-quick-reply {
            position: relative;

            &::before {
                @include border-radius( inherit );
                content: "";
                background: currentColor;
                opacity: 0;
                display: block;
                pointer-events: none;
                position: absolute;
                inset-inline-start: -$kendo-button-border-width;
                inset-inline-end: -$kendo-button-border-width;
                inset-block-start: -$kendo-button-border-width;
                inset-block-end: -$kendo-button-border-width;
                z-index: 0;
                transition: opacity .2s ease-in-out;
            }

            // Focused state
            &:focus,
            &.k-focus {
                &::before {
                    opacity: $kendo-flat-button-focus-opacity;
                }
            }
        }
    }
}
