@mixin kendo-window--theme() {

    // Window
    .k-window {
        @include box-shadow( var( --kendo-window-shadow, #{k-if-var( $kendo-window-shadow, none )} ) );
        background-color: var( --kendo-window-bg );
        color: var( --kendo-window-text );
        border-color: var( --kendo-window-border );

        &:focus,
        &.k-focus {
            @include box-shadow( var( --kendo-window-focus-shadow, #{k-if-var( $kendo-window-focus-shadow, none )} ) );
        }
    }


    // Titlebar
    .k-window-titlebar {
        background-color: var( --kendo-window-titlebar-bg, inherit );
        color: var( --kendo-window-titlebar-text, inherit );
        border-color: var( --kendo-window-titlebar-border, inherit );
    }
    .k-window-title {
        color: inherit;
    }


    // Window theme colors
    @each $variant, $theme-props in $kendo-window-theme {
        $suffix: if( $variant == DEFAULT, "", "-#{$variant}" );

        $_bg: k-map-get( $theme-props, bg );
        $_text: k-map-get( $theme-props, text );
        $_border: k-map-get( $theme-props, border );

        $_titlebar-bg: k-map-get( $theme-props, titlebar-bg );
        $_titlebar-text: k-map-get( $theme-props, titlebar-text );
        $_titlebar-border: k-map-get( $theme-props, titlebar-border );

        .k-window#{$suffix} {
            --kendo-window-bg: #{k-var( --kendo-window-#{$variant}-bg, $_bg )};
            --kendo-window-text: #{k-var( --kendo-window-#{$variant}-text, $_text )};
            --kendo-window-border: #{k-var( --kendo-window-#{$variant}-border, $_border )};

            --kendo-window-titlebar-bg: #{k-var( --kendo-window-#{$variant}-titlebar-bg, $_titlebar-bg )};
            --kendo-window-titlebar-text: #{k-var( --kendo-window-#{$variant}-titlebar-text, $_titlebar-text )};
            --kendo-window-titlebar-border: #{k-var( --kendo-window-#{$variant}-titlebar-border, $_titlebar-border )};
        }
    }


    // Legacy aliases
    .k-window {
        @extend .k-window-neutral !optional;
    }

}




@mixin kendo-window--extended-theme() {}
