/// Width of the border around the window.
/// @group window
$kendo-window-border-width: 1px !default;
/// Border radius of the window.
/// @group window
$kendo-window-border-radius: k-map-get( $kendo-border-radii, md ) !default;
/// Font family of the window.
/// @group window
$kendo-window-font-family: null !default;
/// Font size of the window.
/// @group window
$kendo-window-font-size: $kendo-font-size-md !default;
/// Line height of the window.
/// @group window
$kendo-window-line-height: $kendo-line-height-md !default;

/// Horizontal padding of the window titlebar.
/// @group window
$kendo-window-titlebar-padding-x: k-spacing(4) !default;
/// Vertical padding of the window titlebar.
/// @group window
$kendo-window-titlebar-padding-y: k-spacing(3) !default;
/// Spacing between title and actions in window titlebar.
/// @group window
$kendo-window-titlebar-spacing: k-spacing(2) !default;
/// Width of the top border of the window titlebar.
/// @group window
$kendo-window-titlebar-border-width: null !default;
/// Style of the top border of the window titlebar.
/// @group window
$kendo-window-titlebar-border-style: solid !default;

/// Font size of the title of the window.
/// @group window
$kendo-window-title-font-size: $kendo-font-size-lg !default;
/// Line height of the title of the window.
/// @group window
$kendo-window-title-line-height: $kendo-line-height-sm !default;
/// Font weight of the title of the window.
/// @group window
$kendo-window-title-font-weight: null !default;

/// Spacing between the buttons in the header of the window.
/// @group window
$kendo-window-titlebar-actions-spacing: null !default;

/// Opacity of the buttons in the header of the window.
/// @group window
$kendo-window-titlebar-action-opacity: 1 !default;
/// Opacity of the buttons when hovered in the header of the window.
/// @group window
$kendo-window-titlebar-action-hover-opacity: 1 !default;

/// Horizontal padding of the content of the window.
/// @group window
$kendo-window-inner-padding-x: k-spacing(4) !default;
/// Vertical padding of the content of the window.
/// @group window
$kendo-window-inner-padding-y: k-spacing(4) !default;

/// Horizontal padding of the window action buttons.
/// @group window
$kendo-window-actions-padding-x: k-spacing(2) !default;
/// Vertical padding of the window action buttons.
/// @group window
$kendo-window-actions-padding-y: k-spacing(2) !default;
/// Width of the top border of the window action buttons.
/// @group window
$kendo-window-actions-border-width: 1px !default;
/// Spacing between the action buttons of the window.
/// @group window
$kendo-window-actions-spacing: k-spacing(2) !default;

/// Background color of the window.
/// @group window
$kendo-window-bg: $kendo-component-bg !default;
/// Text color of the window.
/// @group window
$kendo-window-text: $kendo-component-text !default;
/// Border color of the window.
/// @group window
$kendo-window-border: $kendo-component-border !default;

/// Box shadow around the window.
/// @group window
$kendo-window-shadow: none !default;
/// Box shadow around the window when hovered.
/// @group window
$kendo-window-focus-shadow: none !default;


$kendo-window-theme-matrix: (
    neutral: (
        PALETTE: neutral,
        DEFAULT: ( $kendo-component-bg, $kendo-component-text, $kendo-component-border ),
        titlebar: ( 50, 700, inherit )
    ),
    THEME_COLOR: (
        PALETTE: THEME_COLOR,
        DEFAULT: ( $kendo-component-bg, $kendo-component-text, $kendo-component-border ),
        titlebar: ( 500, 0, 500 )
    )
) !default;

$kendo-window-palette-matrix: (
    primary: marsala
) !default;

$kendo-window-theme: k-process-variant-matrices(
    $kendo-window-theme-matrix,
    $kendo-window-palette-matrix
) !default;
