@import "~@progress/kendo-theme-default/scss/window/theme";

@include exports("window/theme.material") {

    .k-window-actions {

        > .k-button-icon {
            opacity: $icon-opacity;

            &:hover {
                opacity: $icon-hovered-opacity;
            }

            &::before {
                background-color: transparent;
            }
        }
    }

}
