@include exports("editor/theme") {
    $editor-overlay-background: #000 !default;
    $editor-resize-handle-border: transparent transparent $widget-border !default;

    .k-editor {
        @include appearance( header );

        .k-editable-area {
            @include appearance( input );
        }

        .k-resize-handle {
            border-color: $editor-resize-handle-border;
        }
    }

    .k-overlay {
        background-color: $editor-overlay-background;
    }

    // sass-lint:disable class-name-format
    .editorToolbarWindow.k-header.k-window-content {
        @include appearance( header );
    }
    // sass-lint:enable class-name-format
    // sass-lint:disable class-name-format
    .k-editor .k-editor-toolbar-wrap,
    .k-ct-popup .k-editor-toolbar,
    .editorToolbarWindow.k-header.k-window-content {
        a.k-tool {
            @include appearance( button );
            border-width: 0;
            background-image: none;
            background-color: transparent;

            &:hover,
            &.k-state-hover {
                @include appearance( hovered-button );
                text-decoration: none;
            }

            &:active,
            &.k-state-active {
                @include appearance( pressed-button );
                text-decoration: none;
            }

            &.k-state-selected {
                @include fill( $selected-text, $selected-bg, $selected-border, none );
            }
        }
        .k-tool-group {
            border-color: $border-color;
        }
    }
    // sass-lint:enable class-name-format


    // Overflow anchor
    .k-editor-toolbar .k-overflow-anchor {
        padding: $toolbar-padding-y;
        width: calc( #{$toolbar-inner-calc-size} );
        height: calc( #{$toolbar-inner-calc-size} );
    }
}