@import "~@progress/kendo-theme-default/scss/scrollview/theme";

@include exports("scrollview/theme/material") {
    $scrollview-text-opacity: .4 !default;
    $scrollview-padding-y: 10px !default;
    $scrollview-padding-x: $padding-y !default;

    .k-scrollview-next,
    .k-scrollview-prev {
        span {
            color: $base-text;

            &:hover {

                &::before {
                    background: rgba($base-bg, $scrollview-text-opacity);
                }
            }
        }
    }

    .k-scrollview-pageable {
        bottom: $scrollview-padding-y * 2;

        li.k-button {
            background: rgba(black, $scrollview-text-opacity);
            margin: $scrollview-padding-y $scrollview-padding-x;

            &.k-primary {
                background: $primary;
            }
        }
    }
}
