$button-border-color: darken($base, 10%) !default;
$button-background: saturate($base, 1%) !default;

$primary-background: lighten($accent, 7%) !default;
$primary-border-color: lighten($accent, 3%) !default;
$primary-hover-background: lighten($accent, 3%) !default;
$primary-focused-box-shadow: 0 0 3px 0 $accent !default;
$primary-active-background: desaturate($accent, 1%) !default;
$primary-disabled-background: lighten($accent, 18%) !default;

@include exports('button/component') {

@import '../base/states';
@import 'layout';

.button {
    background-color: $button-background;
    border-color: $button-border-color;
    color: $normal-text-color;

    &:hover,
    &.state-hover {
        background-color: $hover-background;
    }

    &:focus,
    &.state-focused {
        outline: 0;
    }

    &:active,
    &.state-active {
        background-color: $selected-background;
        border-color: $selected-background;
        color: $selected-text-color;
    }

    &[disabled],
    &.state-disabled,
    &.state-disabled:hover,
    &.state-disabled:active {
        background-color: $button-background;
        border-color: $disabled-border-color;
        color: $disabled-border-color;
    }
}

.primary {
    background-color: $primary-background;
    border-color: $primary-border-color;
    color: $selected-text-color;

    &:hover {
        background-color: $primary-hover-background;
    }

    &.state-focused {
        border-color: darken($primary-background, 10%);
        box-shadow: $primary-focused-box-shadow;
    }

    &:active {
        background-color: $primary-active-background;
    }

    &.state-disabled,
    &.state-disabled:hover,
    .state-disabled:active {
        background-color: $primary-disabled-background;
        border-color: $primary-disabled-background;
        color: $selected-text-color;
    }
}
}
