$button-border-color: darken($base, 10%) !default;
$button-background: saturate($base, 1%) !default;
$button-hover-border-color: darken($hover-background, 5%) !default;
$button-active-border-color: darken($selected-background, 5%) !default;

$primary-background: lighten($accent, 7%) !default;
$primary-border-color: lighten($accent, 3%) !default;
$primary-hover-background: lighten($accent, 3%) !default;
$primary-focused-box-shadow: 0 0 3px 0 $accent !default;
$primary-active-background: desaturate($accent, 1%) !default;
$primary-disabled-background: lighten($accent, 18%) !default;

@include exports('button/component') {

@import '../base/states';
@import 'layout';

.button {
    background-color: $button-background;
    border-color: $button-border-color;
    color: $normal-text-color;
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* IE/Edge */
    user-select: none;

    &:hover {
        background-color: $hover-background;
        border-color: $button-hover-border-color;
    }

    &:focus,
    &.state-focused {
        outline: 0;
    }

    &:active,
    &.state-active {
        background-color: $selected-background;
        border-color: $button-active-border-color;
        color: $selected-text-color;
    }

    &[disabled],
    &.state-disabled,
    &.state-disabled:hover,
    &.state-disabled:active,
    [disabled] &,
    .state-disabled &,
    .state-disabled &:hover,
    .state-disabled &:active {
        background-color: $button-background;
        border-color: $disabled-border-color;
        color: $disabled-border-color;
        cursor: default;
        outline: 0;
    }
}

.primary {
    background-color: $primary-background;
    border-color: $primary-border-color;
    color: $selected-text-color;

    &:hover {
        background-color: $primary-hover-background;
    }

    &.state-focused {
        border-color: darken($primary-background, 10%);
        box-shadow: $primary-focused-box-shadow;
    }

    &:active {
        background-color: $primary-active-background;
    }

    &.state-disabled,
    &.state-disabled:hover,
    .state-disabled:active {
        background-color: $primary-disabled-background;
        border-color: $primary-disabled-background;
        color: $selected-text-color;
    }
}

.button-group {
    border-radius: $border-radius;

    .button {
        border-radius: 0;

        &.group-start {
            border-radius: $border-radius 0 0 $border-radius;
        }

        &.group-end {
            border-radius: 0 $border-radius $border-radius 0;
        }

        &.group-start:last-child {
            border-radius: $border-radius;
        }
    }
}
}
