// Wizard

/// The horizontal padding of the Wizard.
/// @group wizard
$kendo-wizard-padding-x: null !default;
/// The vertical padding of the Wizard.
/// @group wizard
$kendo-wizard-padding-y: null !default;
/// The horizontal padding of the Wizard content.
/// @group wizard
$kendo-wizard-content-padding-x: null !default;
/// The vertical padding of the Wizard content.
/// @group wizard
$kendo-wizard-content-padding-y: null !default;
/// The horizontal margin of the Wizard's Button container.
/// @group wizard
$kendo-wizard-buttons-margin-x: null !default;

/// The border width of the Wizard.
/// @group wizard
$kendo-wizard-border-width: null !default;
/// The font size of the Wizard.
/// @group wizard
$kendo-wizard-font-size: null !default;
/// The line height of the Wizard.
/// @group wizard
$kendo-wizard-line-height: null !default;
/// The font family of the Wizard.
/// @group wizard
$kendo-wizard-font-family: null !default;

/// The outline of the focused Wizard step.
/// @group wizard
$kendo-wizard-step-focus-border: null !default;
