@include exports("multiselect/theme") {

    .k-multiselect {
        .k-multiselect-wrap {
            background-color: transparent;
            border-color: $multiselect-border;

            .k-input {
                color: $multiselect-text;
            }

            .k-select {
                opacity: $icon-opacity;
            }

            > .k-readonly {
                opacity: .6;
            }

            .k-button {
                box-shadow: none;
                background: transparent;

                // focused state
                &.k-state-focused,
                &:focus {
                    color: $multiselect-token-focused-text;
                    background: $multiselect-token-focused-bg;

                    &::before {
                        opacity: $multiselect-token-focused-opacity;
                    }

                    .k-select {
                        color: $multiselect-remove-focused-text;
                        background: $multiselect-remove-focused-bg;
                    }
                }

                // hover state
                &.k-state-hover,
                &:hover {
                    color: $multiselect-token-hover-text;
                    background-color: $multiselect-token-hover-bg;

                    .k-select {
                        color: $multiselect-token-hover-bg;
                        background: $multiselect-token-hover-text;
                    }
                }

                // Disabled state
                &.k-state-disabled {
                    color: $multiselect-token-disabled-text;
                }

                .k-select {
                    background-color: $multiselect-remove-bg;
                    color: $multiselect-remove-text;

                    &:hover {
                        background-color: $multiselect-remove-hover-bg;
                        color: $multiselect-remove-hover-text;
                    }
                }
            }

            // Hover
            &:hover,
            &.k-state-hover {
                border-color: $multiselect-hovered-border;

                .k-select {
                    opacity: $icon-hovered-opacity;
                }
            }

            // Focused
            &.k-state-focused {
                border-color: $multiselect-focused-border;

                .k-select {
                    opacity: $icon-focused-opacity;
                }
            }
        }

        &.k-state-focused {
            > .k-multiselect-wrap {
                border-color: $multiselect-focused-border;

                .k-select {
                    opacity: $icon-focused-opacity;
                }
            }
        }
    }

    .k-state-invalid,
    .ng-invalid.ng-touched,
    .ng-invalid.ng-dirty {
        > .k-multiselect-wrap {
            color: $forms-invalid-color;
            border-color: $invalid-border;
        }
    }
}
