// Multiselect
$multiselect-width: 100% !default;

$multiselect-bg: $kendo-input-bg !default;
$multiselect-text: $kendo-input-text !default;
$multiselect-border: $kendo-input-border !default;

$multiselect-hovered-bg: $kendo-input-hover-bg !default;
$multiselect-hovered-text: $kendo-input-hover-text !default;
$multiselect-hovered-border: $kendo-input-hover-border !default;

$multiselect-focused-bg: $kendo-input-focus-bg !default;
$multiselect-focused-text: $kendo-input-focus-text !default;
$multiselect-focused-border: $kendo-input-focus-border !default;
$multiselect-focused-shadow: $kendo-input-focus-shadow !default;

$multiselect-button-focused-bg: $kendo-button-active-bg !default;
$multiselect-button-focused-text: $kendo-button-active-text !default;
$multiselect-button-focused-border: $kendo-button-active-border !default;
$multiselect-button-focused-gradient: $kendo-button-active-gradient !default;
$multiselect-button-focused-shadow: $kendo-button-active-shadow !default;


// Tokens
// TODO: remove once we use chips
$multiselect-token-bg: $chip-solid-bg !default;
$multiselect-token-text: $chip-solid-text !default;
$multiselect-token-border: $chip-solid-border !default;

$multiselect-token-hover-bg: $chip-solid-hover-bg !default;
$multiselect-token-hover-text: null !default;
$multiselect-token-hover-border: null !default;

$multiselect-token-focus-bg: $chip-solid-focus-bg !default;
$multiselect-token-focus-text: null !default;
$multiselect-token-focus-border: null !default;

$multiselect-token-selected-bg: $chip-solid-selected-bg !default;
$multiselect-token-selected-text: null !default;
$multiselect-token-selected-border: null !default;

$multiselect-remove-token-text: $subtle-text !default;
$multiselect-remove-token-hover-text: $body-text !default;

$multiselect-clear-right: calc( #{$icon-size} + #{$kendo-input-padding-y} ) !default;
