@use "sass:map";
@use "../core/" as *;

/// Width of the border around the dialog.
/// @group dialog
$kendo-dialog-border-width: 0 !default;

/// The background color of the dialog title bar.
/// @group dialog
$kendo-dialog-titlebar-bg: var( --kendo-component-bg, initial ) !default;
/// The text color of the dialog title bar.
/// @group dialog
$kendo-dialog-titlebar-text: var( --kendo-component-text, initial ) !default;
/// The border color of the dialog title bar.
/// @group dialog
$kendo-dialog-titlebar-border: var( --kendo-component-border, initial ) !default;
/// Width of the border around the dialog title bar.
/// @group dialog
$kendo-dialog-titlebar-border-width: 0 !default;
/// Horizontal padding of the dialog title bar.
/// @group dialog
$kendo-dialog-titlebar-padding-x: map.get( $kendo-spacing, 6 ) !default;
/// Vertical padding of the dialog title bar.
/// @group dialog
$kendo-dialog-titlebar-padding-y: map.get( $kendo-spacing, 4 ) !default;

/// Horizontal padding of the content of the dialog.
/// @group dialog
$kendo-dialog-inner-padding-x: map.get( $kendo-spacing, 6 ) !default;
/// Vertical padding of the content of the dialog.
/// @group dialog
$kendo-dialog-inner-padding-y: map.get( $kendo-spacing, 3 ) !default;

/// Horizontal padding of the dialog action buttons.
/// @group dialog
$kendo-dialog-buttongroup-padding-x: map.get( $kendo-spacing, 6 ) !default; // $actions-padding-x
/// Vertical padding of the dialog action buttons.
/// @group dialog
$kendo-dialog-buttongroup-padding-y: map.get( $kendo-spacing, 6 ) !default; // $actions-padding-y
/// Width of the top border of the dialog action buttons.
/// @group dialog
$kendo-dialog-buttongroup-border-width: 0 !default;
/// Spacing between the action buttons of the dialog.
/// @group dialog
$kendo-dialog-buttongroup-spacing: map.get( $kendo-spacing, 3 ) !default;

/// Spacing between the buttons in the header of the dialog.
/// @group dialog
$kendo-dialog-button-spacing: map.get( $kendo-spacing, 2 ) !default; // $actions-padding-y

/// Box shadow around the dialog.
/// @group dialog
$kendo-dialog-shadow: var( --kendo-box-shadow-depth-4, none ) !default;

/// Theme variations for the dialog.
$kendo-dialog-brand-colors: (
    primary: primary
 ) !default;

// Matrix with dialog theme colors in the order: bg, color, border
$_tc-dialog-matrix: (
    (normal: (100, $white, 100)),
) !default;

$_tc-dialog-dark-matrix: (
    (normal: (160, $white, 160)),
) !default;

$_tc-dialog-light-matrix: (
    (normal: (50, 160, 50)),
) !default;

/// Theme colors map for the dialog variations.
$kendo-dialog-theme-colors: () !default;

@each $ui-states in $_tc-dialog-matrix {
    @each $brand-color, $palette in $kendo-dialog-brand-colors {
        $kendo-dialog-theme-colors: map.deep-merge(
            $kendo-dialog-theme-colors,
            generate-theme-variation( $brand-color, $palette, $ui-states )
        );
    };
}

@each $ui-states in $_tc-dialog-dark-matrix {
    $kendo-dialog-theme-colors: map.deep-merge(
        $kendo-dialog-theme-colors,
        generate-theme-variation( dark, neutral, $ui-states )
    );
}

@each $ui-states in $_tc-dialog-light-matrix {
    $kendo-dialog-theme-colors: map.deep-merge(
        $kendo-dialog-theme-colors,
        generate-theme-variation( light, neutral, $ui-states )
    );
}
