@include exports("datetime/layout") {

    // Datepicker
    .k-datepicker {

        // Compact
        @include compact {
            .k-input {
                padding: $input-padding-y-sm $input-padding-x-sm;
            }
            .k-select {
                padding: $button-padding-y-sm;
            }
        }
    }

    // Timepicker
    .k-timepicker {

        // Compact
        @include compact {
            .k-input {
                padding: $input-padding-y-sm $input-padding-x-sm;
            }
        }
    }

    // Datetimepicker
    .k-datetimepicker {

        .k-select {
            padding: 0;
            border-left-width: 0;
            align-items: stretch;
        }
        .k-link {
            padding: $button-padding-y;
            border-width: 0 0 0 1px;
            border-style: solid;
            border-color: inherit;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        // Compact
        @include compact {
            .k-input {
                padding: $input-padding-y-sm $input-padding-x-sm;
            }
            .k-link {
                padding: $button-padding-y-sm;
            }
        }

    }


    // Dateinput
    .k-dateinput {

        // Compact
        @include compact {
            .k-input {
                padding: $input-padding-y-sm $input-padding-x-sm;
            }
            .k-link {
                padding: 0 $button-padding-y-sm;
            }
        }

    }

}