@use "sass:map";
@use "../core/_index.scss" as *;

/// The default width of the signature component.
/// @group signature
$kendo-signature-width: 250px !default;
/// The default height of the signature component.
/// @group signature
$kendo-signature-height: 84px !default;
/// The default width of the maximized signature component.
/// @group signature
$kendo-signature-maximized-width: 750px !default;
/// The default height of the maximized signature component.
/// @group signature
$kendo-signature-maximized-height: 252px !default;
/// The horizontal paddings of the signature component.
/// @group signature
$kendo-signature-padding-x: k-spacing(1) !default;
$kendo-signature-sm-padding-x: $kendo-signature-padding-x !default;
$kendo-signature-md-padding-x: $kendo-signature-padding-x !default;
$kendo-signature-lg-padding-x: $kendo-signature-padding-x !default;
/// The vertical paddings of the signature component.
/// @group signature
$kendo-signature-padding-y: $kendo-signature-padding-x !default;
$kendo-signature-sm-padding-y: k-spacing(0.5) !default;
$kendo-signature-md-padding-y: k-spacing(1) !default;
$kendo-signature-lg-padding-y: k-spacing(1.5) !default;

/// The opacity of the disabled signature component.
/// @group signature
$kendo-signature-disabled-opacity: .3 !default;

/// The bottom-border width of the row line of the signature component.
/// @group signature
$kendo-signature-line-width: 1px !default;
/// The border style of the row line of the signature component.
/// @group signature
$kendo-signature-line-style: dashed !default;
/// The color of the row line of the signature component.
/// @group signature
$kendo-signature-line-color: if($kendo-enable-color-system, color-mix(in srgb, k-color( info ) 40%, transparent), rgba( k-get-theme-color( info, 100 ), .4 )) !default;
/// The color of the row line of the disabled signature component.
/// @group signature
$kendo-signature-line-disabled-color: if($kendo-enable-color-system, color-mix(in srgb, k-color( on-app-surface ) 28%, transparent), k-get-theme-color-var( neutral-60 )) !default;
/// The width of the row line of the signature component.
/// @group signature
$kendo-signature-line-size: calc( 100% - 2 * #{$kendo-signature-padding-x} ) !default;
$kendo-signature-sm-line-size: calc( 100% - 2 * #{$kendo-signature-sm-padding-x} ) !default;
$kendo-signature-md-line-size: calc( 100% - 2 * #{$kendo-signature-md-padding-x} ) !default;
$kendo-signature-lg-line-size: calc( 100% - 2 * #{$kendo-signature-lg-padding-x} ) !default;
/// The bottom offset of the row line of the signature component.
/// @group signature
$kendo-signature-line-bottom-offset: 33% !default;

/// The sizes map of the signature component.
/// @group signature
$kendo-signature-sizes: (
    sm: (
        padding-x: $kendo-signature-sm-padding-x,
        padding-y: $kendo-signature-sm-padding-y,
        line-size: $kendo-signature-sm-line-size
    ),
    md: (
        padding-x: $kendo-signature-md-padding-x,
        padding-y: $kendo-signature-md-padding-y,
        line-size: $kendo-signature-md-line-size
    ),
    lg: (
        padding-x: $kendo-signature-lg-padding-x,
        padding-y: $kendo-signature-lg-padding-y,
        line-size: $kendo-signature-lg-line-size
    )
) !default;

/// The gap between individual action items of the signature component
/// @group signature
$kendo-signature-actions-gap: k-spacing(1) !default;

/// The bottom-border width of the row line of the maximized signature component.
/// @group signature
$kendo-signature-maximized-line-width: 3px !default;

/// The min-height of the large size signature component.
/// @group signature
$kendo-signature-lg-min-height: 110px !default;
