@use "sass:map";
@use "../core/_index.scss" as *;

/// The font family of the TreeView.
/// @group treeview
$kendo-treeview-font-family: var( --kendo-font-family, normal ) !default;
/// The font size of the small TreeView.
/// @group treeview
$kendo-treeview-sm-font-size: var( --kendo-font-size, inherit ) !default;
/// The font size of the medium TreeView.
/// @group treeview
$kendo-treeview-md-font-size: var( --kendo-font-size, inherit ) !default;
/// The font size of the large TreeView.
/// @group treeview
$kendo-treeview-lg-font-size: var( --kendo-font-size, inherit ) !default;
/// The line height of the small TreeView.
/// @group treeview
$kendo-treeview-sm-line-height: var( --kendo-line-height, normal ) !default;
/// The line height of the medium TreeView.
/// @group treeview
$kendo-treeview-md-line-height: var( --kendo-line-height, normal ) !default;
/// The line height of the large TreeView.
/// @group treeview
$kendo-treeview-lg-line-height: var( --kendo-line-height, normal ) !default;
/// The indentation of child groups in the TreeView.
/// @group treeview
$kendo-treeview-indent: k-spacing(6) !default;

/// The horizontal padding of the small TreeView items.
/// @group treeview
$kendo-treeview-sm-item-padding-x: k-spacing(2) !default;
/// The horizontal padding of the medium TreeView items.
/// @group treeview
$kendo-treeview-md-item-padding-x: k-spacing(2) !default;
/// The horizontal padding of the large TreeView items.
/// @group treeview
$kendo-treeview-lg-item-padding-x: k-spacing(2) !default;
/// The vertical padding of the small TreeView items.
/// @group treeview
$kendo-treeview-sm-item-padding-y: k-spacing(1.5) !default;
/// The vertical padding of the medium TreeView items.
/// @group treeview
$kendo-treeview-md-item-padding-y: k-spacing(2) !default;
/// The vertical padding of the large TreeView items.
/// @group treeview
$kendo-treeview-lg-item-padding-y: k-spacing(2.5) !default;
/// The border width of the TreeView items.
/// @group treeview
$kendo-treeview-item-border-width: 0 !default;
/// The border radius of the TreeView items.
/// @group treeview
$kendo-treeview-item-border-radius: k-border-radius(md) !default;

/// The horizontal padding of the TreeViews' filter element.
/// @group treeview
$kendo-treeview-filter-padding-x: k-spacing(2) !default;
/// The vertical padding of the TreeViews' filter element.
/// @group treeview
$kendo-treeview-filter-padding-y: k-spacing(2) !default;


/// The sizes map of the TreeView.
/// @group treeview
$kendo-treeview-sizes: (
    sm: (
        font-size: $kendo-treeview-sm-font-size,
        line-height: $kendo-treeview-sm-line-height,
        item-padding-x: $kendo-treeview-sm-item-padding-x,
        item-padding-y: $kendo-treeview-sm-item-padding-y
    ),
    md: (
        font-size: $kendo-treeview-md-font-size,
        line-height: $kendo-treeview-md-line-height,
        item-padding-x: $kendo-treeview-md-item-padding-x,
        item-padding-y: $kendo-treeview-md-item-padding-y
    ),
    lg: (
        font-size: $kendo-treeview-lg-font-size,
        line-height: $kendo-treeview-lg-line-height,
        item-padding-x: $kendo-treeview-lg-item-padding-x,
        item-padding-y: $kendo-treeview-lg-item-padding-y
    )
) !default;


/// The background color of the TreeView.
/// @group treeview
$kendo-treeview-bg: transparent !default;
/// The text color of the TreeView.
/// @group treeview
$kendo-treeview-text: var( --kendo-component-text, inherit ) !default;
/// The border color of the TreeView.
/// @group treeview
$kendo-treeview-border: inherit !default;

/// The background color of the TreeView items.
/// @group treeview
$kendo-treeview-item-bg: transparent !default;
/// The text color of the TreeView items.
/// @group treeview
$kendo-treeview-item-text: var( --kendo-component-text, inherit ) !default;
/// The border color of the TreeView items.
/// @group treeview
$kendo-treeview-item-border: inherit !default;

/// The background color of hovered TreeView items.
/// @group treeview
$kendo-treeview-item-hover-bg: var( --kendo-hover-bg, inherit ) !default;
/// The text color of hovered TreeView items.
/// @group treeview
$kendo-treeview-item-hover-text: var( --kendo-hover-text, inherit ) !default;
/// The border color of hovered TreeView items
/// @group treeview
$kendo-treeview-item-hover-border: inherit !default;

/// The background color of focused TreeView items.
/// @group treeview
$kendo-treeview-item-focus-bg: $kendo-treeview-item-bg !default;
/// The text color of focused TreeView items.
/// @group treeview
$kendo-treeview-item-focus-text: $kendo-treeview-item-text !default;
/// The border color of focused TreeView items.
/// @group treeview
$kendo-treeview-item-focus-border: $kendo-treeview-item-border !default;
/// The box shadow of focused TreeView items.
/// @group treeview
$kendo-treeview-item-focus-shadow: inset 0 0 0 1px if($kendo-enable-color-system, k-color( base-emphasis ), k-get-theme-color-var( neutral-130 )) !default;

/// The background color of selected TreeView items.
/// @group treeview
$kendo-treeview-item-selected-bg: var( --kendo-selected-bg, inherit ) !default;
/// The text color of selected TreeView items.
/// @group treeview
$kendo-treeview-item-selected-text: var( --kendo-selected-text, inherit ) !default;
/// The border color of selected TreeView items.
/// @group treeview
$kendo-treeview-item-selected-border: inherit !default;

/// The background color of disabled TreeView items.
/// @group treeview
$kendo-treeview-item-disabled-bg: $kendo-treeview-item-bg !default;
/// The text color of disabled TreeView items.
/// @group treeview
$kendo-treeview-item-disabled-text: var( --kendo-disabled-text, inherit ) !default;
/// The border color of disabled TreeView items.
/// @group treeview
$kendo-treeview-item-disabled-border: inherit !default;

/// The background color of the Load More button in the TreeView
/// @group treeview
$kendo-treeview-loadmore-bg: transparent !default;
/// The text color of the Load More button in the TreeView
/// @group treeview
$kendo-treeview-loadmore-text: var( --kendo-link-text, initial ) !default;
/// The border color of the Load More button in the TreeView
/// @group treeview
$kendo-treeview-loadmore-border: inherit !default;

/// The background color of the hovered Load More button in the TreeView
/// @group treeview
$kendo-treeview-loadmore-hover-bg: transparent !default;
/// The text color of the hovered Load More button in the TreeView.
/// @group treeview
$kendo-treeview-loadmore-hover-text: var( --kendo-link-hover-text, initial ) !default;
/// The border color of the hovered Load More button in the TreeView.
/// @group treeview
$kendo-treeview-loadmore-hover-border: inherit !default;

/// The background color of the focused Load More button in the TreeView.
/// @group treeview
$kendo-treeview-loadmore-focus-bg: transparent !default;
/// The text color of the focused Load More button in the TreeView.
/// @group treeview
$kendo-treeview-loadmore-focus-text: var( --kendo-link-hover-text, initial ) !default;
/// The border color of the focused Load More button in the TreeView.
/// @group treeview
$kendo-treeview-loadmore-focus-border: inherit !default;
/// The box shadow of the focused Load More button in the TreeView.
/// @group treeview
$kendo-treeview-loadmore-focus-shadow: $kendo-treeview-item-focus-shadow !default;

/// The padding of the checkbox wrapper in the TreeView.
/// @group treeview
$kendo-treeview-checkbox-wrap-padding: k-spacing(.5) !default;
