@mixin kendo-utils--responsive-layout--col-sizes() {

    $_fraction-classes: (('91-6', 91.6666%), ('83-3', 83.3333%), ('66-6', 66.6666%), ('58-3', 58.3333%), ('41-6', 41.6666%), ('33-3', 33.3333%), ('16-7', 16.6666%), ('14-3', 14.2857%), ('12-5', 12.5%), ('11-1', 11.1111%), ('9-1', 9.0909%), ('8-3', 8.3333%));

    // Column Sizes
    @for $i from 1 through 100 {
	    .k-col-size-#{$i} {
            flex: 0 0 auto;
            width: $i * 1%;
        }
	}

    @each $i, $n in $_fraction-classes {
        .k-col-size-#{$i} {
            flex: 0 0 auto;
            width: $n;
        }
    }

    @each $key, $val in $kendo-breakpoints {
        @include kendo-breakpoint-up($key) {
            @for $i from 1 through 100 {
                .k-col-#{$key}-size-#{$i} {
                    flex: 0 0 auto;
                    width: $i * 1%;
                }
            }
        }

        @each $i, $n in $_fraction-classes {
            .k-col-#{$key}-size-#{$i} {
                flex: 0 0 auto;
                width: $n;
            }
        }
    }

}