@mixin kendo-appbar--theme-base() {

    .k-appbar {
        @include box-shadow( $kendo-appbar-box-shadow );
    }
    .k-appbar-bottom {
        @include box-shadow( $kendo-appbar-bottom-box-shadow );
    }


    // AppBar theme colors
    @each $name, $color in $kendo-theme-colors {
        .k-appbar-#{$name} {
            @if $name == "light" {
                color: $kendo-appbar-light-text;
                background-color: $kendo-appbar-light-bg;
            } @else if $name == "dark" {
                color: $kendo-appbar-dark-text;
                background-color: $kendo-appbar-dark-bg;
            } @else {
                color: k-contrast-legacy( $color );
                background-color: $color;
            }
        }
    }

}


@mixin kendo-appbar--theme() {
    @include kendo-appbar--theme-base();
}
