@use "../utils/index.scss" as *;

// Module meta
$_kendo-module-meta: (
    name: "grid",
    dependencies: (
        "action-buttons",
        "autocomplete",
        "badge",
        "button",
        "checkbox",
        "chip",
        "date-time-picker",
        "dialog",
        "dropdown-list",
        "icon",
        "input",
        "list",
        "menu",
        "numerictextbox",
        "pager",
        "progressbar",
        "radio",
        "skeleton",
        "table",
        "tabstrip",
        "textbox",
        "toolbar",
        "validator",
        // "utils/layout/float"
    )
);


// Component
@forward "./_variables.scss";
@use "./_layout.scss" as *;
@use "./_theme.scss" as *;

// Register
@use "../core/module-system/index.scss" as module;
@include module.register( $_kendo-module-meta... );

// Expose
@mixin grid-styles() {
    @include module.render( "grid" ) {
        @include kendo-grid--layout();
        @include kendo-grid--theme();
        @include kendo-utils--interactivity--touch-action();
        @include kendo-utils--interactivity--cursor();
        @include kendo-utils--layout--display();
    }
}
