@import '../base/states';
@import './layout';

$switch-on-color: $accent !default;
$switch-off-color: darken($base, 48%) !default;
$switch-background: $normal-background !default;
$switch-border-color: rgba(0, 0, 0, .08) !default;
$switch-border-radius: ($switch-size / 2) !default;
$switch-box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, .06) !default;
$switch-handle-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .06) !default;
$switch-handle-gradient: darken($background, 4%), darken($background, 5%) !default;
$switch-hover-border-color: rgba(0, 0, 0, .15) !default;
$switch-hover-on-handle-gradient: adjust-hue($accent, 7), adjust-hue($accent, 4) !default;
$switch-hover-on-handle-border-color: adjust-hue($accent, 3) !default;
$switch-hover-off-handle-gradient: darken($background, 7%), darken($background, 9%) !default;
$switch-focus-box-shadow: 0 0 0 2px rgba(0, 0, 0, .06) !default;

@include exports('switch/component') {
    .switch,
    .switch-wrapper,
    .switch-container {
        border-radius: $switch-border-radius;
    }

    .switch-container,
    .switch-wrapper {
        border-color: $switch-border-color;

        &:hover {
            border-color: $switch-hover-border-color;
        }
    }

    .switch-container {
        box-shadow: $switch-box-shadow;
    }

    .switch-wrapper {
        background-color: $switch-background;
    }

    .switch-background {
        background-position: 4.3em 0;
        background-repeat: no-repeat;
    }

    .switch-handle {
        background-color: $switch-background;
        background-image: linear-gradient($switch-handle-gradient);
        border-color: $switch-border-color;
        box-shadow: $switch-handle-box-shadow;
        border-radius: 50%;
    }

    .switch-on,
    .switch-off {
        color: $switch-background;
    }

    .switch-on {
        .switch-handle {
            background: $accent;
            border-color: $accent;
        }

        &:hover {
            .switch-handle {
                background-color: $accent;
                background-image: linear-gradient($switch-hover-on-handle-gradient);
                border-color: $switch-hover-on-handle-border-color;
            }
        }
    }

    .switch-off {
        &:hover {
            .switch-handle {
                background-image: linear-gradient($switch-hover-off-handle-gradient);
                border-color: $switch-hover-border-color;
            }
        }

        &:focus {
            .switch-handle {
                background-image: linear-gradient($switch-handle-gradient);
            }
        }
    }

    .switch-label-on {
        color: $switch-on-color;
        background-color: transparent;
    }

    .switch-label-off {
        color: $switch-off-color;
    }

    .switch {
        &:focus {
            box-shadow: $switch-focus-box-shadow;
            outline: none;

            .switch-container,
            .switch-wrapper {
                border-color: $switch-hover-border-color;
            }
        }

        &.state-disabled {
            cursor: auto;

            .switch-container,
            .switch-wrapper {
                border-color: $switch-border-color;
                box-shadow: none;
            }

            &:focus {
                box-shadow: none;
            }

            .switch-handle {
                background-image: linear-gradient($switch-handle-gradient);
                border-color: $switch-border-color;
            }

            &.switch-on {
                .switch-handle {
                    background: $accent;
                    border-color: $accent;
                    opacity: .5;
                }
            }
        }
    }
}
