// Skeleton

$kendo-skeleton-text-transform: null !default;
$kendo-skeleton-text-border-radius: null !default;

$kendo-skeleton-rect-border-radius: null !default;

$kendo-skeleton-circle-border-radius: null !default;

$kendo-skeleton-item-bg: null !default;

$kendo-skeleton-wave-bg: null !default;
