@use "../core/_index.scss" as *;

/// The border radius of the floating Toolbar.
/// @group floating-toolbar
$kendo-floating-toolbar-border-radius: k-border-radius(xxl) !default;
/// The sticky offset of the floating Toolbar.
/// @group floating-toolbar
$kendo-floating-toolbar-sticky-offset: 0 !default;

@forward "@progress/kendo-theme-core/scss/components/floating-toolbar/_variables.scss" with (
    $kendo-floating-toolbar-border-radius: $kendo-floating-toolbar-border-radius,
    $kendo-floating-toolbar-sticky-offset: $kendo-floating-toolbar-sticky-offset
);
