@use "../../mixins/index.import.scss" as *;
@use "./variables.scss" as *;

@mixin kendo-listview--theme-base() {

    // Listview
    .k-listview {
        color: $kendo-listview-text;
        background-color: $kendo-listview-bg;
        border-color: $kendo-listview-border;
    }

    // Listview content
    .k-listview-content {

        > .k-focus {
            color: $kendo-listview-item-focus-text;
        background-color: $kendo-listview-item-focus-bg;
        border-color: $kendo-listview-item-focus-border;
            box-shadow: inset $kendo-listview-item-focus-shadow;
        }

        > .k-selected {
            color: $kendo-listview-item-selected-text;
        background-color: $kendo-listview-item-selected-bg;
        border-color: $kendo-listview-item-selected-border;
        }

    }

    // List item
    .k-listview-item {
        border-color: $kendo-listview-border;
    }

}

@mixin kendo-listview--theme() {
    @include kendo-listview--theme-base();
}
