@import "~@progress/kendo-theme-default/scss/list/_layout.scss";

@include exports( "list/layout/material" ) {

    .k-list-container {

        .k-button {
            box-shadow: none;

            &::before {
                display: none;
            }
        }

        .k-list__group-header { // sass-lint:disable-line class-name-format
            min-height: auto;
            line-height: inherit;
        }

    }

}
