// List
$list-font-size: $font-size !default;
$list-line-height: 1.5 !default;
$list-line-height-em: 1.5em !default;

$list-item-padding-x: map-get( $spacing, 4 ) !default;
$list-item-padding-y: map-get( $spacing, 1 ) !default;

$list-item-bg: null !default;
$list-item-text: $component-text !default;

$list-item-hovered-bg: $hovered-bg !default;
$list-item-hovered-text: $hovered-text !default;

$list-item-selected-bg: $component-bg !default;
$list-item-selected-text: $secondary !default;

$list-item-focused-shadow: null !default;

$list-container-shadow: null !default;
$list-container-no-data-text: $subtle-text !default;
