@include exports("combobox/layout") {

    .k-combobox {}

    .k-combobox-clearable {
        .k-input {
            padding-right: calc( #{$icon-size} + #{$padding-x} );
        }

        &[dir="rtl"],
        .k-rtl & {
            .k-input {
                padding-left: calc( #{$icon-size} + #{$padding-x} );
                padding-right: $input-padding-x;
            }
        }
    }
}
