@use "./_variables.scss" as *;

@mixin kendo-avatar--layout() {

    // Avatar
    .k-avatar {
        border-width: 0;
        border-style: solid;
        box-sizing: border-box;
        vertical-align: middle;
        display: inline-flex;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        overflow: hidden;

        *,
        *::before,
        *::after {
            box-sizing: border-box;
        }
    }


    // Avatar text
    .k-avatar-text,
    .k-avatar-initials {
        font-size: var( --kendo-avatar-font-size, #{$kendo-avatar-font-size} );
        font-family: var( --kendo-avatar-font-family, #{$kendo-avatar-font-family} );
        line-height: var( --kendo-avatar-line-height, #{$kendo-avatar-line-height} );
    }


    // Avatar icon
    .k-avatar-icon {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
    }


    // Avatar image
    .k-avatar-image {
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        > img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            vertical-align: top;
        }
    }


    // Sizes
    @each $name, $size in $kendo-avatar-sizes {
        .k-avatar-#{$name} {
            width: var( --kendo-avatar-#{$name}-size, #{$size} );
            height: var( --kendo-avatar-#{$name}-size, #{$size} );
            flex-basis: var( --kendo-avatar-#{$name}-size, #{$size} );
        }
    }

    // Shapes
    .k-avatar-square {}

    // Bordered
    .k-avatar-bordered {
        border-width: var( --kendo-avatar-border-width, #{$kendo-avatar-border-width} );
    }

}
