@use "sass:map";
@use "../core/_index.scss" as *;
@use "../button/_variables.scss" as *;
@use "../core/spacing/_index.scss" as *;

/// The font size of the Map.
/// @group map
$kendo-map-font-size: var( --kendo-font-size, inherit ) !default;
/// The line height of the Map.
/// @group map
$kendo-map-line-height: var( --kendo-line-height, normal ) !default;
/// The font family of the Map.
/// @group map
$kendo-map-font-family: var( --kendo-font-family, normal ) !default;

/// The background color of the Map.
/// @group map
$kendo-map-bg: var( --kendo-component-bg, transparent ) !default;
/// The text color of the Map.
/// @group map
$kendo-map-text: var( --kendo-component-text, inherit ) !default;
/// The border color of the Map.
/// @group map
$kendo-map-border: if($kendo-enable-color-system, k-color( border ), k-get-theme-color-var( neutral-110 )) !default;

/// The border width of the Map.
/// @group map
$kendo-map-border-width: 0px !default;
/// The height of the Map.
/// @group map
$kendo-map-height: 600px !default;

/// The horizontal margin of the Map navigator.
/// @group map
$kendo-map-navigator-margin-x: k-spacing(4) !default;
/// The vertical margin of the Map navigator.
/// @group map
$kendo-map-navigator-margin-y: k-spacing(4) !default;
/// The padding of the Map navigator.
/// @group map
$kendo-map-navigator-padding: k-spacing(0.5) !default;
/// The width of the Map navigator.
/// @group map
$kendo-map-navigator-width: calc( var( --kendo-icon-size, 1rem) * 3 + calc( #{$kendo-map-navigator-padding} * 2) ) !default;
/// The height of the Map navigator.
/// @group map
$kendo-map-navigator-height: $kendo-map-navigator-width !default;
/// The border width of the Map navigator.
/// @group map
$kendo-map-navigator-border-width: 1px !default;
/// The background color of the Map navigator.
/// @group map
$kendo-map-navigator-bg: if($kendo-enable-color-system, k-color( app-surface ), $kendo-color-white) !default;
/// The text color of the Map navigator.
/// @group map
$kendo-map-navigator-text: if($kendo-enable-color-system, k-color( on-app-surface ), k-get-theme-color-var( neutral-190 )) !default;
/// The border color of the Map navigator.
/// @group map
$kendo-map-navigator-border: if($kendo-enable-color-system, k-color( border ), k-get-theme-color-var( neutral-110 )) !default;

/// The margin of the Map zoom control.
/// @group map
$kendo-map-zoom-control-margin: k-spacing(4) !default;
/// The horizontal padding of the Map zoom control.
/// @group map
$kendo-map-zoom-control-button-padding-x: $kendo-button-md-padding-y !default;
/// The vertical padding of the Map zoom control.
/// @group map
$kendo-map-zoom-control-button-padding-y: $kendo-map-zoom-control-button-padding-x !default;

/// The horizontal padding of the Map attribution.
/// @group map
$kendo-map-attribution-padding-x: k-spacing(1) !default;
/// The vertical padding of the Map attribution.
/// @group map
$kendo-map-attribution-padding-y: k-spacing(0.5) !default;
/// The font size of the Map attribution.
/// @group map
$kendo-map-attribution-font-size: calc( #{$kendo-map-font-size} * .75 ) !default;
/// The background color of the Map attribution.
/// @group map
$kendo-map-attribution-bg: if($kendo-enable-color-system, k-color( app-surface ), $kendo-color-white) !default;

/// The fill color of the Map marker.
/// @group map
$kendo-map-marker-fill: if($kendo-enable-color-system, k-color( primary ), k-get-theme-color-var( primary-100 )) !default;
