@import "../core/_index.scss";
@import "../utils/_index.scss";


// Module meta
$_kendo-module-meta: (
    name: "date-time-picker",
    dependencies: (
        "calendar",
        "date-input",
        "date-picker",
        "icon",
        "input",
        "list",
        "popup",
        "time-selector",
    )
);


// Dependencies
@import "../input/_index.scss";
@import "../button/_index.scss";
@import "../popup/_index.scss";
@import "../list/_index.scss";
@import "../calendar/_index.scss";
@import "../timeselector/_index.scss";
@import "../action-buttons/_index.scss";


// Component
@import "./_variables.scss";
@import "./_layout.scss";
@import "./_theme.scss";


// Register
@import "../core/module-system/index.import.scss";
@include module-register( $_kendo-module-meta... );


// Expose
@mixin kendo-date-time-picker--styles() {
    @include module-render( "date-time-picker" ) {
        @include kendo-date-time-picker--layout();
        @include kendo-date-time-picker--theme();
    }
}

@if $kendo-auto-bootstrap {
    @include kendo-date-time-picker--styles();
}
