// Editor

$kendo-editor-border-width: null !default;
$kendo-editor-font-family: null !default;
$kendo-editor-font-size: null !default;
$kendo-editor-line-height: null !default;

$kendo-editor-placeholder-text: null !default;
$kendo-editor-placeholder-opacity: null !default;

$kendo-editor-selected-text: null !default;
$kendo-editor-selected-bg: null !default;

$kendo-editor-highlighted-bg: null !default;

$kendo-editor-export-tool-icon-margin-x: null !default;

$kendo-editor-resize-handle-size: null !default;
$kendo-editor-resize-handle-border-width: null !default;
$kendo-editor-resize-handle-border: null !default;
$kendo-editor-resize-handle-bg: null !default;

$kendo-editor-selectednode-outline-width: null !default;
$kendo-editor-selectednode-outline-color: null !default;

$kendo-editor-inline-padding-x: null !default;
$kendo-editor-inline-padding-y: null !default;

$kendo-editor-filebrowser-tiles-padding-x: null !default;
$kendo-editor-filebrowser-tiles-padding-y: null !default;

$kendo-editor-content-padding: null !default;

$kendo-editor-ct-cell-text: null !default;
$kendo-editor-ct-cell-bg: null !default;
$kendo-editor-ct-cell-border: null !default;
