// Module meta
$_kendo-module-meta: (
    name: "rating",
    dependencies: ()
);


// Component
@import "./_variables.scss";
@import "./_layout.scss";
@import "./_theme.scss";


// Register
@include module-register( $_kendo-module-meta... );


// Expose
@mixin rating-styles() {
    @include module-render( "rating" ) {
        @include kendo-rating--layout();
        @include kendo-rating--extended-layout();
        @include kendo-rating--theme();
        @include kendo-rating--extended-theme();
    }
}
