<!doctype html>
<html lang="en" class="k-no-animations" style="--kendo-scrollbar-width: 15px;">
<head>
    <title>Document</title>
    <meta charset="utf-8">
    <link rel="stylesheet" data-role="kendo-theme" href="/packages/default/dist/all.css">
    <link rel="stylesheet" href="/packages/html/assets/styles.css">
    <script src="/packages/html/assets/scripts.js"></script>
</head>
<body id="app" class="k-body">
    <div class="k-expander k-expanded">
        <div class="k-expander-header">
            <div class="k-expander-title"></div>
            <span class="k-spacer"></span>
            <div class="k-expander-sub-title"></div>
            <span class="k-expander-indicator">
                <span class="k-icon k-svg-icon k-svg-i-chevron-up">
                    <svg aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                        <path d="m129.941 353.941 126.06-126.06 126.061 126.06L416 320 256.001 160 96 320z"></path>
                    </svg>
                </span>
            </span>
        </div>
        <div class="k-expander-content-wrapper">
            <div class="k-expander-content">
                <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.</span>
            </div>
        </div>
    </div>
</body>
</html>
