---
title: Customization
description: "Refer to the list of the Kendo UI {{ meta.friendlyName }} theme variables available for customization."
slug: variables_kendotheme{{ meta.name }}
position: 9
---

# Customization

{% if functions.length -%}
## Functions

{% include "./includes/functions.md.njk" %}
{%- endif %}


{% if variableGroups.length -%}
## Variables

The following table lists the available variables for customizing the {{ meta.friendlyName }} theme.

{% include "./includes/variables.md.njk" %}
{%- endif %}


{% if mixins.length -%}
## Mixins

{% include "./includes/mixins.md.njk" %}
{%- endif %}


{% if css.length -%}
## Classnames

{% include "./includes/css.md.njk" %}
{%- endif %}

{%- include "./includes/suggested-links.md.njk" -%}
