@use "../core/_index.scss" as *;
@use "../typography/variables.scss" as *;
@use "./_variables.scss" as *;
@use "@progress/kendo-theme-core/scss/components/card/_layout.scss" as *;

@mixin kendo-card--layout() {
    @include kendo-card--layout-base();

    .k-card:focus,
    .k-card.k-focus {
        outline-width: 2px;
        outline-style: solid;
    }

    @at-root .k-card-title + .k-card-subtitle {
        margin-block-start: calc( #{$kendo-card-title-margin-bottom} * -1 );
    }

    // Header
    .k-card-header {
        font-size: $kendo-card-header-font-size;
        font-family: $kendo-card-header-font-family;
        line-height: $kendo-card-header-line-height;
        font-weight: $kendo-card-title-font-weight;
        margin: 0;

        .k-card-title + .k-card-subtitle,
        .k-card-subtitle + .k-card-subtitle {
            margin: 0;
        }
    }

}
