$slider-trackbackground-color: darken($widget-bg, 10%) !default;
$slider-selection-background-color: $accent !default;
$slider-disabled-bg: $input-disabled-bg !default;

@include exports('slider/theme') {
    $draghandle-focus-shadow: 0 0 0 11px rgba($accent, .25) !default;

    .k-slider {
        cursor: pointer;
        .k-slider-track,
        .k-slider-selection {
            border-radius: 0;
        }

        .k-slider-track {
            background-color: $slider-trackbackground-color;
        }
        .k-slider-selection {
            background-color: $slider-selection-background-color;
        }
        .k-tick {
            &::after {
                background: $base-text;
            }
        }

        .k-button {
            @include border-radius( 50% );
            &:hover,
            &.k-state-hover {
                &::before {
                    opacity: 0;
                }
            }
        }

        .k-draghandle {
            @include appearance( primary-button );
            @include border-radius( 50% );
            box-sizing: border-box;
            &:hover {
                @include appearance( hovered-primary-button );
            }
            &:focus {
                box-shadow: $draghandle-focus-shadow;
            }
        }

        &.k-state-disabled {
            opacity: 1;
            .k-slider-track,
            .k-slider-selection,
            .k-draghandle {
                background-color: $slider-disabled-bg;
            }

            .k-draghandle {
                border: 2px solid inherit;
            }
        }
    }
}
