@include exports( "mediaplayer/theme" ) {

    // Theme
    .k-mediaplayer {
        @include fill(
            $mediaplayer-text,
            $mediaplayer-bg,
            $mediaplayer-border
        );
    }


    // Title bar
    .k-mediaplayer-titlebar {
        color: $mediaplayer-titlebar-text;
        background-image: linear-gradient( $mediaplayer-titlebar-gradient );
        text-shadow: 0 0 2px rgba( $mediaplayer-text, .5 );
    }

}
