@use "../core/_index.scss" as *;

// Message box
/// The margin of the MessageBox.
/// @group messagebox
$kendo-message-box-margin: 0 0 k-spacing(4) 0 !default;
/// The horizontal padding of the MessageBox.
/// @group messagebox
$kendo-message-box-padding-x: k-spacing(2) !default;
/// The vertical padding of the MessageBox.
/// @group messagebox
$kendo-message-box-padding-y: k-spacing(1) !default;
/// The width of the border around the MessageBox.
/// @group messagebox
$kendo-message-box-border-width: 0 0 0 4px !default;

/// The font size of the MessageBox.
/// @group messagebox
$kendo-message-box-font-size: var( --kendo-font-size, inherit ) !default;
/// The line height of the MessageBox.
/// @group messagebox
$kendo-message-box-line-height: var( --kendo-line-height, normal ) !default;

/// The background color level of the MessageBox.
/// @group messagebox
$kendo-message-box-bg-level: -10 !default;
/// The text color level of the MessageBox.
/// @group messagebox
$kendo-message-box-text-level: 6 !default;
/// The border color level of the MessageBox.
/// @group messagebox
$kendo-message-box-border-level: -9 !default;

/// The font style of the MessageBox link.
/// @group messagebox
$kendo-message-box-link-font-style: italic !default;
/// The text decoration of the MessageBox link.
/// @group messagebox
$kendo-message-box-link-text-decoration: underline !default;

/// The theme colors map for the MessageBox.
/// @group messagebox
$kendo-message-box-theme-colors: (
    "primary": k-color(primary),
     "secondary": k-color(secondary),
     "tertiary": k-color(tertiary),
     "info": k-color(info),
     "success": k-color(success),
     "warning": k-color(warning),
     "error": k-color(error),
     "dark": k-color(dark),
     "light": k-color(light),
     "inverse": if($kendo-is-dark-theme, k-color(light), k-color(dark)),
) !default;

@forward "@progress/kendo-theme-core/scss/components/messagebox/_variables.scss" with (
    $kendo-message-box-margin: $kendo-message-box-margin,
    $kendo-message-box-padding-x: $kendo-message-box-padding-x,
    $kendo-message-box-padding-y: $kendo-message-box-padding-y,
    $kendo-message-box-border-width: $kendo-message-box-border-width,
    $kendo-message-box-font-size: $kendo-message-box-font-size,
    $kendo-message-box-line-height: $kendo-message-box-line-height,
    $kendo-message-box-bg-level: $kendo-message-box-bg-level,
    $kendo-message-box-text-level: $kendo-message-box-text-level,
    $kendo-message-box-border-level: $kendo-message-box-border-level,
    $kendo-message-box-link-font-style: $kendo-message-box-link-font-style,
    $kendo-message-box-link-text-decoration: $kendo-message-box-link-text-decoration,
    $kendo-message-box-theme-colors: $kendo-message-box-theme-colors
);
