// Module meta
$_kendo-module-meta: (
    name: "ripple",
    dependencies: ()
);


// Component
@import "_variables.scss";
@import "_layout.scss";
@import "_theme.scss";


// Register
@include register-module( $_kendo-module-meta... ) {
    @include kendo-ripple--core-layout();
    @include kendo-ripple--extended-layout();
    @include kendo-ripple--core-theme();
    @include kendo-ripple--extended-theme();
}
