@mixin kendo-appbar--theme() {

    // Appbar
    .k-appbar {
        background-color: var( --kendo-appbar-bg );
        color: var( --kendo-appbar-text );
        border-color: var( --kendo-appbar-border );
        box-shadow: var( --kendo-appbar-box-shadow );
    }


    // Theme
    @each $variant, $theme-props in $kendo-appbar-theme {
        $suffix: if( $variant == DEFAULT, "", "-#{$variant}" );

        $_bg: k-map-get( $theme-props, bg );
        $_text: k-map-get( $theme-props, text );
        $_border: k-map-get( $theme-props, border );
        $_shadow: k-map-get( $theme-props, shadow );

        .k-appbar#{$suffix} {
            --kendo-appbar-bg: #{k-var( --kendo-appbar-#{$variant}-bg, $_bg )};
            --kendo-appbar-text: #{k-var( --kendo-appbar-#{$variant}-text, $_text )};
            --kendo-appbar-border: #{k-var( --kendo-appbar-#{$variant}-border, $_border )};
            --kendo-appbar-shadow: #{k-var( --kendo-appbar-#{$variant}-shadow, $_shadow )};
        }
    }


    // Legacy aliases
    .k-appbar-secondary {
        @extend .k-appbar-neutral !optional;
    }

}
