// Module meta
$_kendo-module-meta: (
    name: "searchbox",
    dependencies: (
        "button",
        "floating-label",
        "icon",
        "input"
    )
);


// Component
@forward "./_variables.scss";
@use "./_layout.scss" as *;
@use "./_theme.scss" as *;

// Register
@use "../core/module-system/index.scss" as module;
@include module.register( $_kendo-module-meta... );

// Expose
@mixin searchbox-styles() {
    @include module.render( "searchbox" ) {
        @include kendo-searchbox--layout();
        @include kendo-searchbox--theme();
    }
}
