

// Checkbox

/// Border radius of checkbox
/// @group checkbox
$kendo-checkbox-border-radius: null !default;

/// Border width of checkbox.
/// @group checkbox
$kendo-checkbox-border-width: 1px !default;

// Checkbox sizes
$kendo-checkbox-sizes: (
    sm: (
        size: k-spacing(3),
        glyph-size: k-map-get( $kendo-spacing, 2.5 ),
        indicator-size: k-spacing(3),
        indeterminate-size: k-spacing(3),
        ripple-size: 300%
    ),
    md: (
        size: k-spacing(4),
        glyph-size: k-map-get( $kendo-spacing, 3.5 ),
        indicator-size: k-spacing(4),
        indeterminate-size: k-spacing(4),
        ripple-size: 300%
    ),
    lg: (
        size: k-spacing(5),
        glyph-size: k-map-get( $kendo-spacing, 4.5 ),
        indicator-size: k-spacing(5),
        indeterminate-size: k-spacing(5),
        ripple-size: 300%
    )
) !default;

/// Background color of checkbox.
/// @group checkbox
$kendo-checkbox-bg: $kendo-component-bg !default;
/// Color of checkbox.
/// @group checkbox
$kendo-checkbox-text: null !default;
/// Border color of checkbox.
/// @group checkbox
$kendo-checkbox-border: $kendo-component-border !default;

/// Background color of hovered checkbox.
/// @group checkbox
$kendo-checkbox-hover-bg: null !default;
/// Color of hovered checkbox.
/// @group checkbox
$kendo-checkbox-hover-text: null !default;
/// Border color of hovered checkbox.
/// @group checkbox
$kendo-checkbox-hover-border: null !default;

/// Border color of focused checkbox.
/// @group checkbox
$kendo-checkbox-focus-border: null !default;
/// Box shadow of focused checkbox.
/// @group checkbox
$kendo-checkbox-focus-shadow: null !default;
/// The outline of a focused checkbox.
/// @group checkbox
$kendo-checkbox-focus-outline: null !default;
$kendo-checkbox-focus-outline-offset: null !default;

/// Background color of checked checkbox.
/// @group checkbox
$kendo-checkbox-checked-bg: $kendo-color-primary !default;
/// Color of checked checkbox.
/// @group checkbox
$kendo-checkbox-checked-text: k-contrast-color( $kendo-checkbox-checked-bg ) !default;
/// Border color of checked checkbox.
/// @group checkbox
$kendo-checkbox-checked-border: $kendo-checkbox-checked-bg !default;

/// Background of hovered and checked checkbox.
/// @group checkbox
$kendo-checkbox-hover-checked-bg: null !default;
/// Color of checked checkbox.
/// @group checkbox
$kendo-checkbox-hover-checked-text: null !default;
/// Border of hovered and checked checkbox.
/// @group checkbox
$kendo-checkbox-hover-checked-border: null !default;

/// Background color of indeterminate checkbox.
/// @group checkbox
$kendo-checkbox-indeterminate-bg: $kendo-checkbox-checked-bg !default;
/// Color of indeterminate checkbox.
/// @group checkbox
$kendo-checkbox-indeterminate-text: $kendo-checkbox-checked-text !default;
/// Border color of indeterminate checkbox.
/// @group checkbox
$kendo-checkbox-indeterminate-border: $kendo-checkbox-checked-border !default;

/// Background color of hovered and indeterminate checkbox.
/// @group checkbox
$kendo-checkbox-hover-indeterminate-bg: null !default;
/// Background color of hovered and indeterminate checkbox.
/// @group checkbox
$kendo-checkbox-hover-indeterminate-text: null !default;
/// Border color of hovered and indeterminate checkbox.
/// @group checkbox
$kendo-checkbox-hover-indeterminate-border: null !default;

/// Background color of disabled checkbox.
/// @group checkbox
$kendo-checkbox-disabled-bg: null !default;
/// Color of disabled checkbox.
/// @group checkbox
$kendo-checkbox-disabled-text: null !default;
/// Border color of disabled checkbox.
/// @group checkbox
$kendo-checkbox-disabled-border: null !default;

/// Background color of disabled and checked checkbox.
/// @group checkbox
$kendo-checkbox-disabled-checked-bg: null !default;
/// Color of disabled and checked checkbox.
/// @group checkbox
$kendo-checkbox-disabled-checked-text: null !default;
/// Border color of disabled and checked checkbox.
/// @group checkbox
$kendo-checkbox-disabled-checked-border: null !default;

/// Background color of disabled and indeterminate checkbox.
/// @group checkbox
$kendo-checkbox-disabled-indeterminate-bg: null !default;
/// Border color of disabled and indeterminate checkbox.
/// @group checkbox
$kendo-checkbox-disabled-indeterminate-text: null !default;
/// Border color of disabled and indeterminate checkbox.
/// @group checkbox
$kendo-checkbox-disabled-indeterminate-border: null !default;

/// Background color of invalid checkbox.
/// @group checkbox
$kendo-checkbox-invalid-bg: $kendo-checkbox-bg !default;
/// Color of invalid checkbox.
/// @group checkbox
$kendo-checkbox-invalid-text: $kendo-invalid-text !default;
/// Border color of invalid checkbox.
/// @group checkbox
$kendo-checkbox-invalid-border: $kendo-invalid-border !default;


// Checkbox indicator

/// Type of checkbox indicator.
/// @group checkbox
$kendo-checkbox-indicator-type: glyph !default;

/// Glyph font family of checkbox indicator.
/// @group checkbox
$kendo-checkbox-glyph-font-family: "WebComponentsIcons", monospace !default;
/// Glyph of checkbox indicator.
/// @group checkbox
$kendo-checkbox-checked-glyph: "\e118" !default;
/// Glyph of indeterminate checkbox indicator.
/// @group checkbox
$kendo-checkbox-indeterminate-glyph: "\e121" !default;

/// Image of checkbox indicator.
/// @group checkbox
$kendo-checkbox-image: null !default;
/// Image of hovered checkbox indicator.
/// @group checkbox
$kendo-checkbox-hover-image: null !default;
/// Image of checked checkbox indicator.
/// @group checkbox
$kendo-checkbox-checked-image: null !default;
/// Image of indeterminate checkbox indicator.
/// @group checkbox
$kendo-checkbox-indeterminate-image: null !default;
/// Image of hovered and checked checkbox indicator.
/// @group checkbox
$kendo-checkbox-hover-checked-image: null !default;
/// Image of hovered and indeterminate checkbox indicator.
/// @group checkbox
$kendo-checkbox-hover-indeterminate-image: null !default;
/// Image of checked checkbox indicator.
/// @group checkbox
$kendo-checkbox-disabled-checked-image: null !default;
/// Image of indeterminate checkbox indicator.
/// @group checkbox
$kendo-checkbox-disabled-indeterminate-image: null !default;


// Checkbox list

/// Spacing between items of horizontal checkbox list.
/// @group checkbox
$kendo-checkbox-list-spacing: k-spacing(4) !default;
/// Horizontal padding of checkbox list items.
/// @group checkbox
$kendo-checkbox-list-item-padding-x: null !default;
/// Vertical padding of checkbox list items.
/// @group checkbox
$kendo-checkbox-list-item-padding-y: null !default;
/// Spacing between checkbox and text.
/// @group checkbox
$kendo-checkbox-list-item-spacing: null !default;


// Checkbox ripple

/// Background color of checkbox ripple.
/// @group checkbox
$kendo-checkbox-ripple-bg: $kendo-color-primary !default;
/// Opacity of checkbox ripple.
/// @group checkbox
$kendo-checkbox-ripple-opacity: .25 !default;
