<!doctype html>
<html lang="en" class="k-no-animations" style="--kendo-scrollbar-width: 15px;">
<head>
    <title>Document</title>
    <meta charset="utf-8">
    <link rel="stylesheet" data-role="kendo-theme" href="/packages/default/dist/all.css">
    <link rel="stylesheet" href="/packages/html/assets/styles.css">
    <script src="/packages/html/assets/scripts.js"></script>
</head>
<body id="app" class="k-body">
    <div class="k-tabstrip k-tabstrip-right k-header">
        <div class="k-tabstrip-items-wrapper k-vstack">
            <ul class="k-tabstrip-items k-reset">
                <li class="k-item k-first">
                    <span class="k-link">First</span>
                </li>
                <li class="k-item k-active">
                    <span class="k-link">Second</span>
                </li>
                <li class="k-item">
                    <span class="k-link">Third</span>
                </li>
                <li class="k-item">
                    <span class="k-link">Fourth</span>
                </li>
                <li class="k-item k-last">
                    <span class="k-link">Fifth</span>
                </li>
            </ul>
        </div>
        <div class="k-tabstrip-content k-active">
            <div>TabStrip Content</div>
        </div>
    </div>
</body>
</html>
