// TODO: modal header variables
$modal-header-border-color: #cccccc;


@include exports("scheduler/theme") {

    // Appearance
    .k-scheduler {
        background-clip: padding-box;

        .k-ie11 &,
        .k-edge12 &,
        .k-edge13 & {
            background-clip: border-box;
        }
    }


    // Header and footer
    .k-scheduler-toolbar,
    .k-scheduler-footer {
        @include appearance( header );
        background-clip: padding-box;

        .k-ie11 &,
        .k-edge12 &,
        .k-edge13 & {
            background-clip: border-box;
        }
    }


    //Scheduler navigation
    .k-scheduler-navigation {

        li {
            background-clip: padding-box;

            .k-ie11 &,
            .k-edge12 &,
            .k-edge13 & {
                background-clip: border-box;
            }
        }

        .k-nav-today,
        .k-nav-prev,
        .k-nav-next {
            @include appearance( button );

            &.k-state-hover { @include appearance( hovered-button ); }
        }
    }


    // View switcher
    .k-scheduler-views {

        li {
            @include appearance( button );
            background-clip: padding-box;

            .k-ie11 &,
            .k-edge12 &,
            .k-edge13 & {
                background-clip: border-box;
            }

            &.k-state-hover { @include appearance( hovered-button ); }
            &.k-state-selected { @include fill( $selected-text, $selected-bg, $selected-border, none ); }
        }
    }


    // Scheduler footer
    .k-scheduler-footer {

        li {
            @include appearance( button );
            background-clip: padding-box;

            .k-ie11 &,
            .k-edge12 &,
            .k-edge13 & {
                background-clip: border-box;
            }

            &.k-state-hover { @include appearance( hovered-button ); }
        }
    }


    // Scheduler content
    .k-scheduler-content {}
    .k-nonwork-hour {
        background-color: mix( $panel-text, $panel-bg, 3% );
    }


    // Appointments
    .k-event {
        @include appearance( selected-node );
    }
    .k-event-inverse {
        color: $panel-bg;
    }


    // Drag hint
    .k-event-drag-hint {}


    // Resizing
    .k-scheduler-marquee {}
    .k-scheduler-marquee::before,
    .k-scheduler-marquee::after {
        border-color: $primary-button-border;
    }

}




@include exports("scheduler-views/theme") {

    // Day view
    .k-scheduler-dayview {}


    // Workweek view
    // sass-lint:disable class-name-format
    .k-scheduler-workWeekview {}
    // sass-lint:enable class-name-format


    // Week view
    .k-scheduler-weekview {}


    // Month view
    .k-scheduler-monthview {}


    // Agenda view
    .k-scheduler-agendaview {

        tr.k-state-hover {
            @include appearance( hovered-node );
        }
        tr.k-state-hover .k-scheduler-datecolumn {
            @include appearance( panel );
        }
    }


    // Timeline view
    .k-scheduler-timelineview {}

}




@include exports("scheduler-edit-form/theme") {

    .k-scheduler-edit-form {}

}
