// Module meta
$_kendo-module-meta: (
    name: "drawer",
    dependencies: (
        "icon",
        "list",
        "overlay"
    )
);


// Component
@forward "./_variables.scss";
@use "./_layout.scss" as *;
@use "./_theme.scss" as *;

// Register
@use "../core/module-system/" as module;
@include module.register( $_kendo-module-meta... );

// Expose
@mixin drawer-styles() {
    @include module.render( "drawer" ) {
        @include kendo-drawer--layout();
        @include kendo-drawer--theme();
    }
}
