// TODO: extract or remove modal variables
$modal-content-bg: $widget-bg !default;
$modal-content-xs-shadow: 0 3px 9px rgba( 0, 0, 0, .5 ) !default;
$modal-header-border-color: transparent !default;

@include exports("window/theme") {

    .k-window {
        @include box-shadow($modal-content-xs-shadow);
        background-color: $modal-content-bg;

        .k-window-action {
            opacity: 1;

            .k-icon:hover {
                color: $accent-contrast;
            }
        }
    }

    .k-window-titlebar {
        border-color: $modal-header-border-color;
    }
}
