// Spreadsheet

$kendo-spreadsheet-border-width: null !default;
$kendo-spreadsheet-font-family: null !default;
$kendo-spreadsheet-font-size: null !default;
$kendo-spreadsheet-line-height: null !default;

$kendo-spreadsheet-bg: null !default;
$kendo-spreadsheet-text: null !default;
$kendo-spreadsheet-border: null !default;

$kendo-spreadsheet-header-bg: null !default;
$kendo-spreadsheet-header-text: null !default;
$kendo-spreadsheet-header-border: null !default;
$kendo-spreadsheet-header-gradient: null !default;

$kendo-spreadsheet-table-header-bg: null !default;
$kendo-spreadsheet-table-header-text: null !default;
$kendo-spreadsheet-table-header-border: null !default;
$kendo-spreadsheet-table-header-gradient: null !default;

$kendo-spreadsheet-action-bar-border-width: null !default;
$kendo-spreadsheet-action-bar-padding-y: null !default;
$kendo-spreadsheet-action-bar-padding-x: null !default;
$kendo-spreadsheet-action-bar-font-size: null !default;
$kendo-spreadsheet-action-bar-font-family: null !default;
$kendo-spreadsheet-action-bar-spacing: null !default;

$kendo-spreadsheet-formula-bar-gap: null !default;

$kendo-spreadsheet-formula-input-padding-x: null !default;
$kendo-spreadsheet-formula-input-padding-y: null !default;
$kendo-spreadsheet-formula-input-line-height: null !default;

$kendo-spreadsheet-formula-bar-icon-padding: null !default;

$kendo-spreadsheet-view-font-family: null !default;
$kendo-spreadsheet-view-font-size: null !default;

$kendo-spreadsheet-selection-bg: null !default;
$kendo-spreadsheet-selection-text: null !default;
$kendo-spreadsheet-selection-border: null !default;
$kendo-spreadsheet-selection-shadow: null !default;

$kendo-spreadsheet-single-selection-bg: null !default;
$kendo-spreadsheet-single-selection-text: null !default;
$kendo-spreadsheet-single-selection-border: null !default;

$kendo-spreadsheet-partial-selection-bg: null !default;

$kendo-spreadsheet-active-cell-bg: null !default;
$kendo-spreadsheet-active-cell-shadow: null !default;

$kendo-spreadsheet-auto-fill-bg: null !default;
$kendo-spreadsheet-auto-fill-text: null !default;
$kendo-spreadsheet-auto-fill-border: null !default;
$kendo-spreadsheet-auto-fill-shadow: null !default;
$kendo-spreadsheet-auto-fill-punch-bg: null !default;

$kendo-spreadsheet-cell-padding-y: null !default;
$kendo-spreadsheet-cell-padding-x: null !default;

$kendo-spreadsheet-cell-editor-line-height: null !default;
$kendo-spreadsheet-cell-editor-padding-x: null !default;
$kendo-spreadsheet-cell-editor-padding-y: null !default;
$kendo-spreadsheet-cell-editor-bg: null !default;
$kendo-spreadsheet-cell-editor-text: null !default;
$kendo-spreadsheet-cell-editor-border: null !default;

$kendo-spreadsheet-resize-handle-bg: null !default;

$kendo-spreadsheet-cell-comment-border: null !default;

$kendo-spreadsheet-cell-dirty-border: null !default;

$kendo-spreadsheet-sheets-bar-padding-x: null !default;
$kendo-spreadsheet-sheets-bar-padding-y: null !default;
$kendo-spreadsheet-sheets-bar-border-width: null !default;

$kendo-spreadsheet-insert-image-dialog-border-style: null !default;
$kendo-spreadsheet-insert-image-dialog-border-width: null !default;
$kendo-spreadsheet-insert-image-dialog-text-margin-bottom: null !default;
$kendo-spreadsheet-insert-image-dialog-preview-width: null !default;
$kendo-spreadsheet-insert-image-dialog-preview-height: null !default;
$kendo-spreadsheet-insert-image-dialog-preview-img: null !default;
$kendo-spreadsheet-insert-image-dialog-preview-border: null !default;
$kendo-spreadsheet-insert-image-dialog-preview-border-radius: null !default;
$kendo-spreadsheet-insert-image-dialog-preview-overlay-shadow: null !default;
$kendo-spreadsheet-insert-image-dialog-preview-overlay-border-radius: null !default;
$kendo-spreadsheet-insert-image-dialog-overlay-hover-text: null !default;

$kendo-spreadsheet-drawing-handle-width: null !default;
$kendo-spreadsheet-drawing-handle-height: null !default;
$kendo-spreadsheet-drawing-handle-border-style: null !default;
$kendo-spreadsheet-drawing-handle-border-width: null !default;
$kendo-spreadsheet-drawing-handle-outline-color: null !default;
$kendo-spreadsheet-drawing-handle-border-color: null !default;
$kendo-spreadsheet-drawing-handle-bg: null !default;
$kendo-spreadsheet-drawing-handle-border-radius: null !default;
$kendo-spreadsheet-drawing-outline-style: null !default;
$kendo-spreadsheet-drawing-outline-width: null !default;
$kendo-spreadsheet-drawing-anchor-bg: null !default;

$kendo-spreadsheet-dropzone-spacing-y: null !default;

$kendo-spreadsheet-filter-padding: null !default;


$kendo-spreadsheet-filter-menu-link-padding-x: null !default;

$kendo-spreadsheet-filter-menu-icon-margin: null !default;
