@import "@progress/kendo-theme-default/scss/editor/_layout.scss";

@include exports("editor/layout/material") {

    // Insert table
    .k-ct-popup {
        line-height: normal;

        .k-status {
            line-height: $kendo-line-height-md;
        }
    }

    .k-editor-export {
        text-transform: uppercase;
        font-size: $kendo-font-size-md;

        .k-icon,
        .k-svg-icon {
            margin-left: $kendo-editor-export-tool-icon-margin-x;
        }
    }
}
