@import "@progress/kendo-theme-default/scss/editor/_layout.scss";


@mixin kendo-editor--layout() {

    @include kendo-editor--layout-base();

    // Insert table
    .k-ct-popup {
        line-height: normal;

        .k-status {
            line-height: $kendo-line-height-md;
        }
    }

    .k-editor-export {
        text-transform: uppercase;
        font-size: $kendo-font-size-md;

        .k-icon {
            margin-left: $kendo-editor-export-tool-icon-margin-x;
        }
    }
}
