@use "../core/_index.scss" as *;
@use "./_variables.scss" as *;

@mixin kendo-tile-layout--theme() {

    .k-tilelayout {
        @include fill(
            $bg: var( --kendo-tile-layout-bg, #{$kendo-tile-layout-bg} )
        );
    }

    .k-layout-item-hint {
        @include fill(
            $bg: var( --kendo-tile-layout-hint-bg, #{$kendo-tile-layout-hint-bg} ),
            $border: var( --kendo-tile-layout-hint-border, #{$kendo-tile-layout-hint-border} )
        );
    }
}
