// Module meta
$_kendo-module-meta: (
    name: "tile-layout",
    dependencies: (
        "button",
        "card",
        "icon"
    )
);


// Component
@forward "./_variables.scss";
@use "./_layout.scss" as *;
@use "./_theme.scss" as *;

// Register
@use "../core/module-system/" as module;
@include module.register( $_kendo-module-meta... );

// Expose
@mixin tile-layout-styles() {
    @include module.render( "tile-layout" ) {
        @include kendo-tile-layout--layout();
        @include kendo-tile-layout--theme();
    }
}
