@import "./_components.scss";
@import "./_dependencies.scss";

$_deps: () !default;
$_imported: () !default;

// stylelint-disable scss/at-if-no-null
@mixin module-register( $name: null, $dependencies: null ) {
    @if (k-list-index( $kendo-components, $name) != null) {
        $_deps: k-map-merge( $_deps, ( $name: $dependencies ) );

        @if $dependencies {
            @each $dep in $dependencies {
                @if ( k-list-index( $kendo-components, $dep ) == null ) {
                    @warn "The module \"#{$name}\" depends on module \"#{$dep}\", but the styles will not be loaded!";
                }
            }
        }
    }
}

@mixin module-render( $name: null ) {
    $dependencies: k-map-get( $_deps, $name );

    @if $dependencies {
        @each $dep in $dependencies {
            @if ( k-list-index( $_imported, $dep ) == null ) {
                @warn "The module \"#{$name}\" depends on module \"#{$dep}\", but the styles have not been loaded yet!";
            }
        }
    }

    @if ( k-list-index( $kendo-components, $name ) != null ) and ( k-list-index( $_imported, $name ) == null ) {
        $_imported: k-list-append( $_imported, $name ) !global;
        @content;
    }
}

@mixin verify-dependencies() {
    @each $component in $kendo-components {
        @if (k-map-has-key( $_kendo-dependencies, $component ) == false) {
            @error "Module '#{$component}' is not defined.";
        }
    }
}
@include verify-dependencies();

@mixin verify-rendered() {
    @each $component in $kendo-components {
        @if (k-list-index( $_imported, $component ) == null) {
            @error "Module '#{$component}' has not been rendered.";
        }
    }
}
// stylelint-enable scss/at-if-no-null
