@import "./_components.scss";
@import "./_dependencies.scss";

$_deps: ();
$_imported: ();

@mixin module-register( $name: null, $dependencies: null ) {
    @if (k-list-index( $kendo-components, $name) != null) {
        $_deps: k-map-merge( $_deps, ( $name: $dependencies ) );

        @if $dependencies {
            @each $dep in $dependencies {
                @if ( k-list-index( $kendo-components, $dep ) == null ) {
                    // sass-lint:disable-block no-warn
                    @warn "The module \"#{$name}\" depends on module \"#{$dep}\", but the styles will not be loaded!";
                }
            }
        }
    }
}

@mixin module-render( $name: null ) {
    $dependencies: k-map-get( $_deps, $name );

    @if $dependencies {
        @each $dep in $dependencies {
            @if ( k-list-index( $_imported, $dep ) == null ) {
                // sass-lint:disable-block no-warn
                @warn "The module \"#{$name}\" depends on module \"#{$dep}\", but the styles have not been loaded yet!";
            }
        }
    }

    @if ( k-list-index( $kendo-components, $name ) != null ) and ( k-list-index( $_imported, $name ) == null )  {
        $_imported: k-list-append( $_imported, $name );
        @content;
    }
}

@mixin verify-dependencies() {
    @each $component in $kendo-components {
        @if (k-map-has-key( $_kendo-dependencies, $component) == false) {
            // sass-lint:disable-block no-warn
            @error "Module '#{$component}' is not defined.";
        }
    }
}
@include verify-dependencies();
