@use "../core/_index.scss" as *;
@use "./_variables.scss" as *;
@use "@progress/kendo-theme-core/scss/components/popover/_layout.scss" as *;

@mixin kendo-popover--layout() {
    @include kendo-popover--layout-base();

    .k-popover {
        .k-popover-header {
            margin-block-end: 0;
        }
    }

    // Header
    .k-popover-header {
        @extend .k-card-title !optional;
    }

    // Body
    .k-popover-body {
        padding-block-start: $kendo-popover-body-padding-y;
        padding-block-end: 0;

        @at-root .k-popover-header + .k-popover-body {
            padding-block-start: 0;
        }
    }

    // Actions
    .k-popover-actions {
        padding-inline: $kendo-popover-actions-padding-x;
        padding-block: $kendo-popover-actions-padding-y;
        gap: $kendo-popover-actions-gap;
    }
}
