@use "sass:map";
@use "sass:math";
@use "../core/_index.scss" as *;
@use "../checkbox/_variables.scss" as *;
@use "../list/_variables.scss" as *;
@use "@progress/kendo-theme-core/scss/functions/index.import.scss" as *;

// Radio button

/// The border radius of the RadioButton.
/// @group radio
$kendo-radio-border-radius: 50% !default;
/// The border width of the RadioButton.
/// @group radio
$kendo-radio-border-width: 1px !default;

/// The map with the different RadioButton sizes.
/// @group radio
$kendo-radio-sizes: (
    sm: (
        size: k-spacing(4),
        glyph-size: k-spacing(3.5),
        indicator-size: k-spacing(2),
        ripple-size: 300%
    ),
    md: (
        size: k-spacing(5),
        glyph-size: k-spacing(4.5),
        indicator-size: k-spacing(2.5),
        ripple-size: 300%
    ),
    lg: (
        size: k-spacing(6),
        glyph-size: k-spacing(5.5),
        indicator-size: k-spacing(3),
        ripple-size: 300%
    )
) !default;

/// The background color of the RadioButton.
/// @group radio
$kendo-radio-bg: $kendo-component-bg !default;
/// The color of the RadioButton.
/// @group radio
$kendo-radio-text: transparent !default;
/// The border color of the RadioButton.
/// @group radio
$kendo-radio-border: if($kendo-enable-color-system, k-color( border-alt ), k-get-theme-color-var( neutral-160 )) !default;

/// The background color of the hovered RadioButton.
/// @group radio
$kendo-radio-hover-bg: $kendo-radio-bg !default;
/// The color of the hovered RadioButton.
/// @group radio
$kendo-radio-hover-text: if($kendo-enable-color-system, k-color( subtle ), k-get-theme-color( neutral, 130 )) !default;
/// The border color of the hovered RadioButton.
/// @group radio
$kendo-radio-hover-border: $kendo-radio-border !default;

/// The background color of the checked RadioButton.
/// @group radio
$kendo-radio-checked-bg: $kendo-radio-bg !default;
/// The color of the checked RadioButton.
/// @group radio
$kendo-radio-checked-text: if($kendo-enable-color-system, k-color( primary ), k-get-theme-color-var( primary-100 )) !default;
/// The border color of the checked RadioButton.
/// @group radio
$kendo-radio-checked-border: if($kendo-enable-color-system, k-color( primary ), k-get-theme-color-var( primary-100 )) !default;

/// The background color of the checked and hovered RadioButton.
/// @group radio
$kendo-radio-hover-checked-bg: $kendo-radio-bg !default;
/// The color of the checked and hovered RadioButton.
/// @group radio
$kendo-radio-hover-checked-text: if($kendo-enable-color-system, k-color( primary-hover ), k-get-theme-color-var( primary-110 )) !default;
/// The border color of the checked and hovered RadioButton.
/// @group radio
$kendo-radio-hover-checked-border: if($kendo-enable-color-system, k-color( primary-hover ), k-get-theme-color-var( primary-110 )) !default;

/// The border color of the focused RadioButton.
/// @group radio
$kendo-radio-focus-border: null !default;
/// The box shadow of the focused RadioButton.
/// @group radio
$kendo-radio-focus-shadow: null !default;
/// The outline of the focused RadioButton.
/// @group radio
$kendo-radio-focus-outline: 1px solid if($kendo-enable-color-system, k-color( base-emphasis ), k-get-theme-color-var( neutral-130 )) !default;
/// The outline offset of the focused RadioButton.
/// @group radio
$kendo-radio-focus-outline-offset: 2px !default;

/// The background color of the disabled RadioButton.
/// @group radio
$kendo-radio-disabled-bg: $kendo-radio-bg !default;
/// The color of the disabled RadioButton.
/// @group radio
$kendo-radio-disabled-text: if($kendo-enable-color-system, color-mix(in srgb, k-color( on-app-surface ) 28%, transparent), k-get-theme-color-var( neutral-60 )) !default;
/// The border color of the disabled RadioButton.
/// @group radio
$kendo-radio-disabled-border: if($kendo-enable-color-system, color-mix(in srgb, k-color( on-app-surface ) 28%, transparent), k-get-theme-color-var( neutral-60 )) !default;

/// The background color of the disabled and checked RadioButton.
/// @group radio
$kendo-radio-disabled-checked-bg: $kendo-radio-disabled-bg !default;
/// The color of the disabled and checked RadioButton.
/// @group radio
$kendo-radio-disabled-checked-text: $kendo-radio-disabled-text !default;
/// The border color of the disabled and checked RadioButton.
/// @group radio
$kendo-radio-disabled-checked-border: $kendo-radio-disabled-border !default;

/// The background color of the invalid RadioButton.
/// @group radio
$kendo-radio-invalid-bg: $kendo-radio-bg !default;
/// The color of the invalid RadioButton.
/// @group radio
$kendo-radio-invalid-text: $kendo-invalid-text !default;
/// The border color of the invalid RadioButton.
/// @group radio
$kendo-radio-invalid-border: $kendo-invalid-border !default;


// Radio indicator

/// The type of the RadioButton indicator.
/// @group radio
$kendo-radio-indicator-type: pseudo !default;

/// The border radius of the RadioButton indicator.
/// @group radio
$kendo-radio-indicator-border-radius: 50% !default;

/// The glyph font family of the RadioButton indicator.
/// @group radio
$kendo-radio-glyph-font-family: "WebComponentsIcons", monospace !default;
/// The glyph of the RadioButton indicator.
/// @group radio
$kendo-radio-checked-glyph: "\e308" !default;

/// The image of the checked RadioButton indicator.
/// @group radio
$kendo-radio-checked-image: k-escape-svg( url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 14'><circle cx='50%' cy='50%' r='4' fill='#0078d4'/></svg>") ) !default;
/// The image of the disabled and checked RadioButton indicator.
/// @group radio
$kendo-radio-disabled-checked-image: null !default;


// Radio label

/// The horizontal margin of the RadioButton inside of a label.
/// @group radio
$kendo-radio-label-spacing: k-spacing(2) !default;


// Radio list

/// The horizontal list item margin of the RadioButton.
/// @group radio
$kendo-radio-list-spacing: k-spacing(4) !default;
/// The horizontal list item padding of the RadioButton.
/// @group radio
$kendo-radio-list-item-padding-x: k-spacing(0) !default;
/// The vertical list item padding of the RadioButton.
/// @group radio
$kendo-radio-list-item-padding-y: $kendo-list-md-item-padding-y !default;
/// The gap between the list items of the RadioButton.
/// @group radio
$kendo-radio-list-item-gap: k-spacing(2) !default;

// Radio ripple

/// The background color of the RadioButton ripple.
/// @group radio
$kendo-radio-ripple-bg: if($kendo-enable-color-system, k-color( primary ), k-get-theme-color-var( primary-100 )) !default;
/// The opacity of the RadioButton ripple.
/// @group radio
$kendo-radio-ripple-opacity: .25 !default;
