@use "sass:map";
@use "../core/_index.scss" as *;
@use "./_variables.scss" as *;
@use "@progress/kendo-theme-core/scss/components/calendar/_layout.scss" as *;

@mixin kendo-calendar--layout() {
    @include kendo-calendar--layout-base();

    .k-calendar {
        // Common
        .k-link {
            white-space: normal;
            position: relative;
            overflow: hidden;
        }
    }

    .k-calendar-caption,
    .k-calendar-caption.k-calendar-th,
    .k-calendar .k-meta-header,
    .k-calendar .k-month-header {
        text-align: center;
    }

    .k-calendar-td {
        font-size: inherit;
    }

    .k-calendar-header {
        flex-direction: column;
    }

    .k-calendar-footer,
    .k-calendar .k-footer {
        padding-inline: $kendo-calendar-footer-padding-x;
        padding-block: $kendo-calendar-footer-padding-y;
    }

    .k-calendar-view {
        padding-block-end: $kendo-calendar-view-padding-block-end;

        .k-link {
            @include border-radius( $kendo-calendar-cell-border-radius );
            padding-inline: $kendo-calendar-cell-padding-x;
            padding-block: $kendo-calendar-cell-padding-y;
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            white-space: normal;
            position: relative;
            overflow: hidden;
        }

        .k-today .k-link {
            @include border-radius( $kendo-calendar-today-border-radius );
        }
    }

    .k-century-calendar,
    .k-calendar-centuryview {
        .k-link {
            text-align: start;
        }
    }

    .k-calendar-infinite {
        .k-calendar-header {
            margin-inline-start: calc( -1 * #{$kendo-infinite-calendar-view-padding-x} );
            margin-inline-end: calc( -1 * #{$kendo-infinite-calendar-view-padding-x} );
            flex-direction: row;
        }

        .k-calendar-view::after {
            display: none;
        }
    }

    .k-calendar-range {
        .k-calendar-header {
            flex-direction: row;

            &.k-vstack {
                flex-direction: column;
            }
        }
    }

    .k-range-start,
    .k-range-end,
    .k-range-mid {
        position: relative;

        &::before {
            content: "";
            position: absolute;
            inset: 0px;
            border-style: solid;
        }

        &:hover .k-link,
        &.k-hover .k-link {
            border-radius: 0;
        }
    }

    .k-range-mid::before {
        border-width: var( --kendo-calendar-range-border-width, 1px );
        border-inline-width: 0;
        border-radius: 0;
    }

    .k-range-start::before,
    .k-range-mid:not(
        .k-range-start + .k-range-mid,
        .k-range-mid + .k-range-mid,
        :last-child
    )::before {
        border-width: var( --kendo-calendar-range-border-width, 1px );
        border-inline-end-width: 0;
        border-radius: 0;

        @if ( $kendo-enable-rounded ) {
            border-start-start-radius: $kendo-calendar-cell-border-radius;
            border-end-start-radius: $kendo-calendar-cell-border-radius;
        }
    }

    .k-range-end::before,
    .k-range-mid:last-child::before {
        border-width: var( --kendo-calendar-range-border-width, 1px );
        border-inline-start-width: 0;
        border-radius: 0;

        @if ( $kendo-enable-rounded ) {
            border-start-end-radius: $kendo-calendar-cell-border-radius;
            border-end-end-radius: $kendo-calendar-cell-border-radius;
        }
    }

    .k-range-start.k-range-end::before {
        border-width: var( --kendo-calendar-range-border-width, 1px );
        border-radius: $kendo-calendar-cell-border-radius;
    }

    .k-calendar-navigation::before,
    .k-calendar-navigation::after {
        display: none;
    }

    @each $size, $size-props in $kendo-calendar-sizes {
        $_cell-font-size: map.get($size-props, cell-font-size);

        .k-calendar-#{$size} .k-calendar-td {
            font-size: $_cell-font-size;
        }
    }

}
