<!doctype html>
<html lang="en" class="k-no-animations" style="--kendo-scrollbar-width: 15px;">
<head>
    <title>Document</title>
    <meta charset="utf-8">
    <link rel="stylesheet" data-role="kendo-theme" href="/packages/default/dist/all.css">
    <link rel="stylesheet" href="/packages/html/assets/styles.css">
    <script src="/packages/html/assets/scripts.js"></script>
</head>
<body id="app" class="k-body">
    <div class="k-grid k-grid-md">
        <div class="k-grid-aria-root">
            <div class="k-grid-header">
                <div class="k-grid-header-wrap">
                    <table class="k-grid-header-table k-table k-table-md">
                        <colgroup>
                            <col>
                            <col>
                            <col>
                            <col>
                        </colgroup>
                        <thead class="k-table-thead">
                            <tr class="k-table-row">
                                <th class="k-header k-table-th">
                                    <span class="k-cell-inner">
                                        <span class="k-link">
                                            <span class="k-column-title">Product Name</span>
                                        </span>
                                    </span>
                                </th>
                                <th class="k-header k-table-th">
                                    <span class="k-cell-inner">
                                        <span class="k-link">
                                            <span class="k-column-title">Units In Stock</span>
                                        </span>
                                    </span>
                                </th>
                                <th class="k-header k-table-th">
                                    <span class="k-cell-inner">
                                        <span class="k-link">
                                            <span class="k-column-title">Discontinued</span>
                                        </span>
                                    </span>
                                </th>
                                <th class="k-header k-table-th">
                                    <span class="k-cell-inner">
                                        <span class="k-link">
                                            <span class="k-column-title">Units in Order</span>
                                        </span>
                                    </span>
                                </th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="k-grid-container">
                <div class="k-grid-content">
                    <table class="k-grid-table k-table k-table-md">
                        <colgroup>
                            <col>
                            <col>
                            <col>
                            <col>
                        </colgroup>
                        <tbody class="k-table-tbody">
                            <tr class="k-master-row k-table-row">
                                <td class="k-table-td">Chai</td>
                                <td class="k-table-td">39</td>
                                <td class="k-table-td">false</td>
                                <td class="k-table-td">0</td>
                            </tr>
                            <tr class="k-master-row k-alt k-table-row k-table-alt-row">
                                <td class="k-table-td">Chang</td>
                                <td class="k-table-td">17</td>
                                <td class="k-table-td">false</td>
                                <td class="k-table-td">40</td>
                            </tr>
                            <tr class="k-master-row k-table-row">
                                <td class="k-table-td">Aniseed Syrup</td>
                                <td class="k-table-td">13</td>
                                <td class="k-table-td">false</td>
                                <td class="k-table-td">70</td>
                            </tr>
                            <tr class="k-master-row k-alt k-table-row k-table-alt-row">
                                <td class="k-table-td">Chef Anton's Cajun Seasoning</td>
                                <td class="k-table-td">53</td>
                                <td class="k-table-td">false</td>
                                <td class="k-table-td">0</td>
                            </tr>
                            <tr class="k-master-row k-table-row">
                                <td class="k-table-td">Chef Anton's Gumbo Mix</td>
                                <td class="k-table-td">0</td>
                                <td class="k-table-td">true</td>
                                <td class="k-table-td">0</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="k-selection-aggregates k-grid-selection-aggregates">
                <div class="k-selection-aggregates-item">
                    <span class="k-selection-aggregates-item-text">Count:</span>
                    <span class="k-selection-aggregates-item-value">0</span>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
