@import "../core/_index.scss";
@import "../utils/_index.scss";


// Module meta
$_kendo-module-meta: (
    name: "wizard",
    dependencies: (
        "button",
        "form",
        "icon",
        "stepper",
    )
);


// Dependencies
@import "../common/_index.scss";
@import "../button/_index.scss";
@import "../stepper/_index.scss";
@import "../forms/_index.scss";
@import "../icons/_index.scss";


// Component
@import "./_variables.scss";
@import "./_layout.scss";
@import "./_theme.scss";


// Register
@import "../core/module-system/index.import.scss";
@include module-register( $_kendo-module-meta... );


// Expose
@mixin kendo-wizard--styles() {
    @include module-render( "wizard" ) {
        @include kendo-wizard--layout();
        @include kendo-wizard--theme();
    }
}

@if $kendo-auto-bootstrap {
    @include kendo-wizard--styles();
}
