@mixin kendo-marquee--layout-base() {
    // Marquee
    .k-marquee {
        position: absolute;
        z-index: 100000;
    }

    .k-marquee-color,
    .k-marquee-text {
        position: absolute;
        inset-block-start: 0;
        inset-inline-start: 0;
        width: 100%;
        height: 100%;
    }
}


@mixin kendo-marquee--layout() {
    @include kendo-marquee--layout-base();
}
