@include exports('progressbar/theme') {

    $progressbar-bg: $base-bg !default;
    $progressbar-border: $base-border !default;
    $progressbar-chunk-border: $bg-color !default;
    $progressbar-selected-bg: $accent !default;
    $progressbar-selected-border: darken( $progressbar-selected-bg, 4%) !default;
    $progressbar-selected-gradient: rgba( adjust-hue( $progressbar-selected-bg, 14), 0 ), rgba( adjust-hue( $progressbar-selected-bg, 14), .2 ) !default;

    .k-progressbar {
        background-color: $progressbar-bg;
        border-color: $progressbar-border;
        background-clip: padding-box;

        .k-ie11 &,
        .k-edge12 &,
        .k-edge13 & {
            background-clip: border-box;
        }

        .k-state-selected {
            border-color: $progressbar-selected-border;
            background-color: $progressbar-selected-bg;
            @include linear-gradient( $progressbar-selected-gradient );
        }

        .k-item {
            border-color: $progressbar-chunk-border;
        }
    }

    .k-progressbar-indeterminate {
        background: url(map-get($data-uris, 'indeterminate.gif'));

        .k-progress-status-wrap,
        .k-state-selected {
            display: none;
        }
    }
}
