@use "../_variables.scss" as *;

// Border radius
@mixin border-radius( $radius: null ) {
    @if $kendo-enable-rounded {
        border-radius: $radius;
    }
}

@mixin border-top-radius( $radius: null ) {
    @if $kendo-enable-rounded {
        border-start-start-radius: $radius;
        border-start-end-radius: $radius;
    }
}

@mixin border-right-radius( $radius: null ) {
    @if $kendo-enable-rounded {
        border-start-end-radius: $radius;
        border-end-end-radius: $radius;
    }
}

@mixin border-bottom-radius( $radius: null ) {
    @if $kendo-enable-rounded {
        border-end-end-radius: $radius;
        border-end-start-radius: $radius;
    }
}

@mixin border-left-radius( $radius: null ) {
    @if $kendo-enable-rounded {
        border-start-start-radius: $radius;
        border-end-start-radius: $radius;
    }
}

@mixin border-top-radius-only( $radius: null ) {
    @if $kendo-enable-rounded {
        border-radius: 0;
        border-start-start-radius: $radius;
        border-start-end-radius: $radius;
    }
}

@mixin border-right-radius-only( $radius: null ) {
    @if $kendo-enable-rounded {
        border-radius: 0;
        border-start-end-radius: $radius;
        border-end-end-radius: $radius;
    }
}

@mixin border-bottom-radius-only( $radius: null ) {
    @if $kendo-enable-rounded {
        border-radius: 0;
        border-end-start-radius: $radius;
        border-end-end-radius: $radius;
    }
}

@mixin border-left-radius-only( $radius: null ) {
    @if $kendo-enable-rounded {
        border-radius: 0;
        border-start-start-radius: $radius;
        border-end-start-radius: $radius;
    }
}
