@use "sass:map";
@use "sass:math";
@use "../core/_index.scss" as *;
@use "../grid/_variables.scss" as *;
@use "../table/_variables.scss" as *;
@use "../list/_variables.scss" as *;

/// The spacer of the PivotGrid.
/// @group pivotgrid
$kendo-pivotgrid-spacer: k-spacing(3) !default;

/// The horizontal padding of the PivotGrid.
/// @group pivotgrid
$kendo-pivotgrid-padding-x: k-spacing(0) !default;
/// The vertical of the PivotGrid.
/// @group pivotgrid
$kendo-pivotgrid-padding-y: k-spacing(0) !default;
/// The font family of the PivotGrid.
/// @group pivotgrid
$kendo-pivotgrid-font-family: var( --kendo-font-family, inherit ) !default;
/// The font size of the PivotGrid.
/// @group pivotgrid
$kendo-pivotgrid-font-size: var( --kendo-font-size, inherit ) !default;
/// The line height of the PivotGrid.
/// @group pivotgrid
$kendo-pivotgrid-line-height: var( --kendo-line-height, normal ) !default;
/// The border width of the PivotGrid.
/// @group pivotgrid
$kendo-pivotgrid-border-width: 1px !default;
/// The icon spacing of the PivotGrid.
/// @group pivotgrid
$kendo-pivotgrid-icon-spacing: k-spacing(1) !default;

/// The background color of the PivotGrid.
/// @group pivotgrid
$kendo-pivotgrid-bg: var( --kendo-component-bg, initial ) !default;
/// The text color of the PivotGrid.
/// @group pivotgrid
$kendo-pivotgrid-text: var( --kendo-component-text, initial ) !default;
/// The border color of the PivotGrid.
/// @group pivotgrid
$kendo-pivotgrid-border: var( --kendo-component-border, initial ) !default;
/// The alt border color of the PivotGrid.
/// @group pivotgrid
$kendo-pivotgrid-alt-border: $kendo-pivotgrid-border !default;

/// The default width of the PivotGrid row header.
/// @group pivotgrid
$kendo-pivotgrid-row-header-width: 300px !default;
/// The default height of the PivotGrid column header.
/// @group pivotgrid
$kendo-pivotgrid-column-header-height: 75px !default;

/// The horizontal padding of the PivotGrid cell.
/// @group pivotgrid
$kendo-pivotgrid-cell-padding-x: $kendo-table-cell-padding-x !default;
/// The vertical padding of the PivotGrid cell.
/// @group pivotgrid
$kendo-pivotgrid-cell-padding-y: $kendo-table-cell-padding-y !default;
/// The border width of the PivotGrid cell.
/// @group pivotgrid
$kendo-pivotgrid-cell-border-width: 1px !default;

/// The background color of the PivotGrid header.
/// @group pivotgrid
$kendo-pivotgrid-headers-bg: var( --kendo-component-bg, inherit ) !default;
/// The text color of the PivotGrid header.
/// @group pivotgrid
$kendo-pivotgrid-headers-text: if($kendo-enable-color-system, k-color( on-app-surface ), k-get-theme-color-var( neutral-190 )) !default;
/// The border color of the PivotGrid header.
/// @group pivotgrid
$kendo-pivotgrid-headers-border: var( --kendo-component-border, inherit ) !default;

/// The background color of the PivotGrid total cells.
/// @group pivotgrid
$kendo-pivotgrid-total-bg: if($kendo-enable-color-system, k-color( base-subtle ), k-get-theme-color-var( neutral-20 )) !default;
/// The text color of the PivotGrid total cells.
/// @group pivotgrid
$kendo-pivotgrid-total-text: var( --kendo-component-text, inherit ) !default;
/// The border color of the PivotGrid total cells.
/// @group pivotgrid
$kendo-pivotgrid-total-border: var( --kendo-component-border, inherit ) !default;

/// The hover background color of the PivotGrid.
/// @group pivotgrid
$kendo-pivotgrid-hover-bg: var( --kendo-hover-bg, inherit ) !default;
/// The hover text color of the PivotGrid.
/// @group pivotgrid
$kendo-pivotgrid-hover-text: inherit !default;
/// The hover border color of the PivotGrid.
/// @group pivotgrid
$kendo-pivotgrid-hover-border: inherit !default;

/// The selected background color of the PivotGrid.
/// @group pivotgrid
$kendo-pivotgrid-selected-bg: var( --kendo-selected-bg, inherit ) !default;
/// The selected text color of the PivotGrid.
/// @group pivotgrid
$kendo-pivotgrid-selected-text: inherit !default;
/// The selected border color of the PivotGrid.
/// @group pivotgrid
$kendo-pivotgrid-selected-border: inherit !default;

/// The focus shadow of the PivotGrid.
/// @group pivotgrid
$kendo-pivotgrid-focus-shadow: $kendo-list-item-focus-shadow !default;

/// The horizontal padding of the PivotGrid configurator.
/// @group pivotgrid
$kendo-pivotgrid-configurator-padding-x: k-spacing(0) !default;
/// The vertical padding of the PivotGrid configurator.
/// @group pivotgrid
$kendo-pivotgrid-configurator-padding-y: k-spacing(0) !default;
/// The border width of the PivotGrid configurator.
/// @group pivotgrid
$kendo-pivotgrid-configurator-border-width: 1px !default;

/// The horizontal padding of the PivotGrid configurator header.
/// @group pivotgrid
$kendo-pivotgrid-configurator-header-padding-x: $kendo-pivotgrid-spacer !default;
/// The vertical padding of the PivotGrid configurator header.
/// @group pivotgrid
$kendo-pivotgrid-configurator-header-padding-y: $kendo-pivotgrid-configurator-header-padding-x !default;
/// The font size of the PivotGrid configurator header.
/// @group pivotgrid
$kendo-pivotgrid-configurator-header-font-size: calc( var( --kendo-font-size-xl, 2rem ) * .9 ) !default;
/// The font weight of the PivotGrid configurator header.
/// @group pivotgrid
$kendo-pivotgrid-configurator-header-font-weight: var( --kendo-font-weight-bold, bold ) !default;

/// The horizontal padding of the PivotGrid configurator content.
/// @group pivotgrid
$kendo-pivotgrid-configurator-content-padding-x: $kendo-pivotgrid-spacer !default;
/// The vertical padding of the PivotGrid configurator content.
/// @group pivotgrid
$kendo-pivotgrid-configurator-content-padding-y: k-spacing(0) !default;

/// The horizontal margin of the PivotGrid configurator fields.
/// @group pivotgrid
$kendo-pivotgrid-configurator-fields-margin-x: k-spacing(0) !default;
/// The vertical margin of the PivotGrid configurator fields.
/// @group pivotgrid
$kendo-pivotgrid-configurator-fields-margin-y: calc( #{$kendo-pivotgrid-spacer} / 2 ) !default;
/// The spacing of the PivotGrid configurator fields.
/// @group pivotgrid
$kendo-pivotgrid-configurator-fields-gap: k-spacing(2) !default;

/// The default width of the PivotGrid vertical configurator.
/// @group pivotgrid
$kendo-pivotgrid-configurator-vertical-width: 320px !default;
/// The default height of the PivotGrid horizontal configurator.
/// @group pivotgrid
$kendo-pivotgrid-configurator-horizontal-height: 420px !default;

/// The background color of the PivotGrid configurator.
/// @group pivotgrid
$kendo-pivotgrid-configurator-bg: var( --kendo-component-bg, inherit ) !default;
/// The text color of the PivotGrid configurator.
/// @group pivotgrid
$kendo-pivotgrid-configurator-text: if($kendo-enable-color-system, k-color( on-app-surface ), k-get-theme-color-var( neutral-190 )) !default;
/// The border color of the PivotGrid configurator.
/// @group pivotgrid
$kendo-pivotgrid-configurator-border: var( --kendo-component-border, inherit )!default;

/// The background color of the PivotGrid configurator header.
/// @group pivotgrid
$kendo-pivotgrid-configurator-header-bg: var( --kendo-component-bg, inherit ) !default;
/// The text color of the PivotGrid configurator header.
/// @group pivotgrid
$kendo-pivotgrid-configurator-header-text: var( --kendo-component-text, inherit ) !default;
/// The border color of the PivotGrid configurator header.
/// @group pivotgrid
$kendo-pivotgrid-configurator-header-border: inherit !default;

/// The horizontal padding of the PivotGrid configurator button.
/// @group pivotgrid
$kendo-pivotgrid-configurator-button-padding-x: k-spacing(1) !default;
/// The vertical padding of the PivotGrid configurator button.
/// @group pivotgrid
$kendo-pivotgrid-configurator-button-padding-y: k-spacing(1) !default;
/// The border width of the PivotGrid configurator button.
/// @group pivotgrid
$kendo-pivotgrid-configurator-button-border-width: 1px !default;
/// The size of the PivotGrid configurator button.
/// @group pivotgrid
$kendo-pivotgrid-configurator-button-size: calc( calc( #{$kendo-pivotgrid-line-height} * 1em ) + calc( #{$kendo-pivotgrid-configurator-button-padding-y} * 2 ) + calc( #{$kendo-pivotgrid-configurator-button-border-width} * 2 ) ) !default;
/// The icon spacing of the PivotGrid configurator button.
/// @group pivotgrid
$kendo-pivotgrid-configurator-button-icon-spacing: k-spacing(2) !default;

/// The horizontal padding of the PivotGrid calculated field.
/// @group pivotgrid
$kendo-pivotgrid-calculated-field-padding-x: $kendo-pivotgrid-spacer !default;
/// The vertical padding of the PivotGrid calculated field.
/// @group pivotgrid
$kendo-pivotgrid-calculated-field-padding-y: $kendo-pivotgrid-spacer !default;
/// The border width of the PivotGrid calculated field.
/// @group pivotgrid
$kendo-pivotgrid-calculated-field-border-width: 1px !default;
/// The border radius of the PivotGrid calculated field.
/// @group pivotgrid
$kendo-pivotgrid-calculated-field-border-radius: k-border-radius(md) !default;
/// The spacing of the PivotGrid calculated field.
/// @group pivotgrid
$kendo-pivotgrid-calculated-field-gap: $kendo-pivotgrid-spacer !default;
/// The background color of the PivotGrid calculated field.
/// @group pivotgrid
$kendo-pivotgrid-calculated-field-bg: var( --kendo-component-bg, inherit ) !default;
/// The text color of the PivotGrid calculated field.
/// @group pivotgrid
$kendo-pivotgrid-calculated-field-text: var( --kendo-component-text, inherit ) !default;
/// The border color of the PivotGrid calculated field.
/// @group pivotgrid
$kendo-pivotgrid-calculated-field-border: var( --kendo-component-border, inherit ) !default;

/// The background color of the PivotGrid calculated field header.
/// @group pivotgrid
$kendo-pivotgrid-calculated-field-header-bg: inherit !default;
/// The text color of the PivotGrid calculated field header.
/// @group pivotgrid
$kendo-pivotgrid-calculated-field-header-text: var( --kendo-component-text, inherit ) !default;
/// The border color of the PivotGrid calculated field header.
/// @group pivotgrid
$kendo-pivotgrid-calculated-field-header-border: inherit !default;

/// The horizontal padding of the PivotGrid treeview.
/// @group pivotgrid
$kendo-pivotgrid-treeview-padding-x: calc( #{$kendo-pivotgrid-spacer} / 2 ) !default;
/// The vertical padding of the PivotGrid treeview.
/// @group pivotgrid
$kendo-pivotgrid-treeview-padding-y: k-spacing(0) !default;

// Legacy variables
$kendo-pivotgrid-alt-bg: $kendo-grid-header-bg !default;
$kendo-pivotgrid-alt-text: $kendo-grid-header-text !default;
$kendo-pivotgrid-chrome-border: $kendo-grid-border !default;

$kendo-pivotgrid-container-bg: var( --kendo-component-bg, inherit ) !default;
$kendo-pivotgrid-row-headers-bg: var( --kendo-component-bg, inherit ) !default;
