// AIPrompt

/// The text color of the AIPrompt.
/// @group prompt
$kendo-prompt-text: null !default;
/// The background color of the AIPrompt.
/// @group prompt
$kendo-prompt-bg: null !default;
/// The border color of the AIPrompt.
/// @group prompt
$kendo-prompt-border: null !default;

/// The text color of the AIPrompt header.
/// @group prompt
$kendo-prompt-header-text: null !default;
/// The background color of the AIPrompt header.
/// @group prompt
$kendo-prompt-header-bg: null !default;
/// The border color of the AIPrompt header.
/// @group prompt
$kendo-prompt-header-border: null !default;

/// The vertical padding of the AIPrompt content.
/// @group prompt
$kendo-prompt-content-padding-y: null !default;
/// The horizontal padding of the AIPrompt content.
/// @group prompt
$kendo-prompt-content-padding-x: null !default;
/// The spacing between the items of the AIPrompt content.
/// @group prompt
$kendo-prompt-content-spacing: null !default;
/// The text color of the AIPrompt content.
/// @group prompt
$kendo-prompt-content-text: null !default;
/// The background color of the AIPrompt content.
/// @group prompt
$kendo-prompt-content-bg: null !default;
/// The text border of the AIPrompt content.
/// @group prompt
$kendo-prompt-content-border: null !default;

/// The spacing between the items of the AIPrompt content expander.
/// @group prompt
$kendo-prompt-expander-spacing: null !default;

/// The vertical padding of the AIPrompt suggestion container.
/// @group prompt
$kendo-prompt-suggestion-padding-y: null !default;
/// The horizontal padding of the AIPrompt suggestion container.
/// @group prompt
$kendo-prompt-suggestion-padding-x: null !default;
/// The border radius of the AIPrompt suggestion container.
/// @group prompt
$kendo-prompt-suggestion-border-radius: null !default;
/// The text color of the AIPrompt suggestion container.
/// @group prompt
$kendo-prompt-suggestion-text: null !default;
/// The background color of the AIPrompt suggestion container.
/// @group prompt
$kendo-prompt-suggestion-bg: null !default;
/// The border color of the AIPrompt suggestion container.
/// @group prompt
$kendo-prompt-suggestion-border: null !default;
/// The elevation of the AIPrompt suggestion container.
/// @group prompt
$kendo-prompt-suggestion-shadow: null !default;
