// AIPrompt

$kendo-prompt-text: null !default;
$kendo-prompt-bg: null !default;
$kendo-prompt-border: null !default;

$kendo-prompt-header-text: null !default;
$kendo-prompt-header-bg: null !default;
$kendo-prompt-header-border: null !default;

$kendo-prompt-content-padding-y: null !default;
$kendo-prompt-content-padding-x: null !default;
$kendo-prompt-content-spacing: null !default;
$kendo-prompt-content-text: null !default;
$kendo-prompt-content-bg: null !default;
$kendo-prompt-content-border: null !default;

$kendo-prompt-expander-spacing: null !default;

$kendo-prompt-suggestion-padding-y: null !default;
$kendo-prompt-suggestion-padding-x: null !default;
$kendo-prompt-suggestion-border-radius: null !default;
$kendo-prompt-suggestion-text: null !default;
$kendo-prompt-suggestion-bg: null !default;
$kendo-prompt-suggestion-border: null !default;
$kendo-prompt-suggestion-shadow: null !default;
