// Splitter

$kendo-splitter-border-width: null !default;
$kendo-splitter-font-family: null !default;
$kendo-splitter-font-size: null !default;
$kendo-splitter-line-height: null !default;

$kendo-splitter-bg: null !default;
$kendo-splitter-text: null !default;
$kendo-splitter-border: null !default;

$kendo-splitter-splitbar-size: null !default;
$kendo-splitter-drag-handle-length: null !default;
$kendo-splitter-drag-handle-thickness: null !default;
$kendo-splitter-drag-icon-margin: null !default;
$kendo-splitter-collapse-icon-padding-x: null !default;
$kendo-splitter-collapse-icon-padding-y: null !default;

$kendo-splitbar-bg: null !default;
$kendo-splitbar-text: null !default;

$kendo-splitbar-hover-bg: null !default;
$kendo-splitbar-hover-text: null !default;

$kendo-splitbar-selected-bg: null !default;
$kendo-splitbar-selected-text: null !default;
