@include exports("card/layout") {


    // Angular elements
    kendo-card,
    kendo-card-header,
    kendo-card-body,
    kendo-card-actions,
    kendo-card-footer {
        display: block;
    }


    // Card
    .k-card {
        @include border-radius( $card-border-radius );
        border-width: $card-border-width;
        border-style: solid;
        box-sizing: border-box;
        outline: 0;
        font-family: $card-font-family;
        font-size: $card-font-size;
        line-height: $card-line-height;
        display: flex;
        flex-direction: column;
        position: relative;
        overflow: hidden;
        -webkit-touch-callout: none;
        -webkit-tap-highlight-color: $rgba-transparent;

        *,
        *::before,
        *::after {
            box-sizing: border-box;
        }
    }
    .k-card > .k-card-inner {
        @include border-radius( $card-inner-border-radius );
        display: flex;
        flex-direction: inherit;
        overflow: hidden;
        position: relative;
    }


    // Card orientation
    .k-card-horizontal  { flex-flow: row nowrap; } // stylelint-disable-line block-opening-brace-space-before
    .k-card-vertical    { flex-flow: column nowrap; } // stylelint-disable-line block-opening-brace-space-before


    // Header
    .k-card-header {
        padding: $card-header-padding-y $card-header-padding-x;
        border-width: 0 0 $card-header-border-width;
        border-style: solid;
        outline: 0;
        flex-shrink: 0;
        overflow: hidden;
        position: relative;
        z-index: 1;

        .k-card-title,
        .k-card-subtitle {
            margin-bottom: 0;
        }
        .k-card-title + .k-card-subtitle,
        .k-card-subtitle + .k-card-subtitle {
            margin-top: $card-title-margin-bottom;
        }
    }


    // Footer
    .k-card-footer {
        padding: $card-footer-padding-y $card-footer-padding-x;
        border-width: $card-footer-border-width 0 0;
        border-style: solid;
        outline: 0;
        flex-shrink: 0;
    }


    // Body
    .k-card-body {
        padding: $card-body-padding-y $card-body-padding-x;
        outline: 0;
        flex: 1 1 auto;

        p {
            margin: $paragraph-margin;
        }

        > .k-last,
        > :last-child {
            margin-bottom: 0;
        }

        > .k-card-actions {
            padding: 0;
        }
    }


    // Card avatar
    .k-card-avatar,
    .k-card .k-avatar {
        margin-right: $card-avatar-spacing;
        width: $card-avatar-size;
        height: $card-avatar-size;
        flex-basis: $card-avatar-size;
    }


    // Card image
    .k-card-image,
    .k-card-media {
        border: 0;
        max-width: 100%;
        flex-shrink: 0;
        overflow: hidden;

        > img {
            border: 0;
            max-width: 100%;
        }

        .k-card-horizontal & {
            max-width: $card-img-max-width;
            object-fit: cover;
        }
    }


    // Card title
    .k-card-title {
        margin: 0 0 $card-title-margin-bottom;
        @include typography(
            $card-title-font-size,
            $card-title-font-family,
            $card-title-line-height,
            $card-title-font-weight,
            $card-title-letter-spacing
        );
    }


    // Card subtitle
    .k-card-subtitle {
        margin: 0 0 $card-subtitle-margin-bottom;
        @include typography(
            $card-subtitle-font-size,
            $card-subtitle-font-family,
            $card-subtitle-line-height,
            $card-subtitle-font-weight,
            $card-subtitle-letter-spacing
        );
    }


    // Separator
    .k-card-separator {
        margin: 0;
        border-width: 0;
        border-style: solid;
        border-color: inherit;
        display: block;
        flex: 0 0 auto;
        align-self: stretch;
    }
    .k-card-separator.k-separator-vertical,
    .k-card-horizontal > .k-card-separator {
        border-left-width: 1px;
    }
    .k-card-separator.k-separator-horizontal,
    .k-card-vertical > .k-card-separator {
        border-top-width: 1px;
    }

    .k-card > .k-hr {
        margin: 0;
        flex: 0 0 auto;
        border-color: inherit;
    }


    // Card actions
    .k-card-actions {
        padding: $card-actions-padding-y $card-actions-padding-x;
        border-width: 0;
        border-style: solid;
        border-color: inherit;
        overflow: hidden;
        display: flex;
        flex-shrink: 0;
        flex-basis: auto;
        gap: $card-actions-gap;
    }


    // Actions align
    .k-card-actions-start       { justify-content: flex-start; } // stylelint-disable-line block-opening-brace-space-before
    .k-card-actions-end         { justify-content: flex-end; } // stylelint-disable-line block-opening-brace-space-before
    .k-card-actions-center      { justify-content: center; } // stylelint-disable-line block-opening-brace-space-before


    // Actions orientation
    .k-card-actions-horizontal  { flex-flow: row nowrap; } // stylelint-disable-line block-opening-brace-space-before
    .k-card-actions-vertical    { flex-flow: column nowrap; } // stylelint-disable-line block-opening-brace-space-before


    // Stretched actions
    .k-card-actions-stretched > * {
        flex: 1 1 auto;
    }


    // Card action
    .k-card-action {
        border-width: 0;
        border-style: solid;
        border-color: inherit;
        display: inline-flex;
    }


    // List
    .k-card-list {
        display: flex;
        flex-flow: column nowrap;
        align-items: stretch;
        gap: $card-deck-gap;
        flex: 0 0 auto;

        .k-card {
            flex: 0 0 auto;
        }
    }


    // Deck
    .k-card-deck {
        display: flex;
        flex-flow: row nowrap;
        align-items: stretch;
        gap: $card-deck-gap;
        flex: 0 0 auto;

        .k-card {
            flex: 0 0 auto;
        }
    }

    .k-card-deck-scrollwrap {
        padding-bottom: 3px; // prevents trimming of card shadows on OSX (0-width scrollbar)
        width: 100%;
        box-sizing: content-box;
        display: flex;
        flex: 0 0 auto;
        align-items: center;
        position: relative;
        overflow: hidden;

        > .k-button {
            @include border-radius( $card-deck-scroll-button-radius );
            flex: 0 0 auto;
            position: absolute;
            z-index: 1;

            &:first-child {
                left: $card-deck-scroll-button-offset;
            }

            &:last-child {
                right: $card-deck-scroll-button-offset;
            }
        }

        > .k-card-deck {
            // hide scrollbar
            $scrollbar-size: 20px;

            margin-bottom: -$scrollbar-size;
            padding-bottom: $scrollbar-size;
            flex: 1 1 auto;
        }
    }


    // Group
    .k-card-group {
        display: flex;
        flex-flow: row nowrap;
        align-items: stretch;
        flex: 0 0 auto;

        .k-card {
            @include border-radius( 0 );
            flex: 0 0 auto;
        }
        .k-card + .k-card {
            margin-inline-start: $card-border-width;
        }


        // Border-radius
        .k-card.k-first {
            @include border-left-radius( $card-border-radius );
        }
        .k-card.k-last {
            @include border-right-radius( $card-border-radius );
        }
        .k-card.k-only {
            @include border-radius( $card-border-radius );
        }
    }


}




@include exports( "card/layout/callout" ) {

    .k-card-with-callout {
        overflow: visible;
    }

    .k-card-callout {
        margin: 0;
        width: $card-callout-width;
        height: $card-callout-height;
        border-width: $card-border-width;
        border-style: solid;
        box-sizing: border-box;
        position: absolute;
    }

    .k-card-callout.k-callout-n {
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
    }
    .k-card-callout.k-callout-e {
        top: 50%;
        right: 0;
        transform: translate(50%, -50%) rotate(-45deg);
    }
    .k-card-callout.k-callout-s {
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 50%) rotate(45deg);
    }
    .k-card-callout.k-callout-w {
        top: 50%;
        left: 0;
        transform: translate(-50%, -50%) rotate(45deg);
    }

}




@include exports( "card/layout/fill" ) {


    // Solid card
    .k-card-solid {
        @include box-shadow( $card-shadow );
    }


    // Flat card
    .k-card-flat {
        @include box-shadow( none );
    }

}




@include exports("card/layout/ie11") {

    .k-ie11 {

        // IE11 needs units to be added to flex-basis when in shorthand
        // Thus, `flex: x x 0` will be ignored and we need `flex: x x auto`
        // See https://github.com/philipwalton/flexbugs#flexbug-4
        .k-card-body {
            flex: 1 1 auto;
        }

    }
}
