@mixin kendo-card--theme() {

    // Card
    .k-card {
        @include box-shadow( var( --kendo-card-shadow, #{k-if-var( $kendo-card-shadow, none )} ) );
        background-color: var( --kendo-card-bg, #{k-if-var( $kendo-card-bg, initial )} );
        color: var( --kendo-card-text, #{k-if-var( $kendo-card-text, initial )} );
        border-color: var( --kendo-card-border, #{k-if-var( $kendo-card-border, initial )} );

        .k-card-inner {
            background-color: inherit;
            color: inherit;
            border-color: inherit;
        }

        &:focus,
        &.k-focus {
            --kendo-card-bg: var( --kendo-card-focus-bg, #{$kendo-card-focus-bg} );
            --kendo-card-text: var( --kendo-card-focus-text, #{$kendo-card-focus-text} );
            --kendo-card-border: var( --kendo-card-focus-border, #{$kendo-card-focus-border} );
            --kendo-card-shadow: var( --kendo-card-focus-shadow, #{$kendo-card-focus-shadow} );
        }

        &.k-selected {
            --kendo-card-shadow: var( --kendo-card-focus-shadow, #{$kendo-card-focus-shadow} );
        }
    }


    // Card actions
    .k-card-actions {
        border-color: var( --kendo-card-border, #{k-if-var( $kendo-card-border, inherit )} );
    }


    // Header
    .k-card-header {
        background-color: var( --kendo-card-header-bg, #{k-if-var( $kendo-card-header-bg, inherit )} );
        color: var( --kendo-card-header-text, #{k-if-var( $kendo-card-header-text, inherit )} );
        border-color: var( --kendo-card-header-border, #{k-if-var( $kendo-card-header-border, inherit )} );
    }


    // Footer
    .k-card-footer {
        background-color: var( --kendo-card-footer-bg, #{k-if-var( $kendo-card-footer-bg, inherit )} );
        color: var( --kendo-card-footer-text, #{k-if-var( $kendo-card-footer-text, inherit )} );
        border-color: var( --kendo-card-footer-border, #{k-if-var( $kendo-card-footer-border, inherit )} );
    }


    // Separator
    .k-card-separator,
    .k-card .k-separator {
        border-color: var( --kendo-card-border, #{k-if-var( $kendo-card-border, inherit )} );
    }


    // Card typography
    .k-card-title {
        color: var( --kendo-card-title-text, #{k-if-var( $kendo-card-title-text, inherit )} );
    }
    .k-card-subtitle {
        color: var( --kendo-card-subtitle-text, #{k-if-var( $kendo-card-subtitle-text, inherit )} );
    }


    .k-card-wrap {
        &.k-focus,
        &:focus,
        &.k-selected {
            > .k-card {
                @include box-shadow( var( --kendo-card-shadow, #{k-if-var( $kendo-card-shadow, none )} ) );
            }
        }
    }

}
