@import "~@progress/kendo-theme-default/scss/grid/_theme.scss";

@include exports ("grid/theme/material") {
    $grid-filter-button-focus: rgba( black, .12 ) !default;

    .k-grid {

        // Selected state
        td.k-selected,
        tr.k-selected {
            color: $grid-selected-text;
            background-color: $grid-selected-bg;
        }
        tr.k-selected > td {
            color: inherit;
            background-color: transparent;
        }

        // Hover, Focused state
        table {
            > tr:not(.k-detail-row):hover,
            > tr:not(.k-detail-row).k-hover,
            td:focus,
            td.k-focus,
            th:focus,
            th.k-focus,
            .k-master-row > td:focus,
            .k-grouping-row > td:focus,
            .k-detail-row > td:focus,
            .k-group-footer > td:focus {
                color: inherit;
                background-color: $grid-hovered-bg;
            }

            tr:hover,
            tr.k-hover {
                .k-grid-header-sticky,
                .k-grid-footer-sticky {
                    color: inherit;
                    background-color: $grid-sticky-hovered-bg;
                }
            }

            td:focus,
            td.k-focus,
            th.k-focus,
            th:focus,
            .k-master-row > td:focus,
            .k-grouping-row > td:focus,
            .k-detail-row > td:focus,
            .k-group-footer > td:focus {
                &.k-grid-header-sticky,
                &.k-grid-content-sticky,
                &.k-grid-footer-sticky {
                    color: inherit;
                    background-color: $grid-sticky-hovered-bg;
                }
            }

        }
        .k-grid-pager:focus,
        .k-grid-pager.k-focus {
            color: inherit;
        }

        th,
        td {
            border-left-color: transparent;
        }

        &[dir="rtl"],
        .k-rtl & {

            th,
            td {
                border-right-color: transparent;
            }

            .k-grid-header {

                thead > tr:not(:only-child) > th {
                    border-right-color: $grid-border;
                }
            }

            // Locked columns
            .k-grid-header-locked,
            .k-grid-content-locked,
            .k-grid-header-locked thead > tr > th.k-header,
            .k-grid-content-locked td {
                border-left-color: $grid-sticky-header-border;
                border-right-color: $grid-sticky-header-border;
            }

            .k-group-footer td {
                border-top-width: 0;
            }

            .k-grid-header thead > tr:not(:only-child) > .k-grid-header-sticky,
            .k-grid-footer-sticky {
                border-right-color: $grid-sticky-header-border;
                border-left-color: $grid-sticky-header-border;
            }
        }

        .k-grid-header-locked,
        .k-grid-content-locked,
        .k-grid-header-locked .k-header,
        .k-grid-content-locked td {
            border-top-color: $grid-header-border;
            border-bottom-color: $grid-header-border;

            .k-group-footer {
                &:hover td,
                &.k-hover td {
                    color: inherit;
                    @include fill( $bg: $grid-sticky-footer-hovered-bg );
                }
            }
        }

        .k-master-row {
            .k-grid-content-sticky {
                border-color: $grid-sticky-border;
                border-bottom-color: $grid-header-border;
            }
            .k-grid-row-sticky {
                border-top-color: $grid-sticky-border;
                border-bottom-color: $grid-sticky-border;
            }
        }
    }

    kendo-grid {
        .k-grid-content-sticky {
            border-color: $grid-sticky-border;
            border-bottom-color: $grid-header-border;
        }
        .k-grid-row-sticky td {
            border-top-color: $grid-sticky-border;
            border-bottom-color: $grid-sticky-border;
        }
    }

    .k-grid-header {
        .k-sorted,
        .k-link:hover {
            color: $grid-text;

            > .k-icon {
                color: inherit;
            }
        }

        .k-grid-filter,
        .k-header-column-menu,
        .k-grid-header-menu,
        .k-hierarchy-cell .k-icon {
            &:hover {
                color: $grid-text;
                background-color: transparent;
            }

            &:focus,
            &.k-focus {
                color: $grid-text;
                background-color: $grid-filter-button-focus;
                box-shadow: none;
            }

            &.k-active {
                color: $primary-contrast;
                background-color: $primary;
            }
        }

        thead > tr:not(:only-child) > th {
            border-left-color: $grid-border;

            &.k-grid-header-sticky {
                border-right-color: $grid-sticky-header-border;
                border-left-color: $grid-sticky-header-border;
            }
        }

    }

    thead.k-grid-header > tr:not(:only-child) > th {
        border-left-color: $grid-border;
    }

    .k-grouping-header .k-group-indicator {
        background-color: $grid-selected-bg;

        .k-link {
            color: $grid-text;

            .k-icon {
                color: $grid-header-text;
            }
        }
    }

    .k-group-footer {
        td,
        .k-grid-footer-sticky {
            background: $grid-sticky-footer-bg;
        }

        &:hover td,
        &.k-hover td {
            @include fill( $bg: $grid-sticky-footer-hovered-bg );
        }
    }

    .k-grouping-dropclue,
    .k-reorder-cue {
        border-color: $primary;

        &::before {
            border-color: transparent;
        }

        &::after {
            border-color: transparent;
            background-color: transparent;
        }
    }

    .k-resize-handle:hover .k-resize-handle-inner {
        background-color: $primary;
    }

    .k-column-resizer:hover {
        color: $primary;
    }

    .k-reorder-cue {
        background-color: $primary;
    }

    .k-columnmenu-item {
        &.k-selected {
            @include fill(
                $kendo-list-item-selected-text,
                $kendo-list-item-selected-bg
            );
        }
    }
    .k-columnmenu-item:focus,
    .k-columnmenu-item.k-focus {
        background: $kendo-list-item-hover-bg;
    }

    .k-column-menu .k-menu:not(.k-context-menu) {

        .k-item {
            // Selected state
            &.k-selected {
                background: $kendo-list-item-hover-bg;
            }
        }
    }
}
