@mixin kendo-captcha--layout() {

    // Captcha
    .k-captcha {
        width: var( --kendo-captcha-width, #{k-if-var( $kendo-captcha-width, min-content )} );
        box-sizing: border-box;
        font-size: var( --kendo-captcha-font-size, #{k-if-var( $kendo-captcha-font-size, 1rem )} );
        font-family: var( --kendo-captcha-font-family, #{k-if-var( $kendo-captcha-font-family, inherit )} );
        line-height: var( --kendo-captcha-line-height, #{k-if-var( $kendo-captcha-line-height, normal )} );
        display: flex;
        flex-flow: column nowrap;
        gap: var( --kendo-captcha-spacing, #{k-if-var( $kendo-captcha-spacing, 0 )} );

        *,
        *::before,
        *::after {
            box-sizing: border-box;
        }
    }


    // Image
    .k-captcha-image-wrap {
        position: relative;
        gap: var( --kendo-captcha-image-wrap-spacing, #{k-if-var( $kendo-captcha-image-wrap-spacing, 0 )} );
    }

    .k-captcha-image-controls {
        position: relative;
        gap: var( --kendo-captcha-image-controls-spacing, #{k-if-var( $kendo-captcha-image-controls-spacing, 0)} );
    }

    .k-captcha-image {
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .k-captcha-image > img {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
    }


    // Loading
    .k-captcha-loading .k-captcha-image {
        height: auto;
    }


    // Volume Control
    .k-captcha-volume-control {
        height: 100%;
    }


    // Verification Success
    .k-captcha-validation-message {
        margin-block-start: var( --kendo-captcha-validation-offset-y, #{k-if-var( $kendo-captcha-validation-offset-y, 0 )} );
        font-size: var( --kendo-captcha-validation-font-size, #{k-if-var( $kendo-captcha-validation-font-size, inherit )} );
    }

}
