@mixin kendo-button--layout() {

    .k-button {
        padding: var(--kendo-button-padding-y) var(--kendo-button-padding-x);
        border-width: var(--kendo-button-border-width);
        border-style: var(--kendo-button-border-style);
        border-radius: var(--kendo-button-border-radius);
        outline: 0;
        background-clip: padding-box;
        font-size: var(--kendo-button-font-size, inherit);
        font-family: var(--kendo-button-font-family, inherit);
        line-height: var(--kendo-button-line-height, calc(20 / 14));
        display: inline-flex;
        flex-flow: row nowrap;
    }

}
