$kendo-button-border-width: 1px !default;
$kendo-button-border-style: solid !default;

$kendo-button-font-family: $kendo-font-family !default;
$kendo-button-font-weight: null !default;

$kendo-button-sizes: (
    sm: (
        padding-x: k-map-get( $kendo-spacing, 2),
        padding-y: k-map-get( $kendo-spacing, 1),
        font-size: $kendo-font-size-sm,
        line-height: $kendo-line-height-sm
    ),
    md: (
        padding-x: k-map-get( $kendo-spacing, 2.5),
        padding-y: k-map-get( $kendo-spacing, 1.5),
        font-size: $kendo-font-size-md,
        line-height: $kendo-line-height-md
    ),
    lg: (
        padding-x: k-spacing(3),
        padding-y: k-map-get( $kendo-spacing, 2),
        font-size: $kendo-font-size-lg,
        line-height: $kendo-line-height-lg
    )
) !default;

$kendo-button-ui-states: (
    hover,
    focus,
    // focus-hover,
    active,
    // active-hover,
    selected,
    // selected-hover,
    disabled
) !default;

$kendo-button-theme-matrix: (
    solid-neutral: (
        PALETTE: neutral,
        DEFAULT: ( 50, 700, 200 ),
        hover: ( 100, 700, 300 ),
        focus: ( 200, 800, 400 ),
        focus-hover: ( 200, 800, 400 ),
        active: ( 300, 900, 500 ),
        active-hover: ( 300, 900, 500 ),
        selected: (300, 900, 500 ),
        selected-hover: (300, 900, 500 ),
        disabled: ( 100, 700, 300 )
    ),
    solid-THEME_COLOR: (
        PALETTE: THEME_COLOR,
        DEFAULT: ( 500, 0, 700 ),
        hover: ( 600, 0, 700 ),
        focus: ( 600, 0, 700 ),
        focus-hover: ( 600, 0, 700 ),
        active: ( 700, 0, 800 ),
        active-hover: ( 700, 0, 800 ),
        selected: ( 700, 0, 800 ),
        selected-hover: ( 700, 0, 800 ),
        disabled: ( 500, 100, 600 )
    ),
    flat-neutral: (
        PALETTE: neutral,
        DEFAULT: ( transparent, 500, transparent ),
        hover: ( 50, 600, 50 ),
        focus: ( 100, 700, 100 ),
        focus-hover: ( 100, 700, 100 ),
        active: ( 200, 800, 200 ),
        active-hover: ( 200, 800, 200 ),
        selected: ( 200, 800, 200 ),
        selected-hover: ( 200, 800, 200 ),
        disabled: ( 0, 400, 0 )
    ),
    flat-THEME_COLOR: (
        PALETTE: THEME_COLOR,
        DEFAULT: ( transparent, 500, transparent ),
        hover: ( 50, 600, 50 ),
        focus: ( 100, 700, 100 ),
        focus-hover: ( 100, 700, 100 ),
        active: ( 200, 800, 200 ),
        active-hover: ( 200, 800, 200 ),
        selected: ( 200, 800, 200 ),
        selected-hover: ( 200, 800, 200 ),
        disabled: ( 0, 400, 0 )
    ),
    outline-neutral: (
        PALETTE: neutral,
        DEFAULT: ( transparent, 500, 500 ),
        hover: ( 600, 0, 600 ),
        focus: ( 700, 0, 700 ),
        focus-hover: ( 700, 0, 700 ),
        active: ( 800, 0, 800 ),
        active-hover: ( 800, 0, 800 ),
        selected: ( 800, 0, 800 ),
        selected-hover: ( 800, 0, 800 ),
        disabled: ( 0, 400, 400 )
    ),
    outline-THEME_COLOR: (
        PALETTE: THEME_COLOR,
        DEFAULT: ( transparent, 500, 500 ),
        hover: ( 600, 0, 600 ),
        focus: ( 700, 0, 700 ),
        focus-hover: ( 700, 0, 700 ),
        active: ( 800, 0, 800 ),
        active-hover: ( 800, 0, 800 ),
        selected: ( 800, 0, 800 ),
        selected-hover: ( 800, 0, 800 ),
        disabled: ( 0, 400, 400 )
    ),
    link-neutral: (
        PALETTE: neutral,
        DEFAULT: ( null, 500, transparent ),
        hover: ( null, 600, null ),
        focus: ( null, 700, null, null, null, 1px solid currentColor ),
        focus-hover: ( null, 700, null ),
        active: ( null, 800, null ),
        active-hover: ( null, 800, null ),
        selected: ( null, 800, null ),
        selected-hover: ( null, 800, null ),
        disabled: ( null, 400, null )
    ),
    link-THEME_COLOR: (
        PALETTE: THEME_COLOR,
        DEFAULT: ( null, 500, transparent ),
        hover: ( null, 600, null ),
        focus: ( null, 700, null ),
        focus-hover: ( null, 700, null ),
        active: ( null, 800, null ),
        active-hover: ( null, 800, null ),
        selected: ( null, 800, null ),
        selected-hover: ( null, 800, null ),
        disabled: ( null, 400, null )
    )
) !default;

$kendo-button-palette-matrix: (
    primary: marsala,
    info: primerBlue,
    success: primerGreen,
    warning: primerOrange,
    error: primerRed
) !default;

$kendo-button-theme: k-process-variant-matrices(
    $kendo-button-theme-matrix,
    $kendo-button-palette-matrix
) !default;
