@use "../core/_index.scss" as *;
@use "../slider/_variables.scss" as *;
@use "./_variables.scss" as *;
@use "@progress/kendo-theme-core/scss/components/colorgradient/_theme.scss" as *;

@mixin kendo-color-gradient--theme() {
    @include kendo-color-gradient--theme-base();

    .k-colorgradient {
        @include box-shadow($kendo-color-gradient-shadow);
    }

    .k-colorgradient-canvas {
        .k-hsv-rectangle {
            border-color: $kendo-color-gradient-canvas-rectangle-border;
        }
    }

    .k-colorgradient-slider .k-slider-track {
        border-color: $kendo-color-gradient-slider-border;
    }

    .k-colorgradient-slider .k-draghandle {

        &:hover,
        &.k-hover,
        &:active,
        &.k-active {
            background-color: $kendo-slider-thumb-bg;
        }

        &:focus,
        &.k-focus {
            background-color: $kendo-slider-thumb-bg;
        }
    }

    .k-colorgradient .k-draghandle {

        &:hover,
        &.k-hover,
        &:active,
        &.k-active {
            outline-color: $kendo-color-gradient-draghandle-hover-shadow;
        }

        &:focus,
        &.k-focus {
            border-color: $kendo-color-gradient-draghandle-focus-border;
        }
    }
}
