@use "../../mixins/index.import.scss" as *;
@use "./_variables.scss" as *;

@mixin kendo-popup--theme-base() {

    .k-popup {
        color: $kendo-popup-text;
        background-color: $kendo-popup-bg;
        border-color: $kendo-popup-border;
        @include box-shadow( $kendo-popup-shadow );
    }

}

@mixin kendo-popup--theme() {
    @include kendo-popup--theme-base();
}
