$window-border-color: rgba(0, 0, 0, .08) !default;

$dialog-button-background: $widget-bg !default;
$dialog-button-hover-background: $button-hovered-bg !default;
$dialog-button-focus-box-shadow: inset 0 0 0 2px rgba(0, 0, 0, .1) !default;
$dialog-button-active-gradient: $button-pressed-gradient;
$dialog-button-active-box-shadow: $button-active-box-shadow;

$dialog-primary-color: $accent !default;
$dialog-primary-hover-color: $selected-text !default;
$dialog-primary-hover-background: $accent !default;
$dialog-primary-hover-before-background: $accent !default;
$dialog-primary-hover-focus-before-background: rgba(0, 0, 0, .1) !default;
$dialog-primary-focus-box-shadow: inset 0 0 0 2px lighten($accent, 23%) !default;
$dialog-primary-focus-before-background: lighten($accent, 23%) !default;
$dialog-primary-focus-hover-box-shadow: inset 0 0 0 2px rgba(0, 0, 0, .08) !default;
$dialog-primary-active-gradient: linear-gradient(desaturate($accent, 3%), adjust-hue($accent, 3)) !default;

@include exports('action-buttons/theme') {

    .k-action-buttons {

        .k-button {
            color: inherit;

            &:hover {
                @include appearance( hovered-button );
            }

            &:active {
                @include appearance( pressed-button );
            }
        }

        .k-primary {
            color: $accent;

            &:hover {
                @include appearance( hovered-primary-button );
            }

            &:active {
                @include appearance( pressed-primary-button );
            }
        }
    }

}