// DropZone

$kendo-dropzone-padding-x: null !default;
$kendo-dropzone-padding-y: null !default;
$kendo-dropzone-border-width: null !default;
$kendo-dropzone-min-height: null !default;

$kendo-dropzone-font-family: null !default;
$kendo-dropzone-font-size: null !default;
$kendo-dropzone-line-height: null !default;

$kendo-dropzone-bg: null !default;
$kendo-dropzone-text: null !default;
$kendo-dropzone-border: null !default;

$kendo-dropzone-icon-spacing: null !default;
$kendo-dropzone-icon-text: null !default;
$kendo-dropzone-icon-hover-text: null !default;

$kendo-dropzone-hint-font-size: null !default;
$kendo-dropzone-hint-spacing: null !default;
$kendo-dropzone-hint-text: null !default;

$kendo-dropzone-note-font-size: null !default;
$kendo-dropzone-note-spacing: null !default;
$kendo-dropzone-note-text: null !default;
