@use "../core/_index.scss" as *;
@use "./_variables.scss" as *;
@use "@progress/kendo-theme-core/scss/components/chat/_theme.scss" as *;

@mixin kendo-chat--theme() {
    @include kendo-chat--theme-base();

    .k-chat {
        .k-chat-bubble {
            transition: $kendo-chat-transition;

            a { color: $kendo-chat-link-text };
            a:hover { color: $kendo-chat-link-hover-text };
        }

        .k-quick-reply {
            &:focus,
            &.k-focus {
                box-shadow: none;
            }

            &:focus::after,
            &.k-focus::after {
                outline-color: $kendo-chat-quick-reply-focus-outline-color;
            }
        }
    }
}
