@use "sass:map";
@use "../core/_index.scss" as *;
@use "./_variables.scss" as *;
@use "@progress/kendo-theme-core/scss/components/badge/_theme.scss" as *;

@mixin kendo-badge--theme() {
    @include kendo-badge--theme-base();

    .k-badge-solid-base {
        color: $kendo-badge-text;
        background-color: $kendo-badge-bg;
        border-color: $kendo-badge-border;
    }

    .k-badge-outline-base {
        border-color: $kendo-badge-border;
    }

    @each $name, $color in $kendo-badge-theme-colors {
        .k-badge-outline-#{$name} {
            color: k-color(#{$name}-on-surface);
        }
    }
}
