@include exports('action-buttons/theme') {
    .k-action-buttons {
        .k-button {

            &:hover {
                background-color: $action-button-hovered-bg;
            }

            &:active {
                color: $action-button-text;
                background-color: $action-button-pressed-bg;
            }
        }
    }
}
