@use "../core/_index.scss" as *;

$kendo-no-data-min-height: var( --kendo-no-data-min-height, 140px ) !default;
$kendo-no-data-text: var( --kendo-no-data-text, k-color(on-app-surface) ) !default;

@forward "@progress/kendo-theme-core/scss/components/no-data/_variables.scss" with (
    $kendo-no-data-min-height: $kendo-no-data-min-height,
    $kendo-no-data-text: $kendo-no-data-text
);
