$utils-border-radius: (
    default: map-get( $spacing, 1 ),
    0: 0,
    sm: map-get( $spacing, 1) / 2,
    md: map-get( $spacing, 1),
    lg: map-get( $spacing, 1) * 1.5,
    circle: 50%,
    pill: 9999px
) !default;

@import "~@progress/kendo-theme-default/scss/utils/_border.scss";
