@use "sass:map";
@use "../core" as *;

@mixin kendo-input--theme() {
    .k-input-solid {
        color: $kendo-color-base-text;
        background-color: $kendo-color-base;
        border: none;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: 1px solid $kendo-color-border;
            border-radius: 2px;
        }

        & > .k-input-button {
            border-color: transparent;
        }

        & > .k-input-inner {
            border-top-left-radius: 2px;
            border-bottom-left-radius: 2px;
        }

        &:hover,
        &.k-hover {
            &::after {
                border: 1px solid $kendo-color-border-hover;
            }
        }

        &:focus,
        &.k-focus,
        &:focus-within {
            &:after {
                border-width: 2px;
                border-color: $kendo-color-border-focus;
            }
        }

        // Invalid
        &.k-invalid,
        &.ng-invalid.ng-touched,
        &.ng-invalid.ng-dirty {
            &::after {
                border-color: $kendo-color-error;
            }

            .k-input-validation-icon {
                color: $kendo-color-error;
            }
        }

        &:disabled,
        &[disabled],
        &.k-disabled {
            background-color: $kendo-color-base-active;
            filter: opacity(0.6);

            &:after {
                border-color: transparent;
            }
        }
    }

    .k-input-outline {
        color: $kendo-color-base-text;
        background-color: $kendo-color-base;
        border: none;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: 1px solid $kendo-color-border;
            border-radius: 2px;
        }

        & > .k-input-button {
            border-color: $kendo-color-border;
        }

        & > .k-input-inner {
            border-top-left-radius: 2px;
            border-bottom-left-radius: 2px;
        }

        &:hover,
        &.k-hover {
            &::after {
                border: 1px solid $kendo-color-border-hover;
            }

            & > .k-input-button {
                border-color: $kendo-color-border-hover;
            }
        }

        &:focus,
        &.k-focus,
        &:focus-within {
            &:after {
                border-width: 2px;
                border-color: $kendo-color-border-focus;
            }

            & > .k-input-button {
                border-color: $kendo-color-border-focus;
            }
        }

        // Invalid
        &.k-invalid,
        &.ng-invalid.ng-touched,
        &.ng-invalid.ng-dirty {
            &::after {
                border-color: $kendo-color-error;
            }

            .k-input-validation-icon {
                color: $kendo-color-error;
            }

            & > .k-input-button {
                border-color: $kendo-color-error;
            }
        }

        &:disabled,
        &[disabled],
        &.k-disabled {
            filter: opacity(0.6);
        }
    }

    .k-input-flat {
        color: $kendo-color-base-text;
        background-color: $kendo-color-base;
        border: none;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: 0 0 1px 0 solid $kendo-color-border;
            border-radius: 2px;
        }

        & > .k-input-button {
            border-color: $kendo-color-border;
        }

        & > .k-input-inner {
            border-top-left-radius: 2px;
            border-bottom-left-radius: 2px;
        }

        &:hover,
        &.k-hover {
            &::after {
                border: 1px solid $kendo-color-border-hover;
            }

            & > .k-input-button {
                border-color: $kendo-color-border-hover;
            }
        }

        &:focus,
        &.k-focus,
        &:focus-within {
            &:after {
                border-width: 2px;
                border-color: $kendo-color-border-focus;
            }

            & > .k-input-button {
                border-color: $kendo-color-border-focus;
            }
        }

        // Invalid
        &.k-invalid,
        &.ng-invalid.ng-touched,
        &.ng-invalid.ng-dirty {
            &::after {
                border-color: $kendo-color-error;
            }

            .k-input-validation-icon {
                color: $kendo-color-error;
            }

            & > .k-input-button {
                border-color: $kendo-color-error;
            }
        }

        &:disabled,
        &[disabled],
        &.k-disabled {
            filter: opacity(0.6);
        }
    }
}
