@import "../functions/_index.scss";

// Options
$enable-rounded: true !default;
$enable-shadows: true !default;
$enable-gradients: true !default;
$enable-transitions: true !default;

$use-background-clip: false !default;
$use-picker-select-width: false !default;


// Metrics
$padding-x: 8px !default;
$padding-y: 4px !default;
$padding-x-sm: $padding-x / 2 !default;
$padding-y-sm: $padding-y / 2 !default;
$padding-x-lg: $padding-x * 1.5 !default;
$padding-y-lg: $padding-y * 1.5 !default;

$border-radius: 4px !default;


// Typography
$font-size: 14px !default;
$font-size-xs: 10px !default;
$font-size-sm: 12px !default;
$font-size-lg: 16px !default;
$font-size-xl: 18px !default;

$line-height: (20 / 14) !default;
$line-height-sm: 1.2 !default;
$line-height-lg: 1.5 !default;
$line-height-em: $line-height * 1em;


// Root styles
$app-bg: $secondary !default;
$app-text: $body-text !default;


// Base
$base-bg: $secondary !default;
$base-text: $body-text !default;
$base-border: try-shade( $base-bg, 2 ) !default;
$base-gradient: rgba( white, .2 ), rgba( white, 0 ) !default;

$hovered-bg: try-shade( $base-bg, 1 ) !default;
$hovered-text: $base-text !default;
$hovered-border: try-shade( $hovered-bg, 2 ) !default;
$hovered-gradient: $base-gradient !default;

$selected-bg: $primary !default;
$selected-text: contrast-wcag( $selected-bg ) !default;
$selected-border: try-shade( $selected-bg, 2 ) !default;
$selected-gradient: $base-gradient !default;

$selected-hover-bg: try-shade( $selected-bg ) !default;
$selected-hover-text: contrast-wcag( $selected-hover-bg ) !default;


// Header
$header-padding-x: $padding-x !default;
$header-padding-y: $padding-y !default;

$header-bg: $base-bg !default;
$header-text: $base-text !default;
$header-border: $base-border !default;
$header-gradient: $base-gradient !default;


// Cell
$cell-padding-x: $padding-x !default;
$cell-padding-y: $padding-y !default;


// Nav items
$nav-item-margin: 0 !default;
$nav-item-padding-x: $padding-x !default;
$nav-item-padding-y: $padding-y !default;


// Components
$component-bg: $body-bg !default;
$component-text: $body-text !default;
$component-border: try-shade( $secondary, 2 ) !default;


// Button
$button-padding-x: $padding-x !default;
$button-padding-y: $padding-y !default;

$button-bg: $base-bg !default;
$button-text: $base-text !default;
$button-border: $base-border !default;
$button-gradient: $base-gradient !default;
$button-shadow: false !default;

$button-hovered-bg: $hovered-bg !default;
$button-hovered-text: $hovered-text !default;
$button-hovered-border: $hovered-border !default;
$button-hovered-gradient: false !default;
$button-hovered-shadow: false !default;

$button-pressed-bg: $primary !default;
$button-pressed-text: contrast-wcag( $button-pressed-bg ) !default;
$button-pressed-border: try-shade( $button-pressed-bg, 2 ) !default;
$button-pressed-gradient: false !default;
$button-pressed-shadow: false !default;

$button-focused-shadow: 0 0 4px 0 rgba( $button-border, .75 ) !default;

// Primary button
$primary-button-bg: $primary !default;
$primary-button-text: contrast-wcag( $primary-button-bg ) !default;
$primary-button-border: try-shade( $primary-button-bg, 2 ) !default;
$primary-button-gradient: $base-gradient !default;
$primary-button-shadow: false !default;

$primary-button-hovered-bg: try-shade( $primary-button-bg, 2 ) !default;
$primary-button-hovered-text: contrast-wcag( $primary-button-hovered-bg ) !default;
$primary-button-hovered-border: try-shade( $primary-button-hovered-bg, 2 ) !default;
$primary-button-hovered-gradient: false !default;
$primary-button-hovered-shadow: false !default;

$primary-button-pressed-bg: try-shade( $primary-button-bg, 3 ) !default;
$primary-button-pressed-text: contrast-wcag( $primary-button-pressed-bg ) !default;
$primary-button-pressed-border: try-shade( $primary-button-pressed-bg, 2 ) !default;
$primary-button-pressed-gradient: none !default;
$primary-button-pressed-shadow: false !default;

$primary-button-focused-shadow: 0 0 4px 0 rgba( $primary-button-border, .75 ) !default;


// Calendar
$calendar-header-padding-x: $padding-x !default;
$calendar-header-padding-y: $padding-y !default;

$calendar-cell-padding-x: $padding-y !default;
$calendar-cell-padding-y: $calendar-cell-padding-x !default;
$calendar-cell-size-px: 30px !default;


// Menu
$menu-padding-x: 0 !default;
$menu-padding-y: 0 !default;
$menu-border-width: 1px !default;
$menu-font-size: $font-size !default;
$menu-line-height: $line-height !default;

$menu-bg: $base-bg !default;
$menu-text: $base-text !default;
$menu-border: $base-border !default;
$menu-gradient: $base-gradient !default;

$menu-item-bg: null !default;
$menu-item-text: inherit !default;
$menu-item-border: null !default;
$menu-item-gradient: null !default;

$menu-item-hover-bg: $hovered-bg !default;
$menu-item-hover-text: $hovered-text !default;
$menu-item-hover-border: $hovered-border !default;
$menu-item-hover-gradient: $hovered-gradient !default;

$menu-item-expanded-bg: null !default;
$menu-item-expanded-text: $component-text !default;
$menu-item-expanded-border: null !default;
$menu-item-expanded-gradient: null !default;

$menu-item-focus-shadow: inset 0 0 3px 1px rgba( $menu-text, .25 ) !default;

$menu-separator-spacing: 2px !default;



// Window
$window-border-width: 1px !default;

$window-bg: $component-bg !default;
$window-text: $component-text !default;
$window-border: $component-border !default;

$window-titlebar-padding-x: $header-padding-x !default;
$window-titlebar-padding-y: $header-padding-y !default;

$window-titlebar-bg: $header-bg !default;
$window-titlebar-text: $header-text !default;
$window-titlebar-border: $header-border !default;
$window-titlebar-gradient: $header-gradient !default;

$window-title-font-size: $font-size !default;
$window-title-line-height: $line-height !default;


// Panelbar
$panelbar-bg: $component-bg !default;
$panelbar-text: $component-text !default;
$panelbar-border: $component-border !default;

$panelbar-header-bg: $header-bg !default;
$panelbar-header-text: $header-text !default;
$panelbar-header-border: $header-border !default;
$panelbar-header-gradient: $header-gradient !default;

$panelbar-header-hovered-bg: try-shade( $panelbar-header-bg, 1 ) !default;
$panelbar-header-hovered-text: null !default;
$panelbar-header-hovered-border: try-shade( $panelbar-header-border ) !default;
$panelbar-header-hovered-gradient: null !default;

$panelbar-header-selected-bg: $selected-bg !default;
$panelbar-header-selected-text: $selected-text !default;
$panelbar-header-selected-border: $selected-border !default;
$panelbar-header-selected-gradient: $selected-gradient !default;


// Tabstrip
$tabstrip-wrapper-padding-x: 0 !default;
$tabstrip-wrapper-padding-y: 0 !default;
$tabstrip-wrapper-border-width: 0 !default;

$tabstrip-wrapper-bg: null !default;
$tabstrip-wrapper-text: null !default;
$tabstrip-wrapper-border: null !default;

$tabstrip-border-width: 1px !default;
$tabstrop-font-size: $font-size !default;
$tabstrip-line-height: $line-height !default;

$tabstrip-bg: null !default;
$tabstrip-text: $component-text !default;
$tabstrip-border: $component-border !default;

$tabstrip-item-bg: $base-bg !default;
$tabstrip-item-text: $base-text !default;
$tabstrip-item-border: $base-border !default;
$tabstrip-item-gradient: $base-gradient !default;

$tabstrip-item-hovered-bg: $hovered-bg !default;
$tabstrip-item-hovered-text: $hovered-text !default;
$tabstrip-item-hovered-border: $hovered-border !default;
$tabstrip-item-hovered-gradient: null !default;

$tabstrip-item-selected-bg: $component-bg !default;
$tabstrip-item-selected-text: $component-text !default;
$tabstrip-item-selected-border: $component-border !default;
$tabstrip-item-selected-gradient: none !default;

$tabstrip-indicator-size: 2px !default;
$tabstrip-indicator-color: null !default;



// Treeview
$treeview-bg: null !default;
$treeview-text: $component-text !default;
$treeview-border: null !default;

$treeview-item-padding-x: $nav-item-padding-x !default;
$treeview-item-padding-y: $nav-item-padding-y !default;
$treeview-item-border-width: 1px !default;
$treeview-item-border-radius: $border-radius !default;

$treeview-item-hovered-bg: $hovered-bg !default;
$treeview-item-hovered-text: $hovered-text !default;
$treeview-item-hovered-border: $hovered-border !default;
$treeview-item-hovered-gradient: $hovered-gradient !default;

$treeview-item-selected-bg: $selected-bg !default;
$treeview-item-selected-text: $selected-text !default;
$treeview-item-selected-border: $selected-border !default;
$treeview-item-selected-gradient: $selected-gradient !default;


// Grid
$grid-bg: $component-bg !default;
$grid-text: $component-text !default;
$grid-border: $component-border !default;

$grid-alt-bg: mix( $grid-bg, $base-bg ) !default;
$grid-alt-text: $grid-text !default;
$grid-alt-border: $grid-border !default;

$grid-hovered-bg: try-shade( $grid-bg, 1 ) !default;
$grid-hovered-text: $grid-text !default;
$grid-hovered-border: $grid-border !default;

$grid-selected-bg: rgba( $selected-bg, .25 ) !default;
$grid-selected-text: $grid-text !default;
$grid-selected-border: $grid-border !default;


// Import main theme file
@import "../all.scss";
