@use "sass:map";
@use "../core/_index.scss" as *;


@function tooltip-theme( $colors ) {
    $_theme: ();

    @each $name in $colors {
        $_theme: map.merge(( $name: (
            color: k-color(on-#{$name}),
            background-color: k-color(#{$name}),
            border: k-color(#{$name}),
        )), $_theme );
    }

    @return $_theme;
}
