// OTP

$kendo-otp-sm-gap: null !default;
$kendo-otp-md-gap: null !default;
$kendo-otp-lg-gap: null !default;

$kendo-otp-sm-separator-padding-x: null !default;
$kendo-otp-md-separator-padding-x: null !default;
$kendo-otp-lg-separator-padding-x: null !default;

$kendo-otp-sm-input-width: null !default;
$kendo-otp-md-input-width: null !default;
$kendo-otp-lg-input-width: null !default;

$kendo-otp-sizes: null !default;
