@use "sass:map";
@use "../../functions/index.import.scss" as *;
@use "../../color-system/_functions.import.scss" as *;
@use "_variables.scss" as *;

@mixin kendo-badge--theme-base() {

    .k-badge {
        @extend %k-badge-solid-base;

        &.k-badge-solid {
            @extend %k-badge-solid-base;
        }
        &.k-badge-outline {
            @extend %k-badge-outline-base;
        }

        @each $name, $color in $kendo-badge-theme-colors {
            &.k-badge-#{$name} {
                @extend %k-badge-solid-#{$name};
            }

            &.k-badge-outline.k-badge-#{$name} {
                @extend %k-badge-outline-#{$name};
            }
        }
    }

    // Solid badges
    @each $name, $color in $kendo-badge-theme-colors {
        %k-badge-solid-#{$name} {
            border-color: $color;
            color: k-color(on-#{$name});
            background-color: $color;
        }
    }

    // Outline badges
    @each $name, $color in map.merge($kendo-badge-theme-colors, ("base": k-color(on-base))) {
        %k-badge-outline-#{$name} {
            color: $color;
            border-color: currentColor;
            background-color: transparent;
        }
    }

}


@mixin kendo-badge--theme() {
    @include kendo-badge--theme-base();
}
