@import "~@progress/kendo-theme-default/scss/dropdownlist/_layout.scss";

@include exports("dropdownlist/layout/material") {

    .k-dropdown {
        .k-dropdown-wrap {
            @include border-bottom-radius( 0 !important ); // sass-lint:disable-line no-important
            border-width: $input-border-width 0;
            border-top-color: transparent !important; // sass-lint:disable-line no-important
        }
    }


    // Native select
    select.k-dropdown {
        @include border-bottom-radius( 0 !important ); // sass-lint:disable-line no-important
        border-width: $input-border-width 0;
        border-top-color: transparent !important; // sass-lint:disable-line no-important
    }

}
