@use "../../color-system/_functions.import.scss" as *;
@use "../../mixins/index.import.scss" as *;
@use "../../functions/index.import.scss" as *;
@use "../../_variables.scss" as *;
@use "./variables.scss" as *;

@mixin kendo-scheduler--theme-base() {

    // Appearance
    .k-scheduler {
        color: $kendo-scheduler-text;
        background-color: $kendo-scheduler-bg;
        border-color: $kendo-scheduler-border;
    }

    // Header and footer
    .k-scheduler-toolbar {
        color: $kendo-scheduler-toolbar-text;
        background-color: $kendo-scheduler-toolbar-bg;
        border-color: $kendo-scheduler-toolbar-border;
        @include linear-gradient($kendo-scheduler-toolbar-gradient);
    }
    .k-scheduler-footer {
        color: $kendo-scheduler-footer-text;
        background-color: $kendo-scheduler-footer-bg;
        border-color: $kendo-scheduler-footer-border;
        @include linear-gradient($kendo-scheduler-footer-gradient);
    }

    .k-scheduler-header {
        background-color: $kendo-scheduler-header-bg;
    }

    .k-scheduler-header-wrap {
        background-color: $kendo-scheduler-bg;
    }

    // Scheduler navigation
    .k-scheduler-navigation {}

    // View switcher
    .k-scheduler-views {}

    // Scheduler footer
    .k-scheduler-footer {}

    // Scheduler content
    .k-scheduler-content {}
    .k-scheduler-nonwork,
    .k-scheduler .k-nonwork-hour {
        @include fill($kendo-scheduler-nonwork-text, $kendo-scheduler-nonwork-bg);
    }
    .k-scheduler-other-month,
    .k-scheduler .k-other-month {
        @include fill($kendo-scheduler-othermonth-text, $kendo-scheduler-othermonth-bg);
    }

    .k-scheduler-layout td.k-selected,
    .k-scheduler-layout .k-scheduler-cell.k-selected {
        background-color: color-mix(in srgb, k-color(primary) 25%, transparent);
    }

    .k-scheduler-layout-flex {
        .k-scheduler-head,
        .k-sticky-cell {
            background-color: $kendo-scheduler-bg;
        }
    }

    // Events base styles
    .k-event {
        color: $kendo-scheduler-event-text;
        background-color: $kendo-scheduler-event-bg;
        border-color: $kendo-scheduler-event-border;
        @include linear-gradient($kendo-scheduler-event-gradient);
        @include box-shadow( $kendo-scheduler-event-shadow );
    }

    // Events hover state
    .k-event:hover,
    .k-event.k-hover {
        color: $kendo-scheduler-event-hover-text;
        background-color: $kendo-scheduler-event-hover-bg;
        border-color: $kendo-scheduler-event-hover-border;
        @include linear-gradient($kendo-scheduler-event-hover-gradient);
        @include box-shadow( $kendo-scheduler-event-hover-shadow );
    }

    // Events selected state
    .k-event.k-selected {
        color: $kendo-scheduler-event-selected-text;
        background-color: $kendo-scheduler-event-selected-bg;
        border-color: $kendo-scheduler-event-selected-border;
        @include linear-gradient($kendo-scheduler-event-selected-gradient);
        @include box-shadow( $kendo-scheduler-event-selected-shadow );
    }

    // Events inverse state
    .k-event.k-event-inverse {
        color: if($kendo-enable-focus-contrast, black, k-color(on-app-surface));
    }

    // Events ongoing state
    .k-event.k-event-inverse.k-event-ongoing {
        @include box-shadow( $kendo-scheduler-event-ongoing-shadow );
    }

    // Drag hint
    .k-event-drag-hint {}

    // Resizing
    .k-scheduler-marquee {}
    .k-scheduler-marquee::before,
    .k-scheduler-marquee::after {
        border-color: k-color(primary);
    }

    // Edit dialog
    .k-scheduler-edit-dialog {
        .k-dialog-actions {
            border-color: $kendo-scheduler-border;
        }
    }

    // Day view
    .k-scheduler-dayview {}

    // Workweek view
    .k-scheduler-workWeekview {} // stylelint-disable-line

    // Week view
    .k-scheduler-weekview {}

    // Month view
    .k-scheduler-monthview {}

    // Agenda view
    .k-scheduler-agendaview {

        // Hover
        .k-scheduler-content tr:hover,
        .k-scheduler-content tr.k-hover,
        .k-scheduler-content .k-scheduler-row:hover,
        .k-scheduler-content .k-scheduler-row.k-hover {
            color: k-color(on-app-surface);
        background-color: k-color(base-hover);
        border-color: k-color(border);
        }

        .k-scheduler-content tr:hover .k-scheduler-datecolumn,
        .k-scheduler-content tr:hover .k-scheduler-groupcolumn,
        .k-scheduler-content tr.k-hover .k-scheduler-datecolumn,
        .k-scheduler-content tr.k-hover .k-scheduler-groupcolumn {
            color: $kendo-scheduler-text;
        background-color: $kendo-scheduler-bg;
        border-color: $kendo-scheduler-border;
        }

        // Selected
        .k-scheduler-content tr.k-selected {
            background-color: color-mix(in srgb, k-color(primary) 25%, transparent);
        }
        .k-scheduler-content tr.k-selected .k-scheduler-datecolumn,
        .k-scheduler-content tr.k-selected .k-scheduler-groupcolumn {
            background-color: $kendo-scheduler-bg;
        }
    }

    // Timeline view
    .k-scheduler-timelineview {}

    // Year view
    .k-scheduler-yearview {

        .k-day-indicator {
            background-color: $kendo-scheduler-yearview-indicator-bg ;
        }

        .k-selected .k-day-indicator {
            background-color: $kendo-scheduler-yearview-indicator-selected-bg ;
        }
    }

    // Scheduler tooltip
    .k-tooltip.k-scheduler-tooltip {
        color: $kendo-scheduler-tooltip-text;
        background-color: $kendo-scheduler-tooltip-bg;
        border-color: $kendo-scheduler-tooltip-border;
        @include box-shadow( $kendo-scheduler-tooltip-shadow );

        .k-callout {
            color: $kendo-scheduler-tooltip-callout-text ;
        }
    }

    // Scheduler edit form
    .k-scheduler-edit-form {}

}

@mixin kendo-scheduler--theme() {
    @include kendo-scheduler--theme-base();
}
