@import '../base/layout';
@import '../icons/main';

@include exports('calendar/layout') {

.k-calendar {
    position: relative;
    display: inline-block;
    width: 16.917em;
    overflow: hidden;
    border-width: 1px;
    border-style: solid;

    td,
    .k-link {
        text-decoration: none;
    }

    .k-action-link {
        text-decoration: underline;
    }

    .k-header,
    .k-footer {
        position: relative;
        text-align: center;
    }

    .k-nav-prev,
    .k-nav-next {
        position: absolute;
        top: .16666em;
        line-height: 1.8333em;
        height: 1.8333em;
    }

    .k-nav-prev { left: 1%; }
    .k-nav-next { right: 1%; }

    .k-content {
        border-spacing: 0;
        width: 100%;
        height: 14.167em;
        border-width: 0;
        margin: 0;
        table-layout: fixed;
        outline: 0;
    }

    .k-content,
    .k-content th {
        text-align: right;
    }

    .k-animation-container .k-content {
        height: 100%;
    }

    .k-nav-fast {
        display: inline-block;
        width: 75%;
        height: 1.8333em;
        line-height: 1.8333em;
        margin: .16666em -.08333em .3333em 0;
    }

    .k-header {
        .k-icon {
            vertical-align: middle;
        }

        .k-link.k-nav-prev,
        .k-link.k-nav-next {
            height: 1.8333em;
            width: 1.8333em;
        }
    }

    th {
        border-bottom-style: solid;
        border-bottom-width: 1px;
        padding: .4em .45em .4em .1em;
        font-weight: normal;
        cursor: default;
    }

    td {
        padding: .08333em;
        cursor: pointer;
    }

    .k-state-focus {
        border-style: dotted;
        border-width: .08333em;
        padding: 0;
    }

    .k-content .k-link {
        display: block;
        overflow: hidden;
        min-height: 1.8333em;
        line-height: 1.8333em;
        padding: 0 .45em 0 .1em;
    }

    .k-meta-view .k-link {
        padding: .25em 0 .3em;
        text-align: center;
    }

    .k-footer {
        clear: both;

        .k-nav-today,
        > .k-state-disabled {
            display: block;
            height: 100%;
            padding: .5em 0;
        }
    }

    .k-nav-today:hover {
        text-decoration: underline;
    }
}

}

