@include exports( "fab/theme" ) {

    // Normal state
    @each $name, $color in $fab-theme-colors {
        .k-fab-#{$name} {
            @include box-shadow($fab-shadow);
            outline: $fab-border-width solid $color;
            outline-offset: -$fab-border-width;
            border-color: $color;
            color: contrast-wcag( $color );
            background-color: $color;
        }
    }

    // Hover state
    @each $name, $color in $fab-theme-colors {
        .k-state-hover.k-fab-#{$name},
        .k-state-hovered.k-fab-#{$name},
        .k-fab-#{$name}:hover {
            border-color: try-shade( $color, .5 );
            background-color: try-shade( $color, .5 );
        }
    }

    // Focus state
    @each $name, $color in $fab-theme-colors {
        .k-fab-#{$name}.k-state-focus,
        .k-fab-#{$name}.k-state-focused,
        .k-fab-#{$name}:focus {
            outline-style: solid;
            outline-width: 2px;
            outline-color: rgba( $color, .3 );
        }
    }

    // Active state
    @each $name, $color in $fab-theme-colors {
        .k-state-active.k-fab-#{$name},
        .k-state-selected.k-fab-#{$name},
        .k-fab-#{$name}:active {
            @include box-shadow($fab-active-shadow);
            border-color: try-shade( $color, 1.5);
            background-color: try-shade( $color, 1.5);
        }
    }

    // Disabled state
    @each $name, $color in $fab-theme-colors {
        .k-state-disabled.k-fab-#{$name},
        .k-fab-#{$name}:disabled {
            @include box-shadow($fab-disabled-shadow);
            background-color: try-tint( $color, 5 );
            color: try-tint( contrast-wcag( $color ), 5 );
            opacity: 1;
        }
    }

    // Items
    .k-fab-item-text {
        @include fill(
            $fab-item-text,
            $fab-item-bg,
            $fab-item-border
        );
        @include box-shadow($fab-item-shadow);

    }
    .k-fab-item-icon {
        @include fill(
            $fab-item-icon-text,
            $fab-item-icon-bg,
            $fab-item-icon-border
        );
        @include box-shadow($fab-item-shadow);
        outline: $fab-border-width solid rgba(0, 0, 0, .08);
        outline-offset: -$fab-border-width;
    }

    // Hover state
    .k-fab-item.k-state-hover .k-fab-item-icon,
    .k-fab-item.k-state-hovered .k-fab-item-icon
    .k-fab-item:hover .k-fab-item-icon {
        border-color: try-shade( $fab-item-icon-border, .5 );
        background-color: try-shade( $fab-item-icon-bg, .5 );
    }

    // Focus state
    .k-fab-item:focus .k-fab-item-text,
    .k-fab-item:focus .k-fab-item-icon,
    .k-fab-item.k-state-focus .k-fab-item-text,
    .k-fab-item.k-state-focus .k-fab-item-icon,
    .k-fab-item.k-state-focused .k-fab-item-text,
    .k-fab-item.k-state-focused .k-fab-item-icon {
        outline-style: solid;
        outline-width: 2px;
        outline-color: rgba(0, 0, 0, .08);
    }

    // Active state
    .k-fab-item.k-state-active .k-fab-item-icon,
    .k-fab-item:active .k-fab-item-icon {
        @include box-shadow($fab-item-active-shadow);
        border-color: try-shade( $fab-item-icon-border, 1);
        background-color: try-shade( $fab-item-icon-bg, 1);
    }

    // Disabled state
    .k-fab-item.k-state-disabled,
    .k-fab-item:disabled {
        opacity: 1;

        .k-fab-item-text,
        .k-fab-item-icon {
            @include box-shadow($fab-item-disabled-shadow);
            background-color: try-tint( $fab-item-bg, 5 );
            color: try-tint( $fab-item-text, 5 );
        }
    }

    // Popup
    .k-animation-container > .k-fab-popup {
        @include box-shadow( none );
    }

}
