@use "sass:map";
@use "../core/color-system" as *;
@use "../core/_variables.scss" as *;

/// Vertical padding of the notification container.
/// @group notification
$kendo-notification-container-padding-y: $kendo-padding-y-sm !default;

/// Horizontal padding of the notification.
/// @group notification
$kendo-notification-padding-x: map-get( $kendo-spacing, 3 ) !default;
/// Vertical padding of the notification.
/// @group notification
$kendo-notification-padding-y: map-get( $kendo-spacing, 2 ) !default;
// Width of the border around the notification.
/// @group notification
$kendo-notification-border-width: map-get( $kendo-spacing, hair ) !default;
/// Border radius of the notification.
/// @group notification
$kendo-notification-border-radius: map-get( $kendo-spacing, thin ) !default;
/// Font family of the notification.
/// @group notification
$kendo-notification-font-family: var( --kendo-font-family, inherit ) !default;
/// Font size of the notification.
/// @group notification
$kendo-notification-font-size: var( --kendo-font-size-sm, inherit ) !default;
/// Line height of the notification.
/// @group notification
$kendo-notification-line-height: var( --kendo-line-height, normal ) !default;
/// Background color of the notification.
/// @group notification
$kendo-notification-bg: var( --kendo-component-bg, inherit ) !default;
/// Text color of the notification.
/// @group notification
$kendo-notification-text: var( --kendo-component-text, inherit ) !default;
/// Border color of the notification.
/// @group notification
$kendo-notification-border: var( --kendo-component-border, inherit ) !default;
/// Box shadow of the notification.
/// @group notification
$kendo-notification-box-shadow: none !default;

/// Horizontal spacing of the notification icon.
/// @group notification
$kendo-notification-icon-spacing: map-get( $kendo-spacing, 2 ) !default;
/// Horizontal spacing of the notification close icon.
/// @group notification
$kendo-notification-close-icon-spacing: map-get( $kendo-spacing, 4 ) !default;
/// Color of the notification icon.
/// @group notification
$kendo-notification-icon-text: var( --kendo-component-text, inherit ) !default;

/// Theme variations for the notification.
$kendo-notification-brand-colors: (
    primary: primary,
    error: error,
    warning: warning,
    success: success,
    info: info,
    secondary: neutral,
    tertiary: tertiary,
);

// Matrix with notification theme colors in the order: bg, color, border
$_tc-notification-matrix: (
    (normal: (20, 190, 20)),
);

$_tc-notification-dark-matrix: (
    (normal: (160, $white, 160)),
);

$_tc-notification-light-matrix: (
    (normal: (50, 160, 50)),
);

/// Theme colors map for the notification variations.
$kendo-notification-theme-colors: ();

@each $ui-states in $_tc-notification-matrix {
    @each $brand-color, $palette in $kendo-notification-brand-colors {
        $kendo-notification-theme-colors: map.deep-merge(
            $kendo-notification-theme-colors,
            generate-theme-variation( $brand-color, $palette, $ui-states )
        );
    };
}

@each $ui-states in $_tc-notification-dark-matrix {
    $kendo-notification-theme-colors: map.deep-merge(
        $kendo-notification-theme-colors,
        generate-theme-variation( dark, neutral, $ui-states )
    );
}

@each $ui-states in $_tc-notification-light-matrix {
    $kendo-notification-theme-colors: map.deep-merge(
        $kendo-notification-theme-colors,
        generate-theme-variation( light, neutral, $ui-states )
    );
}

