// Linear gradient
@mixin linear-gradient( $gradient: null ) {
    @if $gradient {
        @if $gradient == none {
            background-image: none
        }
        @else {
            background-image: linear-gradient( $gradient );
        }
    }
}

// Box shadow
@mixin box-shadow( $shadow: null ) {
    @if $shadow {
        box-shadow: $shadow;
    }
}


// Border radius
@mixin border-radius( $radius: null ) {
    @if $radius {
        border-radius: $radius;
    }
}


// Fill and outline
@mixin fill( $color: null, $bg: null, $border: null, $gradient: null ) {
    border-color: $border;
    color: $color;
    background-color: $bg;
    @include linear-gradient( $gradient );
}
@mixin outline( $color: null ) {
    border-color: $color;
    color: $color;
    background-color: transparent;
    background-image: none;
}




// Disabled
@mixin disabled {
    outline: none;
    cursor: default;
    opacity: .6;
    filter: grayscale(.1);
    pointer-events: none;
}
@include exports("placeholder/disabled") {
    %disabled {
        @if ( mixin-exists( disabled ) ) {
            @include disabled;
        }
    }
}