$kendo-is-dark-theme: true;

$kendo-color-primary: #e6594f;

$kendo-color-secondary: #5c5c5c;

$kendo-color-tertiary: #0398dc;

$kendo-color-info: #004fd2;
$kendo-color-success: #32a200;
$kendo-color-warning: #e6ad00;
$kendo-color-error: #db1500;
$kendo-color-light: #bdbdbd;
$kendo-color-dark: #292929;

$kendo-body-text: #ebebeb;
$kendo-body-bg: #121212;
$kendo-base-text: #ebebeb;

$kendo-component-text: $kendo-base-text;
$kendo-component-bg: #333333;
$kendo-base-bg: #262626;
$kendo-base-border: #5e5e5e;
$kendo-hover-text: $kendo-base-text;
$kendo-hover-bg: #383838;
$kendo-selected-text: $kendo-base-text;
$kendo-selected-bg: $kendo-color-primary;

$kendo-button-text: $kendo-base-text;
$kendo-button-bg: #1d1d1d;
$kendo-button-border: $kendo-hover-bg;

$kendo-link-text: $kendo-color-primary;
$kendo-link-hover-text: #ee8e87;

$kendo-series-a: #e6594f;
$kendo-series-b: #e6cb58;
$kendo-series-c: #44bc73;
$kendo-series-d: #4456e1;
$kendo-series-e: #9b4fe6;
