@use "../core/_index.scss" as *;
@use "./_variables.scss" as *;
@use "@progress/kendo-theme-core/scss/components/window/_layout.scss" as *;

@mixin kendo-window--layout() {
    @include kendo-window--layout-base();

    .k-window{
        &:focus,
        &.k-focus{
            outline-width: 2px;
            outline-style: solid;
        }
    }

    // Title bar title text
    .k-window-title {
        font-weight: $kendo-window-title-font-weight;
        padding-block: calc( #{$kendo-window-titlebar-padding-x} / 4 );
        margin-block: 0;
    }

    // Buttons Layout
    .k-window-actions {
        gap: $kendo-window-buttongroup-spacing;
    }
}
