@use "sass:map";
@use "../core/_index.scss" as *;

$kendo-window-default-size: "auto" !default;

$kendo-window-border-width: var(--kendo-window-border-width, 0) !default;
$kendo-window-border-radius: var(--kendo-window-border-radius, k-border-radius(md)) !default;
$kendo-window-font-family: var( --kendo-window-font-family, var(--kendo-font-family) ) !default;
$kendo-window-font-size: var( --kendo-window-font-size, var(--kendo-font-size) ) !default;
$kendo-window-line-height: var( --kendo-window-line-height, var(--kendo-line-height) ) !default;

$kendo-window-titlebar-padding-x: var( --kendo-window-titlebar-padding-x, k-spacing(6) ) !default;
$kendo-window-titlebar-padding-y: var( --kendo-window-titlebar-padding-y, k-spacing(6) k-spacing(4) ) !default;
$kendo-window-titlebar-border-width: var( --kendo-window-titlebar-border-width, 0 ) !default;
$kendo-window-titlebar-border-style: solid !default;

$kendo-window-title-font-size: var( --kendo-window-title-font-size, var(--kendo-font-size-xl) ) !default;
$kendo-window-title-line-height: var( --kendo-window-title-line-height, var(--kendo-line-height-xs) ) !default;
/// The font weight of the title of the Window.
/// @group window
$kendo-window-title-font-weight: var( --kendo-window-title-font-weight, var(--kendo-font-weight-semibold) ) !default;

$kendo-window-actions-gap: var( --kendo-window-actions-gap, k-spacing(0) ) !default;
$kendo-window-action-opacity: var( --kendo-window-action-opacity, 1 ) !default;
$kendo-window-action-hover-opacity: var( --kendo-window-action-hover-opacity, 1 ) !default;

$kendo-window-inner-padding-x: var( --kendo-window-inner-padding-x, k-spacing(6) ) !default;
$kendo-window-inner-padding-y: var( --kendo-window-inner-padding-y, k-spacing(3) ) !default;

$kendo-window-buttongroup-padding-x: var( --kendo-window-buttongroup-padding-x, k-spacing(6) ) !default; // $kendo-actions-padding-x
$kendo-window-buttongroup-padding-y: var( --kendo-window-buttongroup-padding-y, k-spacing(6) ) !default; // $kendo-actions-padding-y
$kendo-window-buttongroup-border-width: var( --kendo-window-buttongroup-border-width, 0 ) !default;
/// The spacing between the Window action buttons.
/// @group window
$kendo-window-buttongroup-spacing: var( --kendo-window-buttongroup-spacing, k-spacing(3) ) !default;

$kendo-window-bg: var( --kendo-window-bg, k-color(surface-alt) ) !default;
$kendo-window-text: var( --kendo-window-text, k-color(on-app-surface) ) !default;
$kendo-window-border: var( --kendo-window-border, k-color(surface-alt) ) !default;
$kendo-window-shadow: var( --kendo-window-shadow, var( --kendo-elevation-5, none ) ) !default;
$kendo-window-focus-shadow: $kendo-window-shadow !default;

$kendo-window-titlebar-bg: var( --kendo-window-titlebar-bg, k-color(surface-alt) ) !default; // $kendo-component-header-bg
$kendo-window-titlebar-text: var( --kendo-window-titlebar-text, k-color(on-app-surface) ) !default; // $kendo-component-header-text
$kendo-window-titlebar-border: var( --kendo-window-titlebar-border, k-color(primary) ) !default;

@forward "@progress/kendo-theme-core/scss/components/window/_variables.scss" with (
    $kendo-window-border-width: $kendo-window-border-width,
    $kendo-window-border-radius: $kendo-window-border-radius,
    $kendo-window-font-family: $kendo-window-font-family,
    $kendo-window-font-size: $kendo-window-font-size,
    $kendo-window-line-height: $kendo-window-line-height,
    $kendo-window-titlebar-padding-x: $kendo-window-titlebar-padding-x,
    $kendo-window-titlebar-padding-y: $kendo-window-titlebar-padding-y,
    $kendo-window-titlebar-border-width: $kendo-window-titlebar-border-width,
    $kendo-window-titlebar-border-style: $kendo-window-titlebar-border-style,
    $kendo-window-title-font-size: $kendo-window-title-font-size,
    $kendo-window-title-line-height: $kendo-window-title-line-height,
    $kendo-window-actions-gap: $kendo-window-actions-gap,
    $kendo-window-action-opacity: $kendo-window-action-opacity,
    $kendo-window-action-hover-opacity: $kendo-window-action-hover-opacity,
    $kendo-window-inner-padding-x: $kendo-window-inner-padding-x,
    $kendo-window-inner-padding-y: $kendo-window-inner-padding-y,
    $kendo-window-buttongroup-padding-x: $kendo-window-buttongroup-padding-x,
    $kendo-window-buttongroup-padding-y: $kendo-window-buttongroup-padding-y,
    $kendo-window-buttongroup-border-width: $kendo-window-buttongroup-border-width,
    $kendo-window-bg: $kendo-window-bg,
    $kendo-window-text: $kendo-window-text,
    $kendo-window-border: $kendo-window-border,
    $kendo-window-shadow: $kendo-window-shadow,
    $kendo-window-focus-shadow: $kendo-window-focus-shadow,
    $kendo-window-titlebar-bg: $kendo-window-titlebar-bg,
    $kendo-window-titlebar-text: $kendo-window-titlebar-text,
    $kendo-window-titlebar-border: $kendo-window-titlebar-border,
    $kendo-window-default-size: $kendo-window-default-size
);

