@import "./palettes";

// TODO: re-evaluate!
$kendo-color-white: #ffffff;
$kendo-color-black: #000000;
$kendo-is-dark-theme: false !default;
$kendo-subtle-text: #666666 !default;
$kendo-disabled-text: #8f8f8f !default;

$kendo-color-primary: map-get($kendo-palette-coral, 9) !default;
$kendo-color-primary-text: k-contrast-legacy($kendo-color-primary) !default;
$kendo-color-primary-hover: k-try-shade($kendo-color-primary, 0.5) !default;
$kendo-color-primary-active: k-try-shade($kendo-color-primary, 1.5) !default;
$kendo-color-primary-selected: $kendo-color-primary !default;
$kendo-color-primary-focus: null !default;

$kendo-color-base: #f5f5f5 !default;
$kendo-color-base-text: #424242 !default;
$kendo-color-base-hover: k-try-shade($kendo-color-base, 0.5) !default;
$kendo-color-base-active: k-try-shade($kendo-color-base, 1.5) !default;
$kendo-color-base-selected: k-try-shade($kendo-color-base, 1.5) !default;
$kendo-color-base-focus: null !default;

$kendo-color-secondary: #666666 !default;
$kendo-color-secondary-text: k-contrast-legacy($kendo-color-secondary) !default;
$kendo-color-secondary-hover: k-try-shade($kendo-color-secondary, 0.5) !default;
$kendo-color-secondary-active: k-try-shade($kendo-color-secondary, 1.5) !default;
$kendo-color-secondary-selected: k-try-shade($kendo-color-secondary, 1.5) !default;
$kendo-color-secondary-focus: null !default;

$kendo-color-tertiary: #03a9f4 !default;
$kendo-color-tertiary-text: k-contrast-legacy($kendo-color-tertiary) !default;
$kendo-color-tertiary-hover: k-try-shade($kendo-color-tertiary, 0.5) !default;
$kendo-color-tertiary-active: k-try-shade($kendo-color-tertiary, 1.5) !default;
$kendo-color-tertiary-selected: k-try-shade($kendo-color-tertiary, 1.5) !default;
$kendo-color-tertiary-focus: null !default;

$kendo-color-info: #0058e9 !default;
$kendo-color-info-text: k-contrast-legacy($kendo-color-info) !default;
$kendo-color-info-hover: k-try-shade($kendo-color-info, 0.5) !default;
$kendo-color-info-active: k-try-shade($kendo-color-info, 1.5) !default;
$kendo-color-info-selected: k-try-shade($kendo-color-info, 1.5) !default;
$kendo-color-info-focus: null !default;

$kendo-color-success: map-get($kendo-palette-green, 9) !default;
$kendo-color-success-text: k-contrast-legacy($kendo-color-success) !default;
$kendo-color-success-hover: k-try-shade($kendo-color-success, 0.5) !default;
$kendo-color-success-active: k-try-shade($kendo-color-success, 1.5) !default;
$kendo-color-success-selected: k-try-shade($kendo-color-success, 1.5) !default;
$kendo-color-success-focus: null !default;

$kendo-color-warning: map-get($kendo-palette-yellow, 9) !default;
$kendo-color-warning-text: k-contrast-legacy($kendo-color-warning) !default;
$kendo-color-warning-hover: k-try-shade($kendo-color-warning, 0.5) !default;
$kendo-color-warning-active: k-try-shade($kendo-color-warning, 1.5) !default;
$kendo-color-warning-selected: k-try-shade($kendo-color-warning, 1.5) !default;
$kendo-color-warning-focus: null !default;

$kendo-color-error: map-get($kendo-palette-red, 9) !default;
$kendo-color-error-text: k-contrast-legacy($kendo-color-error) !default;
$kendo-color-error-hover: k-try-shade($kendo-color-error, 0.5) !default;
$kendo-color-error-active: k-try-shade($kendo-color-error, 1.5) !default;
$kendo-color-error-selected: k-try-shade($kendo-color-error, 1.5) !default;
$kendo-color-error-focus: null !default;

$kendo-color-light: #ebebeb !default;
$kendo-color-light-text: k-contrast-legacy($kendo-color-light) !default;
$kendo-color-light-hover: k-try-shade($kendo-color-light, 0.5) !default;
$kendo-color-light-active: k-try-shade($kendo-color-light, 1.5) !default;
$kendo-color-light-selected: k-try-shade($kendo-color-light, 1.5) !default;
$kendo-color-light-focus: null !default;

$kendo-color-dark: #424242 !default;
$kendo-color-dark-text: k-contrast-legacy($kendo-color-dark) !default;
$kendo-color-dark-hover: k-try-shade($kendo-color-dark, 0.5) !default;
$kendo-color-dark-active: k-try-shade($kendo-color-dark, 1.5) !default;
$kendo-color-dark-selected: k-try-shade($kendo-color-dark, 1.5) !default;
$kendo-color-dark-focus: null !default;

$kendo-color-inverse: $kendo-color-dark !default;
$kendo-color-inverse-text: k-contrast-legacy($kendo-color-inverse) !default;
$kendo-color-inverse-hover: k-try-shade($kendo-color-inverse, 0.5) !default;
$kendo-color-inverse-active: k-try-shade($kendo-color-inverse, 1.5) !default;
$kendo-color-inverse-selected: k-try-shade($kendo-color-inverse, 1.5) !default;
$kendo-color-inverse-focus: null !default;

$kendo-body-bg: #ffffff !default;
$kendo-body-text: $kendo-color-base-text !default;

$kendo-color-border: rgba($kendo-color-black, 0.08) !default;
$kendo-color-border-hover: rgba($kendo-color-black, 0.16) !default;

$kendo-color-border-alt: rgba(#666, 0.5) !default;
$kendo-color-border-alt-hover: rgba(#666, 0.8) !default;

/// @deprecated
$kendo-color-primary-darker: k-color-shade($kendo-color-primary, 2) !default;
/// @deprecated
$kendo-color-primary-contrast: $kendo-color-primary-text;
/// @deprecated
$kendo-selected-bg: $kendo-color-primary !default;
/// @deprecated
$kendo-selected-text: $kendo-color-primary-text !default;
/// @deprecated
$kendo-selected-hover-bg: k-try-shade($kendo-color-primary, 0.5) !default;
/// @deprecated
$kendo-selected-hover-text: $kendo-selected-text !default;
/// @deprecated
$kendo-invalid-text: $kendo-color-error !default;
/// @deprecated
$kendo-invalid-border: $kendo-color-error !default;
/// @deprecated
$kendo-invalid-shadow: null !default;
/// @deprecated
$kendo-invalid-bg: null !default;
/// @deprecated
$kendo-base-bg: $kendo-color-base !default;
/// @deprecated
$kendo-base-text: $kendo-body-text !default;
/// @deprecated
$kendo-base-border: $kendo-color-border;
/// @deprecated
$kendo-base-gradient: rgba($kendo-color-black, 0), rgba($kendo-color-black, 0.02) !default;
/// @deprecated
$kendo-component-header-bg: $kendo-base-bg !default;
/// @deprecated
$kendo-component-header-text: $kendo-base-text !default;
/// @deprecated
$kendo-component-header-border: $kendo-base-border !default;
/// @deprecated
$kendo-component-header-gradient: null !default;
/// @deprecated
$kendo-app-text: $kendo-body-text !default;
/// @deprecated
$kendo-link-text: $kendo-color-primary !default;
/// @deprecated
$kendo-selected-border: $kendo-base-border !default;
/// @deprecated
$kendo-hover-gradient: $kendo-base-gradient !default;
/// @deprecated
$kendo-hover-border: $kendo-base-border !default;
/// @deprecated
$kendo-hover-text: $kendo-base-text !default;
/// @deprecated
$kendo-hover-bg: $kendo-color-base-hover !default;
/// @deprecated
$kendo-component-border: $kendo-color-border !default;
/// @deprecated
$kendo-component-text: $kendo-body-text !default;
/// @deprecated
$kendo-component-bg: $kendo-body-bg !default;
/// @deprecated
$kendo-link-hover-text: $kendo-color-primary-darker !default;
/// @deprecated
$kendo-color-primary-lighter: k-color-tint($kendo-color-primary, 2) !default; // not used anywhere
/// @deprecated
$kendo-color-secondary-lighter: k-color-tint($kendo-color-secondary, 2) !default; // not used anywhere
/// @deprecated
$kendo-color-secondary-darker: k-color-shade($kendo-color-secondary, 2) !default; // not used anywhere
/// @deprecated
$kendo-color-secondary-contrast: k-contrast-legacy($kendo-color-secondary) !default; // not use anywhere
/// @deprecated
$kendo-color-tertiary-lighter: k-color-tint($kendo-color-tertiary, 2) !default; // not used anywhere
/// @deprecated
$kendo-color-tertiary-darker: k-color-shade($kendo-color-tertiary, 2) !default; // not used anywhere
/// @deprecated
$kendo-color-tertiary-contrast: k-contrast-legacy($kendo-color-tertiary) !default; // not used anywhere
/// @deprecated
$kendo-color-info-lighter: k-color-tint($kendo-color-info, 2) !default; // not used anywhere
/// @deprecated
$kendo-color-info-darker: k-color-shade($kendo-color-info, 2) !default; // not used anywhere
/// @deprecated
$kendo-color-success-lighter: k-color-tint($kendo-color-success, 2) !default; // not used anywhere
/// @deprecated
$kendo-color-success-darker: k-color-shade($kendo-color-success, 2) !default; // not used anywhere
/// @deprecated
$kendo-color-warning-lighter: k-color-tint($kendo-color-warning, 2) !default; // not used anywhere
/// @deprecated
$kendo-color-warning-darker: k-color-shade($kendo-color-warning, 2) !default; // not used anywhere
/// @deprecated
$kendo-color-error-lighter: k-color-tint($kendo-color-error, 2) !default; // not used anywhere
/// @deprecated
$kendo-color-error-darker: k-color-shade($kendo-color-error, 2) !default; // not used anywhere
/// @deprecated
$kendo-selected-hover-border: $kendo-base-border !default;
/// @deprecated
$kendo-selected-hover-gradient: $kendo-base-gradient !default;
/// @deprecated
$kendo-selected-gradient: $kendo-base-gradient !default;
/// @deprecated
$kendo-link-text: $kendo-color-primary !default;
/// @deprecated
$kendo-app-border: rgba($kendo-color-black, 0.08) !default;
/// @deprecated
$kendo-app-bg: k-try-shade($kendo-body-bg, 0.25) !default;
/// @deprecated
$kendo-loading-bg: $kendo-component-bg !default;
/// @deprecated
$kendo-loading-text: currentColor !default;
