$kendo-color-primary-contrast: null !default;
$kendo-body-bg: null !default;
// $kendo-body-text: null !default;
$kendo-color-primary: null !default;
$kendo-disabled-bg: null !default;
$kendo-disabled-text: null !default;
$kendo-disabled-border: null !default;
$kendo-color-primary-light: null !default;
$kendo-color-primary-darker: null !default;
$kendo-color-primary-contrast: null !default;
$kendo-selected-bg: null !default;
$kendo-selected-text: null !default;
$kendo-selected-hover-bg: null !default;
$kendo-selected-hover-text: null !default;
$kendo-invalid-text: null !default;
$kendo-invalid-border: null !default;
$kendo-invalid-shadow: null !default;
$kendo-invalid-bg: null !default;
$kendo-color-error: null !default;
$kendo-color-success: null !default;
$kendo-color-warning: null !default;
$kendo-color-info: null !default;
$kendo-base-bg: null !default;
$kendo-base-text: null !default;
$kendo-base-border: null !default;
$kendo-component-header-bg: null !default;
$kendo-component-header-text: null !default;
$kendo-component-header-border: null !default;
$kendo-component-header-gradient: null !default;
$kendo-app-text: null !default;
$kendo-link-text: null !default;
$kendo-selected-border: null !default;
$kendo-hover-gradient: null !default;
$kendo-hover-border: null !default;
$kendo-hover-text: null !default;
$kendo-hover-bg: null !default;
$kendo-component-border: null !default;
$kendo-component-text: null !default;
$kendo-component-bg: null !default;
$kendo-link-hover-text: null !default;
$kendo-selected-hover-border: null !default;
$kendo-selected-hover-gradient: null !default;
$kendo-selected-gradient: null !default;
$kendo-link-text: null !default;
$kendo-app-border: null !default;
$kendo-app-bg: null !default;
$kendo-loading-bg:  null !default;

@if ($kendo-new-colors) {
    $kendo-body-bg: $_kendo-body-bg;
    $kendo-body-text: $_kendo-body-text;
    $kendo-color-primary: $_kendo-color-primary;
    $kendo-disabled-bg: $_kendo-disabled-bg;
    $kendo-disabled-text: $_kendo-disabled-text;
    $kendo-disabled-border: $_kendo-disabled-border;
    $kendo-color-primary-light: $_kendo-color-primary-light;
    $kendo-color-primary-darker: $_kendo-color-primary-active;
    $kendo-color-primary-contrast: $_kendo-color-primary-text;
    $kendo-selected-bg: $_kendo-color-primary;
    $kendo-selected-text: $_kendo-color-primary-text;
    $kendo-selected-hover-bg: $_kendo-color-primary-hover;
    $kendo-selected-hover-text: $kendo-selected-text;
    $kendo-invalid-text: $_kendo-color-error;
    $kendo-invalid-border: $_kendo-color-error;
    $kendo-invalid-shadow: null;
    $kendo-invalid-bg: null;
    $kendo-color-error: $_kendo-color-error;
    $kendo-color-success: $_kendo-color-success;
    $kendo-color-warning: $_kendo-color-warning;
    $kendo-color-info: $_kendo-color-info;
    $kendo-base-bg: $_kendo-color-base;
    $kendo-base-text: $_kendo-body-text;
    $kendo-base-border: $_kendo-color-border;
    $kendo-component-header-bg: $kendo-base-bg;
    $kendo-component-header-text: $_kendo-color-base-text;
    $kendo-component-header-border: $kendo-base-border;
    $kendo-component-header-gradient: null;
    $kendo-app-text: $kendo-body-text;
    $kendo-link-text: $kendo-color-primary;
    $kendo-selected-border: $kendo-base-border;
    $kendo-hover-gradient: $kendo-base-gradient;
    $kendo-hover-border: $kendo-base-border;
    $kendo-hover-text: $kendo-base-text;
    $kendo-hover-bg: $_kendo-color-base-hover;
    $kendo-component-border: $_kendo-color-border;
    $kendo-component-text: $kendo-body-text;
    $kendo-component-bg: $kendo-body-bg;
    $kendo-link-hover-text: $kendo-color-primary-darker;
    $kendo-selected-hover-border: $kendo-base-border;
    $kendo-selected-hover-gradient: $kendo-base-gradient;
    $kendo-selected-gradient: $kendo-base-gradient;
    $kendo-link-text: $kendo-color-primary;
    $kendo-app-border: $kendo-color-border;
    $kendo-app-bg: if($kendo-body-bg != null, $kendo-body-bg-dim, null) !default;
    $kendo-loading-bg: $kendo-component-bg;
} @else {
    /// @deprecated
    $kendo-color-primary-darker: if($kendo-color-primary != null, k-color-shade($kendo-color-primary, 2), null) !default;
    /// @deprecated
    $kendo-color-primary-contrast: k-contrast-legacy( $kendo-color-primary ) !default;
    /// @deprecated
    $kendo-selected-bg: $kendo-color-primary !default;
    /// @deprecated
    $kendo-selected-text: k-contrast-legacy( $kendo-selected-bg ) !default;
    /// @deprecated
    $kendo-selected-hover-bg: $kendo-color-primary-hover !default;
    /// @deprecated
    $kendo-selected-hover-text: $kendo-selected-text !default;
    /// @deprecated
    $kendo-invalid-text: $kendo-color-error !default;
    /// @deprecated
    $kendo-invalid-border: $kendo-color-error !default;
    /// @deprecated
    $kendo-invalid-shadow: null !default;
    /// @deprecated
    $kendo-invalid-bg: null !default;
    /// @deprecated
    $kendo-base-bg: $kendo-color-base !default;
    /// @deprecated
    $kendo-base-text: $kendo-body-text !default;
    /// @deprecated
    $kendo-base-border: $kendo-color-border;
    /// @deprecated
    $kendo-base-gradient: rgba($kendo-color-black, 0), rgba($kendo-color-black, 0.02) !default;
    /// @deprecated
    $kendo-component-header-bg: $kendo-base-bg !default;
    /// @deprecated
    $kendo-component-header-text: $kendo-base-text !default;
    /// @deprecated
    $kendo-component-header-border: $kendo-base-border !default;
    /// @deprecated
    $kendo-component-header-gradient: null !default;
    /// @deprecated
    $kendo-app-text: $kendo-body-text !default;
    /// @deprecated
    $kendo-link-text: $kendo-color-primary !default;
    /// @deprecated
    $kendo-selected-border: $kendo-base-border !default;
    /// @deprecated
    $kendo-hover-gradient: $kendo-base-gradient !default;
    /// @deprecated
    $kendo-hover-border: $kendo-base-border !default;
    /// @deprecated
    $kendo-hover-text: $kendo-base-text !default;
    /// @deprecated
    $kendo-hover-bg: $kendo-color-base-hover !default;
    /// @deprecated
    $kendo-component-border: $kendo-color-border !default;
    /// @deprecated
    $kendo-component-text: $kendo-body-text !default;
    /// @deprecated
    $kendo-component-bg: $kendo-body-bg !default;
    /// @deprecated
    $kendo-link-hover-text: $kendo-color-primary-darker !default;
    /// @deprecated
    $kendo-color-primary-lighter: if($kendo-color-primary != null, k-color-tint($kendo-color-primary, 2), null) !default; // not used anywhere
    /// @deprecated
    $kendo-color-secondary-lighter: if($kendo-color-secondary != null, k-color-tint($kendo-color-secondary, 2), null) !default; // not used anywhere
    /// @deprecated
    $kendo-color-secondary-darker: if($kendo-color-secondary != null, k-color-shade($kendo-color-secondary, 2), null) !default; // not used anywhere
    /// @deprecated
    $kendo-color-secondary-contrast: if($kendo-color-secondary != null, k-contrast-legacy($kendo-color-secondary), null) !default; // not use anywhere
    /// @deprecated
    $kendo-color-tertiary-lighter: if($kendo-color-tertiary != null, k-color-tint($kendo-color-tertiary, 2), null) !default; // not used anywhere
    /// @deprecated
    $kendo-color-tertiary-darker: if($kendo-color-tertiary != null, k-color-shade($kendo-color-tertiary, 2), null) !default; // not used anywhere
    /// @deprecated
    $kendo-color-tertiary-contrast: if($kendo-color-tertiary != null, k-contrast-legacy($kendo-color-tertiary), null) !default; // not used anywhere
    /// @deprecated
    $kendo-color-info-lighter: if($kendo-color-info != null, k-color-tint($kendo-color-info, 2), null) !default; // not used anywhere
    /// @deprecated
    $kendo-color-info-darker: if($kendo-color-info != null, k-color-shade($kendo-color-info, 2), null) !default; // not used anywhere
    /// @deprecated
    $kendo-color-success-lighter: if($kendo-color-success != null, k-color-tint($kendo-color-success, 2), null) !default; // not used anywhere
    /// @deprecated
    $kendo-color-success-darker: if($kendo-color-success != null, k-color-shade($kendo-color-success, 2), null) !default; // not used anywhere
    /// @deprecated
    $kendo-color-warning-lighter: if($kendo-color-warning != null, k-color-tint($kendo-color-warning, 2), null) !default; // not used anywhere
    /// @deprecated
    $kendo-color-warning-darker: if($kendo-color-warning != null, k-color-shade($kendo-color-warning, 2), null) !default; // not used anywhere
    /// @deprecated
    $kendo-color-error-lighter: if($kendo-color-error != null, k-color-tint($kendo-color-error, 2), null) !default; // not used anywhere
    /// @deprecated
    $kendo-color-error-darker: if($kendo-color-error != null, k-color-shade($kendo-color-error, 2), null) !default; // not used anywhere
    /// @deprecated
    $kendo-selected-hover-border: $kendo-base-border !default;
    /// @deprecated
    $kendo-selected-hover-gradient: $kendo-base-gradient !default;
    /// @deprecated
    $kendo-selected-gradient: $kendo-base-gradient !default;
    /// @deprecated
    $kendo-link-text: $kendo-color-primary !default;
    /// @deprecated
    $kendo-app-border: rgba($kendo-color-black, 0.08) !default;
    /// @deprecated
    $kendo-app-bg: if($kendo-body-bg != null, k-try-shade($kendo-body-bg, 0.25), null) !default;
    /// @deprecated
    $kendo-loading-text: currentColor !default;
}
