@import "mixins/core/config-maps";
@import "mixins/colors";


// Options
$enable-rounded: true !default;
$enable-shadows: true !default;
$enable-gradients: true !default;
$enable-transitions: true !default;


// Spacing
$spacer: 1em !default;
$spacer-x: $spacer !default;
$spacer-y: $spacer !default;


// Fonts

/// Base font size across all components.
/// @group fonts
$font-size: 14px !default;
$font-size-xs: 10px !default;
$font-size-sm: 12px !default;
$font-size-lg: 19px !default;

/// Font family across all components.
/// @group fonts
$font-family: inherit !default;

/// Font family for monospaced text. Used for styling the code.
/// @group fonts
$font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Roboto Mono", "Ubuntu Mono", "Lucida Console", "Courier New", monospace !default;

/// Line height used along with $font-size.
/// @group fonts
$line-height: (20 / 14) !default;
$line-height-sm: 1.2 !default;
$line-height-lg: 1.5 !default;
$line-height-em: $line-height * 1em;


// Font weight
$font-weight-light: 300 !default;
$font-weight-normal: 400 !default;
$font-weight-bold: 700 !default;


// Headings
$h1-font-size: ($font-size * 2) !default;
$h2-font-size: $font-size-lg !default;
$h3-font-size: $font-size !default;
$h4-font-size: $font-size-sm !default;
$h5-font-size: $font-size-sm !default;
$h6-font-size: $font-size-sm !default;

$h1-margin-bottom: $font-size !default;
$h2-margin-bottom: $font-size !default;
$h3-margin-bottom: $font-size !default;
$h4-margin-bottom: $font-size !default;
$h5-margin-bottom: $font-size !default;
$h6-margin-bottom: $font-size !default;

// Display
$display1-font-size: ($font-size * 6) !default;
$display2-font-size: ($font-size * 5) !default;
$display3-font-size: ($font-size * 4) !default;
$display4-font-size: ($font-size * 3) !default;

// Paragraph
$paragraph-margin-bottom: $font-size !default;


// Metrics
$padding-x: 8px !default;
$padding-y: 4px !default;
$padding-x-sm: $padding-x / 2 !default;
$padding-y-sm: $padding-y / 2 !default;
$padding-x-lg: $padding-x * 1.5 !default;
$padding-y-lg: $padding-y * 1.5 !default;

/// Border radius for all components.
$border-radius: 2px !default;
$border-radius-sm: 1px !default;
$border-radius-lg: 4px !default;

$panel-padding-x: $padding-x !default;
$panel-padding-y: $padding-y !default;

$popup-padding-x: 0 !default;
$popup-padding-y: 0 !default;

$header-padding-x: $padding-x !default;
$header-padding-y: $padding-y * 2 !default;

$form-line-height: $line-height !default;
$form-line-height-em: $form-line-height * 1em !default;

$button-border-width: 1px !default;
$button-padding-x: $padding-x !default;
$button-padding-y: $padding-y !default;
$button-padding-x-sm: $button-padding-x / 2 !default;
$button-padding-y-sm: $button-padding-y / 2 !default;
$button-calc-size: #{$form-line-height-em} + #{$button-padding-y * 2} + 2px;
$button-inner-calc-size: #{$form-line-height-em} + #{$button-padding-y * 2};

$input-border-width: 1px !default;
$input-border-radius: $border-radius !default;
$input-padding-x: $padding-x !default;
$input-padding-y: $padding-y !default;
$input-padding-x-sm: $input-padding-x / 2 !default;
$input-padding-y-sm: $input-padding-y / 2 !default;
$input-calc-size: #{$form-line-height-em} + #{$input-padding-y * 2} + 2px;
$input-inner-calc-size: #{$form-line-height-em} + #{$input-padding-y * 2};

/// The horizontal padding of the container.
/// @group toolbar
$toolbar-padding-x: $padding-x !default;

/// The vertical padding of the container.
/// @group toolbar
$toolbar-padding-y: $padding-x !default;
$toolbar-button-padding-x: $button-padding-x !default;
$toolbar-button-padding-y: $button-padding-y !default;
$toolbar-button-calc-size: #{$form-line-height-em} + #{$toolbar-button-padding-y * 2} + #{$button-border-width * 2};
$toolbar-inner-calc-size: #{$toolbar-button-calc-size} + #{$toolbar-padding-y * 2} !default;

$list-item-padding-x: $padding-x !default;
$list-item-padding-y: $padding-y !default;

$nav-item-margin: 0 !default;
$nav-item-padding-x: $padding-x-lg !default;
$nav-item-padding-y: $padding-y-lg !default;

$cell-padding-x: 12px !default;
$cell-padding-y: 8px !default;
$cell-padding: 8px !default;
// $cell-padding-sm: $table-sm-cell-padding !default;

$window-inner-padding-x: 16px !default;
$window-inner-padding-y: 16px !default;
$window-titlebar-padding-x: 16px !default;
$window-titlebar-padding-y: 12px !default;

$progressbar-height: 22px !default;

$zindex-popup: 1;
$zindex-window: 2;

$rgba-transparent: rgba( 0, 0, 0, 0 );


// Theme colors
/// The color that focuses the user attention.
/// Used for primary buttons and for elements of primary importance across the theme.
$accent: #ff6358 !default;

/// The color used along with the accent color denoted by $accent.
/// Used to provide contrast between the background and foreground colors.
$accent-contrast: contrast-wcag( $accent ) !default;

/// The color for informational messages and states.
$info: #0058e9 !default;
/// The color for success messages and states.
$success: #37b400 !default;
/// The color for warning messages and states.
$warning: #ffc000 !default;
/// The color for error messages and states.
$error: #f31700 !default;

$color-level-step: 8% !default;

$text-color: #656565 !default;
$bg-color: #ffffff !default;
$border-color: rgba( black, .08 ) !default;

/// The text color of the components' chrome area.
$base-text: #656565 !default;
/// The background of the components' chrome area.
$base-bg: #f6f6f6 !default;
/// The border color of the components' chrome area.
$base-border: rgba( black, .08 ) !default;
/// The gradient background of the components' chrome area.
$base-gradient: $base-bg, darken( $base-bg, 2% ) !default;

/// The text color of hovered items.
$hovered-text: #656565 !default;
/// The background of hovered items.
$hovered-bg: #ededed !default;
/// The border color of hovered items.
$hovered-border: rgba( black, .15 ) !default;
/// The gradient background of hovered items.
$hovered-gradient: $hovered-bg, darken( $hovered-bg, 2% ) !default;

/// The background of selected items.
$selected-bg: $accent !default;
/// The text color of selected items.
$selected-text: contrast-wcag( $selected-bg ) !default;
/// The border color of selected items.
$selected-border: rgba( black, .1 ) !default;
/// The gradient background of selected items.
$selected-gradient: none !default;

$selected-hover-color: $selected-text !default;
$selected-hover-bg: shade( $selected-bg ) !default;

$focused-shadow: inset 0 0 0 2px rgba(0, 0, 0, .13) !default;

$transition: background-color .2s ease !default;

$invalid-border: rgba($error, .5) !default;

$gradient-transparent-to-black: rgba( black, 0), black;
$gradient-transparent-to-white: rgba( white, 0), white;
$gradient-black-to-transparent: black, rgba( black, 0);
$gradient-white-to-transparent: white, rgba( white, 0);

$gradient-rainbow: #ff0000, #ffff00, #00ff00, #00ffff, #0000ff, #ff00ff, #ff0000;




// Widget
$widget-text: $text-color !default;
$widget-bg: $bg-color !default;
$widget-border: rgba( black, .08 ) !default;


// Panel
$panel-text: $widget-text !default;
$panel-bg: $widget-bg !default;
$panel-border: rgba( black, .08 ) !default;


// Popup
$popup-text: $base-text !default;
$popup-bg: lighten($base-bg, 1%) !default;
$popup-border: $base-border !default;
$popup-shadow: 0 2px 4px 0 rgba(0, 0, 0, .03), 0 4px 5px 0 rgba(0, 0, 0, .04) !default;

// Header
$header-text: $base-text !default;
$header-bg: $base-bg !default;
$header-border: $base-border !default;
$header-gradient: null !default;

$header-hovered-text: $hovered-text !default;
$header-hovered-bg: $hovered-bg !default;
$header-hovered-border: $hovered-border !default;
$header-hovered-gradient: null !default;

$header-selected-text: $selected-text !default;
$header-selected-bg: $selected-bg !default;
$header-selected-border: $selected-border !default;
$header-selected-gradient: null !default;


// Button
/// The text color of the buttons.
/// @group buttons
$button-text: $base-text !default;

/// The background of the buttons.
/// @group buttons
$button-bg: $base-bg !default;

/// The border color of the buttons.
/// @group buttons
$button-border: $base-border !default;

/// The background gradient of the buttons.
/// @group buttons
$button-gradient: $base-gradient !default;
$button-shadow: null !default;

/// The text color of hovered buttons.
/// @group buttons
$button-hovered-text: $hovered-text !default;

/// The background of hovered buttons.
/// @group buttons
$button-hovered-bg: $hovered-bg !default;

/// The border color of hovered buttons.
/// @group buttons
$button-hovered-border: $hovered-border !default;

/// The background gradient of hovered buttons.
/// @group buttons
$button-hovered-gradient: $hovered-gradient !default;
$button-hovered-shadow: null !default;

/// The text color of pressed buttons.
/// @group buttons
$button-pressed-text: $button-text !default;

/// The background color of pressed buttons.
/// @group buttons
$button-pressed-bg: $button-bg !default;

/// The border color of pressed buttons.
/// @group buttons
$button-pressed-border: $button-border !default;

/// The background gradient of pressed buttons.
/// @group buttons
$button-pressed-gradient: none !default;
$button-pressed-shadow: 0 2px 2px 0 rgba(0, 0, 0, .06) !default;

/// The shadow of focused buttons.
/// @group buttons
$button-focused-shadow: 0 3px 4px 0 rgba(0, 0, 0, .06) !default;


// Primary button
$primary-button-text: $accent-contrast !default;
$primary-button-bg: $accent !default;
$primary-button-border: $primary-button-bg !default;
$primary-button-gradient: rgba( adjust-hue( $primary-button-bg, 14), 0 ), rgba( adjust-hue( $primary-button-bg, 14), .2 ) !default;

$primary-button-hovered-text: $primary-button-text !default;
$primary-button-hovered-bg: adjust-hue( $primary-button-bg, 3) !default;
$primary-button-hovered-border: $primary-button-hovered-bg !default;
$primary-button-hovered-gradient: rgba( adjust-hue( $primary-button-hovered-bg, 14), 0 ), rgba( adjust-hue( $primary-button-hovered-bg, 14), .2 ) !default;

$primary-button-pressed-text: $primary-button-text !default;
$primary-button-pressed-bg: $primary-button-bg !default;
$primary-button-pressed-border: $primary-button-pressed-bg !default;
$primary-button-pressed-gradient: rgba( adjust-hue( $primary-button-pressed-bg, 14), .2 ), rgba( adjust-hue( $primary-button-pressed-bg, 14), 0 ) !default;
$primary-button-pressed-shadow: 0 2px 2px 0 rgba(0, 0, 0, .06) !default;

$primary-button-focused-shadow: 0 3px 4px 0 rgba($accent, .4) !default;

$flat-button-hover-opacity: .08 !default;
$flat-button-focused-opacity: false !default;
$flat-button-active-opacity: .16 !default;
$flat-button-selected-opacity: .2 !default;

// Toolbar
$toolbar-text: $button-text !default;
$toolbar-bg: $button-bg !default;
$toolbar-border: $button-border !default;
$toolbar-gradient: null !default;


// Input
$input-default-width: 12.4em !default;

$input-text: $panel-text !default;
$input-bg: $panel-bg !default;
$input-border: $button-border !default;
$input-shadow: null !default;

$input-hovered-text: $input-text !default;
$input-hovered-bg: $input-bg !default;
$input-hovered-border: $button-hovered-border !default;
$input-hovered-shadow: null !default;

$input-focused-text: $input-text !default;
$input-focused-bg: $input-bg !default;
$input-focused-border: $input-hovered-border !default;
$input-focused-shadow: 0 2px 4px 0 rgba(0, 0, 0, .03), 0 4px 5px 0 rgba(0, 0, 0, .04) !default;


// Link
$link-text: $accent !default;
$link-hover-text: desaturate(darken($accent, 5), 25) !default;


// Node
$node-text: $base-text !default;
$node-bg: $base-bg !default;
$node-border: $node-bg !default;
$node-gradient: null !default;

$node-hovered-text: $hovered-text !default;
$node-hovered-bg: $hovered-bg !default;
$node-hovered-border: $node-hovered-bg !default;
$node-hovered-gradient: null !default;

$node-selected-text: $selected-text !default;
$node-selected-bg: $selected-bg !default;
$node-selected-border: $node-selected-bg !default;
$node-selected-gradient: null !default;


// List
$list-item-text: $text-color !default;
$list-item-bg: $popup-bg !default;

$list-item-hovered-text: $hovered-text !default;
$list-item-hovered-bg: $hovered-bg !default;

$list-item-selected-text: $selected-text !default;
$list-item-selected-bg: $selected-bg !default;

$list-item-focused-shadow: inset 0 0 0 2px rgba(0, 0, 0, .13) !default;


// Notification
$notification-info-border: $info !default;
$notification-info-bg: $info !default;
$notification-info-text: contrast-wcag( $notification-info-bg ) !default;
$notification-success-border: $success !default;
$notification-success-bg: $success !default;
$notification-success-text: contrast-wcag( $notification-success-bg ) !default;
$notification-warning-border: $warning !default;
$notification-warning-bg: $warning !default;
$notification-warning-text: contrast-wcag( $notification-warning-bg ) !default;
$notification-error-border: $error !default;
$notification-error-bg: $error !default;
$notification-error-text: contrast-wcag( $notification-error-bg ) !default;


// Chart
/// The color of the first series.
/// @group charts
$series-a: #ff6358 !default;

/// The color of the second series.
/// @group charts
$series-b: #ffd246 !default;

/// The color of the third series.
/// @group charts
$series-c: #78d237 !default;

/// The color of the fourth series.
/// @group charts
$series-d: #28b4c8 !default;

/// The color of the fifth series.
/// @group charts
$series-e: #2d73f5 !default;

/// The color of the sixth series.
/// @group charts
$series-f: #aa46be !default;

$chart-font-size: $font-size !default;
$chart-font-size-sm: 11px !default;
$chart-font-size-md: 12px !default;
$chart-font-size-lg: 16px !default;

$chart-inactive: rgba( $text-color, .5 ) !default;
/// The color of the Chart grid lines (major).
/// @group charts
$chart-major-lines: rgba(0, 0, 0, .08) !default;
/// The color of the Chart grid lines (minor).
/// @group charts
$chart-minor-lines: rgba(0, 0, 0, .04) !default;

$chart-area-opacity: .8 !default;

// Icons
$icon-size: 16px;
$icon-size-lg: 32px;
$icon-spacing: 4px !default;

// Disabled mixin variables
$disabled-filter: grayscale(.1) !default;
$disabled-opacity: .6 !default;

// Pager
$pager-padding-x: $toolbar-padding-x !default;
$pager-padding-y: $toolbar-padding-y !default;


// Card
$card-padding-x: 16px !default;
$card-padding-y: 12px !default;
$card-border-width: 1px !default;
$card-border-radius: 4px !default;
$card-box-shadow: false !default;
$card-box-focused-shadow: 0 0 4px 0 rgba(0, 0, 0, .3) !default;

$card-deck-gap: 16px !default;

$card-bg: $panel-bg !default;
$card-text: $panel-text !default;
$card-border: $panel-border !default;

$card-header-padding-x: $card-padding-x !default;
$card-header-padding-y: $card-padding-y !default;
$card-header-border-width: 1px !default;
$card-header-bg: $header-bg !default;
$card-header-text: $header-text !default;
$card-header-border: $header-border !default;

$card-body-padding-x: $card-padding-x !default;
$card-body-padding-y: $card-padding-y !default;

$card-title-margin-bottom: $h2-margin-bottom !default;
$card-subtitle-margin-bottom: $h6-margin-bottom !default;

$card-actions-padding-x: $card-padding-x !default;
$card-actions-padding-y: ($card-padding-y - $button-padding-y) !default;
$card-actions-border-width: 1px !default;

$card-deck-scroll-button-radius: 0 !default;
$card-deck-scroll-button-offset: -$button-border-width !default;



// Chat
$chat-padding-x: 16px !default;
$chat-padding-y: 16px !default;

$chat-item-spacing-x: 8px !default;
$chat-item-spacing-y: 16px !default;

$chat-message-list-padding-x: $chat-padding-x !default;
$chat-message-list-padding-y: $chat-padding-y !default;
$chat-message-list-spacing: $chat-item-spacing-y !default;

$chat-bubble-padding-x: 12px !default;
$chat-bubble-padding-y: 8px !default;
$chat-bubble-spacing: 2px !default;
$chat-bubble-line-height: 18px !default;

$chat-bubble-border-radius: 12px !default;
$chat-bubble-border-radius-sm: 2px !default;

$chat-avatar-size: 32px !default;
$chat-avatar-spacing: $chat-item-spacing-x !default;

$chat-message-box-padding-x: $chat-padding-x !default;
$chat-message-box-padding-y: 10px !default;

$chat-quick-reply-padding-x: 12px !default;
$chat-quick-reply-padding-y: 8px !default;
$chat-quick-reply-spacing: 8px !default;
$chat-quick-reply-line-height: $chat-bubble-line-height !default;


$chat-bg: $popup-bg !default;
$chat-text: $popup-text !default;
$chat-border: $popup-border !default;

$chat-bubble-bg: $panel-bg !default;
$chat-bubble-text: $panel-text !default;
$chat-bubble-border: $chat-bubble-bg !default;

$chat-alt-bubble-bg: $accent !default;
$chat-alt-bubble-text: $accent-contrast !default;
$chat-alt-bubble-border: $chat-alt-bubble-bg !default;

// Tooltip
$tooltip-bg: $accent !default;
$tooltip-color: contrast-wcag($tooltip-bg) !default;


// Config maps
$typography-config: () !default;
// sass-lint:disable indentation
$typography-config: map-merge((
    display-1: font-map($display1-font-size, 1.2, $font-weight-light, inherit),
    display-2: font-map($display2-font-size, 1.2, $font-weight-light, inherit),
    display-3: font-map($display3-font-size, 1.2, $font-weight-light, inherit),
    display-4: font-map($display4-font-size, 1.2, $font-weight-light, inherit),
    h1: font-map($h1-font-size, normal, $font-weight-light, inherit),
    h2: font-map($h2-font-size, normal, $font-weight-normal, inherit),
    h3: font-map($h3-font-size, normal, $font-weight-bold, inherit),
    h4: font-map($h4-font-size, normal, $font-weight-bold, inherit),
    h5: font-map($h5-font-size, normal, $font-weight-normal, inherit),
    h6: font-map($h6-font-size, normal, $font-weight-normal, inherit),
    body: font-map($font-size, $line-height, $font-weight-normal, inherit)
), $typography-config);
$typography-config: map-merge((
    card-title: map-get($typography-config, h2),
    card-subtitle: map-get($typography-config, h6)
), $typography-config);
// sass-lint:enable indentation
