// Scheduler
$kendo-scheduler-border-width: 1px !default;
$kendo-scheduler-font-family: $kendo-font-family !default;
$kendo-scheduler-font-size: $kendo-font-size-md !default;
$kendo-scheduler-line-height: $kendo-line-height-md !default;

$kendo-scheduler-bg: $kendo-component-bg !default;
$kendo-scheduler-text: $kendo-component-text !default;
$kendo-scheduler-border: $kendo-component-border !default;

$kendo-scheduler-toolbar-bg: k-try-shade( $kendo-button-bg, .5 ) !default;
$kendo-scheduler-toolbar-text: null !default;
$kendo-scheduler-toolbar-border: null !default;
$kendo-scheduler-toolbar-gradient: null !default;

$kendo-scheduler-footer-bg: k-try-shade( $kendo-button-bg, .5 ) !default;
$kendo-scheduler-footer-text: null !default;
$kendo-scheduler-footer-border: null !default;
$kendo-scheduler-footer-gradient: null !default;

$kendo-scheduler-event-min-height: 25px !default;
$kendo-scheduler-event-border-radius: $kendo-border-radius-md !default;
$kendo-scheduler-event-line-height: calc( #{$kendo-scheduler-event-min-height} - (2 * #{$kendo-padding-sm-y}) ) !default;

$kendo-scheduler-event-bg: $kendo-color-primary !default;
$kendo-scheduler-event-text: k-contrast-color( $kendo-scheduler-event-bg ) !default;
$kendo-scheduler-event-border: null !default;
$kendo-scheduler-event-gradient: null !default;
$kendo-scheduler-event-shadow: null !default;

$kendo-scheduler-event-hover-bg: null !default;
$kendo-scheduler-event-hover-text: null !default;
$kendo-scheduler-event-hover-border: null !default;
$kendo-scheduler-event-hover-gradient: null !default;
$kendo-scheduler-event-hover-shadow: null !default;

$kendo-scheduler-event-selected-bg: k-try-tint( $kendo-color-primary, 1 ) !default;
$kendo-scheduler-event-selected-text: k-contrast-color( $kendo-scheduler-event-selected-bg ) !default;
$kendo-scheduler-event-selected-border: null !default;
$kendo-scheduler-event-selected-gradient: null !default;
$kendo-scheduler-event-selected-shadow: $box-shadow-depth-3 !default;

$kendo-scheduler-event-ongoing-shadow: inset 0px 0px 0px 1px #ff0000 !default;

$kendo-scheduler-cell-padding-x: k-map-get( $kendo-spacing, 2 ) !default;
$kendo-scheduler-cell-padding-y: k-map-get( $kendo-spacing, 2 ) !default;
$kendo-scheduler-cell-height: $kendo-line-height-md * 1rem !default;
$kendo-scheduler-datecolumn-width: 12rem !default;
$kendo-scheduler-timecolumn-width: 11rem !default;

$kendo-scheduler-nonwork-bg: k-try-shade( $kendo-scheduler-bg, .5 ) !default;
$kendo-scheduler-nonwork-text: null !default;

$kendo-scheduler-weekend-bg: null !default;
$kendo-scheduler-weekend-text: null !default;

$kendo-scheduler-othermonth-bg: k-try-shade( $kendo-scheduler-bg, .5 ) !default;
$kendo-scheduler-othermonth-text: null !default;

$kendo-scheduler-yearview-padding-x: k-map-get( $kendo-spacing, 5 ) !default;
$kendo-scheduler-yearview-padding-y: $kendo-scheduler-yearview-padding-x !default;

$kendo-scheduler-yearview-calendar-gap: k-map-get( $kendo-spacing, 5 ) !default;

$kendo-scheduler-yearview-indicator-size: 3px !default;
$kendo-scheduler-yearview-indicator-calc-offset-top: calc( #{$kendo-calendar-cell-size} - (#{$kendo-calendar-cell-padding-y} * 2)) !default;
$kendo-scheduler-yearview-indicator-calc-offset-left: calc( 50% - #{k-math-div( $kendo-scheduler-yearview-indicator-size, 2 )} ) !default;
$kendo-scheduler-yearview-indicator-border-radius: 50% !default;
$kendo-scheduler-yearview-indicator-bg: $kendo-color-primary !default;
$kendo-scheduler-yearview-indicator-selected-bg: $kendo-color-primary-contrast !default;

$kendo-scheduler-tooltip-padding-x: k-map-get( $kendo-spacing, 2 ) !default;
$kendo-scheduler-tooltip-padding-y: k-map-get( $kendo-spacing, 2 ) !default;
$kendo-scheduler-tooltip-border-width: 0 !default;
$kendo-scheduler-tooltip-bg: $kendo-color-primary-contrast !default;
$kendo-scheduler-tooltip-text: $kendo-base-text !default;
$kendo-scheduler-tooltip-border: null !default;
$kendo-scheduler-tooltip-shadow: $box-shadow-depth-2 !default;

$kendo-scheduler-tooltip-title-margin-y: k-map-get( $kendo-spacing, 2 ) !default;
$kendo-scheduler-tooltip-month-font-size: $kendo-font-size-sm !default;
$kendo-scheduler-tooltip-day-font-size: $kendo-scheduler-tooltip-month-font-size * 2 !default;

$kendo-scheduler-tooltip-events-max-height: 250px !default;
$kendo-scheduler-tooltip-events-gap: k-map-get( $kendo-spacing, 1 ) !default;

$kendo-scheduler-tooltip-event-padding-x: k-map-get( $kendo-spacing, 2 ) !default;
$kendo-scheduler-tooltip-event-padding-y: k-map-get( $kendo-spacing, 2 ) !default;
$kendo-scheduler-tooltip-event-border-radius: $kendo-border-radius-md !default;
$kendo-scheduler-tooltip-event-gap: k-map-get( $kendo-spacing, 2 ) !default;

$kendo-scheduler-tooltip-callout-text: $kendo-scheduler-tooltip-bg !default;
