// Avatar
$avatar-border-width: 1px !default;
$avatar-border-radius: 2px !default;

$avatar-font-family: $font-family !default;
$avatar-font-size: $font-size !default;
$avatar-line-height: $line-height !default;


$avatar-sizes: (
    sm: map-get( $spacing, 4 ),
    md: map-get( $spacing, 8 ),
    lg: map-get( $spacing, 16 )
) !default;


$avatar-theme-colors: $theme-colors !default;
