@use "../core/_index.scss" as *;
// Avatar

/// The border width of the Avatar.
/// @group avatar
$kendo-avatar-border-width: 1px !default;

/// The font family of the Avatar.
/// @group avatar
$kendo-avatar-font-family: var( --kendo-font-family, inherit ) !default;
/// The font size of the Avatar.
/// @group avatar
$kendo-avatar-font-size: var( --kendo-font-size, inherit ) !default;
/// The line height of the Avatar.
/// @group avatar
$kendo-avatar-line-height: var( --kendo-line-height-xs, normal ) !default;

/// The sizes map of the Avatar.
/// @group avatar
$kendo-avatar-sizes: (
    sm: k-spacing(4),
    md: k-spacing(8),
    lg: k-spacing(16)
) !default;

/// The theme colors map of the Avatar.
/// @group avatar
$kendo-avatar-theme-colors: (
    "primary": k-color(primary),
    "secondary": k-color(secondary),
    "tertiary": k-color(tertiary),
    "info": k-color(info),
    "success": k-color(success),
    "warning": k-color(warning),
    "error": k-color(error),
    "dark": k-color(dark),
    "light": k-color(light),
    "inverse": if($kendo-is-dark-theme, k-color(light), k-color(dark))
) !default;

@forward "@progress/kendo-theme-core/scss/components/avatar/_variables.scss" with (
    $kendo-avatar-border-width: $kendo-avatar-border-width,
    $kendo-avatar-font-family: $kendo-avatar-font-family,
    $kendo-avatar-font-size: $kendo-avatar-font-size,
    $kendo-avatar-line-height: $kendo-avatar-line-height,
    $kendo-avatar-sizes: $kendo-avatar-sizes,
    $kendo-avatar-theme-colors: $kendo-avatar-theme-colors
);
