@use "./_variables.scss" as *;
@use "@progress/kendo-theme-core/scss/components/dropzone/_layout.scss" as *;

@mixin kendo-dropzone--layout() {
    @include kendo-dropzone--layout-base();

    .k-dropzone-inner {
        .k-dropzone-icon {
            margin-block-end: $kendo-dropzone-icon-spacing;
        }

        .k-dropzone-hint {
            margin-block-end: $kendo-dropzone-hint-spacing;
            font-weight: $kendo-dropzone-hint-font-weight;
        }

        .k-dropzone-note {
            margin-block-end: $kendo-dropzone-note-spacing;
            font-weight: $kendo-dropzone-note-font-weight;
        }
    }
}
