@use "sass:map";

$kendo-zindex: (
    bottom: -1,
    base: 0,
    elevated: 2,
    interactive: 4,
    handle: 10,
    selection: 50,
    navigation: 100,
    header: 900,
    floating: 1000,
    notification: 2000,
    badge: 9999,
    overlay: 10000,
    modal: 10002,
    drawer: 10004,
    popup: 12000,
    loading: 20000,
    top: 99999,
    scroll: 200000
) !default;

@function k-zindex($layer) {
    @return map.get($kendo-zindex, $layer);
}

@function k-zindex-above($layer) {
    @return k-zindex($layer) + 1;
}

@function k-zindex-below($layer) {
    @return k-zindex($layer) - 1;
}
