@mixin kendo-bottom-navigation--theme() {

    // Bottom navigation
    .k-bottom-nav {
        background-color: var( --kendo-bottom-nav-bg, initial );
        color: var( --kendo-bottom-nav-text, inherit );
        border-color: var( --kendo-bottom-nav-border, initial );
    }


    // Bottom navigation item
    .k-bottom-nav-item {
        background-color: var( --kendo-bottom-nav-item-bg, initial );
        color: var( --kendo-bottom-nav-item-text, inherit );
        border-color: var( --kendo-bottom-nav-item-border, initial );
        box-shadow: var( --kendo-bottom-nav-item-shadow, none );
        outline: var( --kendo-bottom-nav-item-outline, none );


        // Hover state
        @if k-list-includes( $kendo-bottom-nav-ui-states, item-hover ) {
            &:hover,
            &.k-hover {
                background-color: var( --kendo-bottom-nav-item-hover-bg );
                color: var( --kendo-bottom-nav-item-hover-text );
                border-color: var( --kendo-bottom-nav-item-hover-border );
                box-shadow: var( --kendo-bottom-nav-item-hover-shadow );
                outline: var( --kendo-bottom-nav-item-hover-outline );
            }
        }


        // Focus state
        @if k-list-includes( $kendo-bottom-nav-ui-states, item-focus ) {
            &:focus,
            &.k-focus,
            &:focus-within {
                background-color: var( --kendo-bottom-nav-item-focus-bg );
                color: var( --kendo-bottom-nav-item-focus-text );
                border-color: var( --kendo-bottom-nav-item-focus-border );
                box-shadow: var( --kendo-bottom-nav-item-focus-shadow );
                outline: var( --kendo-bottom-nav-item-focus-outline );
            }
        }


        // Focus hover state
        @if k-list-includes( $kendo-bottom-nav-ui-states, item-focus-hover ) {
            &:focus:hover,
            &.k-focus.k-hover {
                background-color: var( --kendo-bottom-nav-item-focus-hover-bg );
                color: var( --kendo-bottom-nav-item-focus-hover-text );
                border-color: var( --kendo-bottom-nav-item-focus-hover-border );
                box-shadow: var( --kendo-bottom-nav-item-focus-hover-shadow );
                outline: var( --kendo-bottom-nav-item-focus-hover-outline );
            }
        }


        // Selected state
        @if k-list-includes( $kendo-bottom-nav-ui-states, item-selected ) {
            &:focus:hover,
            &.k-focus.k-hover {
                background-color: var( --kendo-bottom-nav-item-selected-bg );
                color: var( --kendo-bottom-nav-item-selected-text );
                border-color: var( --kendo-bottom-nav-item-selected-border );
                box-shadow: var( --kendo-bottom-nav-item-selected-shadow );
                outline: var( --kendo-bottom-nav-item-selected-outline );
            }
        }


        // Disabled state
        @if k-list-includes( $kendo-bottom-nav-ui-states, item-disabled ) {
            &:disabled,
            &[disabled],
            &.k-disabled {
                background-color: var( --kendo-bottom-nav-item-disabled-bg );
                color: var( --kendo-bottom-nav-item-disabled-text );
                border-color: var( --kendo-bottom-nav-item-disabled-border );
                box-shadow: var( --kendo-bottom-nav-item-disabled-shadow );
                outline: var( --kendo-bottom-nav-item-disabled-outline );
            }
        }

    }




    @each $variant, $theme-props in $kendo-bottom-nav-theme {
        $suffix: if( $variant == DEFAULT, "", "-#{$variant}" );

        $_bg: k-map-get( $theme-props, bg );
        $_text: k-map-get( $theme-props, text );
        $_border: k-map-get( $theme-props, border );
        $_shadow: k-map-get( $theme-props, shadow );
        $_outline: k-map-get( $theme-props, outline );

        $disabled-bg: k-map-get( $theme-props, disabled-bg );
        $disabled-text: k-map-get( $theme-props, disabled-text );
        $disabled-border: k-map-get( $theme-props, disabled-border );
        $disabled-shadow: k-map-get( $theme-props, disabled-shadow );
        $disabled-outline: k-map-get( $theme-props, disabled-outline );

        $_item-bg: k-map-get( $theme-props, item-bg );
        $_item-text: k-map-get( $theme-props, item-text );
        $_item-border: k-map-get( $theme-props, item-border );
        $_item-shadow: k-map-get( $theme-props, item-shadow );
        $_item-outline: k-map-get( $theme-props, item-outline );

        $_item-hover-bg: k-map-get( $theme-props, item-hover-bg );
        $_item-hover-text: k-map-get( $theme-props, item-hover-text );
        $_item-hover-border: k-map-get( $theme-props, item-hover-border );
        $_item-hover-shadow: k-map-get( $theme-props, item-hover-shadow );
        $_item-hover-outline: k-map-get( $theme-props, item-hover-outline );

        $_item-focus-bg: k-map-get( $theme-props, item-focus-bg );
        $_item-focus-text: k-map-get( $theme-props, item-focus-text );
        $_item-focus-border: k-map-get( $theme-props, item-focus-border );
        $_item-focus-shadow: k-map-get( $theme-props, item-focus-shadow );
        $_item-focus-outline: k-map-get( $theme-props, item-focus-outline );

        $_item-focus-hover-bg: k-map-get( $theme-props, item-focus-hover-bg );
        $_item-focus-hover-text: k-map-get( $theme-props, item-focus-hover-text );
        $_item-focus-hover-border: k-map-get( $theme-props, item-focus-hover-border );
        $_item-focus-hover-shadow: k-map-get( $theme-props, item-focus-hover-shadow );
        $_item-focus-hover-outline: k-map-get( $theme-props, item-focus-hover-outline );

        $_item-selected-bg: k-map-get( $theme-props, item-selected-bg );
        $_item-selected-text: k-map-get( $theme-props, item-selected-text );
        $_item-selected-border: k-map-get( $theme-props, item-selected-border );
        $_item-selected-shadow: k-map-get( $theme-props, item-selected-shadow );
        $_item-selected-outline: k-map-get( $theme-props, item-selected-outline );

        $_item-disabled-bg: k-map-get( $theme-props, item-disabled-bg );
        $_item-disabled-text: k-map-get( $theme-props, item-disabled-text );
        $_item-disabled-border: k-map-get( $theme-props, item-disabled-border );
        $_item-disabled-shadow: k-map-get( $theme-props, item-disabled-shadow );
        $_item-disabled-outline: k-map-get( $theme-props, item-disabled-outline );


        .k-bottom-nav#{$suffix} {
            --kendo-bottom-nav-bg: #{k-var( --kendo-bottom-nav-#{$variant}-bg, $_bg )};
            --kendo-bottom-nav-text: #{k-var( --kendo-bottom-nav-#{$variant}-text, $_text )};
            --kendo-bottom-nav-border: #{k-var( --kendo-bottom-nav-#{$variant}-border, $_border )};
            --kendo-bottom-nav-shadow: #{k-var( --kendo-bottom-nav-#{$variant}-shadow, $_shadow )};
            --kendo-bottom-nav-outline: #{k-var( --kendo-bottom-nav-#{$variant}-outline, $_outline )};


            .k-bottom-nav-item {
                --kendo-bottom-nav-item-bg: #{k-var( --kendo-bottom-nav-#{$variant}-item-bg, $_item-bg )};
                --kendo-bottom-nav-item-text: #{k-var( --kendo-bottom-nav-#{$variant}-item-text, $_item-text )};
                --kendo-bottom-nav-item-border: #{k-var( --kendo-bottom-nav-#{$variant}-item-border, $_item-border )};
                --kendo-bottom-nav-item-shadow: #{k-var( --kendo-bottom-nav-#{$variant}-item-shadow, $_item-shadow )};
                --kendo-bottom-nav-item-outline: #{k-var( --kendo-bottom-nav-#{$variant}-item-outline, $_item-outline )};

                @if k-list-includes( $kendo-bottom-nav-ui-states, item-hover ) {
                    --kendo-bottom-nav-item-hover-bg: #{k-var( --kendo-bottom-nav-#{$variant}-item-hover-bg, $_item-hover-bg )};
                    --kendo-bottom-nav-item-hover-text: #{k-var( --kendo-bottom-nav-#{$variant}-item-hover-text, $_item-hover-text )};
                    --kendo-bottom-nav-item-hover-border: #{k-var( --kendo-bottom-nav-#{$variant}-item-hover-border, $_item-hover-border )};
                    --kendo-bottom-nav-item-hover-shadow: #{k-var( --kendo-bottom-nav-#{$variant}-item-hover-shadow, $_item-hover-shadow )};
                    --kendo-bottom-nav-item-hover-outline: #{k-var( --kendo-bottom-nav-#{$variant}-item-hover-outline, $_item-hover-outline )};
                }

                @if k-list-includes( $kendo-bottom-nav-ui-states, item-focus ) {
                    --kendo-bottom-nav-item-focus-bg: #{k-var( --kendo-bottom-nav-#{$variant}-item-focus-bg, $_item-focus-bg )};
                    --kendo-bottom-nav-item-focus-text: #{k-var( --kendo-bottom-nav-#{$variant}-item-focus-text, $_item-focus-text )};
                    --kendo-bottom-nav-item-focus-border: #{k-var( --kendo-bottom-nav-#{$variant}-item-focus-border, $_item-focus-border )};
                    --kendo-bottom-nav-item-focus-shadow: #{k-var( --kendo-bottom-nav-#{$variant}-item-focus-shadow, $_item-focus-shadow )};
                    --kendo-bottom-nav-item-focus-outline: #{k-var( --kendo-bottom-nav-#{$variant}-item-focus-outline, $_item-focus-outline )};
                }

                @if k-list-includes( $kendo-bottom-nav-ui-states, item-focus-hover ) {
                    --kendo-bottom-nav-item-focus-hover-bg: #{k-var( --kendo-bottom-nav-#{$variant}-item-focus-hover-bg, $_item-focus-hover-bg )};
                    --kendo-bottom-nav-item-focus-hover-text: #{k-var( --kendo-bottom-nav-#{$variant}-item-focus-hover-text, $_item-focus-hover-text )};
                    --kendo-bottom-nav-item-focus-hover-border: #{k-var( --kendo-bottom-nav-#{$variant}-item-focus-hover-border, $_item-focus-hover-border )};
                    --kendo-bottom-nav-item-focus-hover-shadow: #{k-var( --kendo-bottom-nav-#{$variant}-item-focus-hover-shadow, $_item-focus-hover-shadow )};
                    --kendo-bottom-nav-item-focus-hover-outline: #{k-var( --kendo-bottom-nav-#{$variant}-item-focus-hover-outline, $_item-focus-hover-outline )};
                }

                @if k-list-includes( $kendo-bottom-nav-ui-states, item-selected ) {
                    --kendo-bottom-nav-item-selected-bg: #{k-var( --kendo-bottom-nav-#{$variant}-item-selected-bg, $_item-selected-bg )};
                    --kendo-bottom-nav-item-selected-text: #{k-var( --kendo-bottom-nav-#{$variant}-item-selected-text, $_item-selected-text )};
                    --kendo-bottom-nav-item-selected-border: #{k-var( --kendo-bottom-nav-#{$variant}-item-selected-border, $_item-selected-border )};
                    --kendo-bottom-nav-item-selected-shadow: #{k-var( --kendo-bottom-nav-#{$variant}-item-selected-shadow, $_item-selected-shadow )};
                    --kendo-bottom-nav-item-selected-outline: #{k-var( --kendo-bottom-nav-#{$variant}-item-selected-outline, $_item-selected-outline )};
                }

                @if k-list-includes( $kendo-bottom-nav-ui-states, item-disabled ) {
                    --kendo-bottom-nav-item-disabled-bg: #{k-var( --kendo-bottom-nav-#{$variant}-item-disabled-bg, $_item-disabled-bg )};
                    --kendo-bottom-nav-item-disabled-text: #{k-var( --kendo-bottom-nav-#{$variant}-item-disabled-text, $_item-disabled-text )};
                    --kendo-bottom-nav-item-disabled-border: #{k-var( --kendo-bottom-nav-#{$variant}-item-disabled-border, $_item-disabled-border )};
                    --kendo-bottom-nav-item-disabled-shadow: #{k-var( --kendo-bottom-nav-#{$variant}-item-disabled-shadow, $_item-disabled-shadow )};
                    --kendo-bottom-nav-item-disabled-outline: #{k-var( --kendo-bottom-nav-#{$variant}-item-disabled-outline, $_item-disabled-outline )};
                }
            }
        }
    }


    // Legacy aliases
    .k-bottom-nav-solid {
        &.k-bottom-nav-primary {
            @extend .k-bottom-nav-solid-primary !optional;
        }
        &.k-bottom-nav-secondary {
            @extend .k-bottom-nav-solid-neutral !optional;
        }
    }
    .k-bottom-nav-flat {
        &.k-bottom-nav-primary {
            @extend .k-bottom-nav-link-primary !optional;
        }
        &.k-bottom-nav-secondary {
            @extend .k-bottom-nav-link-neutral !optional;
        }
    }

}
