@use "../core/_index.scss" as *;
@use "./_variables.scss" as *;
@use "@progress/kendo-theme-core/scss/components/tooltip/_layout.scss" as *;

@mixin kendo-tooltip--layout() {
    @include kendo-tooltip--layout-base();

    .k-tooltip {
        padding-inline: $kendo-tooltip-padding-x;
        padding-block: $kendo-tooltip-padding-y;
        border-width: $kendo-tooltip-border-width;
        font-family: $kendo-tooltip-font-family;
        font-size: $kendo-tooltip-font-size;
        line-height: $kendo-tooltip-line-height;
    }

    .k-tooltip-icon {
        margin-inline-end: .5rem;
    }

    .k-tooltip-title {
        margin-block-end: $kendo-tooltip-title-margin;
        font-size: $kendo-tooltip-title-font-size;
        line-height: $kendo-tooltip-title-line-height;
    }

    .k-tooltip-button {
        margin-inline-start: .5rem;
    }

    .k-callout {
        color: inherit;
    }

    .k-callout-n {
        margin-inline-start: calc( #{$kendo-tooltip-callout-size} * -1 );
    }
    .k-callout-e {
        margin-block-start: calc( #{$kendo-tooltip-callout-size} * -1 );
    }
    .k-callout-s {
        margin-inline-start: calc( #{$kendo-tooltip-callout-size} * -1 );
    }
    .k-callout-w {
        margin-block-start: calc( #{$kendo-tooltip-callout-size} * -1 );
    }
}
