@use "../core/_index.scss" as *;
@use "../list/_variables.scss" as *;
@use "../button/_variables.scss" as *;

// Pager

/// The horizontal padding of the small Pager.
/// @group pager
$kendo-pager-sm-padding-x: k-spacing(1) !default;
/// The horizontal padding of the medium Pager.
/// @group pager
$kendo-pager-md-padding-x: k-spacing(2) !default;
/// The horizontal padding of the large Pager.
/// @group pager
$kendo-pager-lg-padding-x: k-spacing(2.5) !default;
/// The vertical padding of the small Pager.
/// @group pager
$kendo-pager-sm-padding-y: $kendo-pager-sm-padding-x !default;
/// The vertical padding of the medium Pager.
/// @group pager
$kendo-pager-md-padding-y: $kendo-pager-md-padding-x !default;
/// The vertical padding of the large Pager.
/// @group pager
$kendo-pager-lg-padding-y: $kendo-pager-lg-padding-x !default;

/// The minimum width of the items in the small Pager.
/// @group pager
$kendo-pager-sm-item-min-width: $kendo-button-sm-calc-size !default;
/// The minimum width of the items in the medium Pagers.
/// @group pager
$kendo-pager-md-item-min-width: $kendo-button-md-calc-size !default;
/// The minimum width of the items in the large Pagers.
/// @group pager
$kendo-pager-lg-item-min-width: $kendo-button-lg-calc-size !default;

/// The margin between the item groups in the small Pager.
/// @group pager
$kendo-pager-sm-item-group-spacing: k-spacing(3) !default;
/// The margin between the item groups in the medium Pager.
/// @group pager
$kendo-pager-md-item-group-spacing: k-spacing(3.5) !default;
/// The margin between the item groups in the large Pager.
/// @group pager
$kendo-pager-lg-item-group-spacing: k-spacing(4) !default;

/// The border width of the Pager.
/// @group pager
$kendo-pager-border-width: 1px !default;
/// The font family of the Pager.
/// @group pager
$kendo-pager-font-family: var( --kendo-font-family, inherit ) !default;
/// The font size of the Pager.
/// @group pager
$kendo-pager-font-size: var( --kendo-font-size, inherit ) !default;
/// The line height of the Pager.
/// @group pager
$kendo-pager-line-height: var( --kendo-line-height, normal ) !default;
/// The background color of the Pager.
/// @group pager
$kendo-pager-bg: k-color(surface)!default;
/// The text color of the Pager.
/// @group pager
$kendo-pager-text: k-color(on-app-surface) !default;
/// The border color of the Pager.
/// @group pager
$kendo-pager-border: k-color(border) !default;

/// The background color of the focused Pager.
/// @group pager
$kendo-pager-focus-bg: null !default;
/// The box shadow of the focused Pager.
/// @group pager
$kendo-pager-focus-shadow: inset 0 0 0 2px k-color(border-alt) !default;

/// The border width of the Pager items.
/// @group pager
$kendo-pager-item-border-width: 0px !default;
/// The spacing around the Pager items.
/// @group pager
$kendo-pager-item-spacing: null !default;

/// The width of the Inputs in the Pager.
/// @group pager
$kendo-pager-input-width: 5em !default;

/// The width of the DropDowns in the Pager.
/// @group pager
$kendo-pager-dropdown-width: 5em !default;

/// The sizes map of the Pager.
/// @group pager
$kendo-pager-sizes: (
    sm: (
        padding-x: $kendo-pager-sm-padding-x,
        padding-y: $kendo-pager-sm-padding-y,
        item-group-spacing: $kendo-pager-sm-item-group-spacing,
        item-min-width: $kendo-pager-sm-item-min-width,
    ),
    md: (
        padding-x: $kendo-pager-md-padding-x,
        padding-y: $kendo-pager-md-padding-y,
        item-group-spacing: $kendo-pager-md-item-group-spacing,
        item-min-width: $kendo-pager-md-item-min-width,
    ),
    lg: (
        padding-x: $kendo-pager-lg-padding-x,
        padding-y: $kendo-pager-lg-padding-y,
        item-group-spacing: $kendo-pager-lg-item-group-spacing,
        item-min-width: $kendo-pager-lg-item-min-width,
    )
) !default;

@forward "@progress/kendo-theme-core/scss/components/pager/_variables.scss" with (
    $kendo-pager-sm-padding-x: $kendo-pager-sm-padding-x,
    $kendo-pager-md-padding-x: $kendo-pager-md-padding-x,
    $kendo-pager-lg-padding-x: $kendo-pager-lg-padding-x,
    $kendo-pager-sm-padding-y: $kendo-pager-sm-padding-y,
    $kendo-pager-md-padding-y: $kendo-pager-md-padding-y,
    $kendo-pager-lg-padding-y: $kendo-pager-lg-padding-y,
    $kendo-pager-sm-item-min-width: $kendo-pager-sm-item-min-width,
    $kendo-pager-md-item-min-width: $kendo-pager-md-item-min-width,
    $kendo-pager-lg-item-min-width: $kendo-pager-lg-item-min-width,
    $kendo-pager-sm-item-group-spacing: $kendo-pager-sm-item-group-spacing,
    $kendo-pager-md-item-group-spacing: $kendo-pager-md-item-group-spacing,
    $kendo-pager-lg-item-group-spacing: $kendo-pager-lg-item-group-spacing,
    $kendo-pager-border-width: $kendo-pager-border-width,
    $kendo-pager-font-family: $kendo-pager-font-family,
    $kendo-pager-font-size: $kendo-pager-font-size,
    $kendo-pager-line-height: $kendo-pager-line-height,
    $kendo-pager-bg: $kendo-pager-bg,
    $kendo-pager-text: $kendo-pager-text,
    $kendo-pager-border: $kendo-pager-border,
    $kendo-pager-focus-bg: $kendo-pager-focus-bg,
    $kendo-pager-focus-shadow: $kendo-pager-focus-shadow,
    $kendo-pager-item-border-width: $kendo-pager-item-border-width,
    $kendo-pager-item-spacing: $kendo-pager-item-spacing,
    $kendo-pager-input-width: $kendo-pager-input-width,
    $kendo-pager-dropdown-width: $kendo-pager-dropdown-width,
    $kendo-pager-sizes: $kendo-pager-sizes
);
