// Pager

$kendo-pager-sm-padding-x: null !default;
$kendo-pager-md-padding-x: null !default;
$kendo-pager-lg-padding-x: null !default;
$kendo-pager-sm-padding-y: null !default;
$kendo-pager-md-padding-y: null !default;
$kendo-pager-lg-padding-y: null !default;

$kendo-pager-sm-item-min-width: null !default;
$kendo-pager-md-item-min-width: null !default;
$kendo-pager-lg-item-min-width: null !default;

$kendo-pager-sm-item-group-spacing: null !default;
$kendo-pager-md-item-group-spacing: null !default;
$kendo-pager-lg-item-group-spacing: null !default;

$kendo-pager-border-width: null !default;
$kendo-pager-font-family: null !default;
$kendo-pager-font-size: null !default;
$kendo-pager-line-height: null !default;
$kendo-pager-bg: null !default;
$kendo-pager-text: null !default;
$kendo-pager-border: null !default;

$kendo-pager-focus-bg: null !default;
$kendo-pager-focus-shadow: null !default;

$kendo-pager-item-border-width: null !default;
$kendo-pager-item-spacing: null !default;

$kendo-pager-input-width: null !default;

$kendo-pager-dropdown-width: null !default;

$kendo-pager-sizes: null !default;
