$calendar-cell-padding-y: .25rem !default;
$calendar-cell-padding-x: .25rem !default;
$calendar-line-height: 1.25 !default;

@include exports('calendar/layout') {

    // Base
    .k-calendar {
        width: 16.917em;
        position: relative;
        overflow: hidden;


        // Common
        .k-link {
            padding: $calendar-cell-padding-y $calendar-cell-padding-x;
            color: inherit;
            line-height: $calendar-line-height;
            text-decoration: none;
            display: block;
            outline: 0;
        }

        table {
            margin: 0;
            width: 100%;
            border-width: 0;
            border-color: inherit;
            border-spacing: 0;
            border-collapse: separate;
            table-layout: fixed;
            outline: 0;
        }
        td,
        th {
            padding: 0;
            border-style: solid;
            border-color: inherit;
            font-weight: normal;
            text-align: inherit;
        }
        th {
            border-width: 0 0 1px;
            padding: $calendar-cell-padding-y $calendar-cell-padding-x;
            cursor: default;
        }
        td {
            border-width: 1px;
            cursor: pointer;
        }

        .k-alt {
            cursor: default;
        }


        // Header / footer
        & {

            .k-header,
            .k-footer {
                padding: $calendar-cell-padding-y;
                text-align: center;
                display: flex;
                flex-direction: row;
                position: relative;

                .k-link {
                    @include border-radius( $border-radius );
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: center;
                }
            }

            // Footer
            .k-footer {
                clear: both;
            }


            // Previous / next
            .k-nav-prev,
            .k-nav-next {
                padding: $calendar-cell-padding-y;
                width: $calendar-line-height * 1em;
                height: $calendar-line-height * 1em;
                box-sizing: content-box;
            }
            .k-nav-prev { left: $calendar-cell-padding-y; }
            .k-nav-next { right: $calendar-cell-padding-y; }


            // Fast navigation
            .k-nav-fast {
                margin: 0 $calendar-cell-padding-y;
                flex: 1;
            }


            // Today
            .k-nav-today {
                flex: 1;
            }

        }


        // Content
        & {

            .k-content {
                margin: 0;
                width: 100%;
                height: 14.167em;
                text-align: right;
                float: left;

                td {
                    border-color: transparent;
                }

                .k-link {
                    line-height: 1.5;
                    @include border-radius( $border-radius );
                }

                &.k-meta-view .k-link {
                    line-height: 4;
                }
            }

            .k-animation-container .k-content {
                height: 100%;
            }

            .k-content .k-link {
                overflow: hidden;
            }

            .k-alt,
            .k-weekend,
            .k-other-month {
                opacity: .6;
            }

            .k-alt {
                text-align: center;
            }

            .k-state-hover,
            .k-state-selected {
                opacity: 1;
            }
        }


        // Meta view
        .k-meta-view .k-link {
            text-align: center;
        }

        .k-rtl & {
            .k-nav-prev .k-icon,
            .k-nav-next .k-icon {
                transform: scaleX(-1);
            }
        }
    }




    // Calendar container
    .k-calendar-container {
        padding: 0;

        .k-calendar {
            border-width: 0;
        }
    }




    // Monthview
    .k-calendar-monthview {
        display: flex;
        flex-direction: column;
        overflow: hidden;

        thead {}

        .k-content {
            height: calc( #{ 9 * $calendar-line-height * 1em } + #{ 9 * $calendar-cell-padding-y } );
            float: none;
            position: relative;

            > table {
                position: relative;
                z-index: 1;
            }

            th {
                border: 0;
                text-align: left;
            }
        }

        .k-scrollable {
            overflow-y: auto;
        }
        .k-scrollable-placeholder {
            position: absolute;
            z-index: -1;
            width: 1px;
            top: 0;
            right: 0;
        }

    }

    $calendar-cell-size: ((30px / 14px) * 1em);

    .k-calendar.k-calendar-infinite {
        box-sizing: content-box;
        padding: 0 10px;

        &,
        table {
            width: ($calendar-cell-size * 7);
        }

        .k-calendar-weekdays {
            thead {
                @include disabled;

                background-color: $bg-color;
                font-weight: bold;
                font-size: 10px;
            }

            th {
                text-align: center;
                border-width: 0;
                line-height: 3em;
            }
        }

        // month names
        .k-content {
            &.k-scrollable {
                padding-right: 17px; // TODO: js?
                box-sizing: content-box;
                overflow-x: hidden;
            }

            th {
                font-weight: bold;
                text-align: left;
            }

            td {
                cursor: default;
                text-align: center;
                height: $calendar-cell-size;
                border-width: 0;
            }

            td,
            .k-link {
                border-radius: $calendar-cell-size / 2;
            }

            .k-link {
                cursor: pointer;
                width: $calendar-cell-size;
                height: $calendar-cell-size;
                line-height: $calendar-cell-size;
                padding: 0;
            }

            .k-weekend {
                background: none;
            }
        }
    }
}
