@use "../core/_index.scss" as *;
@use "../colorpalette/_variables.scss" as *;
@use "./_variables.scss" as *;

@mixin kendo-color-editor--layout() {

        .k-coloreditor {
            @include border-radius( var( --kendo-color-editor-border-radius, #{$kendo-color-editor-border-radius} ) );
            min-width: var( --kendo-color-editor-min-width, #{$kendo-color-editor-min-width} );
            border-width: var( --kendo-color-editor-border-width, #{$kendo-color-editor-border-width} );
            border-style: solid;
            box-sizing: border-box;
            outline: 0;
            font-family: var( --kendo-color-editor-font-family, #{$kendo-color-editor-font-family} );
            font-size: var( --kendo-color-editor-font-size, #{$kendo-color-editor-font-size} );
            line-height: var( --kendo-color-editor-line-height, #{$kendo-color-editor-line-height} );
            display: inline-flex;
            flex-direction: column;
            align-items: stretch;

            *,
            *::before,
            *::after {
                box-sizing: border-box;
            }
        }

        .k-coloreditor .k-colorgradient:focus,
        .k-coloreditor .k-colorgradient.k-focus {
            outline: var( --kendo-color-editor-color-gradient-focus-outline, #{$kendo-color-editor-color-gradient-focus-outline} ) dotted;
            outline-offset: var( --kendo-color-editor-color-gradient-focus-outline-offset, #{$kendo-color-editor-color-gradient-focus-outline-offset} );
            border-radius: 0;
        }

        // Header
        .k-coloreditor-header {
            padding-inline: var( --kendo-color-editor-header-padding-x, #{$kendo-color-editor-header-padding-x} );
            padding-block-start: var( --kendo-color-editor-header-padding-y, #{$kendo-color-editor-header-padding-y} );
        }

        .k-coloreditor-header-actions {
            gap: var( --kendo-color-editor-header-actions-spacing, #{$kendo-color-editor-header-actions-spacing} );
        }

        .k-coloreditor-preview {
            display: flex;
            flex-flow: column nowrap;
            align-items: stretch;
            justify-content: space-between;
            gap: var( --kendo-color-editor-preview-spacing, #{$kendo-color-editor-preview-spacing} );
            position: relative;
            z-index: 1;
        }
        .k-coloreditor-preview .k-color-preview {
            width: var( --kendo-color-editor-color-preview-width, #{$kendo-color-editor-color-preview-width} );
            height: var( --kendo-color-editor-color-preview-height, #{$kendo-color-editor-color-preview-height} );
        }

        // Views
        .k-coloreditor-views {
            min-width: calc( var( --kendo-color-preview-width, #{$kendo-color-palette-tile-width}) * var( --kendo-color-preview-columns, 10) );
            padding-inline: var( --kendo-color-editor-views-padding-x, #{$kendo-color-editor-views-padding-x} );
            padding-block-start: calc( var( --kendo-color-editor-views-padding-y, #{$kendo-color-editor-views-padding-y} ) * 2 );
            padding-block-end: var( --kendo-color-editor-views-padding-y, #{$kendo-color-editor-views-padding-y} );
            gap: var( --kendo-color-editor-views-spacing, #{$kendo-color-editor-views-spacing} );

            .k-colorgradient {
                padding: 0;
                width: auto;
                border-width: 0;
                box-shadow: none;
            }

            .k-colorpalette {
                align-self: center;
            }

            .k-colorpalette-tile {
                width: var( --kendo-color-preview-width, $kendo-color-palette-tile-width );
                height: var( --kendo-color-preview-height, $kendo-color-palette-tile-height );
            }
        }

        // Footer
        .k-coloreditor-footer.k-actions {
            padding-block: var( --kendo-color-editor-footer-padding-y, #{$kendo-color-editor-footer-padding-y} );
            padding-inline: var( --kendo-color-editor-footer-padding-y, #{$kendo-color-editor-footer-padding-y} );
            margin: 0;
        }

}
