@use "../../mixins/index.import.scss" as *;
@use "./variables.scss" as *;

@mixin kendo-image-editor--theme-base() {

    // Image Editor
    .k-imageeditor {
        color: $kendo-image-editor-text;
        background-color: $kendo-image-editor-bg;
        border-color: $kendo-image-editor-border;
    }

    // Content
    .k-imageeditor-content {
        color: $kendo-image-editor-content-text;
        background-color: $kendo-image-editor-content-bg;
        border-color: $kendo-image-editor-content-border;
    }

    // Canvas
    .k-imageeditor-canvas {
        @include checkerboard-gradient();
    }

    // Action Pane
    .k-imageeditor-action-pane {
        color: $kendo-image-editor-action-pane-text;
        background-color: $kendo-image-editor-action-pane-bg;
        border-color: $kendo-image-editor-action-pane-border;
    }

    // Crop Tool
    .k-imageeditor-crop {
        color: $kendo-image-editor-crop-text;
        background-color: $kendo-image-editor-crop-bg;
        border-color: $kendo-image-editor-crop-border;
    }

    // Crop Overlay
    .k-imageeditor-crop-overlay {
        background-color: $kendo-image-editor-crop-overlay-bg;
    }

}

@mixin kendo-image-editor--theme() {
    @include kendo-image-editor--theme-base();
}
