@import "./functions/index.import.scss";

// Options
$kendo-enable-shadows: true !default;
$kendo-enable-rounded: true !default;
$kendo-enable-gradients: true !default;
$kendo-enable-transitions: true !default;

// Equilateral triangle variables
// stylelint-disable number-max-precision
$equilateral-index: 1.7320508076 !default;
$equilateral-height: 0.8660254038 !default;
// stylelint-enable number-max-precision

// Loading
$kendo-loading-opacity: .3 !default;
$kendo-zindex-loading: 100 !default;
