// Wizard
$kendo-wizard-padding-x: $kendo-padding-md-x * 1.25 !default;
$kendo-wizard-padding-y: $kendo-wizard-padding-x !default;
$kendo-wizard-content-padding-x: $kendo-padding-md-x * 2 !default;
$kendo-wizard-content-padding-y: $kendo-padding-md-y * 8 !default;
$kendo-wizard-buttons-margin-x: 10px !default;

$kendo-wizard-border-width: 0px !default;
$kendo-wizard-font-size: $kendo-font-size-md !default;
$kendo-wizard-line-height: $kendo-line-height-md !default;
$kendo-wizard-font-family: $kendo-font-family !default;

$kendo-wizard-step-focus-border: #656565 !default;
