{% macro sourceLink(path, start, end) -%}
https://github.com/telerik/kendo-themes/blob/develop/packages/{{ path }}#L{{start}}-L{{end}}
{%- endmacro %}

{% macro code(any) -%}
<code>{{ any }}</code>
{%- endmacro %}
