{%- import "./_utils.njk" as utils -%}

<tr>
    <td>${{ variable.context.name }}</td>
    <td>{{ variable.resolvedType }}</td>
    <td>
        {%- if variable.context.value | is_color === true -%}
        <span class="color-preview" style="background-color: {{variable.context.value}}"></span>
        {%- endif -%}

        {%- if variable.context.value -%}
        {{ utils.code( variable.context.value ) }}
        {%- endif -%}
    </td>
    <td>
        {%- if variable.resolvedType === 'Color' -%}
        <span class="color-preview" style="background-color: {{variable.resolvedValue}}"></span>
        {%- endif -%}
        {%- if variable.resolvedType === 'Map' -%}
            {%- if variable.prettyValue -%}
            <ul>
            {%- for key, value in variable.prettyValue -%}
            <li>{{ key }}: {{ value | to_string }}</li>
            {%- endfor -%}
            </ul>
            {%- endif -%}
        {%- else -%}
            {%- if variable.resolvedValue -%}
            {{ utils.code( variable.resolvedValue ) }}
            {%- endif -%}
        {%- endif -%}
    </td>
</tr>
<tr>
    <td colspan="4" class="theme-variables-description-container">
        {%- if variable.deprecated == '' %}<div><b>Deprecated</b></div>{% endif %}
        {%- if variable.deprecated %}<div><b>Deprecated</b><div class="theme-variables-description">{{ variable.deprecated  }}</div></div>{% endif %}
        {%- if variable.description %}<div><b>Description</b><div class="theme-variables-description">{{ variable.description | format_text }}</div></div>{% endif %}
        {%- if variable.examples %}
        <div>
            <b>Example</b>
            {% for example in variable.examples %}

```
{{ example.code }}
```

            {% endfor %}
        </div>
        {%- endif %}
    </td>
</tr>
{% if variable.subGroup -%}
<tr>
    <td colspan="4" class="theme-variables-description-container">
        <div><b>Groups</b><div class="theme-variables-description">The groups of the ${{variable.context.name}} {{variable.resolvedType}}</div></div>
    </td>
</tr>
<tr>
    <td>Group</td>
    <td colspan="2">Values</td>
    <td>Description</td>
</tr>
{% for group in variable.subGroup -%}
    {% include "./variable-subgroup-row.md.njk" %}
{%- endfor -%}
{% endif -%}

{% if variable.property -%}
<tr>
    <td colspan="4" class="theme-variables-description-container">
        <div><b>Properties</b><div class="theme-variables-description">The properties of the ${{variable.context.name}} {{variable.resolvedType}}</div></div>
    </td>
</tr>
<tr>
    <td>Type</td>
    <td>Name</td>
    <td colspan="2">Description</td>
</tr>
{% for prop in variable.property -%}
    {% include "./variable-property-row.md.njk" %}
{%- endfor -%}
{% endif -%}
