@use "../core/_index.scss" as *;
@use "../button/_variables.scss" as *;
@use "../grid/_variables.scss" as *;
@use "../toolbar/_variables.scss" as *;
@use "./_variables.scss" as *;
@use "@progress/kendo-theme-core/scss/components/gantt/_layout.scss" as *;

@mixin kendo-gantt--layout() {
    @include kendo-gantt--layout-base();

    .k-gantt {
        .k-grid-header .k-header {
            font-weight: $kendo-font-weight-bold;
        }

        .k-gantt-dependencies-svg {
            inset-inline-start: 0;
        }
    }

    .k-task-actions {
        padding-block: $kendo-gantt-task-actions-padding-y;
        padding-inline: $kendo-gantt-task-actions-padding-x;
    }
}
