@use "../../mixins/index.import.scss" as *;
@use "./_variables.scss" as *;

@mixin kendo-draggable--theme-base() {

    // Drag hint
    .k-drag-clue {
        color: $kendo-drag-hint-text;
        background-color: $kendo-drag-hint-bg;
        border-color: $kendo-drag-hint-border;
        @include linear-gradient($kendo-drag-hint-gradient);
        @include box-shadow( $kendo-drag-hint-shadow );
    }

}

@mixin kendo-draggable--theme() {
    @include kendo-draggable--theme-base();
}
