// Drag hint
$kendo-drag-hint-padding-x: null !default;
$kendo-drag-hint-padding-y: null !default;
$kendo-drag-hint-border-width: null !default;
$kendo-drag-hint-border-radius: null !default;
$kendo-drag-hint-font-size: null !default;
$kendo-drag-hint-font-family: null !default;
$kendo-drag-hint-line-height: null !default;

$kendo-drag-hint-bg: null !default;
$kendo-drag-hint-text: null !default;
$kendo-drag-hint-border: null !default;
$kendo-drag-hint-gradient: null !default;
$kendo-drag-hint-shadow: null !default;

$kendo-drag-hint-opacity: null !default;


// Drop hint
$kendo-drop-hint-arrow-size: null !default;
$kendo-drop-hint-arrow-spacing: null !default;
$kendo-drop-hint-line-h-width: null !default;
$kendo-drop-hint-line-h-height: null !default;
$kendo-drop-hint-line-v-width: null !default;
$kendo-drop-hint-line-v-height: null !default;

$kendo-drop-hint-bg: null !default;
