@use "../../mixins/index.import.scss" as *;
@use "./variables.scss" as *;

@mixin kendo-popover--theme-base() {

    // Popover
    .k-popover {
        @include box-shadow( $kendo-popover-shadow );

        color: $kendo-popover-text;
        background-color: $kendo-popover-bg;
        border-color: $kendo-popover-border;
    }

    .k-popover-inner {
        background-color: inherit;
        border-color: inherit;
    }

    // Header
    .k-popover-header {
        color: $kendo-popover-header-text;
        background-color: $kendo-popover-header-bg;
        border-color: $kendo-popover-header-border;
    }

    // Callout
    .k-popover-callout {
        background-color: inherit;
        border-color: inherit;

        @include box-shadow( inherit )
    }

}

@mixin kendo-popover--theme() {
    @include kendo-popover--theme-base();
}
