@include exports("chip/layout") {

    .k-chip {
        height: $chip-height;
        padding: $chip-padding-y $chip-padding-x;
        border-radius: $chip-border-radius;
        box-sizing: border-box;
        border-width: 1px;
        border-style: solid;
        outline: 0;
        font-size: $chip-font-size;
        display: inline-flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: center;
        gap: $chip-gap;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        user-select: none;

        *,
        *::before,
        *::after {
            box-sizing: border-box;
        }

        .k-selected-icon-wrapper {
            display: none !important; // sass-lint:disable-line no-important
        }
    }


    // Chip content
    .k-chip-content {
        min-width: 0;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        overflow: hidden;
        flex: 1 1 auto;
    }
    .k-chip-content:first-child {
        margin-inline-start: $chip-gap;
    }
    .k-chip-content:last-child {
        margin-inline-end: $chip-gap;
    }


    // Chip text
    .k-chip-text,
    .k-chip-label {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        flex: 1 1 auto;
    }


    // Chip avatar
    .k-chip-avatar {
        width: $chip-avatar-size;
        height: $chip-avatar-size;
        border-radius: 50%;
        background-size: cover;
        background-position: center;
        flex: none;
    }


    // Chip icon
    .k-chip-icon {
        width: $chip-icons-size;
        height: $chip-icons-size;
        display: flex;
        align-items: center;
        justify-content: center;
        flex: none;
    }
    .k-ie .k-chip-icon {
        margin-right: $chip-gap;
    }


    // Actions
    .k-chip-actions {
        flex: none;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        align-self: center;
    }
    .k-chip-action {
        flex: none;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        align-self: center;
    }


    // Legacy chip icons
    .k-remove-icon {
        width: $chip-icons-size;
        height: $chip-icons-size;
        font-size: $chip-remove-icon-font-size;
        display: flex;
        align-items: center;
        justify-content: center;
        flex: none;
    }
    .k-ie .k-remove-icon {
        margin-right: 0;
        margin-left: $chip-gap;
    }


    // Chip list
    .k-chip-list {
        display: inline-flex;
        gap: $chip-list-gap;
    }
    .k-ie .k-chip-list > * {
        margin-right: $chip-list-gap;
    }
    .k-ie .k-chip-list > :last-child {
        margin-right: 0;
    }


    // RTL
    .k-ie .k-chip.k-rtl,
    .k-ie .k-rtl .k-chip,
    .k-ie .k-chip[dir="rtl"] {
        .k-chip-icon {
            margin-right: 0;
            margin-left: $chip-gap;
        }

        .k-remove-icon {
            margin-left: 0;
            margin-right: $chip-gap;
        }
    }
    .k-ie .k-chip-list.k-rtl,
    .k-ie .k-rtl .k-chip-list,
    .k-ie .k-chip-list[dir="rtl"] {
        > * {
            margin-right: 0;
            margin-left: $chip-list-gap;

            &:last-child {
                margin-left: 0;
            }
        }
    }

}
