@include exports("chip/layout") {

    // Chip
    .k-chip {
        padding: $kendo-chip-padding-y $kendo-chip-padding-x;
        border-width: $kendo-chip-border-width;
        border-style: solid;
        box-sizing: border-box;
        font-family: $font-family;
        font-size: $kendo-chip-font-size;
        line-height: $kendo-chip-line-height;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        gap: $kendo-chip-spacing;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        user-select: none;

        &:focus,
        &.k-chip-focus {
            outline: 0;
        }
    }

    // Text
    .k-chip-content {
        min-width: 0;
        display: inline-flex;
        flex: 1 1 auto;
        white-space: nowrap;
    }

    // Icon
    .k-chip-icon,
    .k-chip-remove-icon {
        font-size: inherit;
    }

    // Sizes
    @each $size, $size-props in $kendo-chip-sizes {

        $_font-size: map-get( $size-props, font-size );
        $_line-height: map-get( $size-props, line-height );
        $_padding: map-get( $size-props, padding );
        $_size: calc( #{$line-height-xs * 1em} + #{$_padding * 2} + #{$kendo-chip-border-width * 2} );

        .k-chip-#{$size} {
            height: $_size;
            padding: $_padding;
            font-size: $_font-size;
            line-height: $_line-height;
        }
    }

    // Avatar Size
    .k-chip-avatar {
        width: 1em;
        height: 1em;
        flex-basis: 1em;
    }
    .k-chip-avatar .k-avatar-image > img {
        vertical-align: top;
    }

}

@include exports("chip/layout/list") {

    // Chip List
    .k-chip-list {
        min-width: 0px;
        display: inline-flex;
        flex-wrap: wrap;
        align-items: center;
        position: relative;
        box-sizing: border-box;
    }

    // Sizes
    @each $name, $size in $kendo-chip-list-sizes {
        .k-chip-list-#{$name} {
            gap: $size;
        }
    }

}
