@include exports( "chip/theme" ) {

    // Solid
    @each $name, $color in $kendo-chip-theme-colors {
        .k-chip-solid-#{$name} {

            @if ($name == "base") {
                @include fill(
                    $kendo-chip-solid-text,
                    $kendo-chip-solid-bg,
                    $kendo-chip-solid-border,
                    $kendo-chip-solid-gradient
                );

                &:focus,
                &.k-focus {
                    @include box-shadow( $kendo-chip-solid-shadow );
                    @include fill( $bg: $kendo-chip-solid-focus-bg );
                }

                &:hover,
                &.k-hover {
                    @include fill( $bg: $kendo-chip-solid-hover-bg );
                }

                &.k-selected {
                    @include fill( $bg: $kendo-chip-solid-selected-bg );
                }
            } @else {
                @include fill(
                    try-shade( $color, 65% ),
                    try-tint( $color, 80% ),
                    try-tint( $color, 25% ),
                    $kendo-chip-solid-gradient
                );

                &:focus,
                &.k-focus {
                    @include box-shadow( 0 0 0 2px rgba( $color, .16 ) );
                }

                &:hover,
                &.k-hover {
                    @include fill( $bg: try-tint($color, 65% ) );
                }

                &.k-selected {
                    @include fill( $bg: try-tint( $color, 50% ) );
                }
            }
        }
    }


    // Outline
    @each $name, $color in $kendo-chip-theme-colors {
        .k-chip-outline-#{$name} {
            @if ($name == "base") {
                @include fill(
                    $kendo-chip-outline-text,
                    $kendo-chip-outline-bg,
                    $kendo-chip-outline-border
                );

                &:focus,
                &.k-focus {
                    @include box-shadow( $kendo-chip-outline-shadow );
                }

                &:hover,
                &.k-hover {
                    @include fill(
                        $color: $kendo-chip-outline-hover-text,
                        $bg: $kendo-chip-outline-hover-bg
                    );
                }

                &.k-selected {
                    @include fill(
                        $color: $kendo-chip-outline-selected-text,
                        $bg: $kendo-chip-outline-selected-bg
                    );
                }
            } @else if ($name == "warning") {
                @include fill(
                    if( $dark-theme, tint($color, 25%), $kendo-chip-outline-text),
                    if( $dark-theme, $black, $white ),
                    if( $dark-theme, tint($color, 25%), $color)
                );

                &:focus,
                &.k-focus {
                    @include box-shadow( 0 0 0 2px if( $dark-theme, rgba( tint( $color, 50% ), .32 ), rgba( $color, .16 )) );
                }

                &:hover,
                &.k-hover {
                    @include fill(
                        $color: if( $dark-theme, contrast-wcag( $color ), try-shade( $color, 80% ) ) ,
                        $bg: if( $dark-theme, tint($color, 25%), $color)
                    );
                }

                &.k-selected {
                    @include fill(
                        $color: if( $dark-theme, contrast-wcag( $color ), try-shade( $color, 80% ) ) ,
                        $bg: if( $dark-theme, tint($color, 25%), $color)
                    );
                }
            } @else {
                @include fill(
                    try-shade( $color, 25% ),
                    if( $dark-theme, $black, $white ),
                    try-shade( $color, 25% )
                );

                &:focus,
                &.k-focus {
                    @include box-shadow( 0 0 0 2px if( $dark-theme, rgba( tint( $color, 50% ), .32 ), rgba( $color, .16 )) );
                }

                &:hover,
                &.k-hover {
                    @include fill(
                        $color: contrast-wcag( try-shade( $color, 25% ) ),
                        $bg: try-shade( $color, 25% )
                    );
                }

                &.k-selected {
                    @include fill(
                        $color: contrast-wcag( try-shade( $color, 25% ) ),
                        $bg: try-shade( $color, 25% )
                    );
                }
            }
        }
    }

}
