@include exports("drawer/theme") {

    .k-drawer {
        @include fill(
            $kendo-drawer-text,
            $kendo-drawer-bg,
            $kendo-drawer-border
        );
    }

    // Drawer items
    .k-drawer-wrapper {
        scrollbar-color: $kendo-drawer-scrollbar-color $kendo-drawer-scrollbar-bg;

        &::-webkit-scrollbar-track {
            background: $kendo-drawer-scrollbar-bg;
        }
        &::-webkit-scrollbar-thumb {
            background: $kendo-drawer-scrollbar-color;
        }
        &::-webkit-scrollbar-thumb:hover {
            background: $kendo-drawer-scrollbar-hovered-color;
        }
    }
    .k-drawer-item {

        &:hover,
        &.k-hover {
            color: $kendo-drawer-hovered-text;
            background-color: $kendo-drawer-hovered-bg;
        }

        &:focus,
        &.k-focus {
            background-color: $kendo-drawer-focused-bg;
            box-shadow: $kendo-drawer-focused-shadow;

            &:hover,
            &.k-hover {
                color: $kendo-drawer-hovered-text;
                background-color: $kendo-drawer-hovered-bg;
            }
        }

        &.k-selected {
            color: $kendo-drawer-selected-text;
            background-color: $kendo-drawer-selected-bg;

            &:hover,
            &.k-hover {
                color: $kendo-drawer-selected-hover-text;
                background-color: $kendo-drawer-selected-hover-bg;
            }
        }
    }
    .k-drawer-separator {
        background-color: $kendo-drawer-border;
    }

}
