@use "../../color-system/_functions.import.scss" as *;
@use "../../functions/index.import.scss" as *;
@use "../../mixins/index.import.scss" as *;
@use "./_variables.scss" as *;
@use "../../_variables.scss" as *;

@mixin kendo-list--theme-base() {

    // List
    .k-list {
        color: $kendo-list-text;
        background-color: $kendo-list-bg;
        border-color: $kendo-list-border;
    }

    // List header
    // .k-list-header,
    .k-list-group-sticky-header {
        color: $kendo-list-header-text;
        background-color: $kendo-list-header-bg;
        border-color: $kendo-list-header-border;
        @include box-shadow( $kendo-list-header-shadow );
    }

    // List item - base styles only
    .k-list-item {
        color: $kendo-list-item-text;
        background-color: $kendo-list-item-bg;
    }

    // List item - state selectors only
    .k-list-item {
        // Hover
        &:hover,
        &.k-hover {
            color: $kendo-list-item-hover-text;
            background-color: $kendo-list-item-hover-bg;
        }

        // Focus
        &:focus,
        &.k-focus {
            color: $kendo-list-item-focus-text;
            background-color: $kendo-list-item-focus-bg;
            @include focus-indicator( $kendo-list-item-focus-shadow, true );
        }

        // Selected
        &.k-selected {
            color: $kendo-list-item-selected-text;
            background-color: $kendo-list-item-selected-bg;
        }
        &.k-selected:hover,
        &.k-selected.k-hover {
            color: $kendo-list-item-selected-text;
            background-color: k-color(primary-hover);
        }
    }

    // Option Label
    .k-list-optionlabel,
    .k-list-optionlabel.k-hover,
    .k-list-optionlabel:hover {
        color: $kendo-list-option-label-text;
    }

    // List group item
    .k-list-group-item {
        color: $kendo-list-group-item-text;
        background-color: $kendo-list-group-item-bg;
        border-color: $kendo-list-group-item-border;
        @include box-shadow( $kendo-list-group-item-shadow );
    }

    // List item group label
    .k-list-item-group-label {
        color: $kendo-list-text;
        background-color: $kendo-list-bg;
    }

}

@mixin kendo-list--theme() {
    @include kendo-list--theme-base();
}
