// List
$kendo-list-container-padding-block: null !default;
$kendo-list-container-padding-inline: null !default;

$kendo-list-default-size: null !default;

$kendo-list-font-family: null !default;

$kendo-list-font-size: null !default;
$kendo-list-sm-font-size: null !default;
$kendo-list-md-font-size: null !default;
$kendo-list-lg-font-size: null !default;

$kendo-list-line-height: null !default;
$kendo-list-sm-line-height: null !default;
$kendo-list-md-line-height: null !default;
$kendo-list-lg-line-height: null !default;

$kendo-list-sm-header-padding-x: null !default;
$kendo-list-md-header-padding-x: null !default;
$kendo-list-lg-header-padding-x: null !default;

$kendo-list-sm-header-padding-y: null !default;
$kendo-list-md-header-padding-y: null !default;
$kendo-list-lg-header-padding-y: null !default;

$kendo-list-header-border-width: null !default;

$kendo-list-header-font-size: null !default;
$kendo-list-sm-header-font-size: null !default;
$kendo-list-md-header-font-size: null !default;
$kendo-list-lg-header-font-size: null !default;

$kendo-list-header-line-height: null !default;
$kendo-list-sm-header-line-height: null !default;
$kendo-list-md-header-line-height: null !default;
$kendo-list-lg-header-line-height: null !default;

$kendo-list-header-font-weight: null !default;

$kendo-list-item-group-label-sm-font-size: null !default;
$kendo-list-item-group-label-md-font-size: null !default;
$kendo-list-item-group-label-lg-font-size: null !default;

$kendo-list-item-group-label-sm-line-height: inherit !default;
$kendo-list-item-group-label-md-line-height: inherit !default;
$kendo-list-item-group-label-lg-line-height: inherit !default;

$kendo-list-item-group-label-sm-padding-x: null !default;
$kendo-list-item-group-label-md-padding-x: null !default;
$kendo-list-item-group-label-lg-padding-x: null !default;

$kendo-list-item-group-label-sm-padding-y: 0 !default;
$kendo-list-item-group-label-md-padding-y: 0 !default;
$kendo-list-item-group-label-lg-padding-y: 0 !default;

$kendo-list-sm-filter-padding-x: null !default;
$kendo-list-md-filter-padding-x: null !default;
$kendo-list-lg-filter-padding-x: null !default;
$kendo-list-sm-filter-padding-y: null !default;
$kendo-list-md-filter-padding-y: null !default;
$kendo-list-lg-filter-padding-y: null !default;

$kendo-list-sm-item-padding-x: null !default;
$kendo-list-md-item-padding-x: null !default;
$kendo-list-lg-item-padding-x: null !default;

$kendo-list-sm-item-padding-y: null !default;
$kendo-list-md-item-padding-y: null !default;
$kendo-list-lg-item-padding-y: null !default;

$kendo-list-item-font-size: null !default;
$kendo-list-sm-item-font-size: null !default;
$kendo-list-md-item-font-size: null !default;
$kendo-list-lg-item-font-size: null !default;

$kendo-list-item-gap: null !default;
$kendo-list-item-spacing: null !default;

$kendo-list-item-line-height: null !default;
$kendo-list-sm-item-line-height: null !default;
$kendo-list-md-item-line-height: null !default;
$kendo-list-lg-item-line-height: null !default;

$kendo-list-sm-group-item-padding-x: null !default;
$kendo-list-md-group-item-padding-x: null !default;
$kendo-list-lg-group-item-padding-x: null !default;

$kendo-list-sm-group-item-padding-y: null !default;
$kendo-list-md-group-item-padding-y: null !default;
$kendo-list-lg-group-item-padding-y: null !default;

$kendo-list-group-item-border-width: null !default;

$kendo-list-group-item-font-size: null !default;
$kendo-list-sm-group-item-font-size: null !default;
$kendo-list-md-group-item-font-size: null !default;
$kendo-list-lg-group-item-font-size: null !default;

$kendo-list-group-item-line-height: null !default;
$kendo-list-sm-group-item-line-height: null !default;
$kendo-list-md-group-item-line-height: null !default;
$kendo-list-lg-group-item-line-height: null !default;

$kendo-list-group-item-font-weight: null !default;


/// The sizes map of the List.
/// @group list
$kendo-list-sizes: (
    sm: (
        font-size: $kendo-list-sm-font-size,
        line-height: $kendo-list-sm-line-height,
        header-padding-x: $kendo-list-sm-header-padding-x,
        header-padding-y: $kendo-list-sm-header-padding-y,
        header-font-size: $kendo-list-sm-header-font-size,
        header-line-height: $kendo-list-sm-header-line-height,
        item-padding-x: $kendo-list-sm-item-padding-x,
        item-padding-y: $kendo-list-sm-item-padding-y,
        item-font-size: $kendo-list-sm-item-font-size,
        item-line-height: $kendo-list-sm-item-line-height,
        group-item-padding-x: $kendo-list-sm-group-item-padding-x,
        group-item-padding-y: $kendo-list-sm-group-item-padding-y,
        group-item-font-size: $kendo-list-sm-group-item-font-size,
        group-item-line-height: $kendo-list-sm-group-item-line-height,
        item-group-label-padding-x: $kendo-list-item-group-label-sm-padding-x,
        item-group-label-padding-y: $kendo-list-item-group-label-sm-padding-y,
        item-group-label-font-size: $kendo-list-item-group-label-sm-font-size,
        item-group-label-line-height: $kendo-list-item-group-label-sm-line-height,
        filter-padding-x: $kendo-list-sm-filter-padding-x,
        filter-padding-y: $kendo-list-sm-filter-padding-y
    ),
    md: (
        font-size: $kendo-list-md-font-size,
        line-height: $kendo-list-md-line-height,
        header-padding-x: $kendo-list-md-header-padding-x,
        header-padding-y: $kendo-list-md-header-padding-y,
        header-font-size: $kendo-list-md-header-font-size,
        header-line-height: $kendo-list-md-header-line-height,
        item-padding-x: $kendo-list-md-item-padding-x,
        item-padding-y: $kendo-list-md-item-padding-y,
        item-font-size: $kendo-list-md-item-font-size,
        item-line-height: $kendo-list-md-item-line-height,
        group-item-padding-x: $kendo-list-md-group-item-padding-x,
        group-item-padding-y: $kendo-list-md-group-item-padding-y,
        group-item-font-size: $kendo-list-md-group-item-font-size,
        group-item-line-height: $kendo-list-md-group-item-line-height,
        item-group-label-padding-x: $kendo-list-item-group-label-md-padding-x,
        item-group-label-padding-y: $kendo-list-item-group-label-md-padding-y,
        item-group-label-font-size: $kendo-list-item-group-label-md-font-size,
        item-group-label-line-height: $kendo-list-item-group-label-md-line-height,
        filter-padding-x: $kendo-list-md-filter-padding-x,
        filter-padding-y: $kendo-list-md-filter-padding-y
    ),
    lg: (
        font-size: $kendo-list-lg-font-size,
        line-height: $kendo-list-lg-line-height,
        header-padding-x: $kendo-list-lg-header-padding-x,
        header-padding-y: $kendo-list-lg-header-padding-y,
        header-font-size: $kendo-list-lg-header-font-size,
        header-line-height: $kendo-list-lg-header-line-height,
        item-padding-x: $kendo-list-lg-item-padding-x,
        item-padding-y: $kendo-list-lg-item-padding-y,
        item-font-size: $kendo-list-lg-item-font-size,
        item-line-height: $kendo-list-lg-item-line-height,
        group-item-padding-x: $kendo-list-lg-group-item-padding-x,
        group-item-padding-y: $kendo-list-lg-group-item-padding-y,
        group-item-font-size: $kendo-list-lg-group-item-font-size,
        group-item-line-height: $kendo-list-lg-group-item-line-height,
        item-group-label-padding-x: $kendo-list-item-group-label-lg-padding-x,
        item-group-label-padding-y: $kendo-list-item-group-label-lg-padding-y,
        item-group-label-font-size: $kendo-list-item-group-label-lg-font-size,
        item-group-label-line-height: $kendo-list-item-group-label-lg-line-height,
        filter-padding-x: $kendo-list-lg-filter-padding-x,
        filter-padding-y: $kendo-list-lg-filter-padding-y
    )
) !default;


$kendo-list-bg: null !default;
$kendo-list-text: null !default;
$kendo-list-border: null !default;


$kendo-list-header-bg: null !default;
$kendo-list-header-text: null !default;
$kendo-list-header-border: null !default;
$kendo-list-header-shadow: null !default;


$kendo-list-item-bg: null !default;
$kendo-list-item-text: null !default;
$kendo-list-item-border-radius: null !default;

$kendo-list-item-hover-bg: null !default;
$kendo-list-item-hover-text: null !default;

$kendo-list-item-focus-bg: null !default;
$kendo-list-item-focus-text: null !default;
$kendo-list-item-focus-shadow: null !default;

$kendo-list-item-selected-bg: null !default;
$kendo-list-item-selected-text: null !default;

$kendo-list-item-selected-hover-bg: null !default;
$kendo-list-item-selected-hover-text: null !default;

$kendo-list-group-item-bg: null !default;
$kendo-list-group-item-text: null !default;
$kendo-list-group-item-border: null !default;
$kendo-list-group-item-shadow: null !default;

$kendo-list-option-label-text: null !default;

$kendo-list-item-description-font-size: null !default;
$kendo-list-item-description-line-height: null !default;
$kendo-list-item-description-text: null !default;

