// Pager
$pager-padding-x: k-map-get( $spacing, 2 ) !default;
$pager-padding-y: k-map-get( $spacing, 2 ) !default;
$pager-border-width: 1px !default;

$pager-font-family: $font-family !default;
$pager-font-size: $font-size !default;
$pager-line-height: $line-height !default;

$pager-bg: $component-bg !default;
$pager-text: if($dark-theme, $light-secondary-text, $dark-secondary-text) !default;
$pager-border: $component-border !default;

$pager-focus-bg: k-try-shade( $pager-bg, .5 ) !default;
$pager-focus-shadow: null !default;

$pager-section-spacing: $pager-padding-x !default;

$pager-item-padding-x: 0px !default;
$pager-item-padding-y: 0px !default;
$pager-item-border-width: 0px !default;
$pager-item-border-radius: 5em !default;
$pager-item-spacing: 0px !default;

$pager-item-bg: null !default;
$pager-item-text: null !default;
$pager-item-border: null !default;

$pager-item-hover-bg: $kendo-list-item-hover-bg !default;
$pager-item-hover-text: $pager-text !default;
$pager-item-hover-border: null !default;

$pager-item-selected-bg: $primary !default;
$pager-item-selected-text: $primary-contrast !default;
$pager-item-selected-border: null !default;

$pager-number-padding-x: $pager-item-padding-x !default;
$pager-number-padding-y: $pager-item-padding-y !default;
$pager-number-border-width: $pager-item-border-width !default;
$pager-number-border-radius: $pager-item-border-radius !default;
$pager-number-spacing: $pager-item-spacing !default;

$pager-item-focus-opacity: .12 !default;
$pager-item-focus-bg: rgba( $kendo-list-item-hover-bg, $pager-item-focus-opacity ) !default;
$pager-item-focus-shadow: null !default;

$pager-number-bg: null !default;
$pager-number-text: $body-text !default;
$pager-number-border: null !default;

$pager-number-hover-opacity: .04 !default;
$pager-number-hover-bg: rgba( $pager-number-text, $pager-number-hover-opacity ) !default;
$pager-number-hover-text: $pager-number-text !default;
$pager-number-hover-border: null !default;

$pager-number-selected-opacity: .22 !default;
$pager-number-selected-bg: rgba( $primary, $pager-number-selected-opacity ) !default;
$pager-number-selected-text: $primary !default;
$pager-number-selected-border: null !default;

$pager-number-focus-opacity: .12 !default;
$pager-number-focus-bg: rgba( $pager-number-text, $pager-number-focus-opacity ) !default;
$pager-number-focus-shadow: null !default;

$pager-input-width: 5em !default;
$pager-dropdown-width: 5em !default;
