<!doctype html>
<html lang="en" class="k-no-animations" style="--kendo-scrollbar-width: 15px;">
<head>
    <title>Document</title>
    <meta charset="utf-8">
    <link rel="stylesheet" data-role="kendo-theme" href="/packages/default/dist/all.css">
    <link rel="stylesheet" href="/packages/html/assets/styles.css">
    <script src="/packages/html/assets/scripts.js"></script>
</head>
<body id="app" class="k-body">
    <div class="k-slider k-slider-vertical">
        <div class="k-slider-track-wrap">
            <ul class="k-reset k-slider-items">
                <li class="k-first k-tick k-tick-large">
                    <span class="k-label">0</span>
                </li>
                <li class="k-tick"></li>
                <li class="k-tick"></li>
                <li class="k-tick"></li>
                <li class="k-tick"></li>
                <li class="k-tick k-tick-large">
                    <span class="k-label">5</span>
                </li>
                <li class="k-tick"></li>
                <li class="k-tick"></li>
                <li class="k-tick"></li>
                <li class="k-tick"></li>
                <li class="k-last k-tick k-tick-large">
                    <span class="k-label">10</span>
                </li>
            </ul>
            <div class="k-slider-track">
                <div class="k-slider-selection"></div>
                <span class="k-draghandle k-draghandle-start"></span>
                <span class="k-draghandle k-draghandle-end"></span>
            </div>
        </div>
    </div>
</body>
</html>
