// Typography


// Headings
$kendo-h1-font-size: 96px !default;
$kendo-h2-font-size: 60px !default;
$kendo-h3-font-size: 48px !default;
$kendo-h4-font-size: 34px !default;
$kendo-h5-font-size: 24px !default;
$kendo-h6-font-size: 20px !default;

$kendo-h1-font-family: $kendo-font-family !default;
$kendo-h2-font-family: $kendo-font-family !default;
$kendo-h3-font-family: $kendo-font-family !default;
$kendo-h4-font-family: $kendo-font-family !default;
$kendo-h5-font-family: $kendo-font-family !default;
$kendo-h6-font-family: $kendo-font-family !default;

$kendo-h1-line-height: 96px !default;
$kendo-h2-line-height: 60px !default;
$kendo-h3-line-height: 50px !default;
$kendo-h4-line-height: 40px !default;
$kendo-h5-line-height: 32px !default;
$kendo-h6-line-height: 32px !default;

$kendo-h1-font-weight: $kendo-font-weight-light !default;
$kendo-h2-font-weight: $kendo-font-weight-light !default;
$kendo-h3-font-weight: $kendo-font-weight-normal !default;
$kendo-h4-font-weight: $kendo-font-weight-normal !default;
$kendo-h5-font-weight: $kendo-font-weight-normal !default;
$kendo-h6-font-weight: $kendo-font-weight-medium !default;

$kendo-h1-letter-spacing: -1.5px !default;
$kendo-h2-letter-spacing: -.5px !default;
$kendo-h3-letter-spacing: 0px !default;
$kendo-h4-letter-spacing: .25px !default;
$kendo-h5-letter-spacing: 0px !default;
$kendo-h6-letter-spacing: .15px !default;

$kendo-h1-margin: 0 0 12px !default;
$kendo-h2-margin: 0 0 12px !default;
$kendo-h3-margin: 0 0 12px !default;
$kendo-h4-margin: 0 0 12px !default;
$kendo-h5-margin: 0 0 12px !default;
$kendo-h6-margin: 0 0 12px !default;


// Paragraph
$kendo-paragraph-margin: 0 0 12px !default;
$kendo-paragraph-font-size: 1rem !default;
$kendo-paragraph-font-family: $kendo-font-family !default;
$kendo-paragraph-line-height: $kendo-line-height-lg !default;
$kendo-paragraph-font-weight: $kendo-font-weight-normal !default;
$kendo-paragraph-letter-spacing: .0313em !default;


// Code
$kendo-code-font-size: $kendo-font-size-md !default;
$kendo-code-font-family: $kendo-font-family-monospace !default;
$kendo-code-line-height: $kendo-line-height-md !default;
$kendo-code-font-weight: $kendo-font-weight-normal !default;
$kendo-code-letter-spacing: null !default;

$kendo-code-padding-x: 4px !default;
$kendo-code-padding-y: 0px !default;
$kendo-pre-padding-x: 24px !default;
$kendo-pre-padding-y: 16px !default;
$kendo-code-border-width: 1px !default;

$kendo-code-bg: $kendo-base-bg !default;
$kendo-code-text: $kendo-component-text !default;
$kendo-code-border: $kendo-component-border !default;


// Display
$kendo-display1-font-size: 112px !default;
$kendo-display2-font-size: 56px !default;
$kendo-display3-font-size: 45px !default;
$kendo-display4-font-size: 34px !default;

$kendo-display1-font-family: $kendo-font-family !default;
$kendo-display2-font-family: $kendo-font-family !default;
$kendo-display3-font-family: $kendo-font-family !default;
$kendo-display4-font-family: $kendo-font-family !default;

$kendo-display1-line-height: 1.2 !default;
$kendo-display2-line-height: 1.2 !default;
$kendo-display3-line-height: 1.2 !default;
$kendo-display4-line-height: 1.2 !default;

$kendo-display1-font-weight: $kendo-font-weight-light !default;
$kendo-display2-font-weight: $kendo-font-weight-normal !default;
$kendo-display3-font-weight: $kendo-font-weight-normal !default;
$kendo-display4-font-weight: $kendo-font-weight-normal !default;

$kendo-display1-letter-spacing: null !default;
$kendo-display2-letter-spacing: null !default;
$kendo-display3-letter-spacing: null !default;
$kendo-display4-letter-spacing: null !default;
