@use "../../mixins/index.import.scss" as *;
@use "./variables.scss" as *;

@mixin kendo-captcha--theme-base() {

    // Captcha
    .k-captcha {
        color: $kendo-captcha-text;
        background-color: $kendo-captcha-bg;
        border-color: $kendo-captcha-border;
    }

}

@mixin kendo-captcha--theme() {
    @include kendo-captcha--theme-base();
}
