// Loader

/// The border radius of the Loader segment.
/// @group loader
$kendo-loader-segment-border-radius: null !default;

/// The size of the small Loader segment.
/// @group loader
$kendo-loader-sm-segment-size: null !default;
/// The size of the medium Loader segment.
/// @group loader
$kendo-loader-md-segment-size: null !default;
/// The size of the large Loader segment.
/// @group loader
$kendo-loader-lg-segment-size: null !default;

/// The padding of the small Loader.
/// @group loader
$kendo-loader-sm-padding: null !default;
/// The padding of the medium Loader.
/// @group loader
$kendo-loader-md-padding: null !default;
/// The padding of the large Loader.
/// @group loader
$kendo-loader-lg-padding: null !default;

/// The width of the small spinner-3 Loader.
/// @group loader
$kendo-loader-sm-spinner-3-width: null !default;
/// The width of the medium spinner-3 Loader.
/// @group loader
$kendo-loader-md-spinner-3-width: null !default;
/// The width of the large spinner-3 Loader.
/// @group loader
$kendo-loader-lg-spinner-3-width: null !default;

/// The height of the small spinner-3 Loader.
/// @group loader
$kendo-loader-sm-spinner-3-height: null !default;
/// The height of the medium spinner-3 Loader.
/// @group loader
$kendo-loader-md-spinner-3-height: null !default;
/// The height of the large spinner-3 Loader.
/// @group loader
$kendo-loader-lg-spinner-3-height: null !default;

/// The width of the small spinner-4 Loader.
/// @group loader
$kendo-loader-sm-spinner-4-width: null !default;
/// The width of the medium spinner-4 Loader.
/// @group loader
$kendo-loader-md-spinner-4-width: null !default;
/// The width of the large spinner-4 Loader.
/// @group loader
$kendo-loader-lg-spinner-4-width: null !default;

/// The height of the small spinner-4 Loader.
/// @group loader
$kendo-loader-sm-spinner-4-height: null !default;
/// The height of the medium spinner-4 Loader.
/// @group loader
$kendo-loader-md-spinner-4-height: null !default;
/// The height of the large spinner-4 Loader.
/// @group loader
$kendo-loader-lg-spinner-4-height: null !default;

/// The border width of the container panel.
/// @group loader
$kendo-loader-container-panel-border-width: null !default;
/// The border style of the container panel.
/// @group loader
$kendo-loader-container-panel-border-style: null !default;
/// The border color of the container panel.
/// @group loader
$kendo-loader-container-panel-border-color: null !default;
/// The border radius of the container panel.
/// @group loader
$kendo-loader-container-panel-border-radius: null !default;
/// The background color of the container panel.
/// @group loader
$kendo-loader-container-panel-bg: null !default;

/// The padding of the small Loader container.
/// @group loader
$kendo-loader-sm-container-padding: null !default;
/// The padding of the medium Loader container.
/// @group loader
$kendo-loader-md-container-padding: null !default;
/// The padding of the large Loader container.
/// @group loader
$kendo-loader-lg-container-padding: null !default;

/// The gap of the small Loader container.
/// @group loader
$kendo-loader-sm-container-gap: null !default;
/// The gap of the medium Loader container.
/// @group loader
$kendo-loader-md-container-gap: null !default;
/// The gap of the large Loader container.
/// @group loader
$kendo-loader-lg-container-gap: null !default;

/// The font size of the small Loader container.
/// @group loader
$kendo-loader-sm-container-font-size: null !default;
/// The font size of the medium Loader container.
/// @group loader
$kendo-loader-md-container-font-size: null !default;
/// The font size of the large Loader container.
/// @group loader
$kendo-loader-lg-container-font-size: null !default;

// Loading indicator
/// The background color of the Loading indicator.
/// @group loading
$kendo-loading-bg: null !default;
/// The text color of the Loading indicator.
/// @group loading
$kendo-loading-text: null !default;
/// The opacity of the Loading indicator.
/// @group loading
$kendo-loading-opacity: null !default;
/// The z-index of the Loading indicator.
/// @group loading
$kendo-zindex-loading: null !default;
