@import "~@progress/kendo-theme-default/scss/tabstrip/_layout.scss";

@include exports( "tabstrip/layout/material" ) {

    .k-tabstrip {
        line-height: $tabstrip-line-height;
    }

    .k-tabstrip-items {
        text-transform: uppercase;

        .k-tabstrip-left & .k-link {
            justify-content: flex-end;
        }

        .k-disabled {
            opacity: 1;
            filter: none;
        }
    }

}
