@import "./core/functions/index.import.scss";

// Options
$kendo-enable-rounded: true !default;
$kendo-enable-shadows: true !default;
$kendo-enable-gradients: true !default;
$kendo-enable-transitions: true !default;
$kendo-enable-focus-contrast: false !default;
$kendo-enable-typography: false !default;

$kendo-use-input-button-width: false !default;
$kendo-use-input-spinner-width: false !default;
$kendo-use-input-spinner-icon-offset: false !default;

$kendo-auto-bootstrap: true !default;

// Icons
$kendo-icon-size: 16px !default;

$kendo-icon-size-xs: calc( #{$kendo-icon-size} * .75 ) !default;
$kendo-icon-size-sm: calc( #{$kendo-icon-size} * .875 ) !default;
$kendo-icon-size-md: $kendo-icon-size !default;
$kendo-icon-size-lg: calc( #{$kendo-icon-size} * 1.25 ) !default;
$kendo-icon-size-xl: calc( #{$kendo-icon-size} * 1.5 ) !default;
$kendo-icon-size-xxl: calc( #{$kendo-icon-size} * 2 ) !default;
$kendo-icon-size-xxxl: calc( #{$kendo-icon-size} * 3 ) !default;

/// Border radius for all components.
$kendo-border-radius: 4px !default; // TODO update this value with the radii module
$kendo-border-radius-sm: k-math-div( $kendo-border-radius, 2 ) !default;
$kendo-border-radius-md: $kendo-border-radius !default;
$kendo-border-radius-lg: $kendo-border-radius * 2 !default;

$kendo-border-radii: (
    DEFAULT: $kendo-border-radius-md,
    0: 0,
    sm: $kendo-border-radius-sm,
    md: $kendo-border-radius-md,
    lg: $kendo-border-radius-lg,
    full: 9999px
) !default;


$kendo-zindex-popup: 1 !default;
$kendo-zindex-window: 2 !default;
$kendo-zindex-loading: 100 !default;


// Color settings
$kendo-is-dark-theme: false !default;

$kendo-focus-shadow: inset 0 0 0 2px rgba( black, .13 ) !default;

$kendo-transition: color .2s ease-in-out, background-color .2s ease-in-out, border-color .2s ease-in-out, box-shadow .2s ease-in-out !default;


// Disabled mixin variables
$kendo-disabled-filter: grayscale(.1) !default;
$kendo-disabled-opacity: .6 !default;

$kendo-disabled-styling: (
    opacity: $kendo-disabled-opacity,
    filter: $kendo-disabled-filter
) !default;


// Loading
$kendo-loading-opacity: .3 !default;
$kendo-zindex-loading: 100 !default;
