@use "../../mixins/index.import.scss" as *;
@use "./variables.scss" as *;

@mixin kendo-file-manager--theme-base() {

    // Filemanager
    .k-filemanager {
        color: $kendo-file-manager-text;
        background-color: $kendo-file-manager-bg;
        border-color: $kendo-file-manager-border;
    }

    // Filemanager toolbar
    .k-filemanager-toolbar {
        color: $kendo-file-manager-toolbar-text;
        background-color: $kendo-file-manager-toolbar-bg;
        border-color: $kendo-file-manager-toolbar-border;
        @include linear-gradient($kendo-file-manager-toolbar-gradient);
    }

    // Filemanager navigation
    .k-filemanager-navigation {
        color: $kendo-file-manager-navigation-text;
        background-color: $kendo-file-manager-navigation-bg;
        border-color: $kendo-file-manager-navigation-border;
    }

    // Filemanager breadcrumb
    .k-filemanager-breadcrumb {
        color: $kendo-file-manager-breadcrumb-text;
        background-color: $kendo-file-manager-breadcrumb-bg;
        border-color: $kendo-file-manager-breadcrumb-border;
    }

    // Filemanager listview
    .k-filemanager-listview {
        color: $kendo-file-manager-listview-text;
        background-color: $kendo-file-manager-listview-bg;
        border-color: $kendo-file-manager-listview-border;

        .k-listview-item {
            color: $kendo-file-manager-listview-item-text;
        background-color: $kendo-file-manager-listview-item-bg;
        border-color: $kendo-file-manager-listview-item-border;

            .k-file-icon {
                color: $kendo-file-manager-listview-item-icon-text;
        background-color: $kendo-file-manager-listview-item-icon-bg;
        border-color: $kendo-file-manager-listview-item-icon-border;
            }

            &.k-selected .k-file-icon {
                color: inherit;
                background-color: transparent;
                border-color: transparent;
            }
        }

    }

    // Filemanager grid
    .k-filemanager-grid {

        color: $kendo-file-manager-grid-text;
        background-color: $kendo-file-manager-grid-bg;
        border-color: $kendo-file-manager-grid-border;

    }

    // Filemanager preview
    .k-filemanager-preview {
        color: $kendo-file-manager-preview-text;
        background-color: $kendo-file-manager-preview-bg;
        border-color: $kendo-file-manager-preview-border;

        .k-file-icon {
            color: $kendo-file-manager-preview-icon-text;
        background-color: $kendo-file-manager-preview-icon-bg;
        border-color: $kendo-file-manager-preview-icon-border;
        }

    }

}

@mixin kendo-file-manager--theme() {
    @include kendo-file-manager--theme-base();
}
