@include exports("gantt/theme") {
    .k-gantt {
        @include fill( $gantt-text, $gantt-bg, $gantt-border );
    }

    // Header and footer
    .k-gantt-toolbar {
        @include fill(
            $header-text,
            $header-bg,
            $header-border,
            $header-gradient
        );
    }


    // View switcher
    .k-gantt-views {

        li {
            @include fill(
                $button-text,
                $button-bg,
                $button-border,
                $button-gradient
            );

            &.k-state-hover {
                @include fill(
                    $button-hovered-text,
                    $button-hovered-bg,
                    $button-hovered-border,
                    $button-hovered-gradient
                );
            }
            &.k-state-selected {
                @include fill( $selected-text, $selected-bg, $selected-border, none );
            }
            &.k-state-focused,
            .k-state-focused {
                @include box-shadow( $list-item-focused-shadow );
            }
        }
    }


    // Treelist
    .k-gantt-treelist {
        background-color: darken( $panel-bg, 2 );

        .k-treelist {
            background-color: transparent;
        }

        tr.k-alt {
            background-color: darken( $panel-bg, 6 );
        }

        tr.k-state-selected,
        td.k-state-selected {
            color: inherit;
            background-color: rgba($selected-bg, .25);
        }

    }


    // Rows and colls
    .k-gantt-rows {}
    .k-gantt-columns {}
    .k-gantt-columns .k-nonwork-hour {
        background-color: rgba( $panel-text, .025 );
    }

    .k-task-dot {}
    .k-task-dot::before {
        background-color: $panel-text;
    }
    .k-task-dot:hover::before,
    .k-task-dot.k-state-hover::before {
        border-color: $panel-text;
        background-color: $panel-bg;
    }


    // Milestone
    .k-task-milestone {
        border-color: $panel-border;
        background-color: $panel-text;
    }
    .k-task-milestone.k-state-selected {
        border-color: $selected-border;
        background-color: $selected-bg;
    }


    // Summary
    .k-task-summary {
        color: mix( $panel-text, $panel-bg, 95 );
    }
    .k-task-summary-complete {
        color: darken( $panel-text, 40 );
    }
    .k-task-summary.k-state-selected {
        color: mix( $selected-bg, $panel-bg, 80 );

        .k-task-summary-complete {
            color: shade( $selected-bg );
        }
    }


    // Tasks
    .k-task-single {
        border-color: $panel-border;
        color: $panel-bg;
        background: mix( $panel-text, $panel-bg, 80 );

        .k-task-complete {
            background: $panel-text;
        }
    }
    .k-task-single.k-state-selected {
        border-color: $selected-border;
        color: $selected-text;
        background: mix( $selected-bg, $panel-bg, 70 );

        .k-task-complete {
            background: $selected-bg;
        }
    }

    // Dependency Lines
    .k-gantt-line {
        color: $gantt-line-fill;
    }
    .k-gantt-line.k-state-selected {
        color: $gantt-line-selected-fill;
    }

}
