// Calendar
$calendar-border-width: 1px !default;
$calendar-font-family: $font-family !default;
$calendar-font-size: $font-size !default;
$calendar-line-height: (20 / 14) !default;

$calendar-cell-size: 36px !default;

$calendar-bg: $component-bg !default;
$calendar-text: $component-text !default;
$calendar-border: $component-border !default;

$calendar-header-padding-x: k-map-get( $spacing, 1 ) !default;
$calendar-header-padding-y: k-map-get( $spacing, 1 ) !default;
$calendar-header-border-width: 0px !default;

$calendar-header-bg: null !default;
$calendar-header-text: $header-text !default;
$calendar-header-border: $header-border !default;
$calendar-header-gradient: null !default;
$calendar-header-shadow: null !default;

$calendar-nav-gap: k-map-get( $spacing, 1 ) !default;

$calendar-today-nav-text: $link-text !default;
$calendar-today-nav-hover-text: $link-hover-text !default;

$calendar-footer-padding-x: k-map-get( $spacing, 4 ) !default;
$calendar-footer-padding-y: k-map-get( $spacing, 2 ) !default;

$calendar-cell-padding-x: .25em !default;
$calendar-cell-padding-y: $calendar-cell-padding-x !default;
$calendar-cell-line-height: $calendar-line-height !default;
$calendar-cell-border-radius: 100px !default;

$calendar-header-cell-padding-x: null !default;
$calendar-header-cell-padding-y: null !default;
$calendar-header-cell-width: $calendar-cell-size !default;
$calendar-header-cell-height: $calendar-cell-size !default;
$calendar-header-cell-font-size: $font-size-sm !default;
$calendar-header-cell-line-height: 2 !default;
$calendar-header-cell-bg: null !default;
$calendar-header-cell-text: $subtle-text !default;
$calendar-header-cell-opacity: null !default;

$calendar-caption-padding-x: k-map-get( $spacing, 4 ) !default;
$calendar-caption-padding-y: k-map-get( $spacing, 1 ) !default;
$calendar-caption-height: $calendar-cell-size !default;
$calendar-caption-font-size: null !default;
$calendar-caption-line-height: null !default;
$calendar-caption-font-weight: bold !default;

$calendar-view-width: ($calendar-cell-size * 7) !default;
$calendar-view-height: ($calendar-cell-size * 7) !default;
$calendar-view-gap: k-map-get( $spacing, 4 ) !default;

$calendar-weekend-bg: null !default;
$calendar-weekend-text: null !default;

$calendar-today-style: color !default;
$calendar-today-color: $primary !default;

$calendar-week-number-bg: null !default;
$calendar-week-number-text: $calendar-header-cell-text !default;

$calendar-other-month-bg: null !default;
$calendar-other-month-text: $calendar-header-cell-text !default;

$calendar-cell-bg: null !default;
$calendar-cell-text: null !default;
$calendar-cell-border: null !default;
$calendar-cell-gradient: null !default;

$calendar-cell-hover-bg: $hovered-bg !default;
$calendar-cell-hover-text: $hovered-text !default;
$calendar-cell-hover-border: $hovered-border !default;
$calendar-cell-hover-gradient: null !default;

$calendar-cell-selected-bg: $primary !default;
$calendar-cell-selected-text: k-contrast-color( $calendar-cell-selected-bg ) !default;
$calendar-cell-selected-border: $calendar-cell-selected-bg !default;
$calendar-cell-selected-gradient: null !default;

$calendar-cell-selected-hover-bg: k-try-shade( $calendar-cell-selected-bg, .5 ) !default;
$calendar-cell-selected-hover-text: $calendar-cell-selected-text !default;
$calendar-cell-selected-hover-border: null !default;
$calendar-cell-selected-hover-gradient: null !default;

$calendar-cell-focused-shadow: $kendo-list-item-focus-shadow !default;
$calendar-cell-selected-focus-shadow: $calendar-cell-focused-shadow !default;


// Calendar navigation
$calendar-navigation-width: 5em !default;
$calendar-navigation-item-height: 2em !default;

$calendar-navigation-bg: k-true-mix( $calendar-text, $calendar-bg, 3) !default;
$calendar-navigation-text: $calendar-text !default;
$calendar-navigation-border: $calendar-border !default;


// Infinite calendar
$infinite-calendar-header-padding-x: k-map-get( $spacing, 4 ) !default;
$infinite-calendar-header-padding-y: k-map-get( $spacing, 2 ) !default;

$infinite-calendar-view-padding-x: k-map-get( $spacing, 4 ) !default;
$infinite-calendar-view-padding-y: 0px !default;
$infinite-calendar-view-height: ( $calendar-cell-size * 9 ) !default;


// Multiview calendar


// Calendar sizes
$kendo-calendar-sm-font-size: $font-size-md !default;
$kendo-calendar-sm-line-height: $line-height-md !default;
$kendo-calendar-sm-cell-size: 32px !default;
$kendo-calendar-sm-cell-padding-x: .125rem !default;
$kendo-calendar-sm-cell-padding-y: .125rem !default;

$kendo-calendar-md-font-size: $font-size-md !default;
$kendo-calendar-md-line-height: $line-height-md !default;
$kendo-calendar-md-cell-size: 36px !default;
$kendo-calendar-md-cell-padding-x: k-map-get( $spacing, 1 ) !default;
$kendo-calendar-md-cell-padding-y: k-map-get( $spacing, 1 ) !default;

$kendo-calendar-lg-font-size: $font-size-lg !default;
$kendo-calendar-lg-line-height: $line-height-lg !default;
$kendo-calendar-lg-cell-size: 40px !default;
$kendo-calendar-lg-cell-padding-x: k-map-get( $spacing, 1 ) !default;
$kendo-calendar-lg-cell-padding-y: k-map-get( $spacing, 1 ) !default;

$kendo-calendar-sizes: (
    sm: (
        font-size: $kendo-calendar-sm-font-size,
        line-height: $kendo-calendar-sm-line-height,
        cell-size: $kendo-calendar-sm-cell-size,
        cell-padding-x: $kendo-calendar-sm-cell-padding-y,
        cell-padding-y: $kendo-calendar-sm-cell-padding-x
    ),
    md: (
        font-size: $kendo-calendar-md-font-size,
        line-height: $kendo-calendar-md-line-height,
        cell-size: $kendo-calendar-md-cell-size,
        cell-padding-x: $kendo-calendar-md-cell-padding-y,
        cell-padding-y: $kendo-calendar-md-cell-padding-x
    ),
    lg: (
        font-size: $kendo-calendar-lg-font-size,
        line-height: $kendo-calendar-lg-line-height,
        cell-size: $kendo-calendar-lg-cell-size,
        cell-padding-x: $kendo-calendar-lg-cell-padding-y,
        cell-padding-y: $kendo-calendar-lg-cell-padding-x
    )
) !default;
