// Module meta
$_kendo-module-meta: (
    name: "editor",
    dependencies: ()
);


// Component
@import "./_variables.scss";
@import "./_layout.scss";
@import "./_theme.scss";


// Register
@include module-register( $_kendo-module-meta... );


// Expose
@mixin editor-styles() {
    @include module-render( "editor" ) {
        @include kendo-editor--layout();
        @include kendo-editor--extended-layout();
        @include kendo-editor--theme();
        @include kendo-editor--extended-theme();
    }
}
