@include exports("panelbar/layout") {

    // Base
    .k-panelbar {
        margin: 0;
        padding: 0;
        list-style: none;


        // Root
        > .k-item {
            border-width: 0;
            border-style: solid;
            border-color: inherit;
            display: block;

            > .k-link {
                padding: $header-padding-x;
                color: inherit;
                background: none;
                text-decoration: none;
                display: flex;
                flex-direction: row;
                align-items: center;
                align-content: center;
                position: relative;
                user-select: none;
                cursor: default;
                transition: $transition;
            }
        }
        > .k-item + .k-item {
            border-top-width: 1px;
        }


        // Sub
        .k-group {
            margin: 0;
            padding: 0;
            list-style: none;
        }
        .k-group > .k-item {
            display: block;

            > .k-link {
                padding: $list-item-padding-y $list-item-padding-x;
                color: inherit;
                text-decoration: none;
                display: flex;
                flex-direction: row;
                align-items: center;
                align-content: center;
                position: relative;
                user-select: none;
                cursor: default;
                transition: $transition;
            }
        }


        // Expand collapse
        .k-panelbar-expand,
        .k-panelbar-collapse {
            margin-top: -.5em;
            position: absolute;
            top: 50%;
            right: $header-padding-x / 2;
        }

        .k-link > .k-image,
        .k-link > .k-sprite {
            vertical-align: middle;
            float: left;
            margin-right: 5px;
        }


        // Compact
        @include compact {

            // Links
            > .k-item > .k-link {
                padding: $padding-y-sm $padding-x-sm;
            }
            .k-panel > .k-item > .k-link {
                padding: ($padding-y-sm / 2) $padding-x-sm;
            }

            // Expand collapse
            .k-panelbar-collapse,
            .k-panelbar-expand {
                right: $padding-y-sm / 2;
            }
        }

        &[dir='rtl'] {
            .k-panelbar-expand,
            .k-panelbar-collapse {
                right: auto;
                left: 4px;
            }
        }
    }

}
