@use "sass:map";
@use "../core/_index.scss" as *;
@use "./_variables.scss" as *;
@use "@progress/kendo-theme-core/scss/components/chip/_theme.scss" as *;

@mixin kendo-chip--theme() {

    @include kendo-chip--theme-base();

    .k-chip.k-chip-solid-base {
        border-color: $kendo-chip-border;
        color: $kendo-chip-text;
        background-color: $kendo-chip-bg;

        &:hover,
        &.k-hover {
            color: $kendo-chip-hover-text;
            background-color: $kendo-chip-hover-bg;
            border-color: $kendo-chip-hover-border;
        }

        &:focus,
        &.k-focus {
            color: $kendo-chip-focus-text;
            background-color: $kendo-chip-focus-bg;
            border-color: $kendo-chip-focus-border;
        }

        &.k-chip-outline:focus::after,
        &.k-chip-outline.k-focus::after {
            outline-color: $kendo-chip-focus-outline;
        }

        &.k-selected {
            color: $kendo-chip-selected-text;
            background-color: $kendo-chip-selected-bg;
            border-color: $kendo-chip-selected-border;
        }

        &:disabled,
        &.k-disabled {
            color: $kendo-chip-disabled-text;
            background-color: $kendo-chip-disabled-bg;
            border-color: $kendo-chip-disabled-border;
        }

    }

    @each $name, $color in $kendo-chip-theme-colors {
        .k-chip-solid-#{$name} {
            border-color: k-color(#{$name}-subtle);
            &:hover,
            &.k-hover {
                border-color: k-color(#{$name}-subtle-hover);
            }
            &:focus,
            &.k-focus {
                border-color: k-color(#{$name}-on-subtle);
                box-shadow: none;
            }
            &.k-selected {
                border-color: k-color(#{$name}-subtle-active);
            }
        }

        .k-chip-outline-#{$name} {
            &:hover,
            &.k-hover {
                color: k-color(app-surface);
                background-color: k-color(#{$name}-on-surface);
                border-color: k-color(#{$name}-on-surface);
            }

            &:focus,
            &.k-focus {
                box-shadow: none;
            }

            &.k-selected {
                color: k-color(app-surface);
                background-color: k-color(#{$name}-on-surface);
                border-color: k-color(#{$name}-on-surface);
            }

            @if ($name == "warning") {
                color: k-color(#{$name}-on-surface);
                background-color: transparent;
                border-color: currentColor;
            }
        }
    }

}
