@import "./_functions.import.scss";

$kendo-is-dark-theme: false !default;


$kendo-color-white: #ffffff; // stylelint-disable-line scss/dollar-variable-default
$kendo-color-black: #000000; // stylelint-disable-line scss/dollar-variable-default
$kendo-color-rgba-transparent: rgba(0, 0, 0, 0); // stylelint-disable-line scss/dollar-variable-default
$kendo-gradient-transparent-to-black: rgba($kendo-color-black, 0), $kendo-color-black; // stylelint-disable-line scss/dollar-variable-default
$kendo-gradient-transparent-to-white: rgba($kendo-color-white, 0), $kendo-color-white; // stylelint-disable-line scss/dollar-variable-default
$kendo-gradient-black-to-transparent: $kendo-color-black, rgba($kendo-color-black, 0); // stylelint-disable-line scss/dollar-variable-default
$kendo-gradient-white-to-transparent: $kendo-color-white, rgba($kendo-color-white, 0); // stylelint-disable-line scss/dollar-variable-default
$kendo-gradient-rainbow: #ff0000, #ffff00, #00ff00, #00ffff, #0000ff, #ff00ff, #ff0000; // stylelint-disable-line scss/dollar-variable-default

$kendo-component-bg: null !default;
$kendo-component-text: null !default;
$kendo-component-border: null !default;

$kendo-link-text: null !default;
$kendo-link-hover-text: null !default;

$kendo-loading-bg: null !default;
$kendo-loading-text: null !default;

$kendo-selected-text: null !default;
$kendo-selected-bg: null !default;
$kendo-selected-border: null !default;

$kendo-hover-bg: null !default;
$kendo-hover-text: null !default;
$kendo-hover-border: null !default;

$kendo-invalid-text: null !default;
$kendo-invalid-bg: null !default;
$kendo-invalid-border: null !default;

