@import "./_functions.import.scss";

$kendo-is-dark-theme: false !default;


$kendo-color-white: #ffffff; // stylelint-disable-line scss/dollar-variable-default
$kendo-color-black: #000000; // stylelint-disable-line scss/dollar-variable-default
$kendo-color-rgba-transparent: rgba(0, 0, 0, 0); // stylelint-disable-line scss/dollar-variable-default
$kendo-gradient-transparent-to-black: rgba($kendo-color-black, 0), $kendo-color-black; // stylelint-disable-line scss/dollar-variable-default
$kendo-gradient-transparent-to-white: rgba($kendo-color-white, 0), $kendo-color-white; // stylelint-disable-line scss/dollar-variable-default
$kendo-gradient-black-to-transparent: $kendo-color-black, rgba($kendo-color-black, 0); // stylelint-disable-line scss/dollar-variable-default
$kendo-gradient-white-to-transparent: $kendo-color-white, rgba($kendo-color-white, 0); // stylelint-disable-line scss/dollar-variable-default
$kendo-gradient-rainbow: #ff0000, #ffff00, #00ff00, #00ffff, #0000ff, #ff00ff, #ff0000; // stylelint-disable-line scss/dollar-variable-default


// New
$kendo-color-primary: null !default;
$kendo-color-primary-text: null !default;
$kendo-color-primary-hover: null !default;
$kendo-color-primary-active: null !default;
$kendo-color-primary-selected: null !default;
$kendo-color-primary-focus: null !default;

$kendo-color-base: null !default;
$kendo-color-base-text: null !default;
$kendo-color-base-hover: null !default;
$kendo-color-base-active: null !default;
$kendo-color-base-selected: null !default;
$kendo-color-base-focus: null !default;

$kendo-color-secondary: null !default;
$kendo-color-secondary-text: null !default;
$kendo-color-secondary-hover: null !default;
$kendo-color-secondary-active: null !default;
$kendo-color-secondary-selected: null !default;
$kendo-color-secondary-focus: null !default;

$kendo-color-tertiary: null !default;
$kendo-color-tertiary-text: null !default;
$kendo-color-tertiary-hover: null !default;
$kendo-color-tertiary-active: null !default;
$kendo-color-tertiary-selected: null !default;
$kendo-color-tertiary-focus: null !default;

$kendo-color-info: null !default;
$kendo-color-info-text: null !default;
$kendo-color-info-hover: null !default;
$kendo-color-info-active: null !default;
$kendo-color-info-selected: null !default;
$kendo-color-info-focus: null !default;

$kendo-color-success: null !default;
$kendo-color-success-text: null !default;
$kendo-color-success-hover: null !default;
$kendo-color-success-active: null !default;
$kendo-color-success-selected: null !default;
$kendo-color-success-focus: null !default;

$kendo-color-warning: null !default;
$kendo-color-warning-text: null !default;
$kendo-color-warning-hover: null !default;
$kendo-color-warning-active: null !default;
$kendo-color-warning-selected: null !default;
$kendo-color-warning-focus: null !default;

$kendo-color-error: null !default;
$kendo-color-error-text: null !default;
$kendo-color-error-hover: null !default;
$kendo-color-error-active: null !default;
$kendo-color-error-selected: null !default;
$kendo-color-error-focus: null !default;

$kendo-color-light: null !default;
$kendo-color-light-text: null !default;
$kendo-color-light-hover: null !default;
$kendo-color-light-active: null !default;
$kendo-color-light-selected: null !default;
$kendo-color-light-focus: null !default;

$kendo-color-dark: null !default;
$kendo-color-dark-text: null !default;
$kendo-color-dark-hover: null !default;
$kendo-color-dark-active: null !default;
$kendo-color-dark-selected: null !default;
$kendo-color-dark-focus: null !default;

$kendo-color-inverse: null !default;
$kendo-color-inverse-text: null !default;
$kendo-color-inverse-hover: null !default;
$kendo-color-inverse-active: null !default;
$kendo-color-inverse-selected: null !default;
$kendo-color-inverse-focus: null !default;

$kendo-body-bg: null !default;
$kendo-body-text: null !default;

$kendo-color-border: null !default;
$kendo-color-border-hover: null !default;
$kendo-color-border-focus: null !default;

// Old
$kendo-color-primary: null !default;
$kendo-color-primary-lighter: null !default;
$kendo-color-primary-darker: null !default;

$kendo-color-primary-contrast: null !default;

$kendo-color-secondary: null !default;
$kendo-color-secondary-lighter: null !default;
$kendo-color-secondary-darker: null !default;

$kendo-color-secondary-contrast: null !default;

$kendo-color-tertiary: null !default;
$kendo-color-tertiary-lighter: null !default;
$kendo-color-tertiary-darker: null !default;

$kendo-color-tertiary-contrast: null !default;

$kendo-color-info: null !default;
$kendo-color-info-lighter: null !default;
$kendo-color-info-darker: null !default;

$kendo-color-success: null !default;
$kendo-color-success-lighter: null !default;
$kendo-color-success-darker: null !default;

$kendo-color-warning: null !default;
$kendo-color-warning-lighter: null !default;
$kendo-color-warning-darker: null !default;

$kendo-color-error: null !default;
$kendo-color-error-lighter: null !default;
$kendo-color-error-darker: null !default;

$kendo-color-dark: null !default;
$kendo-color-light: null !default;
$kendo-color-inverse: null !default;

$kendo-body-bg: null !default;
$kendo-body-text: null !default;

$kendo-subtle-text: null !default;

$kendo-app-bg: null !default;
$kendo-app-text: null !default;
$kendo-app-border: null !default;

$kendo-link-text: null !default;
$kendo-link-hover-text: null !default;

$kendo-component-bg: null !default;

$kendo-component-text: null !default;

$kendo-component-border: null !default;

$kendo-base-bg: null !default;
$kendo-base-text: null !default;
$kendo-base-border: null !default;
$kendo-base-gradient: null !default;

$kendo-hover-bg: null !default;
$kendo-hover-text: null !default;
$kendo-hover-border: null !default;
$kendo-hover-gradient: null !default;

$kendo-selected-bg: null !default;
$kendo-selected-text: null !default;
$kendo-selected-border: null !default;
$kendo-selected-gradient: null !default;

$kendo-selected-hover-bg: null !default;
$kendo-selected-hover-text: null !default;
$kendo-selected-hover-border: null !default;
$kendo-selected-hover-gradient: null !default;

$kendo-component-header-bg: null !default;
$kendo-component-header-text: null !default;
$kendo-component-header-border: null !default;
$kendo-component-header-gradient: null !default;

$kendo-invalid-bg: null !default;
$kendo-invalid-text: null !default;
$kendo-invalid-border: null !default;
$kendo-invalid-shadow: null !default;

$kendo-disabled-text: null !default;
$kendo-disabled-filter: null !default;
$kendo-disabled-opacity: null !default;

$kendo-loading-bg: null !default;
$kendo-loading-text: null !default;

// TODO! Backwards compatibility!!!
$kendo-theme-colors: (
    "primary": $kendo-color-primary,
    "secondary": $kendo-color-secondary,
    "tertiary": $kendo-color-tertiary,
    "info": $kendo-color-info,
    "success": $kendo-color-success,
    "warning": $kendo-color-warning,
    "error": $kendo-color-error,
    "dark": $kendo-color-dark,
    "light": $kendo-color-light,
    "inverse": $kendo-color-inverse,
) !default;

$kendo-theme-palette: (
    kendo-is-dark-theme: $kendo-is-dark-theme,
    kendo-color-primary: $kendo-color-primary,
    kendo-color-primary-lighter: $kendo-color-primary-lighter,
    kendo-color-primary-darker: $kendo-color-primary-darker,
    kendo-color-primary-contrast: $kendo-color-primary-contrast,
    kendo-color-secondary: $kendo-color-secondary,
    kendo-color-secondary-lighter: $kendo-color-secondary-lighter,
    kendo-color-secondary-darker: $kendo-color-secondary-darker,
    kendo-color-secondary-contrast: $kendo-color-secondary-contrast,
    kendo-color-tertiary: $kendo-color-tertiary,
    kendo-color-tertiary-lighter: $kendo-color-tertiary-lighter,
    kendo-color-tertiary-darker: $kendo-color-tertiary-darker,
    kendo-color-tertiary-contrast: $kendo-color-tertiary-contrast,
    kendo-color-info: $kendo-color-info,
    kendo-color-info-lighter: $kendo-color-info-lighter,
    kendo-color-info-darker: $kendo-color-info-darker,
    kendo-color-success: $kendo-color-success,
    kendo-color-success-lighter: $kendo-color-success-lighter,
    kendo-color-success-darker: $kendo-color-success-darker,
    kendo-color-warning: $kendo-color-warning,
    kendo-color-warning-lighter: $kendo-color-warning-lighter,
    kendo-color-warning-darker: $kendo-color-warning-darker,
    kendo-color-error: $kendo-color-error,
    kendo-color-error-lighter: $kendo-color-error-lighter,
    kendo-color-error-darker: $kendo-color-error-darker,
    kendo-color-dark: $kendo-color-dark,
    kendo-color-light: $kendo-color-light,
    kendo-color-inverse: $kendo-color-inverse,
    kendo-body-bg: $kendo-body-bg,
    kendo-body-text: $kendo-body-text,
    kendo-subtle-text: $kendo-subtle-text,
    kendo-app-bg: $kendo-app-bg,
    kendo-app-text: $kendo-app-text,
    kendo-app-border: $kendo-app-border,
    kendo-link-text: $kendo-link-text,
    kendo-link-hover-text: $kendo-link-hover-text,
    kendo-component-bg: $kendo-component-bg,
    kendo-component-text: $kendo-component-text,
    kendo-component-border: $kendo-component-border,
    kendo-base-bg: $kendo-base-bg,
    kendo-base-text: $kendo-base-text,
    kendo-base-border: $kendo-base-border,
    kendo-base-gradient: $kendo-base-gradient,
    kendo-hover-bg: $kendo-hover-bg,
    kendo-hover-text: $kendo-hover-text,
    kendo-hover-border: $kendo-hover-border,
    kendo-hover-gradient: $kendo-hover-gradient,
    kendo-selected-bg: $kendo-selected-bg,
    kendo-selected-text: $kendo-selected-text,
    kendo-selected-border: $kendo-selected-border,
    kendo-selected-gradient: $kendo-selected-gradient,
    kendo-selected-hover-bg: $kendo-selected-hover-bg,
    kendo-selected-hover-text: $kendo-selected-hover-text,
    kendo-selected-hover-border: $kendo-selected-hover-border,
    kendo-selected-hover-gradient: $kendo-selected-hover-gradient,
    kendo-component-header-bg: $kendo-component-header-bg,
    kendo-component-header-text: $kendo-component-header-text,
    kendo-component-header-border: $kendo-component-header-border,
    kendo-component-header-gradient: $kendo-component-header-gradient,
    kendo-invalid-bg: $kendo-invalid-bg,
    kendo-invalid-text: $kendo-invalid-text,
    kendo-invalid-border: $kendo-invalid-border,
    kendo-invalid-shadow: $kendo-invalid-shadow,
    kendo-disabled-text: $kendo-disabled-text,
);

$kendo-theme-swatches: (
    base: (
        normal: $kendo-color-base,
        rgb: $kendo-color-base,
        text: $kendo-color-base-text,
        text-rgb: $kendo-color-base-text,
        hover: $kendo-color-base-hover,
        active: $kendo-color-base-active,
        selected: $kendo-color-base-selected,
        focus: $kendo-color-base-focus,
    ),
    primary: (
        normal: $kendo-color-primary,
        rgb: $kendo-color-primary,
        text: $kendo-color-primary-text,
        text-rgb: $kendo-color-primary,
        hover: $kendo-color-primary-hover,
        active: $kendo-color-primary-active,
        selected: $kendo-color-primary-selected,
        focus: $kendo-color-primary-focus,
    ),
    secondary: (
        normal: $kendo-color-secondary,
        rgb: $kendo-color-secondary,
        text: $kendo-color-secondary-text,
        text-rgb: $kendo-color-secondary,
        hover: $kendo-color-secondary-hover,
        active: $kendo-color-secondary-active,
        selected: $kendo-color-secondary-selected,
        focus: $kendo-color-secondary-focus,
    ),
    tertiary: (
        normal: $kendo-color-tertiary,
        rgb: $kendo-color-tertiary,
        text: $kendo-color-tertiary-text,
        text-rgb: $kendo-color-tertiary,
        hover: $kendo-color-tertiary-hover,
        active: $kendo-color-tertiary-active,
        selected: $kendo-color-tertiary-selected,
        focus: $kendo-color-tertiary-focus,
    ),
    info: (
        normal: $kendo-color-info,
        rgb: $kendo-color-info,
        text: $kendo-color-info-text,
        text-rgb: $kendo-color-info,
        hover: $kendo-color-info-hover,
        active: $kendo-color-info-active,
        selected: $kendo-color-info-selected,
        focus: $kendo-color-info-focus,
    ),
    success: (
        normal: $kendo-color-success,
        rgb: $kendo-color-success,
        text: $kendo-color-success-text,
        text-rgb: $kendo-color-success,
        hover: $kendo-color-success-hover,
        active: $kendo-color-success-active,
        selected: $kendo-color-success-selected,
        focus: $kendo-color-success-focus,
    ),
    warning: (
        normal: $kendo-color-warning,
        rgb: $kendo-color-warning,
        text: $kendo-color-warning-text,
        text-rgb: $kendo-color-warning,
        hover: $kendo-color-warning-hover,
        active: $kendo-color-warning-active,
        selected: $kendo-color-warning-selected,
        focus: $kendo-color-warning-focus,
    ),
    error: (
        normal: $kendo-color-error,
        rgb: $kendo-color-error,
        text: $kendo-color-error-text,
        text-rgb: $kendo-color-error,
        hover: $kendo-color-error-hover,
        active: $kendo-color-error-active,
        selected: $kendo-color-error-selected,
        focus: $kendo-color-error-focus,
    ),
    light: (
        normal: $kendo-color-light,
        rgb: $kendo-color-light,
        text: $kendo-color-light-text,
        text-rgb: $kendo-color-light,
        hover: $kendo-color-light-hover,
        active: $kendo-color-light-active,
        selected: $kendo-color-light-selected,
        focus: $kendo-color-light-focus,
    ),
    dark: (
        normal: $kendo-color-dark,
        rgb: $kendo-color-dark,
        text: $kendo-color-dark-text,
        text-rgb: $kendo-color-dark,
        hover: $kendo-color-dark-hover,
        active: $kendo-color-dark-active,
        selected: $kendo-color-dark-selected,
        focus: $kendo-color-dark-focus,
    ),
    inverse: (
        normal: $kendo-color-inverse,
        rgb: $kendo-color-inverse,
        text: $kendo-color-inverse-text,
        text-rgb: $kendo-color-inverse,
        hover: $kendo-color-inverse-hover,
        active: $kendo-color-inverse-active,
        selected: $kendo-color-inverse-selected,
        focus: $kendo-color-inverse-focus,
    ),
);

/// @deprecated
$kendo-color-primary-darker: if($kendo-color-primary != null, k-color-shade($kendo-color-primary, 2), null ) !default;
/// @deprecated
$kendo-color-primary-contrast: $kendo-color-primary-text;
/// @deprecated
$kendo-selected-bg: $kendo-color-primary !default;
/// @deprecated
$kendo-selected-text: $kendo-color-primary-text !default;
/// @deprecated
$kendo-selected-hover-bg: $kendo-color-primary-hover !default;
/// @deprecated
$kendo-selected-hover-text: $kendo-selected-text !default;
/// @deprecated
$kendo-invalid-text: $kendo-color-error !default;
/// @deprecated
$kendo-invalid-border: $kendo-color-error !default;
/// @deprecated
$kendo-invalid-shadow: null !default;
/// @deprecated
$kendo-invalid-bg: null !default;
/// @deprecated
$kendo-base-bg: $kendo-color-base !default;
/// @deprecated
$kendo-base-text: $kendo-body-text !default;
/// @deprecated
$kendo-base-border: $kendo-color-border;
/// @deprecated
$kendo-base-gradient: rgba($kendo-color-black, 0), rgba($kendo-color-black, 0.02) !default;
/// @deprecated
$kendo-component-header-bg: $kendo-base-bg !default;
/// @deprecated
$kendo-component-header-text: $kendo-base-text !default;
/// @deprecated
$kendo-component-header-border: $kendo-base-border !default;
/// @deprecated
$kendo-component-header-gradient: null !default;
/// @deprecated
$kendo-app-text: $kendo-body-text !default;
/// @deprecated
$kendo-link-text: $kendo-color-primary !default;
/// @deprecated
$kendo-selected-border: $kendo-base-border !default;
/// @deprecated
$kendo-hover-gradient: $kendo-base-gradient !default;
/// @deprecated
$kendo-hover-border: $kendo-base-border !default;
/// @deprecated
$kendo-hover-text: $kendo-base-text !default;
/// @deprecated
$kendo-hover-bg: $kendo-color-base-hover !default;
/// @deprecated
$kendo-component-border: $kendo-color-border !default;
/// @deprecated
$kendo-component-text: $kendo-body-text !default;
/// @deprecated
$kendo-component-bg: $kendo-body-bg !default;
/// @deprecated
$kendo-link-hover-text: $kendo-color-primary-darker !default;
/// @deprecated
$kendo-color-primary-lighter: if($kendo-color-primary != null, k-color-tint($kendo-color-primary, 2), null) !default; // not used anywhere
/// @deprecated
$kendo-color-secondary-lighter: if($kendo-color-secondary != null, k-color-tint($kendo-color-secondary, 2), null) !default; // not used anywhere
/// @deprecated
$kendo-color-secondary-darker: if($kendo-color-secondary != null, k-color-shade($kendo-color-secondary, 2), null) !default; // not used anywhere
/// @deprecated
$kendo-color-secondary-contrast: if($kendo-color-secondary != null, k-contrast-legacy($kendo-color-secondary), null) !default; // not use anywhere
/// @deprecated
$kendo-color-tertiary-lighter: if($kendo-color-tertiary != null, k-color-tint($kendo-color-tertiary, 2), null) !default; // not used anywhere
/// @deprecated
$kendo-color-tertiary-darker: if($kendo-color-tertiary != null, k-color-shade($kendo-color-tertiary, 2), null) !default; // not used anywhere
/// @deprecated
$kendo-color-tertiary-contrast: if($kendo-color-tertiary != null, k-contrast-legacy($kendo-color-tertiary), null) !default; // not used anywhere
/// @deprecated
$kendo-color-info-lighter: if($kendo-color-info != null, k-color-tint($kendo-color-info, 2), null) !default; // not used anywhere
/// @deprecated
$kendo-color-info-darker: if($kendo-color-info != null, k-color-shade($kendo-color-info, 2), null) !default; // not used anywhere
/// @deprecated
$kendo-color-success-lighter: if($kendo-color-success != null, k-color-tint($kendo-color-success, 2), null) !default; // not used anywhere
/// @deprecated
$kendo-color-success-darker: if($kendo-color-success != null, k-color-shade($kendo-color-success, 2), null) !default; // not used anywhere
/// @deprecated
$kendo-color-warning-lighter: if($kendo-color-warning != null, k-color-tint($kendo-color-warning, 2), null) !default; // not used anywhere
/// @deprecated
$kendo-color-warning-darker: if($kendo-color-warning != null, k-color-shade($kendo-color-warning, 2), null) !default; // not used anywhere
/// @deprecated
$kendo-color-error-lighter: if($kendo-color-error != null, k-color-tint($kendo-color-error, 2), null) !default; // not used anywhere
/// @deprecated
$kendo-color-error-darker: if($kendo-color-error != null, k-color-shade($kendo-color-error, 2), null) !default; // not used anywhere
/// @deprecated
$kendo-selected-hover-border: $kendo-base-border !default;
/// @deprecated
$kendo-selected-hover-gradient: $kendo-base-gradient !default;
/// @deprecated
$kendo-selected-gradient: $kendo-base-gradient !default;
/// @deprecated
$kendo-link-text: $kendo-color-primary !default;
/// @deprecated
$kendo-app-border: rgba($kendo-color-black, 0.08) !default;
/// @deprecated
$kendo-app-bg: if($kendo-body-bg != null, k-try-shade($kendo-body-bg, 0.25), null) !default;
/// @deprecated
$kendo-loading-bg: $kendo-component-bg !default;
/// @deprecated
$kendo-loading-text: currentColor !default;
