/// Returns resolved shadow with applied color. If there is no custom color, it will return shadow with the default value.
/// @param {List} $shadow - Depth of the shadow with default color value.
/// @param {Color} $color - Custom color value.
/// @return {List} - Shadow value with resolved color.
///
/// @example scss - Usage
///   @debug k-shadow-change-color( $shadow: (0 2px 7px rgba(0, 0, 0, .75)), $color: rgba(0, 0, 0, .5) ); // => 0 2px 7px rgba(0, 0, 0, .75)
@function k-shadow-change-color( $shadows, $colors ) {
    $_shadows: ();
    $_shadows-length: k-list-length($shadows);
    $_colors-length: k-list-length($colors);

    @for $i from 1 to $_shadows-length + 1 {
        $_shadow: k-list-nth($shadows, $i);
        $_shadow-resolved: $_shadow;

        @if $i <= $_colors-length {
            $_color: k-list-nth($colors, $i);
            $_shadow-resolved: k-list-set-nth($_shadow, -1, $_color);
        }

        $_shadows: k-list-append($_shadows, $_shadow-resolved, $separator: comma );
    }

    @return $_shadows;
}
