@use "../core/mixins" as *;
@use "_variables.scss" as *;

@mixin kendo-colorpalette--theme() {

    // Tile
    .k-colorpalette-tile {
        outline-color: var( --kendo-colorpalette-tile-outline, #{$kendo-colorpalette-tile-outline} );

        // Hover
        &:hover,
        &.k-hover {
            @include box-shadow(
                var( --kendo-colorpalette-tile-hover-shadow, #{$kendo-colorpalette-tile-hover-shadow} )
            );
            outline-color: var( --kendo-colorpalette-tile-hover-outline, #{$kendo-colorpalette-tile-hover-outline} );
        }

        // Focus
        &:focus,
        &.k-focus {
            @include box-shadow(
                var( --kendo-colorpalette-tile-focus-shadow, #{$kendo-colorpalette-tile-focus-shadow} )
            );
            outline-color: var( --kendo-colorpalette-tile-focus-outline, #{$kendo-colorpalette-tile-focus-outline} );
        }

        // Selected
        &.k-selected {
            @include box-shadow(
                var( --kendo-colorpalette-tile-selected-shadow, #{$kendo-colorpalette-tile-selected-shadow} )
            );
            outline-color: var( --kendo-colorpalette-tile-selected-outline, #{$kendo-colorpalette-tile-selected-outline} );
        }

        // Selected hover/focus
        &.k-selected:hover,
        &.k-selected:focus {
            outline-color: var( --kendo-colorpalette-tile-selected-hover-outline, #{$kendo-colorpalette-tile-selected-hover-outline} );
        }
    }

}
