$slider-size: 200px !default;
$slider-alt-size: 26px !default;
$slider-button-offset: 10px !default;
$slider-button-size: ($slider-alt-size - 2) !default;
$slider-track-thickness: 8px !default;

@include exports('slider/layout') {

$button-spacing: ($slider-button-size + $slider-button-offset);
$transition-speed: .3s;
$transition-function: ease-out;

@import '../base/layout';
@import '../button/layout';
@import '../icons/main';

.slider {
    background-color: transparent;
    border-width: 0;
    position: relative;

    .button {
        height: $slider-button-size;
        margin: 0;
        min-width: 0;
        outline: 0;
        padding: 0;
        position: absolute;
        width: $slider-button-size;

        .icon {
            vertical-align: baseline;
        }
    }

    .button-increase {
        right: 0;
        top: 0;
    }

    .button-decrease {
        left: 0;
        top: 0;
    }

    .label {
        font-size: .92em;
        position: absolute;
        white-space: nowrap;
    }

    .tick,
    .slider-track {
        cursor: pointer;
    }

    .tick {
        background-color: transparent;
        background-position: center center;
        background-repeat: no-repeat;
        margin: 0;
        padding: 0;
        position: relative;
    }


    &.state-disabled {
        .tick,
        .slider-track,
        .draghandle {
            cursor: default;
        }
    }
}

.slider-vertical {
    height: $slider-size;
    width: $slider-alt-size;

    .button-decrease {
        bottom: 0;
        top: auto;
    }

    .tick {
        text-align: right;
    }

    .slider-topleft .tick {
        text-align: left;
    }

    // ticks

    .tick { background-position: -92px center; }
    .slider-topleft .tick { background-position: -122px center; }
    .slider-bottomright .tick { background-position: -152px center; }

    .ticlarge { background-position: -2px center; }
    .slider-topleft .ticlarge { background-position: -32px center; }
    .slider-bottomright .ticlarge { background-position: -62px center; }

    .first { background-position: -92px 100%; }
    .ticlarge.first { background-position: -2px 100%; }
    .slider-topleft .first { background-position: -122px 100%; }
    .slider-topleft .ticlarge.first { background-position: -32px 100%; }
    .slider-bottomright .first { background-position: -152px 100%; }
    .slider-bottomright .ticlarge.first { background-position: -62px 100%; }

    .last { background-position: -92px 0; }
    .ticlarge.last { background-position: -2px 0; }
    .slider-topleft .last { background-position: -122px 0; }
    .slider-topleft .ticlarge.last { background-position: -32px 0; }
    .slider-bottomright .last { background-position: -152px 0; }
    .slider-bottomright .ticlarge.last { background-position: -62px 0; }

    // labels

    .label {
        display: block;
        left: 120%;
        text-align: left;
    }

    .last .label {
        top: -.5em;
    }

    .first .label {
        bottom: -.5em;
    }

    .slider-topleft .label {
        left: auto;
        right: 120%;
    }
}

.slider-horizontal {
    display: inline-block;
    height: $slider-alt-size;
    width: $slider-size;

    // ticks
    .tick {
        float: left;
        height: 100%;
        text-align: center;
    }

    .tick { background-position: center -92px; }
    .slider-topleft .tick { background-position: center -122px; }
    .slider-bottomright .tick { background-position: center -152px; }

    .ticlarge { background-position: center -2px; }
    .slider-topleft .ticlarge { background-position: center -32px; }
    .slider-bottomright .ticlarge { background-position: center -62px; }

    .first { background-position: 0 -92px; }
    .ticlarge.first { background-position: 0 -2px; }
    .slider-topleft .first { background-position: 0 -122px; }
    .slider-topleft .ticlarge.first { background-position: 0 -32px; }
    .slider-bottomright .first { background-position: 0 -152px; }
    .slider-bottomright .ticlarge.first { background-position: 0 -62px; }

    .last { background-position: 100% -92px; }
    .ticlarge.last { background-position: 100% -2px; }
    .slider-topleft .last { background-position: 100% -122px; }
    .slider-topleft .ticlarge.last { background-position: 100% -32px; }
    .slider-bottomright .last { background-position: 100% -152px; }
    .slider-bottomright .ticlarge.last { background-position: 100% -62px; }

    // labels

    .label {
        left: 0;
        bottom: -1.2em;
        line-height: 1;
        width: 100%;
    }

    .first .label {
        left: -50%;
    }

    .last .label {
        left: auto;
        right: -50%;
    }

    .slider-topleft .label {
        top: -1.2em;
    }
}

.slider-wrap {
    height: 100%;
    width: 100%;
}

.slider-track,
.slider-selection {
    margin: 0;
    padding: 0;
    position: absolute;

    .slider-horizontal & {
        height: $slider-track-thickness;
        left: 0;
        margin-top: -($slider-track-thickness / 2);
        top: 50%;
    }

    .slider-vertical & {
        bottom: 0;
        left: 50%;
        margin-left: -($slider-track-thickness / 2);
        width: $slider-track-thickness;
    }
}

.slider-buttons .slider-track {
    .slider-horizontal & {
        left: $button-spacing;
    }

    .slider-vertical & {
        bottom: $button-spacing;
    }
}


.draghandle {
    background-color: transparent;
    background-repeat: no-repeat;
    border-style: solid;
    border-width: 1px;
    outline: 0;
    overflow: hidden;
    position: absolute;
    text-align: center;
    text-decoration: none;
    text-indent: -3333px;

    .slider-horizontal & {
        height: 14px;
        top: -4px;
        width: 13px;
        transition: left $transition-speed $transition-function;
    }

    .slider-vertical & {
        height: 13px;
        left: -4px;
        width: 14px;
        transition: bottom $transition-speed $transition-function;
    }

    &.pressed {
        transition: none;
    }
}

.slider-selection {
    .slider-horizontal & {
        transition: width $transition-speed $transition-function;
    }

    .slider-vertical & {
        transition: height $transition-speed $transition-function;
    }

    &.pressed {
        transition: none;
    }
}


.slider-items {
    user-select: none;

    .slider-buttons & {
        margin-left: $button-spacing;
    }

    .slider-horizontal & {
        height: 100%;
    }

    .slider-vertical & {
        padding-top: 1px;
    }

    .slider-horizontal .slider-buttons & {
        padding-top: 0;
    }

    .slider-vertical .slider-buttons & {
        margin: 0;
        padding-top: 35px;
    }
}

}


