@use "../core/color-system" as *;
@use "../core/_variables.scss" as *;

/// Spacer of the captcha.
/// @group captcha
$kendo-captcha-spacer: map-get( $kendo-spacing, 2 ) !default;

/// Default width of the captcha.
/// @group captcha
$kendo-captcha-width: 280px !default;
/// Font family of the captcha.
/// @group captcha
$kendo-captcha-font-family: var( --kendo-font-family, inherit ) !default;
/// Font size of the captcha.
/// @group captcha
$kendo-captcha-font-size: var( --kendo-font-size, inherit ) !default;
/// Line height of the captcha.
/// @group captcha
$kendo-captcha-line-height: var( --kendo-line-height, normal ) !default;
/// Spacing of the captcha.
/// @group captcha
$kendo-captcha-spacing: $kendo-captcha-spacer !default;
/// Background color of the captcha.
/// @group captcha
$kendo-captcha-bg: var( --kendo-component-bg, initial ) !default;
/// Text color of the captcha.
/// @group captcha
$kendo-captcha-text: var( --kendo-component-text, initial ) !default;
/// Border color of the captcha.
/// @group captcha
$kendo-captcha-border: var( --kendo-component-border, initial ) !default;

/// Spacing of the captcha image wrapper.
/// @group captcha
$kendo-captcha-image-wrap-spacing: $kendo-captcha-spacer !default;
/// Spacing of the captcha image controls.
/// @group captcha
$kendo-captcha-image-controls-spacing: calc( $kendo-captcha-spacer / 2 ) !default;

/// Offset of the captcha validation text.
/// @group captcha
$kendo-captcha-validation-offset-y: calc( $kendo-captcha-spacer / 2 ) !default;
/// Font-size of the captcha validation text.
/// @group captcha
$kendo-captcha-validation-font-size: var( --kendo-font-size-sm, inherit ) !default;
