@use "../core/_index.scss" as *;

$kendo-popup-border-width: 1px !default;
$kendo-popup-border-radius: null !default;

$kendo-popup-font-size: var(--kendo-font-size) !default;
$kendo-popup-line-height: var(--kendo-line-height) !default;

$kendo-popup-content-padding-x: k-spacing(2) !default;
$kendo-popup-content-padding-y: k-spacing(2) !default;

$kendo-popup-bg: k-color(surface-alt) !default;
$kendo-popup-text: k-color(on-app-surface) !default;
$kendo-popup-border: k-color(border) !default;
$kendo-popup-shadow: k-elevation(4) !default;

$kendo-popup-spacing-y: 0 !default;


@forward "@progress/kendo-theme-core/scss/components/popup/_variables.scss" with (
    $kendo-popup-border-width: $kendo-popup-border-width,
    $kendo-popup-border-radius: $kendo-popup-border-radius,
    $kendo-popup-font-size: $kendo-popup-font-size,
    $kendo-popup-line-height: $kendo-popup-line-height,
    $kendo-popup-content-padding-x: $kendo-popup-content-padding-x,
    $kendo-popup-content-padding-y: $kendo-popup-content-padding-y,
    $kendo-popup-bg: $kendo-popup-bg,
    $kendo-popup-text: $kendo-popup-text,
    $kendo-popup-border: $kendo-popup-border,
    $kendo-popup-shadow: $kendo-popup-shadow,
    $kendo-popup-spacing-y: $kendo-popup-spacing-y
);
