$dropdowntree-popup-spacer-x: $padding-x !default;
$dropdowntree-filter-shadow: none !default;
$dropdowntree-filter-spacer: 0 !default;

@import "~@progress/kendo-theme-default/scss/dropdowntree/layout";
