@use "../core/_index.scss" as *;

$kendo-overlay-bg: k-color(inverse) !default;

$kendo-overlay-opacity: var( --kendo-overlay-opacity, .4 ) !default;

@forward "@progress/kendo-theme-core/scss/components/overlay/_variables.scss" with (
    $kendo-overlay-bg: $kendo-overlay-bg,
    $kendo-overlay-opacity: $kendo-overlay-opacity
);
