// Checkbox

/// The sizes of checkbox.
/// @group checkbox
$kendo-checkbox-sizes: (
    sm: map-get( $spacing, 3 ),
    md: map-get( $spacing, 4 ),
    lg: map-get( $spacing, 6 )
) !default;

/// The  border width of checkbox.
/// @group checkbox
$kendo-checkbox-border-width: 1px !default;
/// The line height of checkbox.
/// @group checkbox
$kendo-checkbox-line-height: calc( #{map-get( $kendo-checkbox-sizes, "md" )} + #{$kendo-checkbox-border-width} ) !default;

/// The background of checkbox.
/// @group checkbox
$kendo-checkbox-bg: $white !default;
/// The text of checkbox.
/// @group checkbox
$kendo-checkbox-text: transparent !default;
/// The border of checkbox.
/// @group checkbox
$kendo-checkbox-border: $base-border !default;

/// The background of hovered checkbox.
/// @group checkbox
$kendo-checkbox-hover-bg: null !default;
/// The text of hovered checkbox.
/// @group checkbox
$kendo-checkbox-hover-text: null !default;
/// The border of hovered checkbox.
/// @group checkbox
$kendo-checkbox-hover-border: null !default;

/// The background of checked checkbox.
/// @group checkbox
$kendo-checkbox-checked-bg: $primary !default;
/// The text of checked checkbox.
/// @group checkbox
$kendo-checkbox-checked-text: contrast-wcag( $kendo-checkbox-checked-bg ) !default;
/// The border of checked checkbox.
/// @group checkbox
$kendo-checkbox-checked-border: $kendo-checkbox-checked-bg !default;

/// The background of indeterminate checkbox.
/// @group checkbox
$kendo-checkbox-indeterminate-bg: $kendo-checkbox-bg !default;
/// The text of indeterminate checkbox.
/// @group checkbox
$kendo-checkbox-indeterminate-text: $kendo-checkbox-checked-bg !default;
/// The border of indeterminate checkbox.
/// @group checkbox
$kendo-checkbox-indeterminate-border: $kendo-checkbox-border !default;

/// The border of focused checkbox.
/// @group checkbox
$kendo-checkbox-focus-border: null !default;
/// The shadow of focused checkbox.
/// @group checkbox
$kendo-checkbox-focus-shadow: 0 0 0 2px rgba(0, 0, 0, .06) !default;
/// The border of focused and checked checkbox.
/// @group checkbox
$kendo-checkbox-focus-checked-border: null !default;
/// The shadow of focused and checked checkbox.
/// @group checkbox
$kendo-checkbox-focus-checked-shadow: 0 0 0 2px rgba( $primary, .3 ) !default;

/// The background of disabled checkbox.
/// @group checkbox
$kendo-checkbox-disabled-bg: null !default;
/// The text of disabled checkbox.
/// @group checkbox
$kendo-checkbox-disabled-text: null !default;
/// The border of disabled checkbox.
/// @group checkbox
$kendo-checkbox-disabled-border: null !default;

/// The background of disabled and checked checkbox.
/// @group checkbox
$kendo-checkbox-disabled-checked-bg: null !default;
/// The text of disabled and checked checkbox.
/// @group checkbox
$kendo-checkbox-disabled-checked-text: null !default;
/// The border of disabled and checked checkbox.
/// @group checkbox
$kendo-checkbox-disabled-checked-border: null !default;

/// The background of invalid checkbox.
/// @group checkbox
$kendo-checkbox-invalid-bg: null !default;
/// The text of invalid checkbox.
/// @group checkbox
$kendo-checkbox-invalid-text: $invalid-text !default;
/// The border of invalid checkbox.
/// @group checkbox
$kendo-checkbox-invalid-border: $invalid-border !default;


// Checkbox indicator

/// The icon type of checked checkbox.
/// @group checkbox
$kendo-checkbox-icon-type: glyph !default;

/// The glyph font family of checkbox.
/// @group checkbox
$kendo-checkbox-glyph-font-family: "WebComponentsIcons", monospace !default;
/// The glyph of checked checkbox.
/// @group checkbox
$kendo-checkbox-checked-glyph: "\e118" !default;
/// The glyph of indeterminate checkbox.
/// @group checkbox
$kendo-checkbox-indeterminate-glyph: "\e121" !default;

/// The image of checked checkbox.
/// @group checkbox
$kendo-checkbox-checked-image: null !default;
/// The image of indeterminate checkbox.
/// @group checkbox
$kendo-checkbox-indeterminate-image: null !default;


// Checkbox label

/// The horizontal margin of the checkbox inside a label.
/// @group checkbox
$kendo-checkbox-label-margin-x: map-get( $spacing, 1 ) !default;


// Checkbox list

/// The horizontal margin of list item of checkbox.
/// @group checkbox
$kendo-checkbox-list-spacing: map-get( $spacing, 4 ) !default;
/// The horizontal list item padding of checkbox.
/// @group checkbox
$kendo-checkbox-list-item-padding-x: 0px !default;
/// The vertical list item padding of checkbox.
/// @group checkbox
$kendo-checkbox-list-item-padding-y: $list-item-padding-y !default;


// Checkbox ripple

/// The ripple size of checkbox.
/// @group checkbox
$kendo-checkbox-ripple-size: (
    sm: (map-get( $kendo-checkbox-sizes, "sm" ) * 3),
    md: (map-get( $kendo-checkbox-sizes, "md" ) * 3),
    lg: (map-get( $kendo-checkbox-sizes, "lg" ) * 3)
) !default;
/// The ripple margin of checkbox.
/// @group checkbox
$kendo-checkbox-ripple-margin: (
    sm: calc(-1 * (#{map-get( $kendo-checkbox-sizes, "sm" )} + 2 * #{$kendo-checkbox-border-width})),
    md: calc(-1 * (#{map-get( $kendo-checkbox-sizes, "md" )} + 2 * #{$kendo-checkbox-border-width})),
    lg: calc(-1 * (#{map-get( $kendo-checkbox-sizes, "lg" )} + 2 * #{$kendo-checkbox-border-width}))
) !default;
/// The ripple opacity of checkbox.
/// @group checkbox
$kendo-checkbox-ripple-opacity: .3 !default;
