// Color System
@use "./color-system/_swatch.scss" as *;

@forward "../_variables.scss";

// Core Index
@forward "@progress/kendo-theme-core/scss/index.scss" with (
    // Color System
    $default-colors: $kendo-colors,
    $kendo-colors: $kendo-colors !default,
);

// Global disabled styles
:root {
    --kendo-disabled-text: unset;
    --kendo-disabled-bg: unset;
    --kendo-disabled-border: unset;
    --kendo-disabled-opacity: .6;
    --kendo-disabled-filter: grayscale(.1);
}
