@use "sass:map";
@use "../core/_index.scss" as *;

/// The horizontal padding of the BottomNavigation.
/// @group bottom-navigation
$kendo-bottom-nav-padding-x: var( --kendo-bottom-nav-padding-x, k-spacing(1.5) ) !default;
/// The vertical padding of the BottomNavigation.
/// @group bottom-navigation
$kendo-bottom-nav-padding-y: var( --kendo-bottom-nav-padding-y, $kendo-bottom-nav-padding-x ) !default;
/// The spacing between the BottomNavigation items.
/// @group bottom-navigation
$kendo-bottom-nav-gap: var( --kendo-bottom-nav-gap, $kendo-bottom-nav-padding-x ) !default;
/// The width of the border around the BottomNavigation.
/// @group bottom-navigation
$kendo-bottom-nav-border-width: var( --kendo-bottom-nav-border-width, 1px 0px 0px 0px ) !default;
/// The font family of the BottomNavigation.
/// @group bottom-navigation
$kendo-bottom-nav-font-family: var( --kendo-font-family, inherit) !default;
/// The font size of the BottomNavigation.
/// @group bottom-navigation
$kendo-bottom-nav-font-size: var( --kendo-font-size, 1rem ) !default;
/// The line height of the BottomNavigation.
/// @group bottom-navigation
$kendo-bottom-nav-line-height: var( --kendo-line-height-xs, normal ) !default;
/// The letter spacing of the BottomNavigation.
/// @group bottom-navigation
$kendo-bottom-nav-letter-spacing: var( --kendo-bottom-nav-letter-spacing, .2px ) !default;

/// The horizontal padding of the BottomNavigation item.
/// @group bottom-navigation
$kendo-bottom-nav-item-padding-x: var( --kendo-bottom-nav-item-padding-x, k-spacing(2) ) !default;
/// The vertical padding of the BottomNavigation item.
/// @group bottom-navigation
$kendo-bottom-nav-item-padding-y: var( --kendo-bottom-nav-item-padding-y, k-spacing(0.5) ) !default;
/// The minimum width of the BottomNavigation item.
/// @group bottom-navigation
$kendo-bottom-nav-item-min-width: var( --kendo-bottom-nav-item-min-width, 72px ) !default;
/// The maximum width of the BottomNavigation item.
/// @group bottom-navigation
$kendo-bottom-nav-item-max-width: var( --kendo-bottom-nav-item-max-width, none ) !default;
/// The minimum height of the BottomNavigation item.
/// @group bottom-navigation
$kendo-bottom-nav-item-min-height: var( --kendo-bottom-nav-item-min-height, calc( var( --kendo-icon-size, 1.5rem ) * 2 + (#{$kendo-bottom-nav-item-padding-y} * 2) ) ) !default;
/// The border radius of the BottomNavigation item.
/// @group bottom-navigation
$kendo-bottom-nav-item-border-radius: var( --kendo-bottom-nav-item-border-radius, k-border-radius(md) ) !default;
/// The spacing of the BottomNavigation item.
/// @group bottom-navigation
$kendo-bottom-nav-item-gap: var( --kendo-bottom-nav-item-gap, k-spacing(1) ) !default;

/// The box shadow of the BottomNavigation.
/// @group bottom-navigation
$kendo-bottom-nav-shadow: var( --kendo-box-shadow-depth-4, none ) !default;

/// The text color of the flat BottomNavigation.
/// @group bottom-navigation
$kendo-bottom-nav-flat-text: var( --kendo-bottom-nav-text, k-color(on-app-surface) ) !default;
/// The background color of the flat BottomNavigation.
/// @group bottom-navigation
$kendo-bottom-nav-flat-bg: var( --kendo-bottom-nav-bg, k-color(app-surface) ) !default;
/// The border color of the flat BottomNavigation.
/// @group bottom-navigation
$kendo-bottom-nav-flat-border: var( --kendo-bottom-nav-border, k-color(border) ) !default;

/// The navigation theme colors of the BottomNavigation.
/// @group bottom-navigation
$kendo-bottom-navigation-theme-colors: (
    "base": k-color(base),
    "primary": k-color(primary),
    "secondary": k-color(secondary),
    "tertiary": k-color(tertiary),
    "info": k-color(info),
    "success": k-color(success),
    "warning": k-color(warning),
    "error": k-color(error),
    "dark": k-color(dark),
    "light": k-color(light),
    "inverse": if($kendo-is-dark-theme, k-color(light), k-color(dark))
) !default;

@forward "@progress/kendo-theme-core/scss/components/bottom-navigation/_variables.scss" with (
    $kendo-bottom-nav-padding-x: $kendo-bottom-nav-padding-x,
    $kendo-bottom-nav-padding-y: $kendo-bottom-nav-padding-y,
    $kendo-bottom-nav-gap: $kendo-bottom-nav-gap,
    $kendo-bottom-nav-border-width: $kendo-bottom-nav-border-width,
    $kendo-bottom-nav-font-family: $kendo-bottom-nav-font-family,
    $kendo-bottom-nav-font-size: $kendo-bottom-nav-font-size,
    $kendo-bottom-nav-line-height: $kendo-bottom-nav-line-height,
    $kendo-bottom-nav-letter-spacing: $kendo-bottom-nav-letter-spacing,
    $kendo-bottom-nav-item-padding-x: $kendo-bottom-nav-item-padding-x,
    $kendo-bottom-nav-item-padding-y: $kendo-bottom-nav-item-padding-y,
    $kendo-bottom-nav-item-min-width: $kendo-bottom-nav-item-min-width,
    $kendo-bottom-nav-item-max-width: $kendo-bottom-nav-item-max-width,
    $kendo-bottom-nav-item-min-height: $kendo-bottom-nav-item-min-height,
    $kendo-bottom-nav-item-border-radius: $kendo-bottom-nav-item-border-radius,
    $kendo-bottom-nav-item-gap: $kendo-bottom-nav-item-gap,
    $kendo-bottom-nav-shadow: $kendo-bottom-nav-shadow,
    $kendo-bottom-nav-flat-text: $kendo-bottom-nav-flat-text,
    $kendo-bottom-nav-flat-bg: $kendo-bottom-nav-flat-bg,
    $kendo-bottom-nav-flat-border: $kendo-bottom-nav-flat-border,
    $kendo-bottom-navigation-theme-colors: $kendo-bottom-navigation-theme-colors
);
