@import "../core/index.import.scss";


// Module meta
$_kendo-module-meta: (
    name: "grid",
    dependencies: (
        "action-buttons",
        "autocomplete",
        "badge",
        "button",
        "checkbox",
        "chip",
        "date-time-picker",
        "dialog",
        "dropdown-list",
        "icon",
        "input",
        "list",
        "menu",
        "numeric-textbox",
        "pager",
        "progressbar",
        "radio",
        "skeleton",
        "table",
        "tabstrip",
        "textbox",
        "toolbar",
        "validator"
    )
);


// Component
@import "./_variables.scss";
@import "./_layout.scss";
@import "./_theme.scss";


// Register
@import "../core/module-system/index.import.scss";
@include module-register( $_kendo-module-meta... );


// Expose
@mixin kendo-grid--styles() {
    @include module-render( "grid" ) {
        @include kendo-grid--layout();
        @include kendo-grid--theme();
    }
}

@if $kendo-auto-bootstrap {
    @include kendo-grid--styles();
}
