@use "../core/_index.scss" as *;
@use "./_variables.scss" as *;
@use "../core/spacing/_index.scss" as *;
@use "@progress/kendo-theme-core/scss/components/upload/_layout.scss" as *;

@mixin kendo-upload--layout() {
    @include kendo-upload--layout-base();

    .k-upload {
        .k-filename {
            margin-inline-start: k-spacing(2);
        }

        .k-upload-files .k-file-info {
            margin-inline-start: 0;
            margin-inline-end: 0;
        }

        .k-multiple-files-wrapper,
        .k-file-single > .k-file-info {
            margin-inline-start: k-spacing(2);
            margin-inline-end: 0;
        }

        .k-progressbar {
            inset-inline-start: $kendo-upload-item-padding-x;
            inset-inline-end: $kendo-upload-item-padding-x;
            inset-block-end: calc( $kendo-upload-item-padding-y / 2 );
        }
    }

    .k-upload-button-wrap {
        input {
            z-index: 2;
        }
    }
}
