@import "../core/_index.scss";
@import "../utils/_index.scss";


// Module meta
$_kendo-module-meta: (
    name: "checkbox",
    dependencies: ()
);


// Dependencies


// Component
@import "./_variables.scss";
@import "./_layout.scss";
@import "./_theme.scss";


// Register
@import "../core/module-system/index.import.scss";
@include module-register( $_kendo-module-meta... );


// Expose
@mixin kendo-checkbox--styles() {
    @include module-render( "checkbox" ) {
        @include kendo-checkbox--layout();
        @include kendo-checkbox--theme();
    }
}

@if $kendo-auto-bootstrap {
    @include kendo-checkbox--styles();
}
