// Adaptive
$kendo-adaptive-bg: null !default;
$kendo-adaptive-text: null !default;
$kendo-adaptive-border: null !default;

$kendo-adaptive-content-bg: null !default;
$kendo-adaptive-content-text: null !default;

$kendo-adaptive-menu-bg: null !default;
$kendo-adaptive-menu-text: null !default;

$kendo-adaptive-menu-clear-text: null !default;

$kendo-adaptive-menu-item-border: null !default;
$kendo-adaptive-menu-title-text: null !default;

$kendo-adaptive-border-width: null !default;
$kendo-adaptive-font-family: null !default;
$kendo-adaptive-font-size: null !default;
$kendo-adaptive-line-height: null !default;


// Adaptive Grid
$kendo-adaptive-grid-sort-text: null !default;


// Adaptive Scheduler
$kendo-adaptive-scheduler-current-text: null !default;
$kendo-adaptive-scheduler-base-text: null !default;
$kendo-adaptive-scheduler-subtle-text: null !default;
