// Module meta
$_kendo-module-meta: (
    name: "colorpicker",
    dependencies: (
        "input",
        "button",
        "popup",
        "icon",
        "color-editor"
    )
);


// Component
@forward "./_variables.scss";
@use "./_layout.scss" as *;
@use "./_theme.scss" as *;

// Register
@use "../core/module-system/index.scss" as module;
@include module.register( $_kendo-module-meta... );

// Expose
@mixin colorpicker-styles() {
    @include module.render( "colorpicker" ) {
        @include kendo-colorpicker--layout();
        @include kendo-colorpicker--theme();
    }
}
