@use "./_variables.scss" as *;
@use "../../mixins/index.scss" as *;
@use "../../motion/index.scss" as *;
@use "../../spacing/index.scss" as *;

@mixin kendo-suggestion--layout-base() {
    .k-suggestion-scrollwrap {
        width: 100%;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        position: relative;
        gap: $kendo-suggestion-spacing;

        .k-suggestion-group {
            padding-block: calc( #{$kendo-suggestion-padding-y} / 2 );
            flex: 1 1 auto;
            flex-wrap: nowrap;
            overflow-x: auto;
            scrollbar-width: none;
            white-space: nowrap;
        }
    }

    .k-suggestion-group {
        display: flex;
        flex-wrap: wrap;
        gap: $kendo-suggestion-spacing;
        align-self: normal;

        &.k-suggestion-group-scrollable {
            flex-wrap: nowrap;
            overflow-x: auto;
            scrollbar-width: none;
            padding-block: calc( #{$kendo-suggestion-padding-y} / 2 );
        }
    }

    .k-suggestion-group-scrollable,
    .k-suggestion-scrollwrap {
        .k-suggestion {
            white-space: nowrap;
            max-width: none;
        }
    }

    .k-suggestion {
        @include border-radius( $kendo-suggestion-border-radius );
        max-width: 100%;
        padding-block: $kendo-suggestion-padding-y;
        padding-inline: $kendo-suggestion-padding-x;
        box-sizing: border-box;
        border-width: $kendo-suggestion-border-width;
        border-style: $kendo-suggestion-border-style;
        line-height: $kendo-suggestion-line-height;
        flex: 0 0 auto;
        transition: background-color k-transition(rapid), box-shadow k-transition(rapid);
        cursor: pointer;
        outline: none;
        white-space: normal;
    }


}

@mixin kendo-suggestion--layout() {
    @include kendo-suggestion--layout-base();
}
