@use "sass:map";
@use "../core/_index.scss" as *;

/// The first base series color and its light and dark shades.
/// @group charts
$kendo-series-a: if($kendo-enable-color-system, k-color( series-a ), k-get-theme-color-var( series-a-100 )) !default;
$kendo-series-a-dark: if($kendo-enable-color-system, k-color( series-a-bold ), k-get-theme-color-var( series-a-130 )) !default;
$kendo-series-a-darker: if($kendo-enable-color-system, k-color( series-a-bolder ), k-get-theme-color-var( series-a-160 )) !default;
$kendo-series-a-light: if($kendo-enable-color-system, k-color( series-a-subtle ), k-get-theme-color-var( series-a-70 )) !default;
$kendo-series-a-lighter: if($kendo-enable-color-system, k-color( series-a-subtler ), k-get-theme-color-var( series-a-40 )) !default;

/// The second base series color and its light and dark shades.
/// @group charts
$kendo-series-b: if($kendo-enable-color-system, k-color( series-b ), k-get-theme-color-var( series-b-100 )) !default;
$kendo-series-b-dark: if($kendo-enable-color-system, k-color( series-b-bold ), k-get-theme-color-var( series-b-130 )) !default;
$kendo-series-b-darker: if($kendo-enable-color-system, k-color( series-b-bolder ), k-get-theme-color-var( series-b-160 )) !default;
$kendo-series-b-light: if($kendo-enable-color-system, k-color( series-b-subtle ), k-get-theme-color-var( series-b-70 )) !default;
$kendo-series-b-lighter: if($kendo-enable-color-system, k-color( series-b-subtler ), k-get-theme-color-var( series-b-40 )) !default;

/// The third base series color and its light and dark shades.
/// @group charts
$kendo-series-c: if($kendo-enable-color-system, k-color( series-c ), k-get-theme-color-var( series-c-100 )) !default;
$kendo-series-c-dark: if($kendo-enable-color-system, k-color( series-c-bold ), k-get-theme-color-var( series-c-130 )) !default;
$kendo-series-c-darker: if($kendo-enable-color-system, k-color( series-c-bolder ), k-get-theme-color-var( series-c-160 )) !default;
$kendo-series-c-light: if($kendo-enable-color-system, k-color( series-c-subtle ), k-get-theme-color-var( series-c-70 )) !default;
$kendo-series-c-lighter: if($kendo-enable-color-system, k-color( series-c-subtler ), k-get-theme-color-var( series-c-40 )) !default;

/// The fourth base series color and its light and dark shades.
/// @group charts
$kendo-series-d: if($kendo-enable-color-system, k-color( series-d ), k-get-theme-color-var( series-d-100 )) !default;
$kendo-series-d-dark: if($kendo-enable-color-system, k-color( series-d-bold ), k-get-theme-color-var( series-d-130 )) !default;
$kendo-series-d-darker: if($kendo-enable-color-system, k-color( series-d-bolder ), k-get-theme-color-var( series-d-160 )) !default;
$kendo-series-d-light: if($kendo-enable-color-system, k-color( series-d-subtle ), k-get-theme-color-var( series-d-70 )) !default;
$kendo-series-d-lighter: if($kendo-enable-color-system, k-color( series-d-subtler ), k-get-theme-color-var( series-d-40 )) !default;

/// The fifth base series color and its light and dark shades.
/// @group charts
$kendo-series-e: if($kendo-enable-color-system, k-color( series-e ), k-get-theme-color-var( series-e-100 )) !default;
$kendo-series-e-dark: if($kendo-enable-color-system, k-color( series-e-bold ), k-get-theme-color-var( series-e-130 )) !default;
$kendo-series-e-darker: if($kendo-enable-color-system, k-color( series-e-bolder ), k-get-theme-color-var( series-e-160 )) !default;
$kendo-series-e-light: if($kendo-enable-color-system, k-color( series-e-subtle ), k-get-theme-color-var( series-e-70 )) !default;
$kendo-series-e-lighter: if($kendo-enable-color-system, k-color( series-e-subtler ), k-get-theme-color-var( series-e-40 )) !default;

/// The sixth base series color and its light and dark shades.
/// @group charts
$kendo-series-f: if($kendo-enable-color-system, k-color( series-f ), k-get-theme-color-var( series-f-100 )) !default;
$kendo-series-f-dark: if($kendo-enable-color-system, k-color( series-f-bold ), k-get-theme-color-var( series-f-130 )) !default;
$kendo-series-f-darker: if($kendo-enable-color-system, k-color( series-f-bolder ), k-get-theme-color-var( series-f-160 )) !default;
$kendo-series-f-light: if($kendo-enable-color-system, k-color( series-f-subtle ), k-get-theme-color-var( series-f-70 )) !default;
$kendo-series-f-lighter: if($kendo-enable-color-system, k-color( series-f-subtler ), k-get-theme-color-var( series-f-40 )) !default;

/// The series colors in order:
/// base, light, dark, lighter, darker
/// @group charts
$kendo-series-1: $kendo-series-a !default;
$kendo-series-2: $kendo-series-b !default;
$kendo-series-3: $kendo-series-c !default;
$kendo-series-4: $kendo-series-d !default;
$kendo-series-5: $kendo-series-e !default;
$kendo-series-6: $kendo-series-f !default;
$kendo-series-7: $kendo-series-a-light !default;
$kendo-series-8: $kendo-series-b-light !default;
$kendo-series-9: $kendo-series-c-light !default;
$kendo-series-10: $kendo-series-d-light !default;
$kendo-series-11: $kendo-series-e-light !default;
$kendo-series-12: $kendo-series-f-light !default;
$kendo-series-13: $kendo-series-a-dark !default;
$kendo-series-14: $kendo-series-b-dark !default;
$kendo-series-15: $kendo-series-c-dark !default;
$kendo-series-16: $kendo-series-d-dark !default;
$kendo-series-17: $kendo-series-e-dark !default;
$kendo-series-18: $kendo-series-f-dark !default;
$kendo-series-19: $kendo-series-a-lighter !default;
$kendo-series-20: $kendo-series-b-lighter !default;
$kendo-series-21: $kendo-series-c-lighter !default;
$kendo-series-22: $kendo-series-d-lighter !default;
$kendo-series-23: $kendo-series-e-lighter !default;
$kendo-series-24: $kendo-series-f-lighter !default;
$kendo-series-25: $kendo-series-a-darker !default;
$kendo-series-26: $kendo-series-b-darker !default;
$kendo-series-27: $kendo-series-c-darker !default;
$kendo-series-28: $kendo-series-d-darker !default;
$kendo-series-29: $kendo-series-e-darker !default;
$kendo-series-30: $kendo-series-f-darker !default;

/// The border width of the chart component.
/// @group charts
$kendo-chart-border-width: 0px !default;
/// The font-family of the chart component.
/// @group charts
$kendo-chart-font-family: var( --kendo-font-family, inherit ) !default;
/// The font-size of the chart component.
/// @group charts
$kendo-chart-font-size: var( --kendo-font-size, inherit ) !default;
/// The line-height of the chart component.
/// @group charts
$kendo-chart-line-height: var( --kendo-line-height, normal ) !default;

/// The font-size of the tooltip of the chart component.
/// @group charts
$kendo-chart-tooltip-font-size: var( --kendo-font-size-sm, inherit ) !default;
/// The line-height of the tooltip of the chart component.
/// @group charts
$kendo-chart-tooltip-line-height: var( --kendo-line-height-sm, normal ) !default;

/// The font-size of the label of the chart component.
/// @group chart
$kendo-chart-label-font-size: var( --kendo-font-size-sm, inherit ) !default;

/// The font-size of the title of the chart component.
/// @group charts
$kendo-chart-title-font-size: var( --kendo-font-size-lg, inherit ) !default;

/// The font-size of the pane title of the chart component.
/// @group charts
$kendo-chart-pane-title-font-size: var( --kendo-font-size-lg, inherit ) !default;
/// The font-weight of the pane title of the chart component.
/// @group charts
$kendo-chart-pane-title-font-weight: var( --kendo-font-weight, inherit ) !default;

/// The inactive background color of the chart component.
/// @group chart
$kendo-chart-inactive-bg: var( --kendo-disabled-bg, initial ) !default;

/// The color of the chart component major grid lines.
/// @group charts
$kendo-chart-major-lines: if($kendo-enable-color-system, color-mix(in srgb, k-color( border ) 16%, transparent), k-get-theme-color-var( neutral-30 )) !default;
/// The color of the chart component minor grid lines.
/// @group charts
$kendo-chart-minor-lines: if($kendo-enable-color-system, color-mix(in srgb, k-color( border ) 16%, transparent), k-get-theme-color-var( neutral-30 )) !default;

/// The opacity of the chart area.
/// @group charts
$kendo-chart-area-opacity: .6 !default;
/// The inactive opacity of the chart area.
/// @group charts
$kendo-chart-area-inactive-opacity: .1 !default;

/// The inactive opacity of the chart line.
/// @group charts
$kendo-chart-line-inactive-opacity: .3 !default;

/// The background color of the chart component.
/// @group charts
$kendo-chart-bg: var( --kendo-component-bg, initial ) !default;
/// The text color of the chart component.
/// @group charts
$kendo-chart-text: var( --kendo-component-text, initial ) !default;
/// The border color of the chart component.
/// @group charts
$kendo-chart-border: var( --kendo-component-border, initial ) !default;

/// The text color of the chart tooltip.
/// @group charts
$kendo-chart-tooltip-color: if($kendo-enable-color-system, k-color( app-surface ), $kendo-color-white) !default;
/// The inverse text color of the chart tooltip.
/// @group charts
$kendo-chart-tooltip-color-inverse: if($kendo-enable-color-system, k-color( on-app-surface ), $kendo-color-black) !default;

/// The background color of the chart crosshairs.
/// @group charts
$kendo-chart-crosshair-background: if($kendo-enable-color-system, k-color( on-app-surface ), $kendo-color-black) !default;
/// The text color of the chart shared crosshair tooltip.
/// @group charts
$kendo-chart-crosshair-shared-tooltip-color: if($kendo-enable-color-system, k-color( on-app-surface ), k-get-theme-color-var( neutral-160 )) !default;
/// The background color of the chart shared crosshair tooltip.
/// @group charts
$kendo-chart-crosshair-shared-tooltip-background: var( --kendo-component-bg, initial ) !default;
/// The border color of the chart shared crosshair tooltip.
/// @group charts
$kendo-chart-crosshair-shared-tooltip-border: transparent !default;

/// The background color of the chart notes.
/// @group charts
$kendo-chart-notes-background: if($kendo-enable-color-system, k-color( base-emphasis ), k-get-theme-color-var( neutral-130 )) !default;
/// The border color of the chart notes.
/// @group charts
$kendo-chart-notes-border: $kendo-chart-notes-background !default;
/// The background color of the chart note lines.
/// @group charts
$kendo-chart-notes-lines: $kendo-chart-notes-background !default;

/// The background color of the chart handle.
/// @group charts
$kendo-chart-handle-bg: if($kendo-enable-color-system, k-color( surface ), k-get-theme-color-var( neutral-10 )) !default;
/// The text color of the chart handle.
/// @group charts
$kendo-chart-handle-text: $kendo-chart-text !default;
/// The border color of the chart handle.
/// @group charts
$kendo-chart-handle-border: $kendo-chart-handle-bg !default;
/// The hover background color of the chart handle.
/// @group charts
$kendo-chart-handle-hover-bg: var( --kendo-hover-bg, initial ) !default;
/// The hover text color of the chart handle.
/// @group charts
$kendo-chart-handle-hover-text: var( --kendo-hover-text, initial ) !default;
/// The hover border color of the chart handle.
/// @group charts
$kendo-chart-handle-hover-border: var( --kendo-hover-border, initial ) !default;

/// The color of the chart error bars.
/// @group charts
$kendo-chart-error-bars-background: if($kendo-enable-color-system, k-color( error ), k-get-theme-color-var( neutral-110 )) !default;

/// The size of the selection handle of the chart component.
/// @group charts
$kendo-selection-handle-size: 24px !default;
/// The color of the selection handle of the chart component.
/// @group charts
$kendo-selection-border-color: var( --kendo-component-border, initial ) !default;

/// The computed height of the Chart title.
/// @group charts
$kendo-chart-computed-title-height: 0px !default;

/// The font-family of the treemap.
/// @group charts
$kendo-treemap-font-family: var( --kendo-font-family, inherit ) !default;
/// The font-size of the treemap.
/// @group charts
$kendo-treemap-font-size: var( --kendo-font-size, inherit ) !default;
/// The line-height of the treemap.
/// @group charts
$kendo-treemap-line-height: var( --kendo-line-height, normal ) !default;
/// The background color of the treemap.
/// @group charts
$kendo-treemap-bg: var( --kendo-component-bg, initial ) !default;
/// The text color of the treemap.
/// @group charts
$kendo-treemap-text: var( --kendo-component-text, initial ) !default;
/// The border color of the treemap.
/// @group charts
$kendo-treemap-border: var( --kendo-component-border, initial ) !default;

/// The background color of the treemap title.
/// @group charts
$kendo-treemap-title-bg: if($kendo-enable-color-system, k-color( surface ), k-get-theme-color-var( neutral-10 )) !default;
/// The text color of the treemap title.
/// @group charts
$kendo-treemap-title-text: if($kendo-enable-color-system, k-color( on-app-surface ), $kendo-color-black) !default;
/// The border color of the treemap title.
/// @group charts
$kendo-treemap-title-border: var( --kendo-component-border, initial ) !default;

// Chart Overlay
/// The background color of the Chart overlay.
/// @group charts
$kendo-chart-overlay-bg: if($kendo-enable-color-system, k-color(app-surface), $kendo-color-white) !default;

// No Data
/// The font-size of the Chart no data message.
/// @group charts
$kendo-chart-no-data-font-size: var( --kendo-font-size-lg, inherit ) !default;
/// The font-weight of the Chart no data message.
/// @group charts
$kendo-chart-no-data-font-weight: var( --kendo-font-weight, normal ) !default;
/// The text color of the Chart no data message.
/// @group charts
$kendo-chart-no-data-text: if($kendo-enable-color-system, k-color( on-app-surface ), k-get-theme-color-var( neutral-160 )) !default;
/// The vertical padding of the Chart no data message.
/// @group charts
$kendo-chart-no-data-padding-y: k-spacing( 25 ) !default;
