@use "../_variables.scss" as *;
@use "../core/_index.scss" as *;
@use "@progress/kendo-theme-core/scss/components/menu/_layout.scss" as *;


@mixin kendo-menu--layout() {

    @include kendo-menu--layout-base();

    // Menubar

    .k-menu-expand-arrow {
        margin-inline-end: 0;
    }

    // Scrolling
    .k-menu-scroll-wrapper {

        .k-menu-scroll-button {
            box-shadow: none;
        }

        &.horizontal .k-menu-scroll-button {
            width: calc( #{$kendo-line-height-em} + #{k-spacing(1)});
        }

        &.vertical .k-menu-scroll-button {
            height: calc( #{$kendo-line-height-em} + #{k-spacing(1)});
        }
    }

}
