@use "./_variables.scss" as *;
@use "../core/_index.scss" as *;
@use "@progress/kendo-theme-core/scss/components/menu/_theme.scss" as *;


@mixin kendo-menu--theme() {

    @include kendo-menu--theme-base();

    // Subitems
    .k-menu-group,
    .k-context-menu {
        .k-menu-item {
            // Focus state
            &:focus,
            &.k-focus {
                box-shadow: $kendo-menu-item-focus-shadow;
            }
        }
    }


    // Scrolling
    .k-menu-scroll-wrapper {
        .k-menu-scroll-button {
            .k-i-arrow-60-up::before {
                content: "\e013";
            }
            .k-i-arrow-60-right::before {
                content: "\e014";
            }
            .k-i-arrow-60-down::before {
                content: "\e015";
            }
            .k-i-arrow-60-left::before {
                content: "\e016";
            }
        }
    }
}
