@mixin kendo-input--layout() {

    // Input
    .k-input {
        padding: var(--kendo-input-padding-y) var(--kendo-input-padding-x);
        width: 100%;
        box-sizing: border-box;
        border: 0;
        outline: 0;
        color: inherit;
        background: none;
        font: inherit;
        flex: 0 1 auto;
        display: flex;
        align-items: center;
        overflow: hidden;
        text-overflow: ellipsis;

        // Clear value
        &::-ms-clear {
            display: none;
        }
    }

    .k-textbox {
        padding: var(--kendo-input-padding-y) var(--kendo-input-padding-x);
        border-width: var(--kendo-input-border-width);
        border-style: var(--kendo-input-border-style);
        border-radius: var(--kendo-input-border-radius);
        outline: 0;
        background-clip: padding-box;
        font-size: var(--kendo-input-font-size, inherit);
        font-family: var(--kendo-input-font-family, inherit);
        line-height: var(--kendo-input-line-height, calc(20 / 14));
        display: flex;
        flex-flow: row nowrap;

        > .k-input {
            margin: 0;
            padding: 0;
            border: 0;
            outline: 0;
            color: inherit;
            background: none;
            font: inherit;
            flex: 1 1 auto;
        }
    }

}
