@mixin kendo-input--core-layout() {

    // Input
    :where(.k-input) {
        padding-inline: var( --kendo-input-padding-x, 0 );
        padding-block: var( --kendo-input-padding-y, 0 );
        width: 100%;
        border: 0;
        outline: 0;
        color: inherit;
        background: none;
        font: inherit;
        flex: 1;
        overflow: hidden;
        text-overflow: ellipsis;
    }


    // Input group
    .k-input-group {
        display: flex;
        flex-flow: row nowrap;
        align-items: stretch;

        > * {
            flex-shrink: 0;
        }

        // Border radis
        > :first-child:not(:only-child) {
            border-start-end-radius: 0;
            border-end-end-radius: 0;
        }
        > :last-child:not(:only-child) {
            border-start-start-radius: 0;
            border-end-start-radius: 0;
        }
        > :not(:first-child):not(:last-child) {
            border-radius: 0;
        }
    }


    // Input prefix and suffix
    .k-input-prefix,
    .k-input-suffix {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        flex-shrink: 0;

        > * {
            flex-shrink: 0;
        }
    }


    // Clear value
    .k-clear-value {
        width: $input-icon-width;
        height: $input-icon-height;
        flex-shrink: 0;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        outline: 0;
        cursor: pointer;
        opacity: .5;
    }
    .k-clear-value:hover,
    .k-clear-value.k-hover {
        opacity: 1;
    }


    // Searchbar
    .k-searchbar {
        flex: 1;
        display: flex;
        flex-flow: row nowrap;
    }


    // Legacy wrappers
    .k-dropdown-wrap {
        flex: 1;
        display: flex;
        flex-flow: row nowrap;
    }

}




@mixin kendo-input--extended-layout() {}
