$input-padding-x: map-get( $spacing, 2 ) !default;
$input-padding-y: map-get( $spacing, 1 ) !default;

$input-border-width: 1px !default;
$input-border-style: solid !default;

$input-border-radius: map-get( $spacing, 1 ) !default;

$input-font-family: $font-family !default;
$input-font-size: $font-size !default;
$input-line-height: $line-height !default;


/// The background of the input.
/// @group input
$input-bg: $component-bg !default;
/// The text color of the input.
/// @group input
$input-text: $component-text !default;
/// The border color of the input.
/// @group input
$input-border: $component-border !default;
$input-shadow: null !default;

/// The background of hovered input.
/// @group input
$input-hover-bg: $input-bg !default;
/// The text color of hovered input.
/// @group input
$input-hover-text: $input-text !default;
/// The border color of hovered input.
/// @group input
$input-hover-border: try-shade( $input-border, 1 ) !default;
$input-hover-shadow: null !default;

/// The background color of focus input.
/// @group input
$input-focus-bg: $input-hover-bg !default;
/// The text color of focus input.
/// @group input
$input-focus-text: $input-hover-text !default;
/// The border color of focus input.
/// @group input
$input-focus-border: $input-hover-border !default;
$input-focus-shadow: 0 0 0 2px rgba( if( $dark-theme, $white, $black), .08 ) !default;


// Picker
$picker-select-width: null !default;
$picker-select-border-width: 0px !default;


// Spinner
$spinner-width: null !default;
$spinner-icon-offset: 2px !default;


// Input icon
$input-icon-width: $icon-size !default;
$input-icon-height: $icon-size !default;

$input-icon-text: null !default;
$input-icon-opacity: null !default;


// Input separator
$input-separator-color: $input-text !default;
$input-separator-opacity: .5 !default;




// Expose
:root {
    --kendo-input-padding-x: #{$input-padding-x};
    --kendo-input-padding-y: #{$input-padding-y};
    --kendo-input-border-width: #{$input-border-width};
    --kendo-input-border-style: #{$input-border-style};

    --kendo-input-border-radius: #{$input-border-radius};

    --kendo-input-font-family: #{$input-font-family};
    --kendo-input-font-size: #{$input-font-size};
    --kendo-input-line-height: #{$input-line-height};

    --kendo-input-bg: #{$input-bg};
    --kendo-input-text: #{$input-text};
    --kendo-input-border: #{$input-border};
    --kendo-input-shadow: #{$input-shadow};

    --kendo-input-hover-bg: #{$input-hover-bg};
    --kendo-input-hover-text: #{$input-hover-text};
    --kendo-input-hover-border: #{$input-hover-border};
    --kendo-input-hover-shadow: #{$input-hover-shadow};

    --kendo-input-focus-bg: #{$input-focus-bg};
    --kendo-input-focus-text: #{$input-focus-text};
    --kendo-input-focus-border: #{$input-focus-border};
    --kendo-input-focus-shadow: #{$input-focus-shadow};
}
